## S02-L009 - Standardowe metody Pythona a obiekty PANDAS

In [1]:
import matplotlib
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math

%matplotlib inline

salary = pd.read_csv('StackOverflowDeveloperSurvey.csv', usecols=['Salary'], squeeze=True)
salary.dropna(inplace=True)
salary.head()

2     113750.0
14    100000.0
17    130000.0
18     82500.0
22    100764.0
Name: Salary, dtype: float64

In [2]:
len(salary)

12891

In [3]:
min(salary)

0.0

In [4]:
max(salary)

197000.0

In [6]:
list(salary.head())

[113750.0, 100000.0, 130000.0, 82500.0, 100764.0]

In [7]:
listSalarySorted = sorted(list(salary), reverse=True)

In [8]:
salary.name = 'Salary of a person'

In [9]:
salary.head()

2     113750.0
14    100000.0
17    130000.0
18     82500.0
22    100764.0
Name: Salary of a person, dtype: float64