## S03-L008-LAB Kontrola i optymalizacja typ√≥w danych

In [1]:
import pandas as pd
import numpy as np

In [9]:
fuel = pd.read_csv('course-files/fuel.csv', low_memory=False, index_col='Vehicle ID', \
                   usecols=['Vehicle ID','Year','Make','Model','Class','Fuel Type','Combined MPG (FT1)'])

In [10]:
fuel.head()

,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1)
Vehicle ID,,,,,,
26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
27705,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
26561,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Regular,17.0

In [14]:
fuel.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31684 entries, 26587 to 32106
Data columns (total 6 columns):
Year                  31684 non-null int32
Make                  31684 non-null object
Model                 31683 non-null object
Class                 31683 non-null object
Fuel Type             31683 non-null object
Combined MPG (FT1)    31683 non-null float64
dtypes: float64(1), int32(1), object(4)
memory usage: 8.8 MB

In [13]:
fuel['Year'] = fuel['Year'].astype('int32')

In [15]:
fuel['Make'].value_counts()

Chevrolet                           3389
Ford                                2721
Dodge                               2361
GMC                                 2174
Toyota                              1599
                                    ...
Environmental Rsch and Devp Corp       1
CODA Automotive                        1
E. P. Dutton, Inc.                     1
Fisker                                 1
Grumman Allied Industries              1
Name: Make, Length: 128, dtype: int64

In [16]:
fuel['Make'] = fuel['Make'].astype('category')

In [17]:
fuel.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31684 entries, 26587 to 32106
Data columns (total 6 columns):
Year                  31684 non-null int32
Make                  31684 non-null category
Model                 31683 non-null object
Class                 31683 non-null object
Fuel Type             31683 non-null object
Combined MPG (FT1)    31683 non-null float64
dtypes: category(1), float64(1), int32(1), object(3)
memory usage: 6.9 MB

In [19]:
cols = ['Model', 'Class', 'Fuel Type']

for elem in cols:
    print(fuel['{}'.format(elem)].value_counts())
    fuel['{}'.format(elem)] = fuel['{}'.format(elem)].astype('category')

F150 Pickup 2WD               194
Truck 2WD                     187
F150 Pickup 4WD               172
Ranger Pickup 2WD             169
Mustang                       156
                             ...
Pathfinder Armada 2WD           1
Genesis R-Spec                  1
C63 AMG Coupe                   1
C63 AMG Black Series Coupe      1
Cayenne TransSiberia            1
Name: Model, Length: 2957, dtype: int64
Compact Cars                    4489
Subcompact Cars                 4299
Midsize Cars                    3393
Standard Pickup Trucks          2354
Sport Utility Vehicle - 4WD     2034
Sport Utility Vehicle - 2WD     1598
Special Purpose Vehicles        1455
Two Seaters                     1448
Large Cars                      1351
Small Station Wagons            1275
Vans                            1141
Standard Pickup Trucks 2WD      1043
Minicompact Cars                 941
Standard Pickup Trucks 4WD       846
Midsize-Large Station Wagons     656
Small Pickup Trucks              538
Special Purpose Vehicle 2WD      536
Midsize Station Wagons           492
Vans, Cargo Type                 397
Small Pickup Trucks 2WD          365
Special Purpose Vehicle 4WD      287
Minivan - 2WD                    278
Vans, Passenger Type             253
Small Pickup Trucks 4WD          162
Minivan - 4WD                     41
Standard Pickup Trucks/2wd         4
Special Purpose Vehicles/2wd       2
Special Purpose Vehicles/4wd       2
Vans Passenger                     2
Special Purpose Vehicle            1
Name: Class, dtype: int64
Regular                       22439
Premium                        7375
Diesel                          936
Gasoline or E85                 767
CNG                              55
Premium or E85                   33
Electricity                      33
Gasoline or natural gas          18
Midgrade                         16
Gasoline or propane               8
Premium Gas or Electricity        3
Name: Fuel Type, dtype: int64

In [20]:
fuel.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31684 entries, 26587 to 32106
Data columns (total 6 columns):
Year                  31684 non-null int32
Make                  31684 non-null category
Model                 31683 non-null category
Class                 31683 non-null category
Fuel Type             31683 non-null category
Combined MPG (FT1)    31683 non-null float64
dtypes: category(4), float64(1), int32(1)
memory usage: 1.1 MB

In [22]:
fuel['Combined MPG (FT1)'] = fuel['Combined MPG (FT1)'].astype('float')

In [23]:
fuel.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31684 entries, 26587 to 32106
Data columns (total 6 columns):
Year                  31684 non-null int32
Make                  31684 non-null category
Model                 31683 non-null category
Class                 31683 non-null category
Fuel Type             31683 non-null category
Combined MPG (FT1)    31683 non-null float64
dtypes: category(4), float64(1), int32(1)
memory usage: 1.1 MB