## S03-L013-LAB Duplikaty w data frame

In [2]:
import pandas as pd
import numpy as np

In [4]:
surveys = pd.read_csv('course-files/StackOverflowDeveloperSurvey2018.csv', low_memory=False, \
                      usecols=['Country','Gender','OperatingSystem'])

In [10]:
surveys['Country'].is_unique

False

In [11]:
surveys['Country'].head()

0             Kenya
1    United Kingdom
2     United States
3     United States
4      South Africa
Name: Country, dtype: object

In [13]:
surveys['Country'].nunique()

183

In [15]:
len(surveys['Country'].unique())

184

In [18]:
duplicateKeepFirst = surveys['Country'].duplicated(keep="first")
duplicateKeepFirst.head()

0    False
1    False
2    False
3     True
4    False
Name: Country, dtype: bool

In [20]:
surveys[~duplicateKeepFirst].head(10)

           Country OperatingSystem  Gender
0            Kenya     Linux-based    Male
1   United Kingdom     Linux-based    Male
2    United States             NaN     NaN
4     South Africa         Windows    Male
7          Nigeria         Windows  Female
9            India             NaN     NaN
10           Spain             NaN     NaN
12         Croatia             NaN     NaN
14     Netherlands         Windows    Male
15          Israel             NaN     NaN

In [21]:
len(surveys[~duplicateKeepFirst])

184

In [24]:
int(surveys[~duplicateKeepFirst].size/len(surveys.columns))

184

In [29]:
surveys.query('Country == "Poland"')['OperatingSystem'].value_counts()/len(surveys.query('Country == "Poland"'))

Windows        0.397267
Linux-based    0.212535
MacOS          0.141847
BSD/Unix       0.001414
Name: OperatingSystem, dtype: float64

In [28]:
surveys['OperatingSystem'].value_counts()/len(surveys)

Windows        0.384624
MacOS          0.205604
Linux-based    0.178888
BSD/Unix       0.001497
Name: OperatingSystem, dtype: float64

In [32]:
surveys.drop_duplicates(subset=['OperatingSystem', 'Country'], inplace=True)

In [34]:
surveys.query('Country == "Poland"')

      Country OperatingSystem Gender
30     Poland     Linux-based   Male
34     Poland         Windows   Male
232    Poland             NaN    NaN
854    Poland           MacOS   Male
72587  Poland        BSD/Unix    NaN