## S03-L010-LAB Filtrowanie Data Frame

In [1]:
import pandas as pd
import numpy as np

fortune = pd.read_csv('course-files/Fortune_500_2017.csv', index_col='Rank', low_memory=False,\
                   usecols=['Rank','Title','Employees','Profits','Assets'])

In [2]:
fortune.head()

                   Title  Employees  Profits  Assets
Rank
1                Walmart    2300000  13643.0  198825
2     Berkshire Hathaway     367700  24074.0  620854
3                  Apple     116000  45687.0  321686
4            Exxon Mobil      72700   7840.0  330314
5               McKesson      68000   2258.0   56563

In [3]:
fortune['Employees'].rank(ascending=False).head()

Rank
1      1.0
2      7.0
3     57.0
4     94.0
5    104.5
Name: Employees, dtype: float64

In [4]:
fortune['RankByEmployee'] = fortune['Employees'].rank(ascending=False)

In [5]:
fortune['RankByProfits'] = fortune['Profits'].rank(ascending=False)

In [18]:
isEmployeesRankFirst10 = fortune['RankByEmployee'] <= 10
isEmployeesRankFirst10.head()

Rank
1     True
2     True
3    False
4    False
5    False
Name: RankByEmployee, dtype: bool

In [19]:
isProfitRankFirst10 = fortune['RankByProfits'] <= 10

In [20]:
isProfitRankFirst10.head()

Rank
1    False
2     True
3     True
4    False
5    False
Name: RankByProfits, dtype: bool

In [22]:
fortune[isProfitRankFirst10 & isEmployeesRankFirst10]

,Title,Employees,Profits,Assets,RankByEmployee,RankByProfits
Rank,,,,,,
2,Berkshire Hathaway,367700,24074.0,620854,7.0,3.0

In [25]:
isEmployeesRankMore400 = fortune['RankByEmployee'] >= 400
isEmployeesRankMore400.head()

Rank
1    False
2    False
3    False
4    False
5    False
Name: RankByEmployee, dtype: bool

In [26]:
fortune[isEmployeesRankMore400 & isProfitRankFirst10]

             Title  Employees  Profits  Assets  RankByEmployee  RankByProfits
Rank
148   Altria Group       8300  14239.0   45932           424.0           10.0