## S03 - L004 - Dodawanie i usuwanie kolumn

In [1]:
import pandas as pd

fuel = pd.read_csv('course-files/fuel.csv', low_memory=False, \
                   usecols=['Vehicle ID','Year','Make','Model','Class','Fuel Type','Combined MPG (FT1)'],\
                  index_col='Vehicle ID')
fuel.head()

,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1)
Vehicle ID,,,,,,
26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
27705,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
26561,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Regular,17.0

In [2]:
fuel['Combined KLP'] = fuel['Combined MPG (FT1)']* 1.609 / 3.78
fuel.head()

,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1),Combined KLP
Vehicle ID,,,,,,,
26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0,8.513228
27705,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0,8.513228
26561,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0,8.938889
27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0,8.938889
27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Regular,17.0,7.236243

In [5]:
fuel.insert(loc=4, column='liters per km', value=100/fuel['Combined KLP'])

In [6]:
fuel.head()

,Year,Make,Model,Class,liters per km,Fuel Type,Combined MPG (FT1),Combined KLP
Vehicle ID,,,,,,,,
26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,11.746426,Regular,20.0,8.513228
27705,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,11.746426,Regular,20.0,8.513228
26561,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,11.187073,Regular,21.0,8.938889
27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,11.187073,Regular,21.0,8.938889
27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,13.819325,Regular,17.0,7.236243

In [7]:
del fuel['Combined MPG (FT1)']

In [8]:
fuel.head()

,Year,Make,Model,Class,liters per km,Fuel Type,Combined KLP
Vehicle ID,,,,,,,
26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,11.746426,Regular,8.513228
27705,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,11.746426,Regular,8.513228
26561,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,11.187073,Regular,8.938889
27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,11.187073,Regular,8.938889
27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,13.819325,Regular,7.236243

In [9]:
fuel.drop(columns=['Combined KLP'], inplace=True)

In [10]:
fuel.head()

,Year,Make,Model,Class,liters per km,Fuel Type
Vehicle ID,,,,,,
26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,11.746426,Regular
27705,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,11.746426,Regular
26561,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,11.187073,Regular
27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,11.187073,Regular
27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,13.819325,Regular