## S04-L003-Dodawanie i usuwanie wierszy

In [1]:
import pandas as pd
import numpy as np

In [2]:
professions = pd.read_csv('course-files/Prestige.csv')

In [3]:
professions.head()

                  name  education  income  women  prestige  census  type
0   gov.administrators      13.11   12351  11.16      68.8    1113  prof
1     general.managers      12.26   25879   4.02      69.1    1130  prof
2          accountants      12.77    9271  15.70      63.4    1171  prof
3  purchasing.officers      11.42    8865   9.11      56.8    1175  prof
4             chemists      14.62    8403  11.68      73.5    2111  prof

In [5]:
list(professions.columns)

['name', 'education', 'income', 'women', 'prestige', 'census', 'type']

In [6]:
dictionary = {x:np.NaN for x in list(professions.columns)}

In [7]:
print(dictionary)

{'name': nan, 'education': nan, 'income': nan, 'women': nan, 'prestige': nan, 'census': nan, 'type': nan}

In [13]:
dictionary['name'] = 'data_scientist'
dictionary

{'census': nan,
 'education': nan,
 'income': nan,
 'name': 'data_scientist',
 'prestige': nan,
 'type': nan,
 'women': nan}

In [17]:
professions = professions.append(dictionary, ignore_index=True)

In [18]:
professions.tail()

               name  education  income  women  prestige  census type
98     taxi.drivers       7.93  4224.0   3.59      25.1  9173.0   bc
99     longshoremen       8.37  4753.0   0.00      26.1  9313.0   bc
100     typesetters      10.00  6462.0  13.58      42.2  9511.0   bc
101     bookbinders       8.55  3617.0  70.87      35.2  9517.0   bc
102  data_scientist        NaN     NaN    NaN       NaN     NaN  NaN

In [20]:
professions

TypeError: Cannot index by location index with a non-integer key