## S05-L005 - stack unstack

In [1]:
import pandas as pd
import numpy as np

In [2]:
fuel = pd.read_csv('course-files/fuel.csv', usecols=['Year','Make','Model','Range (FT1)','City Range (FT1)'])

In [3]:
fuel.drop_duplicates(subset=['Year','Make','Model'], inplace=True)

In [4]:
fuel.dropna(inplace=True)

In [5]:
fuel.set_index(['Year','Make','Model'], inplace=True)

In [6]:
fuel.head()

                                                     Range (FT1)  \
Year Make                        Model
1984 Alfa Romeo                  GT V6 2.5                   0.0
                                 Spider Veloce 2000          0.0
     AM General                  DJ Po Vehicle 2WD           0.0
                                 FJ8c Post Office            0.0
     American Motors Corporation Eagle 4WD                   0.0

                                                     City Range (FT1)
Year Make                        Model
1984 Alfa Romeo                  GT V6 2.5                        0.0
                                 Spider Veloce 2000               0.0
     AM General                  DJ Po Vehicle 2WD                0.0
                                 FJ8c Post Office                 0.0
     American Motors Corporation Eagle 4WD                        0.0

In [7]:
fuel.stack()

Year  Make        Model
1984  Alfa Romeo  GT V6 2.5           Range (FT1)         0.0
                                      City Range (FT1)    0.0
                  Spider Veloce 2000  Range (FT1)         0.0
                                      City Range (FT1)    0.0
      AM General  DJ Po Vehicle 2WD   Range (FT1)         0.0
                                                         ...
2012  Mitsubishi  Lancer              City Range (FT1)    0.0
                  Lancer AWD          Range (FT1)         0.0
                                      City Range (FT1)    0.0
                  Lancer Evolution    Range (FT1)         0.0
                                      City Range (FT1)    0.0
Length: 26290, dtype: float64

In [8]:
fuel.stack().to_frame()

                                                       0
Year Make       Model
1984 Alfa Romeo GT V6 2.5          Range (FT1)       0.0
                                   City Range (FT1)  0.0
                Spider Veloce 2000 Range (FT1)       0.0
                                   City Range (FT1)  0.0
     AM General DJ Po Vehicle 2WD  Range (FT1)       0.0
...                                                  ...
2012 Mitsubishi Lancer             City Range (FT1)  0.0
                Lancer AWD         Range (FT1)       0.0
                                   City Range (FT1)  0.0
                Lancer Evolution   Range (FT1)       0.0
                                   City Range (FT1)  0.0

[26290 rows x 1 columns]

In [10]:
fuel.unstack('Model')

                                 Range (FT1)                             \
Model                                 09-Mar 09-May 1-Ton Truck 2WD 100
Year Make
1984 AM General                          NaN    NaN             NaN NaN
     Alfa Romeo                          NaN    NaN             NaN NaN
     American Motors Corporation         NaN    NaN             NaN NaN
     Aston Martin                        NaN    NaN             NaN NaN
     Audi                                NaN    NaN             NaN NaN
...                                      ...    ...             ...  ..
2012 Maybach                             NaN    NaN             NaN NaN
     Mazda                               NaN    NaN             NaN NaN
     McLaren Automotive                  NaN    NaN             NaN NaN
     Mercedes-Benz                       NaN    NaN             NaN NaN
     Mitsubishi                          NaN    NaN             NaN NaN

                                                                               \
Model                            100 Wagon 100 quattro 100 quattro Wagon 1000
Year Make
1984 AM General                        NaN         NaN               NaN  NaN
     Alfa Romeo                        NaN         NaN               NaN  NaN
     American Motors Corporation       NaN         NaN               NaN  NaN
     Aston Martin                      NaN         NaN               NaN  NaN
     Audi                              NaN         NaN               NaN  NaN
...                                    ...         ...               ...  ...
2012 Maybach                           NaN         NaN               NaN  NaN
     Mazda                             NaN         NaN               NaN  NaN
     McLaren Automotive                NaN         NaN               NaN  NaN
     Mercedes-Benz                     NaN         NaN               NaN  NaN
     Mitsubishi                        NaN         NaN               NaN  NaN

                                                         ...  \
Model                            128ci Convertible 128i  ...
Year Make                                                ...
1984 AM General                                NaN  NaN  ...
     Alfa Romeo                                NaN  NaN  ...
     American Motors Corporation               NaN  NaN  ...
     Aston Martin                              NaN  NaN  ...
     Audi                                      NaN  NaN  ...
...                                            ...  ...  ...
2012 Maybach                                   NaN  NaN  ...
     Mazda                                     NaN  NaN  ...
     McLaren Automotive                        NaN  NaN  ...
     Mercedes-Benz                             NaN  NaN  ...
     Mitsubishi                                NaN  NaN  ...

                                   City Range (FT1)                     \
Model                            i-350 Crew Cab 4WD i-370 Crew Cab 2WD
Year Make
1984 AM General                                 NaN                NaN
     Alfa Romeo                                 NaN                NaN
     American Motors Corporation                NaN                NaN
     Aston Martin                               NaN                NaN
     Audi                                       NaN                NaN
...                                             ...                ...
2012 Maybach                                    NaN                NaN
     Mazda                                      NaN                NaN
     McLaren Automotive                         NaN                NaN
     Mercedes-Benz                              NaN                NaN
     Mitsubishi                                 NaN                NaN

                                                                            \
Model                            i-370 Crew Cab 4WD i-370 Extended Cab 2WD
Year Make
1984 AM General                                 NaN                    NaN
     Alfa Romeo                                 NaN                    NaN
     American Motors Corporation                NaN                    NaN
     Aston Martin                               NaN                    NaN
     Audi                                       NaN                    NaN
...                                             ...                    ...
2012 Maybach                                    NaN                    NaN
     Mazda                                      NaN                    NaN
     McLaren Automotive                         NaN                    NaN
     Mercedes-Benz                              NaN                    NaN
     Mitsubishi                                 NaN                    NaN


Model                              i-MiEV  iQ  tC  xA  xB  xD
Year Make
1984 AM General                       NaN NaN NaN NaN NaN NaN
     Alfa Romeo                       NaN NaN NaN NaN NaN NaN
     American Motors Corporation      NaN NaN NaN NaN NaN NaN
     Aston Martin                     NaN NaN NaN NaN NaN NaN
     Audi                             NaN NaN NaN NaN NaN NaN
...                                   ...  ..  ..  ..  ..  ..
2012 Maybach                          NaN NaN NaN NaN NaN NaN
     Mazda                            NaN NaN NaN NaN NaN NaN
     McLaren Automotive               NaN NaN NaN NaN NaN NaN
     Mercedes-Benz                    NaN NaN NaN NaN NaN NaN
     Mitsubishi                   68.5545 NaN NaN NaN NaN NaN

[1386 rows x 5914 columns]

In [11]:
fuel.unstack('Year')

                                                 Range (FT1)                 \
Year                                                    1984 1985 1986 1987
Make             Model
AM General       DJ Po Vehicle 2WD                       0.0  NaN  NaN  NaN
                 FJ8c Post Office                        0.0  NaN  NaN  NaN
                 Post Office DJ5 2WD                     NaN  0.0  NaN  NaN
                 Post Office DJ8 2WD                     NaN  0.0  NaN  NaN
ASC Incorporated GNX                                     NaN  NaN  NaN  0.0
...                                                      ...  ...  ...  ...
smart            fortwo cabriolet                        NaN  NaN  NaN  NaN
                 fortwo convertible                      NaN  NaN  NaN  NaN
                 fortwo coupe                            NaN  NaN  NaN  NaN
                 fortwo electric drive cabriolet         NaN  NaN  NaN  NaN
                 fortwo electric drive coupe             NaN  NaN  NaN  NaN

                                                                           \
Year                                             1988 1989 1990 1991 1992
Make             Model
AM General       DJ Po Vehicle 2WD                NaN  NaN  NaN  NaN  NaN
                 FJ8c Post Office                 NaN  NaN  NaN  NaN  NaN
                 Post Office DJ5 2WD              NaN  NaN  NaN  NaN  NaN
                 Post Office DJ8 2WD              NaN  NaN  NaN  NaN  NaN
ASC Incorporated GNX                              NaN  NaN  NaN  NaN  NaN
...                                               ...  ...  ...  ...  ...
smart            fortwo cabriolet                 NaN  NaN  NaN  NaN  NaN
                 fortwo convertible               NaN  NaN  NaN  NaN  NaN
                 fortwo coupe                     NaN  NaN  NaN  NaN  NaN
                 fortwo electric drive cabriolet  NaN  NaN  NaN  NaN  NaN
                 fortwo electric drive coupe      NaN  NaN  NaN  NaN  NaN

                                                       ... City Range (FT1)  \
Year                                             1993  ...             2003
Make             Model                                 ...
AM General       DJ Po Vehicle 2WD                NaN  ...              NaN
                 FJ8c Post Office                 NaN  ...              NaN
                 Post Office DJ5 2WD              NaN  ...              NaN
                 Post Office DJ8 2WD              NaN  ...              NaN
ASC Incorporated GNX                              NaN  ...              NaN
...                                               ...  ...              ...
smart            fortwo cabriolet                 NaN  ...              NaN
                 fortwo convertible               NaN  ...              NaN
                 fortwo coupe                     NaN  ...              NaN
                 fortwo electric drive cabriolet  NaN  ...              NaN
                 fortwo electric drive coupe      NaN  ...              NaN

                                                                           \
Year                                             2004 2005 2006 2007 2008
Make             Model
AM General       DJ Po Vehicle 2WD                NaN  NaN  NaN  NaN  NaN
                 FJ8c Post Office                 NaN  NaN  NaN  NaN  NaN
                 Post Office DJ5 2WD              NaN  NaN  NaN  NaN  NaN
                 Post Office DJ8 2WD              NaN  NaN  NaN  NaN  NaN
ASC Incorporated GNX                              NaN  NaN  NaN  NaN  NaN
...                                               ...  ...  ...  ...  ...
smart            fortwo cabriolet                 NaN  NaN  NaN  NaN  NaN
                 fortwo convertible               NaN  NaN  NaN  NaN  0.0
                 fortwo coupe                     NaN  NaN  NaN  NaN  0.0
                 fortwo electric drive cabriolet  NaN  NaN  NaN  NaN  NaN
                 fortwo electric drive coupe      NaN  NaN  NaN  NaN  NaN


Year                                             2009 2010 2011 2012
Make             Model
AM General       DJ Po Vehicle 2WD                NaN  NaN  NaN  NaN
                 FJ8c Post Office                 NaN  NaN  NaN  NaN
                 Post Office DJ5 2WD              NaN  NaN  NaN  NaN
                 Post Office DJ8 2WD              NaN  NaN  NaN  NaN
ASC Incorporated GNX                              NaN  NaN  NaN  NaN
...                                               ...  ...  ...  ...
smart            fortwo cabriolet                 NaN  0.0  0.0  NaN
                 fortwo convertible               0.0  NaN  NaN  NaN
                 fortwo coupe                     0.0  0.0  0.0  NaN
                 fortwo electric drive cabriolet  NaN  NaN  0.0  NaN
                 fortwo electric drive coupe      NaN  NaN  0.0  NaN

[3019 rows x 58 columns]

In [13]:
fuel.stack().unstack('Make')

Make                                       AM General  ASC Incorporated  \
Year Model
1984 1000                Range (FT1)              NaN               NaN
                         City Range (FT1)         NaN               NaN
     18i                 Range (FT1)              NaN               NaN
                         City Range (FT1)         NaN               NaN
     190 D 2.2/190 E 2.3 Range (FT1)              NaN               NaN
...                                               ...               ...
2012 ZDX 4WD             City Range (FT1)         NaN               NaN
     e6                  Range (FT1)              NaN               NaN
                         City Range (FT1)         NaN               NaN
     i-MiEV              Range (FT1)              NaN               NaN
                         City Range (FT1)         NaN               NaN

Make                                       Acura  Alfa Romeo  \
Year Model
1984 1000                Range (FT1)         NaN         NaN
                         City Range (FT1)    NaN         NaN
     18i                 Range (FT1)         NaN         NaN
                         City Range (FT1)    NaN         NaN
     190 D 2.2/190 E 2.3 Range (FT1)         NaN         NaN
...                                          ...         ...
2012 ZDX 4WD             City Range (FT1)    0.0         NaN
     e6                  Range (FT1)         NaN         NaN
                         City Range (FT1)    NaN         NaN
     i-MiEV              Range (FT1)         NaN         NaN
                         City Range (FT1)    NaN         NaN

Make                                       American Motors Corporation  \
Year Model
1984 1000                Range (FT1)                               NaN
                         City Range (FT1)                          NaN
     18i                 Range (FT1)                               NaN
                         City Range (FT1)                          NaN
     190 D 2.2/190 E 2.3 Range (FT1)                               NaN
...                                                                ...
2012 ZDX 4WD             City Range (FT1)                          NaN
     e6                  Range (FT1)                               NaN
                         City Range (FT1)                          NaN
     i-MiEV              Range (FT1)                               NaN
                         City Range (FT1)                          NaN

Make                                       Aston Martin  Audi  \
Year Model
1984 1000                Range (FT1)                NaN   NaN
                         City Range (FT1)           NaN   NaN
     18i                 Range (FT1)                NaN   NaN
                         City Range (FT1)           NaN   NaN
     190 D 2.2/190 E 2.3 Range (FT1)                NaN   NaN
...                                                 ...   ...
2012 ZDX 4WD             City Range (FT1)           NaN   NaN
     e6                  Range (FT1)                NaN   NaN
                         City Range (FT1)           NaN   NaN
     i-MiEV              Range (FT1)                NaN   NaN
                         City Range (FT1)           NaN   NaN

Make                                       Aurora Cars Ltd  Autokraft Limited  \
Year Model
1984 1000                Range (FT1)                   NaN                NaN
                         City Range (FT1)              NaN                NaN
     18i                 Range (FT1)                   NaN                NaN
                         City Range (FT1)              NaN                NaN
     190 D 2.2/190 E 2.3 Range (FT1)                   NaN                NaN
...                                                    ...                ...
2012 ZDX 4WD             City Range (FT1)              NaN                NaN
     e6                  Range (FT1)                   NaN                NaN
                         City Range (FT1)              NaN                NaN
     i-MiEV              Range (FT1)                   NaN                NaN
                         City Range (FT1)              NaN                NaN

Make                                       Avanti Motor Corporation  ...  \
Year Model                                                           ...
1984 1000                Range (FT1)                            NaN  ...
                         City Range (FT1)                       NaN  ...
     18i                 Range (FT1)                            NaN  ...
                         City Range (FT1)                       NaN  ...
     190 D 2.2/190 E 2.3 Range (FT1)                            NaN  ...
...                                                             ...  ...
2012 ZDX 4WD             City Range (FT1)                       NaN  ...
     e6                  Range (FT1)                            NaN  ...
                         City Range (FT1)                       NaN  ...
     i-MiEV              Range (FT1)                            NaN  ...
                         City Range (FT1)                       NaN  ...

Make                                       Toyota  VPG  Vector  \
Year Model
1984 1000                Range (FT1)          NaN  NaN     NaN
                         City Range (FT1)     NaN  NaN     NaN
     18i                 Range (FT1)          NaN  NaN     NaN
                         City Range (FT1)     NaN  NaN     NaN
     190 D 2.2/190 E 2.3 Range (FT1)          NaN  NaN     NaN
...                                           ...  ...     ...
2012 ZDX 4WD             City Range (FT1)     NaN  NaN     NaN
     e6                  Range (FT1)          NaN  NaN     NaN
                         City Range (FT1)     NaN  NaN     NaN
     i-MiEV              Range (FT1)          NaN  NaN     NaN
                         City Range (FT1)     NaN  NaN     NaN

Make                                       Vixen Motor Company  \
Year Model
1984 1000                Range (FT1)                       NaN
                         City Range (FT1)                  NaN
     18i                 Range (FT1)                       NaN
                         City Range (FT1)                  NaN
     190 D 2.2/190 E 2.3 Range (FT1)                       NaN
...                                                        ...
2012 ZDX 4WD             City Range (FT1)                  NaN
     e6                  Range (FT1)                       NaN
                         City Range (FT1)                  NaN
     i-MiEV              Range (FT1)                       NaN
                         City Range (FT1)                  NaN

Make                                       Volga Associated Automobile  \
Year Model
1984 1000                Range (FT1)                               NaN
                         City Range (FT1)                          NaN
     18i                 Range (FT1)                               NaN
                         City Range (FT1)                          NaN
     190 D 2.2/190 E 2.3 Range (FT1)                               NaN
...                                                                ...
2012 ZDX 4WD             City Range (FT1)                          NaN
     e6                  Range (FT1)                               NaN
                         City Range (FT1)                          NaN
     i-MiEV              Range (FT1)                               NaN
                         City Range (FT1)                          NaN

Make                                       Volkswagen  Volvo  \
Year Model
1984 1000                Range (FT1)              NaN    NaN
                         City Range (FT1)         NaN    NaN
     18i                 Range (FT1)              NaN    NaN
                         City Range (FT1)         NaN    NaN
     190 D 2.2/190 E 2.3 Range (FT1)              NaN    NaN
...                                               ...    ...
2012 ZDX 4WD             City Range (FT1)         NaN    NaN
     e6                  Range (FT1)              NaN    NaN
                         City Range (FT1)         NaN    NaN
     i-MiEV              Range (FT1)              NaN    NaN
                         City Range (FT1)         NaN    NaN

Make                                       Wallace Environmental  Yugo  smart
Year Model
1984 1000                Range (FT1)                         NaN   NaN    NaN
                         City Range (FT1)                    NaN   NaN    NaN
     18i                 Range (FT1)                         NaN   NaN    NaN
                         City Range (FT1)                    NaN   NaN    NaN
     190 D 2.2/190 E 2.3 Range (FT1)                         NaN   NaN    NaN
...                                                          ...   ...    ...
2012 ZDX 4WD             City Range (FT1)                    NaN   NaN    NaN
     e6                  Range (FT1)                         NaN   NaN    NaN
                         City Range (FT1)                    NaN   NaN    NaN
     i-MiEV              Range (FT1)                         NaN   NaN    NaN
                         City Range (FT1)                    NaN   NaN    NaN

[26014 rows x 127 columns]

In [14]:
fuel.stack().unstack(['Year','Make'])

Year                                   1984             \
Make                             Alfa Romeo AM General
Model
09-Mar          Range (FT1)             NaN        NaN
                City Range (FT1)        NaN        NaN
09-May          Range (FT1)             NaN        NaN
                City Range (FT1)        NaN        NaN
1-Ton Truck 2WD Range (FT1)             NaN        NaN
...                                     ...        ...
xA              City Range (FT1)        NaN        NaN
xB              Range (FT1)             NaN        NaN
                City Range (FT1)        NaN        NaN
xD              Range (FT1)             NaN        NaN
                City Range (FT1)        NaN        NaN

Year                                                                       \
Make                             American Motors Corporation Aston Martin
Model
09-Mar          Range (FT1)                              NaN          NaN
                City Range (FT1)                         NaN          NaN
09-May          Range (FT1)                              NaN          NaN
                City Range (FT1)                         NaN          NaN
1-Ton Truck 2WD Range (FT1)                              NaN          NaN
...                                                      ...          ...
xA              City Range (FT1)                         NaN          NaN
xB              Range (FT1)                              NaN          NaN
                City Range (FT1)                         NaN          NaN
xD              Range (FT1)                              NaN          NaN
                City Range (FT1)                         NaN          NaN

Year                                                                    \
Make                             Audi Avanti Motor Corporation Bertone
Model
09-Mar          Range (FT1)       NaN                      NaN     NaN
                City Range (FT1)  NaN                      NaN     NaN
09-May          Range (FT1)       NaN                      NaN     NaN
                City Range (FT1)  NaN                      NaN     NaN
1-Ton Truck 2WD Range (FT1)       NaN                      NaN     NaN
...                               ...                      ...     ...
xA              City Range (FT1)  NaN                      NaN     NaN
xB              Range (FT1)       NaN                      NaN     NaN
                City Range (FT1)  NaN                      NaN     NaN
xD              Range (FT1)       NaN                      NaN     NaN
                City Range (FT1)  NaN                      NaN     NaN

Year                                                            \
Make                             Bill Dovell Motor Car Company
Model
09-Mar          Range (FT1)                                NaN
                City Range (FT1)                           NaN
09-May          Range (FT1)                                NaN
                City Range (FT1)                           NaN
1-Ton Truck 2WD Range (FT1)                                NaN
...                                                        ...
xA              City Range (FT1)                           NaN
xB              Range (FT1)                                NaN
                City Range (FT1)                           NaN
xD              Range (FT1)                                NaN
                City Range (FT1)                           NaN

Year                                                         ...  2012  \
Make                             Bitter Gmbh and Co. Kg BMW  ... Lexus
Model                                                        ...
09-Mar          Range (FT1)                         NaN NaN  ...   NaN
                City Range (FT1)                    NaN NaN  ...   NaN
09-May          Range (FT1)                         NaN NaN  ...   NaN
                City Range (FT1)                    NaN NaN  ...   NaN
1-Ton Truck 2WD Range (FT1)                         NaN NaN  ...   NaN
...                                                 ...  ..  ...   ...
xA              City Range (FT1)                    NaN NaN  ...   NaN
xB              Range (FT1)                         NaN NaN  ...   NaN
                City Range (FT1)                    NaN NaN  ...   NaN
xD              Range (FT1)                         NaN NaN  ...   NaN
                City Range (FT1)                    NaN NaN  ...   NaN

Year                                                                   \
Make                             Lincoln Lotus Maserati Maybach Mazda
Model
09-Mar          Range (FT1)          NaN   NaN      NaN     NaN   NaN
                City Range (FT1)     NaN   NaN      NaN     NaN   NaN
09-May          Range (FT1)          NaN   NaN      NaN     NaN   NaN
                City Range (FT1)     NaN   NaN      NaN     NaN   NaN
1-Ton Truck 2WD Range (FT1)          NaN   NaN      NaN     NaN   NaN
...                                  ...   ...      ...     ...   ...
xA              City Range (FT1)     NaN   NaN      NaN     NaN   NaN
xB              Range (FT1)          NaN   NaN      NaN     NaN   NaN
                City Range (FT1)     NaN   NaN      NaN     NaN   NaN
xD              Range (FT1)          NaN   NaN      NaN     NaN   NaN
                City Range (FT1)     NaN   NaN      NaN     NaN   NaN

Year                                                                    \
Make                             McLaren Automotive Mercedes-Benz MINI
Model
09-Mar          Range (FT1)                     NaN           NaN  NaN
                City Range (FT1)                NaN           NaN  NaN
09-May          Range (FT1)                     NaN           NaN  NaN
                City Range (FT1)                NaN           NaN  NaN
1-Ton Truck 2WD Range (FT1)                     NaN           NaN  NaN
...                                             ...           ...  ...
xA              City Range (FT1)                NaN           NaN  NaN
xB              Range (FT1)                     NaN           NaN  NaN
                City Range (FT1)                NaN           NaN  NaN
xD              Range (FT1)                     NaN           NaN  NaN
                City Range (FT1)                NaN           NaN  NaN

Year
Make                             Mitsubishi
Model
09-Mar          Range (FT1)             NaN
                City Range (FT1)        NaN
09-May          Range (FT1)             NaN
                City Range (FT1)        NaN
1-Ton Truck 2WD Range (FT1)             NaN
...                                     ...
xA              City Range (FT1)        NaN
xB              Range (FT1)             NaN
                City Range (FT1)        NaN
xD              Range (FT1)             NaN
                City Range (FT1)        NaN

[5914 rows x 1386 columns]

In [16]:
fuel.stack().unstack(['Make','Year']).sort_index(axis=1)

Make                             AM General      ASC Incorporated Acura       \
Year                                   1984 1985             1987  1986 1987
Model
09-Mar          Range (FT1)             NaN  NaN              NaN   NaN  NaN
                City Range (FT1)        NaN  NaN              NaN   NaN  NaN
09-May          Range (FT1)             NaN  NaN              NaN   NaN  NaN
                City Range (FT1)        NaN  NaN              NaN   NaN  NaN
1-Ton Truck 2WD Range (FT1)             NaN  NaN              NaN   NaN  NaN
...                                     ...  ...              ...   ...  ...
xA              City Range (FT1)        NaN  NaN              NaN   NaN  NaN
xB              Range (FT1)             NaN  NaN              NaN   NaN  NaN
                City Range (FT1)        NaN  NaN              NaN   NaN  NaN
xD              Range (FT1)             NaN  NaN              NaN   NaN  NaN
                City Range (FT1)        NaN  NaN              NaN   NaN  NaN

Make                                                       ...  \
Year                             1988 1989 1990 1991 1992  ...
Model                                                      ...
09-Mar          Range (FT1)       NaN  NaN  NaN  NaN  NaN  ...
                City Range (FT1)  NaN  NaN  NaN  NaN  NaN  ...
09-May          Range (FT1)       NaN  NaN  NaN  NaN  NaN  ...
                City Range (FT1)  NaN  NaN  NaN  NaN  NaN  ...
1-Ton Truck 2WD Range (FT1)       NaN  NaN  NaN  NaN  NaN  ...
...                               ...  ...  ...  ...  ...  ...
xA              City Range (FT1)  NaN  NaN  NaN  NaN  NaN  ...
xB              Range (FT1)       NaN  NaN  NaN  NaN  NaN  ...
                City Range (FT1)  NaN  NaN  NaN  NaN  NaN  ...
xD              Range (FT1)       NaN  NaN  NaN  NaN  NaN  ...
                City Range (FT1)  NaN  NaN  NaN  NaN  NaN  ...

Make                             Wallace Environmental Yugo                 \
Year                                              1992 1986 1987 1988 1989
Model
09-Mar          Range (FT1)                        NaN  NaN  NaN  NaN  NaN
                City Range (FT1)                   NaN  NaN  NaN  NaN  NaN
09-May          Range (FT1)                        NaN  NaN  NaN  NaN  NaN
                City Range (FT1)                   NaN  NaN  NaN  NaN  NaN
1-Ton Truck 2WD Range (FT1)                        NaN  NaN  NaN  NaN  NaN
...                                                ...  ...  ...  ...  ...
xA              City Range (FT1)                   NaN  NaN  NaN  NaN  NaN
xB              Range (FT1)                        NaN  NaN  NaN  NaN  NaN
                City Range (FT1)                   NaN  NaN  NaN  NaN  NaN
xD              Range (FT1)                        NaN  NaN  NaN  NaN  NaN
                City Range (FT1)                   NaN  NaN  NaN  NaN  NaN

Make                                  smart
Year                             1990  2008 2009 2010 2011
Model
09-Mar          Range (FT1)       NaN   NaN  NaN  NaN  NaN
                City Range (FT1)  NaN   NaN  NaN  NaN  NaN
09-May          Range (FT1)       NaN   NaN  NaN  NaN  NaN
                City Range (FT1)  NaN   NaN  NaN  NaN  NaN
1-Ton Truck 2WD Range (FT1)       NaN   NaN  NaN  NaN  NaN
...                               ...   ...  ...  ...  ...
xA              City Range (FT1)  NaN   NaN  NaN  NaN  NaN
xB              Range (FT1)       NaN   NaN  NaN  NaN  NaN
                City Range (FT1)  NaN   NaN  NaN  NaN  NaN
xD              Range (FT1)       NaN   NaN  NaN  NaN  NaN
                City Range (FT1)  NaN   NaN  NaN  NaN  NaN

[5914 rows x 1386 columns]