## S05-L001-Multiindex - wyszukiwanie danych za pomocÄ… indeksu

In [1]:
import pandas as pd
import numpy as np

In [2]:
air = pd.read_csv('course-files/Air_Traffic_Passenger_Statistics.csv')

In [4]:
air.set_index(["Operating Airline","Activity Period","Activity Type Code"], inplace=True)

In [5]:
air.sort_index(inplace=True)

In [6]:
air.head()

                                                                            Operating Airline IATA Code  \
Operating Airline                        Activity Period Activity Type Code
ABC Aerolineas S.A. de C.V. dba Interjet 201803          Deplaned                                    4O
                                                         Enplaned                                    4O
ATA Airlines                             200507          Deplaned                                    TZ
                                                         Enplaned                                    TZ
                                                         Thru / Transit                              TZ

                                                                                                    Published Airline  \
Operating Airline                        Activity Period Activity Type Code
ABC Aerolineas S.A. de C.V. dba Interjet 201803          Deplaned            ABC Aerolineas S.A. de C.V. dba Interjet
                                                         Enplaned            ABC Aerolineas S.A. de C.V. dba Interjet
ATA Airlines                             200507          Deplaned                                        ATA Airlines
                                                         Enplaned                                        ATA Airlines
                                                         Thru / Transit                                  ATA Airlines

                                                                            Published Airline IATA Code  \
Operating Airline                        Activity Period Activity Type Code
ABC Aerolineas S.A. de C.V. dba Interjet 201803          Deplaned                                    4O
                                                         Enplaned                                    4O
ATA Airlines                             200507          Deplaned                                    TZ
                                                         Enplaned                                    TZ
                                                         Thru / Transit                              TZ

                                                                               GEO Summary  \
Operating Airline                        Activity Period Activity Type Code
ABC Aerolineas S.A. de C.V. dba Interjet 201803          Deplaned            International
                                                         Enplaned            International
ATA Airlines                             200507          Deplaned                 Domestic
                                                         Enplaned                 Domestic
                                                         Thru / Transit           Domestic

                                                                            GEO Region  \
Operating Airline                        Activity Period Activity Type Code
ABC Aerolineas S.A. de C.V. dba Interjet 201803          Deplaned               Mexico
                                                         Enplaned               Mexico
ATA Airlines                             200507          Deplaned                   US
                                                         Enplaned                   US
                                                         Thru / Transit             US

                                                                            Price Category Code  \
Operating Airline                        Activity Period Activity Type Code
ABC Aerolineas S.A. de C.V. dba Interjet 201803          Deplaned                         Other
                                                         Enplaned                         Other
ATA Airlines                             200507          Deplaned                      Low Fare
                                                         Enplaned                      Low Fare
                                                         Thru / Transit                Low Fare

                                                                                  Terminal  \
Operating Airline                        Activity Period Activity Type Code
ABC Aerolineas S.A. de C.V. dba Interjet 201803          Deplaned            International
                                                         Enplaned            International
ATA Airlines                             200507          Deplaned               Terminal 1
                                                         Enplaned               Terminal 1
                                                         Thru / Transit         Terminal 1

                                                                            Boarding Area  \
Operating Airline                        Activity Period Activity Type Code
ABC Aerolineas S.A. de C.V. dba Interjet 201803          Deplaned                       A
                                                         Enplaned                       A
ATA Airlines                             200507          Deplaned                       B
                                                         Enplaned                       B
                                                         Thru / Transit                 B

                                                                             Passenger Count
Operating Airline                        Activity Period Activity Type Code
ABC Aerolineas S.A. de C.V. dba Interjet 201803          Deplaned                       1090
                                                         Enplaned                       1212
ATA Airlines                             200507          Deplaned                      27271
                                                         Enplaned                      29131
                                                         Thru / Transit                 5415

In [10]:
air.loc[('Air France',200507,'Enplaned')]

,,,Operating Airline IATA Code,Published Airline,Published Airline IATA Code,GEO Summary,GEO Region,Price Category Code,Terminal,Boarding Area,Passenger Count
Operating Airline,Activity Period,Activity Type Code,,,,,,,,,
Air France,200507,Enplaned,AF,Air France,AF,International,Europe,Other,International,A,11638

In [8]:
air.loc[('Air France',200507)]

,Operating Airline IATA Code,Published Airline,Published Airline IATA Code,GEO Summary,GEO Region,Price Category Code,Terminal,Boarding Area,Passenger Count
Activity Type Code,,,,,,,,,
Deplaned,AF,Air France,AF,International,Europe,Other,International,A,12050
Enplaned,AF,Air France,AF,International,Europe,Other,International,A,11638

In [15]:
print(air.loc[('Air France',200507,'Enplaned'), 'Passenger Count'])

Operating Airline  Activity Period  Activity Type Code
Air France         200507           Enplaned              11638
Name: Passenger Count, dtype: int64

In [16]:
air.loc[('Air France',200507,'Deplaned'), 'Passenger Count']

Operating Airline  Activity Period  Activity Type Code
Air France         200507           Deplaned              12050
Name: Passenger Count, dtype: int64

In [17]:
air.iloc[20:25]

                                                     Operating Airline IATA Code  \
Operating Airline Activity Period Activity Type Code
ATA Airlines      200512          Enplaned                                    TZ
                                  Thru / Transit                              TZ
                  200601          Deplaned                                    TZ
                                  Enplaned                                    TZ
                                  Thru / Transit                              TZ

                                                     Published Airline  \
Operating Airline Activity Period Activity Type Code
ATA Airlines      200512          Enplaned                ATA Airlines
                                  Thru / Transit          ATA Airlines
                  200601          Deplaned                ATA Airlines
                                  Enplaned                ATA Airlines
                                  Thru / Transit          ATA Airlines

                                                     Published Airline IATA Code  \
Operating Airline Activity Period Activity Type Code
ATA Airlines      200512          Enplaned                                    TZ
                                  Thru / Transit                              TZ
                  200601          Deplaned                                    TZ
                                  Enplaned                                    TZ
                                  Thru / Transit                              TZ

                                                     GEO Summary GEO Region  \
Operating Airline Activity Period Activity Type Code
ATA Airlines      200512          Enplaned              Domestic         US
                                  Thru / Transit        Domestic         US
                  200601          Deplaned              Domestic         US
                                  Enplaned              Domestic         US
                                  Thru / Transit        Domestic         US

                                                     Price Category Code  \
Operating Airline Activity Period Activity Type Code
ATA Airlines      200512          Enplaned                      Low Fare
                                  Thru / Transit                Low Fare
                  200601          Deplaned                      Low Fare
                                  Enplaned                      Low Fare
                                  Thru / Transit                Low Fare

                                                        Terminal  \
Operating Airline Activity Period Activity Type Code
ATA Airlines      200512          Enplaned            Terminal 1
                                  Thru / Transit      Terminal 1
                  200601          Deplaned            Terminal 1
                                  Enplaned            Terminal 1
                                  Thru / Transit      Terminal 1

                                                     Boarding Area  \
Operating Airline Activity Period Activity Type Code
ATA Airlines      200512          Enplaned                       B
                                  Thru / Transit                 B
                  200601          Deplaned                       B
                                  Enplaned                       B
                                  Thru / Transit                 B

                                                      Passenger Count
Operating Airline Activity Period Activity Type Code
ATA Airlines      200512          Enplaned                      16790
                                  Thru / Transit                 2402
                  200601          Deplaned                      13010
                                  Enplaned                      12226
                                  Thru / Transit                 3316

In [32]:
air.iloc[20:25,8]

Operating Airline  Activity Period  Activity Type Code
ATA Airlines       200512           Enplaned               True
                                    Thru / Transit        False
                   200601           Deplaned               True
                                    Enplaned               True
                                    Thru / Transit        False
Name: Passenger Count, dtype: bool