## S05-L001-Multiindex - intro

In [1]:
import pandas as pd
import numpy as np

In [2]:
air = pd.read_csv('course-files/Air_Traffic_Passenger_Statistics.csv')

In [3]:
air.head()

,Activity Period,Operating Airline,Operating Airline IATA Code,Published Airline,Published Airline IATA Code,GEO Summary,GEO Region,Activity Type Code,Price Category Code,Terminal,Boarding Area,Passenger Count
0,200507,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Deplaned,Low Fare,Terminal 1,B,27271
1,200507,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Enplaned,Low Fare,Terminal 1,B,29131
2,200507,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Thru / Transit,Low Fare,Terminal 1,B,5415
3,200507,Air Canada,AC,Air Canada,AC,International,Canada,Deplaned,Other,Terminal 1,B,35156
4,200507,Air Canada,AC,Air Canada,AC,International,Canada,Enplaned,Other,Terminal 1,B,34090

In [4]:
air.shape

(18398, 12)

In [5]:
air.set_index(['Activity Period', 'Operating Airline'], inplace=True)

In [6]:
air.head(10)

                                  Operating Airline IATA Code  \
Activity Period Operating Airline
200507          ATA Airlines                               TZ
                ATA Airlines                               TZ
                ATA Airlines                               TZ
                Air Canada                                 AC
                Air Canada                                 AC
                Air China                                  CA
                Air China                                  CA
                Air France                                 AF
                Air France                                 AF
                Air New Zealand                            NZ

                                  Published Airline  \
Activity Period Operating Airline
200507          ATA Airlines           ATA Airlines
                ATA Airlines           ATA Airlines
                ATA Airlines           ATA Airlines
                Air Canada               Air Canada
                Air Canada               Air Canada
                Air China                 Air China
                Air China                 Air China
                Air France               Air France
                Air France               Air France
                Air New Zealand     Air New Zealand

                                  Published Airline IATA Code    GEO Summary  \
Activity Period Operating Airline
200507          ATA Airlines                               TZ       Domestic
                ATA Airlines                               TZ       Domestic
                ATA Airlines                               TZ       Domestic
                Air Canada                                 AC  International
                Air Canada                                 AC  International
                Air China                                  CA  International
                Air China                                  CA  International
                Air France                                 AF  International
                Air France                                 AF  International
                Air New Zealand                            NZ  International

                                            GEO Region Activity Type Code  \
Activity Period Operating Airline
200507          ATA Airlines                        US           Deplaned
                ATA Airlines                        US           Enplaned
                ATA Airlines                        US     Thru / Transit
                Air Canada                      Canada           Deplaned
                Air Canada                      Canada           Enplaned
                Air China                         Asia           Deplaned
                Air China                         Asia           Enplaned
                Air France                      Europe           Deplaned
                Air France                      Europe           Enplaned
                Air New Zealand    Australia / Oceania           Deplaned

                                  Price Category Code       Terminal  \
Activity Period Operating Airline
200507          ATA Airlines                 Low Fare     Terminal 1
                ATA Airlines                 Low Fare     Terminal 1
                ATA Airlines                 Low Fare     Terminal 1
                Air Canada                      Other     Terminal 1
                Air Canada                      Other     Terminal 1
                Air China                       Other  International
                Air China                       Other  International
                Air France                      Other  International
                Air France                      Other  International
                Air New Zealand                 Other  International

                                  Boarding Area  Passenger Count
Activity Period Operating Airline
200507          ATA Airlines                  B            27271
                ATA Airlines                  B            29131
                ATA Airlines                  B             5415
                Air Canada                    B            35156
                Air Canada                    B            34090
                Air China                     G             6263
                Air China                     G             5500
                Air France                    A            12050
                Air France                    A            11638
                Air New Zealand               G             4998

In [7]:
air.reset_index(inplace=True)

In [8]:
air.set_index(["Activity Period","Operating Airline","Activity Type Code"], inplace=True)

In [9]:
air.head()

                                                     Operating Airline IATA Code  \
Activity Period Operating Airline Activity Type Code
200507          ATA Airlines      Deplaned                                    TZ
                                  Enplaned                                    TZ
                                  Thru / Transit                              TZ
                Air Canada        Deplaned                                    AC
                                  Enplaned                                    AC

                                                     Published Airline  \
Activity Period Operating Airline Activity Type Code
200507          ATA Airlines      Deplaned                ATA Airlines
                                  Enplaned                ATA Airlines
                                  Thru / Transit          ATA Airlines
                Air Canada        Deplaned                  Air Canada
                                  Enplaned                  Air Canada

                                                     Published Airline IATA Code  \
Activity Period Operating Airline Activity Type Code
200507          ATA Airlines      Deplaned                                    TZ
                                  Enplaned                                    TZ
                                  Thru / Transit                              TZ
                Air Canada        Deplaned                                    AC
                                  Enplaned                                    AC

                                                        GEO Summary  \
Activity Period Operating Airline Activity Type Code
200507          ATA Airlines      Deplaned                 Domestic
                                  Enplaned                 Domestic
                                  Thru / Transit           Domestic
                Air Canada        Deplaned            International
                                  Enplaned            International

                                                     GEO Region  \
Activity Period Operating Airline Activity Type Code
200507          ATA Airlines      Deplaned                   US
                                  Enplaned                   US
                                  Thru / Transit             US
                Air Canada        Deplaned               Canada
                                  Enplaned               Canada

                                                     Price Category Code  \
Activity Period Operating Airline Activity Type Code
200507          ATA Airlines      Deplaned                      Low Fare
                                  Enplaned                      Low Fare
                                  Thru / Transit                Low Fare
                Air Canada        Deplaned                         Other
                                  Enplaned                         Other

                                                        Terminal  \
Activity Period Operating Airline Activity Type Code
200507          ATA Airlines      Deplaned            Terminal 1
                                  Enplaned            Terminal 1
                                  Thru / Transit      Terminal 1
                Air Canada        Deplaned            Terminal 1
                                  Enplaned            Terminal 1

                                                     Boarding Area  \
Activity Period Operating Airline Activity Type Code
200507          ATA Airlines      Deplaned                       B
                                  Enplaned                       B
                                  Thru / Transit                 B
                Air Canada        Deplaned                       B
                                  Enplaned                       B

                                                      Passenger Count
Activity Period Operating Airline Activity Type Code
200507          ATA Airlines      Deplaned                      27271
                                  Enplaned                      29131
                                  Thru / Transit                 5415
                Air Canada        Deplaned                      35156
                                  Enplaned                      34090