## S06-L007 - przetwarzanie obiektu grupy

In [1]:
import numpy as np
import pandas as pd
from datetime import datetime
from datetime import timedelta
import time

In [20]:
df = pd.read_csv('course-files/marathon_results_2016.csv', index_col='Bib',
usecols=['Bib','40K','Half','Pace','Age','M/F','Country','State','City'])
df['40K'] = df['40K'].apply(pd.to_timedelta)
df['Half'] = df['Half'].apply(pd.to_timedelta)
df['TotalSeconds'] = df['40K'].apply(lambda x: timedelta.total_seconds(x))
df['HalfSeconds'] = df['Half'].apply(lambda x: timedelta.total_seconds(x))
df.head()

,Age,M/F,City,State,Country,Half,40K,Pace,TotalSeconds,HalfSeconds
Bib,,,,,,,,,,
5,21,M,Addis Ababa,NaN,ETH,01:06:45,02:05:59,0:05:04,7559.0,4005.0
1,26,M,Ambo,NaN,ETH,01:06:46,02:05:59,0:05:06,7559.0,4006.0
6,31,M,Addis Ababa,NaN,ETH,01:06:44,02:06:47,0:05:07,7607.0,4004.0
11,33,M,Kitale,NaN,KEN,01:06:46,02:06:47,0:05:07,7607.0,4006.0
14,23,M,Eldoret,NaN,KEN,01:06:46,02:08:11,0:05:11,7691.0,4006.0

In [21]:
group_city = df.groupby(by='City')

In [22]:
for city, data in group_city:
    print(city, data.loc[data['TotalSeconds'].idxmin()])

0851 Oslo Age                          39
M/F                           F
City                  0851 Oslo
State                       NaN
Country                     NOR
Half            0 days 01:35:31
40K             0 days 03:15:24
Pace                    0:07:55
TotalSeconds              11724
HalfSeconds                5731
Name: 6229, dtype: object
20832 Age                          35
M/F                           M
City                      20832
State                        MD
Country                     USA
Half            0 days 01:35:57
40K             0 days 03:14:00
Pace                    0:07:51
TotalSeconds              11640
HalfSeconds                5757
Name: 4186, dtype: object
34-120 Andrychow Age                           44
M/F                            F
City            34-120 Andrychow
State                        NaN
Country                      POL
Half             0 days 01:58:39
40K              0 days 03:55:09
Pace                     0:09:28
TotalSeconds               14109
HalfSeconds                 7119
Name: 31786, dtype: object
5700 Svendborg Age                          58
M/F                           M
City             5700 Svendborg
State                       NaN
Country                     DEN
Half            0 days 01:49:12
40K             0 days 03:44:58
Pace                    0:09:05
TotalSeconds              13498
HalfSeconds                6552
Name: 15350, dtype: object
95630 Age                          46
M/F                           F
City                      95630
State                        CA
Country                     USA
Half            0 days 01:50:25
40K             0 days 03:37:23
Pace                    0:08:44
TotalSeconds              13043
HalfSeconds                6625
Name: 20668, dtype: object
APO Age                          49
M/F                           F
City                        APO
State                        AE
Country                     USA
Half            0 days 02:49:56
40K             0 days 05:43:39
Pace                    0:13:46
TotalSeconds              20619
HalfSeconds               10196
Name: 28408, dtype: object
Aabyhoj Age                          46
M/F                           F
City                    Aabyhoj
State                       NaN
Country                     DEN
Half            0 days 01:50:22
40K             0 days 03:37:42
Pace                    0:08:45
TotalSeconds              13062
HalfSeconds                6622
Name: 21774, dtype: object
Aalborg Age                          54
M/F                           M
City                    Aalborg
State                       NaN
Country                     DEN
Half            0 days 01:56:09
40K             0 days 03:48:16
Pace                    0:09:13
TotalSeconds              13696
HalfSeconds                6969
Name: 30604, dtype: object
Aarhus C Age                          49
M/F                           M
City                   Aarhus C
State                       NaN
Country                     DEN
Half            0 days 02:07:17
40K             0 days 04:43:05
Pace                    0:11:27
TotalSeconds              16985
HalfSeconds                7637
Name: 30621, dtype: object
Abbotsford Age                          60
M/F                           M
City                 Abbotsford
State                        WI
Country                     USA
Half            0 days 01:33:52
40K             0 days 03:07:23
Pace                    0:07:35
TotalSeconds              11243
HalfSeconds                5632
Name: 8196, dtype: object
Aberdeen Age                          37
M/F                           M
City                   Aberdeen
State                        SD
Country                     USA
Half            0 days 01:13:17
40K             0 days 02:26:45
Pace                    0:05:57
TotalSeconds               8805
HalfSeconds                4397
Name: 139, dtype: object
Aberdeen City Age                          34
M/F                           M
City              Aberdeen City
State                       NaN
Country                     GBR
Half            0 days 01:46:27
40K             0 days 03:28:03
Pace                    0:08:25
TotalSeconds              12483
HalfSeconds                6387
Name: 31481, dtype: object
Aberdeenshire Age                          48
M/F                           M
City              Aberdeenshire
State                       NaN
Country                     GBR
Half            0 days 01:44:29
40K             0 days 03:34:49
Pace                    0:08:41
TotalSeconds              12889
HalfSeconds                6269
Name: 31475, dtype: object
Abilene Age                          55
M/F                           M
City                    Abilene
State                        TX
Country                     USA
Half            0 days 01:35:16
40K             0 days 03:09:04
Pace                    0:07:43
TotalSeconds              11344
HalfSeconds                5716
Name: 16342, dtype: object
Abingdon Age                          40
M/F                           M
City                   Abingdon
State                        MD
Country                     USA
Half            0 days 01:30:47
40K             0 days 02:58:22
Pace                    0:07:12
TotalSeconds              10702
HalfSeconds                5447
Name: 5764, dtype: object
Abington Age                          26
M/F                           F
City                   Abington
State                        MA
Country                     USA
Half            0 days 01:37:19
40K             0 days 03:10:36
Pace                    0:07:40
TotalSeconds              11436
HalfSeconds                5839
Name: 13037, dtype: object
Abu Dhabi Age                          29
M/F                           F
City                  Abu Dhabi
State                       NaN
Country                     UAE
Half            0 days 01:42:03
40K             0 days 03:21:53
Pace                    0:08:11
TotalSeconds              12113
HalfSeconds                6123
Name: 16488, dtype: object
Abu Dhabi, Uae Age                          62
M/F                           M
City             Abu Dhabi, Uae
State                       NaN
Country                     UAE
Half            0 days 01:50:24
40K             0 days 03:51:40
Pace                    0:09:26
TotalSeconds              13900
HalfSeconds                6624
Name: 19652, dtype: object
Acapulco Age                          55
M/F                           M
City                   Acapulco
State                       NaN
Country                     MEX
Half            0 days 01:20:30
40K             0 days 02:49:55
Pace                    0:07:02
TotalSeconds              10195
HalfSeconds                4830
Name: 966, dtype: object
Act Age                          40
M/F                           M
City                        Act
State                       NaN
Country                     AUS
Half            0 days 01:27:24
40K             0 days 02:53:20
Pace                    0:07:03
TotalSeconds              10400
HalfSeconds                5244
Name: 3336, dtype: object
Acton Age                          32
M/F                           M
City                      Acton
State                        MA
Country                     USA
Half            0 days 01:26:29
40K             0 days 02:51:09
Pace                    0:06:56
TotalSeconds              10269
HalfSeconds                5189
Name: 1828, dtype: object
Acton Vale Age                          38
M/F                           M
City                 Acton Vale
State                        QC
Country                     CAN
Half            0 days 01:34:20
40K             0 days 03:19:24
Pace                    0:08:05
TotalSeconds              11964
HalfSeconds                5660
Name: 5609, dtype: object
Acushnet Age                          37
M/F                           F
City                   Acushnet
State                        MA
Country                     USA
Half            0 days 02:02:28
40K             0 days 04:43:24
Pace                    0:11:32
TotalSeconds              17004
HalfSeconds                7348
Name: 11781, dtype: object
Acworth Age                          45
M/F                           M
City                    Acworth
State                        GA
Country                     USA
Half            0 days 01:30:53
40K             0 days 03:02:51
Pace                    0:07:26
TotalSeconds              10971
HalfSeconds                5453
Name: 8897, dtype: object
Ada Age                          49
M/F                           M
City                        Ada
State                        MI
Country                     USA
Half            0 days 01:31:50
40K             0 days 02:58:42
Pace                    0:07:12
TotalSeconds              10722
HalfSeconds                5510
Name: 5282, dtype: object
Adams Basin Age                          44
M/F                           M
City                Adams Basin
State                        NY
Country                     USA
Half            0 days 01:56:15
40K             0 days 04:08:52
Pace                    0:10:25
TotalSeconds              14932
HalfSeconds                6975
Name: 6287, dtype: object
Addis Ababa Age                          21
M/F                           M
City                Addis Ababa
State                       NaN
Country                     ETH
Half            0 days 01:06:45
40K             0 days 02:05:59
Pace                    0:05:04
TotalSeconds               7559
HalfSeconds                4005
Name: 5, dtype: object
Adel Age                          24
M/F                           M
City                       Adel
State                        IA
Country                     USA
Half            0 days 01:23:26
40K             0 days 02:46:49
Pace                    0:06:44
TotalSeconds              10009
HalfSeconds                5006
Name: 4332, dtype: object
Adelaide Age                          44
M/F                           F
City                   Adelaide
State                       NaN
Country                     AUS
Half            0 days 01:47:36
40K             0 days 03:35:34
Pace                    0:08:44
TotalSeconds              12934
HalfSeconds                6456
Name: 15426, dtype: object
Adelaide, South Australia Age                                    62
M/F                                     M
City            Adelaide, South Australia
State                                 NaN
Country                               AUS
Half                      0 days 01:49:22
40K                       0 days 04:25:03
Pace                              0:11:15
TotalSeconds                        15903
HalfSeconds                          6562
Name: 19362, dtype: object
Adelphi Age                          32
M/F                           F
City                    Adelphi
State                        MD
Country                     USA
Half            0 days 01:40:40
40K             0 days 03:15:50
Pace                    0:07:54
TotalSeconds              11750
HalfSeconds                6040
Name: 10244, dtype: object
Adliswil Age                          34
M/F                           M
City                   Adliswil
State                       NaN
Country                     SUI
Half            0 days 01:24:56
40K             0 days 02:54:08
Pace                    0:07:04
TotalSeconds              10448
HalfSeconds                5096
Name: 1699, dtype: object
Adolfo Lopez Edo Mex Age                               50
M/F                                F
City            Adolfo Lopez Edo Mex
State                            NaN
Country                          MEX
Half                 0 days 01:43:59
40K                  0 days 03:30:14
Pace                         0:08:32
TotalSeconds                   12614
HalfSeconds                     6239
Name: 18673, dtype: object
Adrian Age                          36
M/F                           M
City                     Adrian
State                        MI
Country                     USA
Half            0 days 01:40:54
40K             0 days 03:26:56
Pace                    0:08:23
TotalSeconds              12416
HalfSeconds                6054
Name: 6219, dtype: object
Adstock Age                          54
M/F                           M
City                    Adstock
State                        QC
Country                     CAN
Half            0 days 01:49:15
40K             0 days 03:32:48
Pace                    0:08:36
TotalSeconds              12768
HalfSeconds                6555
Name: 14927, dtype: object
Aelvsjoe Age                          55
M/F                           M
City                   Aelvsjoe
State                       NaN
Country                     SWE
Half            0 days 01:43:44
40K             0 days 03:22:51
Pace                    0:08:13
TotalSeconds              12171
HalfSeconds                6224
Name: 12066, dtype: object
Afton Age                          22
M/F                           M
City                      Afton
State                        MN
Country                     USA
Half            0 days 01:25:23
40K             0 days 02:50:39
Pace                    0:06:52
TotalSeconds              10239
HalfSeconds                5123
Name: 1010, dtype: object
Agassiz Age                          54
M/F                           M
City                    Agassiz
State                        BC
Country                     CAN
Half            0 days 01:52:16
40K             0 days 03:54:28
Pace                    0:09:38
TotalSeconds              14068
HalfSeconds                6736
Name: 10343, dtype: object
Agawam Age                          45
M/F                           M
City                     Agawam
State                        MA
Country                     USA
Half            0 days 01:34:10
40K             0 days 03:07:54
Pace                    0:07:34
TotalSeconds              11274
HalfSeconds                5650
Name: 6193, dtype: object
Ageo Age                          64
M/F                           M
City                       Ageo
State                       NaN
Country                     JPN
Half            0 days 01:58:55
40K             0 days 04:12:10
Pace                    0:10:11
TotalSeconds              15130
HalfSeconds                7135
Name: 21558, dtype: object
Agoura Hills Age                          53
M/F                           F
City               Agoura Hills
State                        CA
Country                     USA
Half            0 days 01:56:35
40K             0 days 04:00:24
Pace                    0:09:53
TotalSeconds              14424
HalfSeconds                6995
Name: 24813, dtype: object
Aguanga Age                          40
M/F                           F
City                    Aguanga
State                        CA
Country                     USA
Half            0 days 01:52:46
40K             0 days 03:36:52
Pace                    0:08:44
TotalSeconds              13012
HalfSeconds                6766
Name: 18460, dtype: object
Aguascalientes Age                          42
M/F                           F
City             Aguascalientes
State                       NaN
Country                     MEX
Half            0 days 01:45:58
40K             0 days 03:29:37
Pace                    0:08:28
TotalSeconds              12577
HalfSeconds                6358
Name: 18619, dtype: object
Aguascalientes, Ags Age                              40
M/F                               M
City            Aguascalientes, Ags
State                           NaN
Country                         MEX
Half                0 days 01:55:01
40K                 0 days 03:47:12
Pace                        0:09:10
TotalSeconds                  13632
HalfSeconds                    6901
Name: 31644, dtype: object
Ahmedabad Age                          42
M/F                           M
City                  Ahmedabad
State                       NaN
Country                     IND
Half            0 days 01:31:34
40K             0 days 03:02:43
Pace                    0:07:26
TotalSeconds              10963
HalfSeconds                5494
Name: 7469, dtype: object
Aibonito Age                          47
M/F                           M
City                   Aibonito
State                        PR
Country                     USA
Half            0 days 01:29:14
40K             0 days 03:11:46
Pace                    0:07:47
TotalSeconds              11506
HalfSeconds                5354
Name: 4182, dtype: object
Aichi Age                          55
M/F                           F
City                      Aichi
State                       NaN
Country                     JPN
Half            0 days 01:57:21
40K             0 days 04:13:08
Pace                    0:10:16
TotalSeconds              15188
HalfSeconds                7041
Name: 24679, dtype: object
Aiken Age                          25
M/F                           M
City                      Aiken
State                        SC
Country                     USA
Half            0 days 01:22:49
40K             0 days 02:44:14
Pace                    0:06:40
TotalSeconds               9854
HalfSeconds                4969
Name: 1980, dtype: object
Airdrie Age                          53
M/F                           M
City                    Airdrie
State                        AB
Country                     CAN
Half            0 days 01:36:37
40K             0 days 03:06:51
Pace                    0:07:33
TotalSeconds              11211
HalfSeconds                5797
Name: 11603, dtype: object
Aitkin Age                          47
M/F                           M
City                     Aitkin
State                        MN
Country                     USA
Half            0 days 01:36:38
40K             0 days 03:07:47
Pace                    0:07:37
TotalSeconds              11267
HalfSeconds                5798
Name: 7154, dtype: object
Ajax Age                          44
M/F                           M
City                       Ajax
State                        ON
Country                     CAN
Half            0 days 01:31:19
40K             0 days 03:02:35
Pace                    0:07:22
TotalSeconds              10955
HalfSeconds                5479
Name: 7590, dtype: object
Akron Age                          27
M/F                           M
City                      Akron
State                        OH
Country                     USA
Half            0 days 01:14:35
40K             0 days 02:27:44
Pace                    0:05:58
TotalSeconds               8864
HalfSeconds                4475
Name: 182, dtype: object
Alachua Age                          20
M/F                           F
City                    Alachua
State                        FL
Country                     USA
Half            0 days 01:45:44
40K             0 days 03:19:37
Pace                    0:08:02
TotalSeconds              11977
HalfSeconds                6344
Name: 15505, dtype: object
Alajuela, Atenas, Atenas Age                                   40
M/F                                    M
City            Alajuela, Atenas, Atenas
State                                NaN
Country                              CRC
Half                     0 days 01:34:08
40K                      0 days 03:06:01
Pace                             0:07:31
TotalSeconds                       11161
HalfSeconds                         5648
Name: 5751, dtype: object
Alameda Age                          46
M/F                           M
City                    Alameda
State                        CA
Country                     USA
Half            0 days 01:37:52
40K             0 days 03:09:18
Pace                    0:07:36
TotalSeconds              11358
HalfSeconds                5872
Name: 11337, dtype: object
Alamo Age                          36
M/F                           M
City                      Alamo

Name: 10024, dtype: object
Armstrong Age                          32
M/F                           F
City                  Armstrong
State                        IA
Country                     USA
Half            0 days 01:47:49
40K             0 days 03:31:51
Pace                    0:08:32
TotalSeconds              12711
HalfSeconds                6469
Name: 17428, dtype: object
Arnhem Age                          49
M/F                           M
City                     Arnhem
State                       NaN
Country                     NED
Half            0 days 01:43:52
40K             0 days 03:17:54
Pace                    0:07:59
TotalSeconds              11874
HalfSeconds                6232
Name: 11269, dtype: object
Arnold Age                          55
M/F                           M
City                     Arnold
State                        MD
Country                     USA
Half            0 days 01:35:24
40K             0 days 03:05:33
Pace                    0:07:29
TotalSeconds              11133
HalfSeconds                5724
Name: 9462, dtype: object
Arsi Age                          31
M/F                           F
City                       Arsi
State                       NaN
Country                     ETH
Half            0 days 01:15:32
40K             0 days 02:21:56
Pace                    0:05:44
TotalSeconds               8516
HalfSeconds                4532
Name: F4, dtype: object
Arvada Age                          27
M/F                           M
City                     Arvada
State                        CO
Country                     USA
Half            0 days 01:24:19
40K             0 days 02:54:37
Pace                    0:07:05
TotalSeconds              10477
HalfSeconds                5059
Name: 1393, dtype: object
Arvika Age                          54
M/F                           M
City                     Arvika
State                       NaN
Country                     SWE
Half            0 days 01:49:51
40K             0 days 03:52:12
Pace                    0:09:22
TotalSeconds              13932
HalfSeconds                6591
Name: 16772, dtype: object
Asbury Age                          47
M/F                           M
City                     Asbury
State                        NJ
Country                     USA
Half            0 days 01:31:47
40K             0 days 03:16:17
Pace                    0:07:56
TotalSeconds              11777
HalfSeconds                5507
Name: 6578, dtype: object
Asbury Park Age                          33
M/F                           M
City                Asbury Park
State                        NJ
Country                     USA
Half            0 days 01:20:32
40K             0 days 02:44:10
Pace                    0:06:39
TotalSeconds               9850
HalfSeconds                4832
Name: 579, dtype: object
Asela Age                          28
M/F                           F
City                      Asela
State                       NaN
Country                     ETH
Half            0 days 01:15:32
40K             0 days 02:25:49
Pace                    0:05:54
TotalSeconds               8749
HalfSeconds                4532
Name: F15, dtype: object
Ashaway Age                          38
M/F                           M
City                    Ashaway
State                        RI
Country                     USA
Half            0 days 01:23:57
40K             0 days 02:39:02
Pace                    0:06:24
TotalSeconds               9542
HalfSeconds                5037
Name: 1028, dtype: object
Ashburn Age                          32
M/F                           M
City                    Ashburn
State                        VA
Country                     USA
Half            0 days 01:28:10
40K             0 days 02:50:56
Pace                    0:06:54
TotalSeconds              10256
HalfSeconds                5290
Name: 929, dtype: object
Ashburnham Age                          53
M/F                           M
City                 Ashburnham
State                        MA
Country                     USA
Half            0 days 02:13:33
40K             0 days 04:17:20
Pace                    0:10:20
TotalSeconds              15440
HalfSeconds                8013
Name: 26915, dtype: object
Ashby Age                          50
M/F                           F
City                      Ashby
State                        MA
Country                     USA
Half            0 days 02:35:20
40K             0 days 05:23:36
Pace                    0:12:59
TotalSeconds              19416
HalfSeconds                9320
Name: 28192, dtype: object
Asheville Age                          29
M/F                           M
City                  Asheville
State                        NC
Country                     USA
Half            0 days 01:21:55
40K             0 days 02:44:34
Pace                    0:06:38
TotalSeconds               9874
HalfSeconds                4915
Name: 1707, dtype: object
Ashland Age                          26
M/F                           F
City                    Ashland
State                        MA
Country                     USA
Half            0 days 01:20:10
40K             0 days 02:43:30
Pace                    0:06:42
TotalSeconds               9810
HalfSeconds                4810
Name: 1402, dtype: object
Ashtabula Age                          27
M/F                           M
City                  Ashtabula
State                        OH
Country                     USA
Half            0 days 01:30:39
40K             0 days 02:55:49
Pace                    0:07:10
TotalSeconds              10549
HalfSeconds                5439
Name: 3545, dtype: object
Askam In Furness Age                           44
M/F                            M
City            Askam In Furness
State                        NaN
Country                      GBR
Half             0 days 01:50:00
40K              0 days 03:52:47
Pace                     0:09:23
TotalSeconds               13967
HalfSeconds                 6600
Name: 6124, dtype: object
Asnieres Age                          63
M/F                           M
City                   Asnieres
State                       NaN
Country                     FRA
Half            0 days 01:49:56
40K             0 days 04:12:14
Pace                    0:10:17
TotalSeconds              15134
HalfSeconds                6596
Name: 15178, dtype: object
Aspach Michelbach Age                            45
M/F                             M
City            Aspach Michelbach
State                         NaN
Country                       FRA
Half              0 days 01:29:04
40K               0 days 03:11:27
Pace                      0:07:47
TotalSeconds                11487
HalfSeconds                  5344
Name: 31419, dtype: object
Aspen Age                          48
M/F                           M
City                      Aspen
State                        CO
Country                     USA
Half            0 days 01:33:30
40K             0 days 03:10:36
Pace                    0:07:46
TotalSeconds              11436
HalfSeconds                5610
Name: 8218, dtype: object
Asperg Age                          56
M/F                           M
City                     Asperg
State                       NaN
Country                     GER
Half            0 days 01:54:59
40K             0 days 03:36:59
Pace                    0:08:45
TotalSeconds              13019
HalfSeconds                6899
Name: 30920, dtype: object
Aspers Age                          73
M/F                           M
City                     Aspers
State                        PA
Country                     USA
Half            0 days 02:11:58
40K             0 days 04:39:38
Pace                    0:11:29
TotalSeconds              16778
HalfSeconds                7918
Name: 25804, dtype: object
Astoria Age                          35
M/F                           M
City                    Astoria
State                        NY
Country                     USA
Half            0 days 01:26:21
40K             0 days 02:49:21
Pace                    0:06:50
TotalSeconds              10161
HalfSeconds                5181
Name: 4692, dtype: object
Atascadero Age                          62
M/F                           M
City                 Atascadero
State                        CA
Country                     USA
Half            0 days 01:57:56
40K             0 days 04:11:18
Pace                    0:10:10
TotalSeconds              15078
HalfSeconds                7076
Name: 21819, dtype: object
Atascocita Age                          25
M/F                           F
City                 Atascocita
State                        TX
Country                     USA
Half            0 days 01:43:07
40K             0 days 03:37:20
Pace                    0:08:50
TotalSeconds              13040
HalfSeconds                6187
Name: 14709, dtype: object
Atchison Age                          35
M/F                           M
City                   Atchison
State                        KS
Country                     USA
Half            0 days 01:33:50
40K             0 days 03:18:43
Pace                    0:08:02
TotalSeconds              11923
HalfSeconds                5630
Name: 5070, dtype: object
Athens Age                          26
M/F                           M
City                     Athens
State                        GA
Country                     USA
Half            0 days 01:24:22
40K             0 days 02:41:16
Pace                    0:06:31
TotalSeconds               9676
HalfSeconds                5062
Name: 2254, dtype: object
Atherton Age                          23
M/F                           F
City                   Atherton
State                        CA
Country                     USA
Half            0 days 01:32:44
40K             0 days 03:07:14
Pace                    0:07:36
TotalSeconds              11234
HalfSeconds                5564
Name: 9376, dtype: object
Athlone Age                          39
M/F                           M
City                    Athlone
State                       NaN
Country                     IRL
Half            0 days 01:24:56
40K             0 days 02:45:45
Pace                    0:06:42
TotalSeconds               9945
HalfSeconds                5096
Name: 2216, dtype: object
Atizapan De Zaragoza Age                               40
M/F                                M
City            Atizapan De Zaragoza
State                            NaN
Country                          MEX
Half                 0 days 01:25:36
40K                  0 days 02:57:49
Pace                         0:07:09
TotalSeconds                   10669
HalfSeconds                     5136
Name: 1876, dtype: object
Atkinson Age                          35
M/F                           M
City                   Atkinson
State                        NH
Country                     USA
Half            0 days 01:31:07
40K             0 days 02:56:58
Pace                    0:07:10
TotalSeconds              10618
HalfSeconds                5467
Name: 5094, dtype: object
Atlacomulco, Edo. De Mexico Age                                      30
M/F                                       F
City            Atlacomulco, Edo. De Mexico
State                                   NaN
Country                                 MEX
Half                        0 days 01:42:09
40K                         0 days 03:30:05
Pace                                0:08:29
TotalSeconds                          12605
HalfSeconds                            6129
Name: 10571, dtype: object
Atlanta Age                          34
M/F                           M
City                    Atlanta
State                        GA
Country                     USA
Half            0 days 01:17:06
40K             0 days 02:32:23
Pace                    0:06:09
TotalSeconds               9143
HalfSeconds                4626
Name: 338, dtype: object
Atlantic Beach Age                          51
M/F                           M
City             Atlantic Beach
State                        FL
Country                     USA
Half            0 days 01:42:08
40K             0 days 03:25:05
Pace                    0:08:19
TotalSeconds              12305
HalfSeconds                6128
Name: 12309, dtype: object
Atlantic Highlands Age                             49
M/F                              F
City            Atlantic Highlands
State                           NJ
Country                        USA
Half               0 days 01:59:41
40K                0 days 03:59:28
Pace                       0:09:39
TotalSeconds                 14368
HalfSeconds                   7181
Name: 22125, dtype: object
Atlantic Mine Age                          56
M/F                           M
City              Atlantic Mine
State                        MI
Country                     USA
Half            0 days 01:35:13
40K             0 days 03:06:19
Pace                    0:07:33
TotalSeconds              11179
HalfSeconds                5713
Name: 18953, dtype: object
Atmore Age                          24
M/F                           M
City                     Atmore
State                        AL
Country                     USA
Half            0 days 01:16:05
40K             0 days 02:23:37
Pace                    0:05:47
TotalSeconds               8617
HalfSeconds                4565
Name: 217, dtype: object
Atoka Age                          53
M/F                           F
City                      Atoka
State                        OK
Country                     USA
Half            0 days 01:58:14
40K             0 days 03:49:45
Pace                    0:09:16
TotalSeconds              13785
HalfSeconds                7094
Name: 24292, dtype: object
Attleboro Age                          29
M/F                           M
City                  Attleboro
State                        MA
Country                     USA
Half            0 days 01:29:21
40K             0 days 02:51:14
Pace                    0:06:54
TotalSeconds              10274
HalfSeconds                5361
Name: 3486, dtype: object
Auburn Age                          35
M/F                           M
City                     Auburn
State                        NY
Country                     USA
Half            0 days 01:14:34
40K             0 days 02:27:46
Pace                    0:05:59
TotalSeconds               8866
HalfSeconds                4474
Name: 154, dtype: object
Auburn Hills Age                          26
M/F                           F
City               Auburn Hills
State                        MI
Country                     USA
Half            0 days 01:37:21
40K             0 days 03:04:30
Pace                    0:07:25
TotalSeconds              11070
HalfSeconds                5841
Name: 10971, dtype: object
Auburndale Age                          55
M/F                           M
City                 Auburndale
State                        MA
Country                     USA
Half            0 days 01:32:52
40K             0 days 03:10:30
Pace                    0:07:44
TotalSeconds              11430
HalfSeconds                5572
Name: 5279, dtype: object
Auchenflower Age                          60
M/F                           F
City               Auchenflower
State                       NaN
Country                     AUS
Half            0 days 02:33:24
40K             0 days 05:12:44
Pace                    0:12:42
TotalSeconds              18764
HalfSeconds                9204
Name: 31596, dtype: object
Auckland Age                          25
M/F                           M
City                   Auckland
State                       NaN
Country                     NZL
Half            0 days 01:12:31
40K             0 days 02:24:55
Pace                    0:05:53
TotalSeconds               8695
HalfSeconds                4351
Name: 124, dtype: object
Audubon Age                          30
M/F                           F
City                    Audubon
State                        NJ
Country                     USA
Half            0 days 01:39:48
40K             0 days 03:17:29
Pace                    0:07:58
TotalSeconds              11849
HalfSeconds                5988
Name: 12591, dtype: object
Augres Age                          45
M/F                           F
City                     Augres
State                        MI
Country                     USA
Half            0 days 02:21:15
40K             0 days 04:52:13
Pace                    0:11:50
TotalSeconds              17533
HalfSeconds                8475
Name: 30732, dtype: object
Augusta Age                          28
M/F                           M
City                    Augusta
State                        GA
Country                     USA
Half            0 days 01:22:49
40K             0 days 02:53:06
Pace                    0:07:00
TotalSeconds              10386
HalfSeconds                4969
Name: 1246, dtype: object
Augustusburg Age                          44
M/F                           F
City               Augustusburg
State                       NaN
Country                     GER
Half            0 days 02:01:38
40K             0 days 04:03:14
Pace                    0:09:49
TotalSeconds              14594
HalfSeconds                7298
Name: 31792, dtype: object
Aulon Age                          52
M/F                           F
City                      Aulon
State                       NaN
Country                     FRA
Half            0 days 02:17:34
40K             0 days 04:51:10
Pace                    0:11:42
TotalSeconds              17470
HalfSeconds                8254
Name: 25070, dtype: object
Aurora Age                          43
M/F                           M
City                     Aurora
State                        ON
Country                     CAN
Half            0 days 00:00:00
40K             0 days 00:00:00
Pace                    0:07:08
TotalSeconds                  0
HalfSeconds                   0
Name: 7513, dtype: object
Austin Age                          29
M/F                           M
City                     Austin
State                        TX
Country                     USA
Half            0 days 01:20:39
40K             0 days 02:41:00
Pace                    0:06:32
TotalSeconds               9660
HalfSeconds                4839
Name: 2322, dtype: object
Austintown Age                          34
M/F                           M
City                 Austintown
State                        OH
Country                     USA
Half            0 days 01:27:39
40K             0 days 02:47:57
Pace                    0:06:47
TotalSeconds              10077
HalfSeconds                5259
Name: 2307, dtype: object
Avellaneda Age                          41
M/F                           F
City                 Avellaneda
State                       NaN
Country                     ARG
Half            0 days 01:52:56
40K             0 days 03:40:23
Pace                    0:08:54
TotalSeconds              13223
HalfSeconds                6776
Name: 20605, dtype: object
Avenel Age                          40
M/F                           F
City                     Avenel
State                        NJ
Country                     USA
Half            0 days 02:07:48
40K             0 days 03:54:41
Pace                    0:09:23
TotalSeconds              14081
HalfSeconds                7668
Name: 8559, dtype: object
Avenhorn Age                          48
M/F                           M
City                   Avenhorn
State                       NaN
Country                     NED
Half            0 days 01:28:46
40K             0 days 03:04:33
Pace                    0:07:31
TotalSeconds              11073
HalfSeconds                5326
Name: 3257, dtype: object
Averill Park Age                          51
M/F                           M
City               Averill Park
State                        NY

Basco Age                          45
M/F                           F
City                      Basco
State                        IL
Country                     USA
Half            0 days 01:47:19
40K             0 days 03:28:58
Pace                    0:08:25
TotalSeconds              12538
HalfSeconds                6439
Name: 19734, dtype: object
Basel Age                          38
M/F                           M
City                      Basel
State                       NaN
Country                     SUI
Half            0 days 01:38:44
40K             0 days 03:22:05
Pace                    0:08:10
TotalSeconds              12125
HalfSeconds                5924
Name: 31377, dtype: object
Basking Ridge Age                          19
M/F                           M
City              Basking Ridge
State                        NJ
Country                     USA
Half            0 days 01:42:22
40K             0 days 03:15:20
Pace                    0:07:53
TotalSeconds              11720
HalfSeconds                6142
Name: 3823, dtype: object
Basom Age                          25
M/F                           F
City                      Basom
State                        NY
Country                     USA
Half            0 days 01:40:52
40K             0 days 03:09:54
Pace                    0:07:41
TotalSeconds              11394
HalfSeconds                6052
Name: 10522, dtype: object
Bassano Del Grappa Age                             41
M/F                              M
City            Bassano Del Grappa
State                          NaN
Country                        ITA
Half               0 days 01:24:20
40K                0 days 02:46:15
Pace                       0:06:44
TotalSeconds                  9975
HalfSeconds                   5060
Name: 2043, dtype: object
Bassersdorf Age                          30
M/F                           M
City                Bassersdorf
State                       NaN
Country                     SUI
Half            0 days 01:27:55
40K             0 days 02:58:26
Pace                    0:07:11
TotalSeconds              10706
HalfSeconds                5275
Name: 454, dtype: object
Bassett Age                          26
M/F                           M
City                    Bassett
State                        VA
Country                     USA
Half            0 days 01:32:27
40K             0 days 03:01:11
Pace                    0:07:16
TotalSeconds              10871
HalfSeconds                5547
Name: 5278, dtype: object
Batavia Age                          31
M/F                           F
City                    Batavia
State                        IL
Country                     USA
Half            0 days 01:39:17
40K             0 days 03:07:59
Pace                    0:07:33
TotalSeconds              11279
HalfSeconds                5957
Name: 13276, dtype: object
Batawa Age                          44
M/F                           F
City                     Batawa
State                        ON
Country                     CAN
Half            0 days 01:27:12
40K             0 days 02:49:30
Pace                    0:06:50
TotalSeconds              10170
HalfSeconds                5232
Name: 4726, dtype: object
Bath Age                          30
M/F                           M
City                       Bath
State                        MI
Country                     USA
Half            0 days 01:31:05
40K             0 days 03:11:21
Pace                    0:07:54
TotalSeconds              11481
HalfSeconds                5465
Name: 3812, dtype: object
Bathurst Age                          32
M/F                           M
City                   Bathurst
State                        NB
Country                     CAN
Half            0 days 01:21:39
40K             0 days 02:42:24
Pace                    0:06:35
TotalSeconds               9744
HalfSeconds                4899
Name: 1184, dtype: object
Baton Rouge Age                          24
M/F                           M
City                Baton Rouge
State                        LA
Country                     USA
Half            0 days 01:14:42
40K             0 days 02:28:44
Pace                    0:06:02
TotalSeconds               8924
HalfSeconds                4482
Name: 155, dtype: object
Battle Age                          56
M/F                           F
City                     Battle
State                       NaN
Country                     GBR
Half            0 days 01:53:58
40K             0 days 03:50:07
Pace                    0:09:19
TotalSeconds              13807
HalfSeconds                6838
Name: 23463, dtype: object
Battle Creek Age                          47
M/F                           M
City               Battle Creek
State                        MI
Country                     USA
Half            0 days 01:38:54
40K             0 days 03:25:25
Pace                    0:08:23
TotalSeconds              12325
HalfSeconds                5934
Name: 9538, dtype: object
Battle Ground Age                          38
M/F                           M
City              Battle Ground
State                        WA
Country                     USA
Half            0 days 01:26:47
40K             0 days 03:08:08
Pace                    0:07:47
TotalSeconds              11288
HalfSeconds                5207
Name: 4608, dtype: object
Battle Lake Age                          59
M/F                           M
City                Battle Lake
State                        MN
Country                     USA
Half            0 days 01:59:09
40K             0 days 04:37:14
Pace                    0:11:15
TotalSeconds              16634
HalfSeconds                7149
Name: 19151, dtype: object
Battlefield Age                          30
M/F                           M
City                Battlefield
State                        MO
Country                     USA
Half            0 days 01:20:55
40K             0 days 02:49:37
Pace                    0:06:55
TotalSeconds              10177
HalfSeconds                4855
Name: 425, dtype: object
Bavel Age                          66
M/F                           M
City                      Bavel
State                       NaN
Country                     NED
Half            0 days 01:31:59
40K             0 days 03:02:14
Pace                    0:07:23
TotalSeconds              10934
HalfSeconds                5519
Name: 4239, dtype: object
Bay City Age                          55
M/F                           M
City                   Bay City
State                        MI
Country                     USA
Half            0 days 01:45:39
40K             0 days 03:26:25
Pace                    0:08:19
TotalSeconds              12385
HalfSeconds                6339
Name: 14763, dtype: object
Bay Shore Age                          27
M/F                           F
City                  Bay Shore
State                        NY
Country                     USA
Half            0 days 01:36:33
40K             0 days 03:05:42
Pace                    0:07:28
TotalSeconds              11142
HalfSeconds                5793
Name: 11974, dtype: object
Bay Village Age                          41
M/F                           M
City                Bay Village
State                        OH
Country                     USA
Half            0 days 01:26:12
40K             0 days 02:57:01
Pace                    0:07:15
TotalSeconds              10621
HalfSeconds                5172
Name: 2885, dtype: object
Bayport Age                          30
M/F                           M
City                    Bayport
State                        NY
Country                     USA
Half            0 days 01:32:30
40K             0 days 03:06:49
Pace                    0:07:36
TotalSeconds              11209
HalfSeconds                5550
Name: 2535, dtype: object
Bayreuth Age                          50
M/F                           M
City                   Bayreuth
State                       NaN
Country                     GER
Half            0 days 01:53:34
40K             0 days 03:46:05
Pace                    0:09:09
TotalSeconds              13565
HalfSeconds                6814
Name: 6263, dtype: object
Bayside Age                          35
M/F                           M
City                    Bayside
State                        WI
Country                     USA
Half            0 days 01:28:40
40K             0 days 02:56:40
Pace                    0:07:13
TotalSeconds              10600
HalfSeconds                5320
Name: 1853, dtype: object
Baytown Age                          53
M/F                           F
City                    Baytown
State                        TX
Country                     USA
Half            0 days 01:56:26
40K             0 days 03:43:30
Pace                    0:09:02
TotalSeconds              13410
HalfSeconds                6986
Name: 24159, dtype: object
Bayville Age                          41
M/F                           F
City                   Bayville
State                        NY
Country                     USA
Half            0 days 01:38:18
40K             0 days 03:20:16
Pace                    0:08:07
TotalSeconds              12016
HalfSeconds                5898
Name: 5050, dtype: object
Beach City Age                          45
M/F                           F
City                 Beach City
State                        TX
Country                     USA
Half            0 days 01:56:55
40K             0 days 03:49:14
Pace                    0:09:15
TotalSeconds              13754
HalfSeconds                7015
Name: 23275, dtype: object
Beach Lake Age                          42
M/F                           F
City                 Beach Lake
State                        PA
Country                     USA
Half            0 days 01:49:34
40K             0 days 03:34:27
Pace                    0:08:39
TotalSeconds              12867
HalfSeconds                6574
Name: 17602, dtype: object
Beachwood Age                          27
M/F                           F
City                  Beachwood
State                        OH
Country                     USA
Half            0 days 01:41:08
40K             0 days 03:11:59
Pace                    0:07:44
TotalSeconds              11519
HalfSeconds                6068
Name: 7270, dtype: object
Beacon Age                          41
M/F                           M
City                     Beacon
State                        NY
Country                     USA
Half            0 days 01:18:29
40K             0 days 02:37:39
Pace                    0:06:24
TotalSeconds               9459
HalfSeconds                4709
Name: 915, dtype: object
Beaconsfield Age                          57
M/F                           M
City               Beaconsfield
State                        QC
Country                     CAN
Half            0 days 01:35:23
40K             0 days 03:10:37
Pace                    0:07:44
TotalSeconds              11437
HalfSeconds                5723
Name: 7678, dtype: object
Beamsville Age                          30
M/F                           F
City                 Beamsville
State                        ON
Country                     CAN
Half            0 days 01:35:32
40K             0 days 03:04:46
Pace                    0:07:26
TotalSeconds              11086
HalfSeconds                5732
Name: 12971, dtype: object
Bear Age                          33
M/F                           M
City                       Bear
State                        DE
Country                     USA
Half            0 days 01:28:56
40K             0 days 02:49:36
Pace                    0:06:50
TotalSeconds              10176
HalfSeconds                5336
Name: 3869, dtype: object
Beaufort Age                          28
M/F                           F
City                   Beaufort
State                        SC
Country                     USA
Half            0 days 01:25:34
40K             0 days 02:48:41
Pace                    0:06:48
TotalSeconds              10121
HalfSeconds                5134
Name: 1496, dtype: object
Beauharnois Age                          58
M/F                           M
City                Beauharnois
State                        QC
Country                     CAN
Half            0 days 01:42:10
40K             0 days 03:24:27
Pace                    0:08:15
TotalSeconds              12267
HalfSeconds                6130
Name: 10294, dtype: object
Beaumont Age                          32
M/F                           F
City                   Beaumont
State                        TX
Country                     USA
Half            0 days 01:48:23
40K             0 days 03:33:57
Pace                    0:08:38
TotalSeconds              12837
HalfSeconds                6503
Name: 18287, dtype: object
Beaupre Age                          50
M/F                           M
City                    Beaupre
State                        QC
Country                     CAN
Half            0 days 01:34:04
40K             0 days 03:05:24
Pace                    0:07:32
TotalSeconds              11124
HalfSeconds                5644
Name: 8046, dtype: object
Beaux Arts Age                          51
M/F                           F
City                 Beaux Arts
State                        WA
Country                     USA
Half            0 days 01:54:32
40K             0 days 03:40:27
Pace                    0:08:53
TotalSeconds              13227
HalfSeconds                6872
Name: 24677, dtype: object
Beaver Age                          46
M/F                           F
City                     Beaver
State                        PA
Country                     USA
Half            0 days 01:45:45
40K             0 days 03:29:20
Pace                    0:08:28
TotalSeconds              12560
HalfSeconds                6345
Name: 17936, dtype: object
Beaver Bank Age                          59
M/F                           M
City                Beaver Bank
State                        NS
Country                     CAN
Half            0 days 01:49:16
40K             0 days 03:33:19
Pace                    0:08:38
TotalSeconds              12799
HalfSeconds                6556
Name: 18975, dtype: object
Beaver Dam Age                          59
M/F                           F
City                 Beaver Dam
State                        WI
Country                     USA
Half            0 days 02:01:35
40K             0 days 04:04:05
Pace                    0:09:53
TotalSeconds              14645
HalfSeconds                7295
Name: 21257, dtype: object
Beavercreek Age                          39
M/F                           M
City                Beavercreek
State                        OH
Country                     USA
Half            0 days 01:19:31
40K             0 days 02:43:04
Pace                    0:06:37
TotalSeconds               9784
HalfSeconds                4771
Name: 340, dtype: object
Beaverdam Age                          46
M/F                           M
City                  Beaverdam
State                        VA
Country                     USA
Half            0 days 01:47:51
40K             0 days 03:38:24
Pace                    0:08:48
TotalSeconds              13104
HalfSeconds                6471
Name: 11243, dtype: object
Beaverton Age                          47
M/F                           M
City                  Beaverton
State                        OR
Country                     USA
Half            0 days 01:30:28
40K             0 days 02:57:03
Pace                    0:07:09
TotalSeconds              10623
HalfSeconds                5428
Name: 8417, dtype: object
Becancour Age                          33
M/F                           M
City                  Becancour
State                        QC
Country                     CAN
Half            0 days 01:29:17
40K             0 days 02:57:35
Pace                    0:07:10
TotalSeconds              10655
HalfSeconds                5357
Name: 3822, dtype: object
Bedford Age                          32
M/F                           M
City                    Bedford
State                        MA
Country                     USA
Half            0 days 01:24:46
40K             0 days 02:41:47
Pace                    0:06:32
TotalSeconds               9707
HalfSeconds                5086
Name: 420, dtype: object
Bedford Corners Age                          44
M/F                           M
City            Bedford Corners
State                        NY
Country                     USA
Half            0 days 01:59:52
40K             0 days 03:47:20
Pace                    0:09:05
TotalSeconds              13640
HalfSeconds                7192
Name: 28946, dtype: object
Bedford Hills Age                          52
M/F                           F
City              Bedford Hills
State                        NY
Country                     USA
Half            0 days 02:21:56
40K             0 days 04:42:16
Pace                    0:11:25
TotalSeconds              16936
HalfSeconds                8516
Name: 27235, dtype: object
Bedminster Age                          58
M/F                           M
City                 Bedminster
State                        NJ
Country                     USA
Half            0 days 02:05:43
40K             0 days 03:57:20
Pace                    0:09:29
TotalSeconds              14240
HalfSeconds                7543
Name: 14933, dtype: object
Bee Cave Age                          39
M/F                           M
City                   Bee Cave
State                        TX
Country                     USA
Half            0 days 01:29:06
40K             0 days 03:00:02
Pace                    0:07:20
TotalSeconds              10802
HalfSeconds                5346
Name: 6931, dtype: object
Beechville Age                          38
M/F                           F
City                 Beechville
State                        NS
Country                     CAN
Half            0 days 01:38:55
40K             0 days 03:15:36
Pace                    0:07:55
TotalSeconds              11736
HalfSeconds                5935
Name: 10249, dtype: object
Beeton Age                          36
M/F                           M
City                     Beeton
State                        ON
Country                     CAN
Half            0 days 01:25:42
40K             0 days 02:46:26
Pace                    0:06:43
TotalSeconds               9986
HalfSeconds                5142
Name: 5848, dtype: object
Beijiing Age                          56
M/F                           M
City                   Beijiing
State                       NaN
Country                     CHN
Half            0 days 01:39:33
40K             0 days 03:35:37
Pace                    0:08:48
TotalSeconds              12937
HalfSeconds                5973
Name: 13408, dtype: object
Beijing Age                          50
M/F                           M
City                    Beijing
State                       NaN
Country                     CHN
Half            0 days 01:25:22
40K             0 days 02:47:18
Pace                    0:06:44
TotalSeconds              10038
HalfSeconds                5122
Name: 2166, dtype: object
Beijing,P.R. Age                          43
M/F                           M
City               Beijing,P.R.
State                       NaN
Country                     CHN
Half            0 days 01:29:53
40K             0 days 03:12:49
Pace                    0:07:49
TotalSeconds              11569
HalfSeconds                5393
Name: 4670, dtype: object
Bekoji Age                          28
M/F                           F
City                     Bekoji
State                       NaN
Country                     ETH
Half            0 days 01:15:48
40K             0 days 02:33:51
Pace                    0:06:13
TotalSeconds               9231
HalfSeconds                4548
Name: F2, dtype: object

Name: 31861, dtype: object
Bixby Age                          33
M/F                           F
City                      Bixby
State                        OK
Country                     USA
Half            0 days 01:26:17
40K             0 days 02:44:27
Pace                    0:06:37
TotalSeconds               9867
HalfSeconds                5177
Name: 3431, dtype: object
Bizkaia Age                          66
M/F                           M
City                    Bizkaia
State                       NaN
Country                     ESP
Half            0 days 02:05:03
40K             0 days 04:23:33
Pace                    0:10:38
TotalSeconds              15813
HalfSeconds                7503
Name: 25511, dtype: object
Bjarred Age                          39
M/F                           F
City                    Bjarred
State                       NaN
Country                     SWE
Half            0 days 01:41:08
40K             0 days 03:15:56
Pace                    0:07:54
TotalSeconds              11756
HalfSeconds                6068
Name: 11044, dtype: object
Black Hawk Age                          44
M/F                           M
City                 Black Hawk
State                        CO
Country                     USA
Half            0 days 01:34:34
40K             0 days 03:13:10
Pace                    0:07:47
TotalSeconds              11590
HalfSeconds                5674
Name: 7004, dtype: object
Black River Falls Age                            38
M/F                             M
City            Black River Falls
State                          WI
Country                       USA
Half              0 days 01:32:45
40K               0 days 03:17:55
Pace                      0:08:02
TotalSeconds                11875
HalfSeconds                  5565
Name: 5136, dtype: object
Blackfoot Age                          45
M/F                           M
City                  Blackfoot
State                        ID
Country                     USA
Half            0 days 01:44:57
40K             0 days 03:29:22
Pace                    0:08:36
TotalSeconds              12562
HalfSeconds                6297
Name: 11605, dtype: object
Blacklick Age                          44
M/F                           M
City                  Blacklick
State                        OH
Country                     USA
Half            0 days 01:30:47
40K             0 days 02:59:19
Pace                    0:07:15
TotalSeconds              10759
HalfSeconds                5447
Name: 5465, dtype: object
Blacksburg Age                          22
M/F                           F
City                 Blacksburg
State                        VA
Country                     USA
Half            0 days 01:34:42
40K             0 days 03:01:02
Pace                    0:07:17
TotalSeconds              10862
HalfSeconds                5682
Name: 10077, dtype: object
Blackstone Age                          57
M/F                           M
City                 Blackstone
State                        MA
Country                     USA
Half            0 days 01:39:12
40K             0 days 03:11:08
Pace                    0:07:44
TotalSeconds              11468
HalfSeconds                5952
Name: 11664, dtype: object
Blackwood Age                          49
M/F                           F
City                  Blackwood
State                        NJ
Country                     USA
Half            0 days 01:48:54
40K             0 days 03:33:51
Pace                    0:08:39
TotalSeconds              12831
HalfSeconds                6534
Name: 23468, dtype: object
Blaine Age                          37
M/F                           M
City                     Blaine
State                        MN
Country                     USA
Half            0 days 01:37:54
40K             0 days 03:13:06
Pace                    0:07:49
TotalSeconds              11586
HalfSeconds                5874
Name: 6242, dtype: object
Blainville Age                          34
M/F                           M
City                 Blainville
State                        QC
Country                     CAN
Half            0 days 01:28:02
40K             0 days 02:59:28
Pace                    0:07:17
TotalSeconds              10768
HalfSeconds                5282
Name: 3177, dtype: object
Blair Age                          33
M/F                           F
City                      Blair
State                        NE
Country                     USA
Half            0 days 01:45:01
40K             0 days 03:25:56
Pace                    0:08:16
TotalSeconds              12356
HalfSeconds                6301
Name: 17236, dtype: object
Blairstown Age                          38
M/F                           F
City                 Blairstown
State                        NJ
Country                     USA
Half            0 days 01:48:08
40K             0 days 03:35:18
Pace                    0:08:41
TotalSeconds              12918
HalfSeconds                6488
Name: 19540, dtype: object
Bland Age                          50
M/F                           M
City                      Bland
State                        VA
Country                     USA
Half            0 days 01:27:43
40K             0 days 02:52:54
Pace                    0:06:59
TotalSeconds              10374
HalfSeconds                5263
Name: 8396, dtype: object
Blandford Age                          58
M/F                           M
City                  Blandford
State                        MA
Country                     USA
Half            0 days 01:56:54
40K             0 days 03:59:02
Pace                    0:09:36
TotalSeconds              14342
HalfSeconds                7014
Name: 17041, dtype: object
Blauvelt Age                          33
M/F                           F
City                   Blauvelt
State                        NY
Country                     USA
Half            0 days 02:12:37
40K             0 days 04:35:23
Pace                    0:11:04
TotalSeconds              16523
HalfSeconds                7957
Name: 29909, dtype: object
Blawnox Age                          30
M/F                           F
City                    Blawnox
State                        PA
Country                     USA
Half            0 days 01:47:10
40K             0 days 03:56:11
Pace                    0:09:28
TotalSeconds              14171
HalfSeconds                6430
Name: 16194, dtype: object
Bloomfield Age                          32
M/F                           M
City                 Bloomfield
State                        NJ
Country                     USA
Half            0 days 01:21:28
40K             0 days 02:37:56
Pace                    0:06:23
TotalSeconds               9476
HalfSeconds                4888
Name: 800, dtype: object
Bloomfield Hills Age                           51
M/F                            M
City            Bloomfield Hills
State                         MI
Country                      USA
Half             0 days 01:32:08
40K              0 days 03:00:31
Pace                     0:07:15
TotalSeconds               10831
HalfSeconds                 5528
Name: 2049, dtype: object
Bloomingdale Age                          46
M/F                           M
City               Bloomingdale
State                        IL
Country                     USA
Half            0 days 01:35:25
40K             0 days 03:13:10
Pace                    0:07:48
TotalSeconds              11590
HalfSeconds                5725
Name: 11072, dtype: object
Bloomington Age                          41
M/F                           M
City                Bloomington
State                        MN
Country                     USA
Half            0 days 01:28:15
40K             0 days 02:51:12
Pace                    0:06:54
TotalSeconds              10272
HalfSeconds                5295
Name: 1932, dtype: object
Bloomsburg Age                          39
M/F                           F
City                 Bloomsburg
State                        PA
Country                     USA
Half            0 days 01:47:09
40K             0 days 03:28:16
Pace                    0:08:23
TotalSeconds              12496
HalfSeconds                6429
Name: 15368, dtype: object
Bloomsbury Age                          27
M/F                           F
City                 Bloomsbury
State                        NJ
Country                     USA
Half            0 days 01:48:01
40K             0 days 03:50:28
Pace                    0:09:21
TotalSeconds              13828
HalfSeconds                6481
Name: 9898, dtype: object
Blowing Rock Age                          26
M/F                           F
City               Blowing Rock
State                        NC
Country                     USA
Half            0 days 01:17:01
40K             0 days 02:28:58
Pace                    0:06:01
TotalSeconds               8938
HalfSeconds                4621
Name: F17, dtype: object
Bludesch Age                          58
M/F                           M
City                   Bludesch
State                       NaN
Country                     AUT
Half            0 days 01:59:21
40K             0 days 04:11:48
Pace                    0:10:07
TotalSeconds              15108
HalfSeconds                7161
Name: 31132, dtype: object
Blue Bell Age                          46
M/F                           F
City                  Blue Bell
State                        PA
Country                     USA
Half            0 days 01:48:16
40K             0 days 03:28:54
Pace                    0:08:21
TotalSeconds              12534
HalfSeconds                6496
Name: 14060, dtype: object
Blue Springs Age                          52
M/F                           M
City               Blue Springs
State                        MO
Country                     USA
Half            0 days 01:43:38
40K             0 days 03:30:02
Pace                    0:08:29
TotalSeconds              12602
HalfSeconds                6218
Name: 13303, dtype: object
Bluffdale Age                          50
M/F                           F
City                  Bluffdale
State                        UT
Country                     USA
Half            0 days 02:05:34
40K             0 days 04:08:49
Pace                    0:10:03
TotalSeconds              14929
HalfSeconds                7534
Name: 23407, dtype: object
Bluffton Age                          34
M/F                           M
City                   Bluffton
State                        SC
Country                     USA
Half            0 days 01:23:05
40K             0 days 02:43:32
Pace                    0:06:38
TotalSeconds               9812
HalfSeconds                4985
Name: 1750, dtype: object
Blumenort Age                          27
M/F                           M
City                  Blumenort
State                        MB
Country                     CAN
Half            0 days 01:29:15
40K             0 days 02:49:33
Pace                    0:06:49
TotalSeconds              10173
HalfSeconds                5355
Name: 4562, dtype: object
Boa Vista Age                          41
M/F                           M
City                  Boa Vista
State                       NaN
Country                     BRA
Half            0 days 01:48:33
40K             0 days 03:38:02
Pace                    0:08:48
TotalSeconds              13082
HalfSeconds                6513
Name: 30272, dtype: object
Boalsburg Age                          35
M/F                           F
City                  Boalsburg
State                        PA
Country                     USA
Half            0 days 01:43:10
40K             0 days 03:24:07
Pace                    0:08:15
TotalSeconds              12247
HalfSeconds                6190
Name: 17096, dtype: object
Boardman Age                          55
M/F                           F
City                   Boardman
State                        OR
Country                     USA
Half            0 days 01:57:01
40K             0 days 03:44:42
Pace                    0:09:01
TotalSeconds              13482
HalfSeconds                7021
Name: 22525, dtype: object
Boca Raton Age                          28
M/F                           M
City                 Boca Raton
State                        FL
Country                     USA
Half            0 days 01:25:13
40K             0 days 02:57:51
Pace                    0:07:14
TotalSeconds              10671
HalfSeconds                5113
Name: 1696, dtype: object
Bodenheim Age                          46
M/F                           M
City                  Bodenheim
State                       NaN
Country                     GER
Half            0 days 01:30:02
40K             0 days 02:57:19
Pace                    0:07:11
TotalSeconds              10639
HalfSeconds                5402
Name: 7023, dtype: object
Bogart Age                          41
M/F                           M
City                     Bogart
State                        GA
Country                     USA
Half            0 days 01:47:42
40K             0 days 03:31:02
Pace                    0:08:29
TotalSeconds              12662
HalfSeconds                6462
Name: 8911, dtype: object
Bogota Age                          37
M/F                           M
City                     Bogota
State                       NaN
Country                     COL
Half            0 days 01:22:30
40K             0 days 02:38:55
Pace                    0:06:24
TotalSeconds               9535
HalfSeconds                4950
Name: 651, dtype: object
Bogota D. C. Age                          65
M/F                           F
City               Bogota D. C.
State                       NaN
Country                     COL
Half            0 days 02:00:35
40K             0 days 04:07:49
Pace                    0:09:59
TotalSeconds              14869
HalfSeconds                7235
Name: 25849, dtype: object
Bogota D.c. Age                          30
M/F                           M
City                Bogota D.c.
State                       NaN
Country                     COL
Half            0 days 01:29:21
40K             0 days 02:54:04
Pace                    0:07:02
TotalSeconds              10444
HalfSeconds                5361
Name: 5400, dtype: object
Bogota Dc Age                          43
M/F                           M
City                  Bogota Dc
State                       NaN
Country                     COL
Half            0 days 01:30:04
40K             0 days 02:57:02
Pace                    0:07:09
TotalSeconds              10622
HalfSeconds                5404
Name: 2422, dtype: object
Bogota Dc. Age                          28
M/F                           M
City                 Bogota Dc.
State                       NaN
Country                     COL
Half            0 days 01:21:05
40K             0 days 02:37:46
Pace                    0:06:24
TotalSeconds               9466
HalfSeconds                4865
Name: 2316, dtype: object
Bogota, D.c: Age                          50
M/F                           M
City               Bogota, D.c:
State                       NaN
Country                     COL
Half            0 days 01:44:21
40K             0 days 03:17:43
Pace                    0:08:00
TotalSeconds              11863
HalfSeconds                6261
Name: 13562, dtype: object
Bogote D.c. Age                          55
M/F                           M
City                Bogote D.c.
State                       NaN
Country                     COL
Half            0 days 01:55:28
40K             0 days 04:03:43
Pace                    0:09:53
TotalSeconds              14623
HalfSeconds                6928
Name: 10614, dtype: object
Bogot Age                          50
M/F                           M
City                     Bogot
State                       NaN
Country                     COL
Half            0 days 01:24:34
40K             0 days 02:47:54
Pace                    0:06:49
TotalSeconds              10074
HalfSeconds                5074
Name: 5823, dtype: object
Boiling Springs Age                          45
M/F                           M
City            Boiling Springs
State                        SC
Country                     USA
Half            0 days 01:33:49
40K             0 days 03:00:35
Pace                    0:07:18
TotalSeconds              10835
HalfSeconds                5629
Name: 6643, dtype: object
Bois Le Roi Age                          43
M/F                           M
City                Bois Le Roi
State                       NaN
Country                     FRA
Half            0 days 01:43:21
40K             0 days 03:28:46
Pace                    0:08:26
TotalSeconds              12526
HalfSeconds                6201
Name: 30194, dtype: object
Boisbriand Age                          50
M/F                           M
City                 Boisbriand
State                        QC
Country                     CAN
Half            0 days 01:50:00
40K             0 days 03:43:07
Pace                    0:08:59
TotalSeconds              13387
HalfSeconds                6600
Name: 13627, dtype: object
Boischatel Age                          41
M/F                           M
City                 Boischatel
State                        QC
Country                     CAN
Half            0 days 01:28:33
40K             0 days 02:50:22
Pace                    0:06:52
TotalSeconds              10222
HalfSeconds                5313
Name: 6651, dtype: object
Boise Age                          28
M/F                           M
City                      Boise
State                        ID
Country                     USA
Half            0 days 01:27:18
40K             0 days 02:47:12
Pace                    0:06:44
TotalSeconds              10032
HalfSeconds                5238
Name: 2454, dtype: object
Bolinas Age                          55
M/F                           M
City                    Bolinas
State                        CA
Country                     USA
Half            0 days 01:38:18
40K             0 days 03:10:38
Pace                    0:07:42
TotalSeconds              11438
HalfSeconds                5898
Name: 13537, dtype: object
Bolingbroke Age                          55
M/F                           M
City                Bolingbroke
State                        GA
Country                     USA
Half            0 days 01:49:37
40K             0 days 03:44:38
Pace                    0:09:07
TotalSeconds              13478
HalfSeconds                6577
Name: 20037, dtype: object
Bolingbrook Age                          34
M/F                           M
City                Bolingbrook
State                        IL
Country                     USA
Half            0 days 01:26:37
40K             0 days 02:49:01
Pace                    0:06:51
TotalSeconds              10141
HalfSeconds                5197
Name: 556, dtype: object
Bolivar Age                          60
M/F                           M
City                    Bolivar
State                        NY
Country                     USA
Half            0 days 01:43:44
40K             0 days 03:34:32
Pace                    0:08:44
TotalSeconds              12872
HalfSeconds                6224
Name: 13606, dtype: object
Bolton Age                          38
M/F                           F
City                     Bolton
State                        CT
Country                     USA
Half            0 days 01:43:23
40K             0 days 03:27:49
Pace                    0:08:23
TotalSeconds              12469
HalfSeconds                6203
Name: 14775, dtype: object
Bolzano Age                          53
M/F                           F
City                    Bolzano
State                       NaN
Country                     ITA
Half            0 days 02:18:14
40K             0 days 04:47:11
Pace                    0:11:36
TotalSeconds              17231

Brisbane Age                          55
M/F                           M
City                   Brisbane
State                       NaN
Country                     AUS
Half            0 days 01:35:18
40K             0 days 03:09:08
Pace                    0:07:40
TotalSeconds              11348
HalfSeconds                5718
Name: 12577, dtype: object
Bristol Age                          34
M/F                           M
City                    Bristol
State                        RI
Country                     USA
Half            0 days 01:27:05
40K             0 days 02:56:28
Pace                    0:07:11
TotalSeconds              10588
HalfSeconds                5225
Name: 3452, dtype: object
Bristow Age                          46
M/F                           F
City                    Bristow
State                        VA
Country                     USA
Half            0 days 01:54:54
40K             0 days 03:44:47
Pace                    0:09:06
TotalSeconds              13487
HalfSeconds                6894
Name: 22593, dtype: object
Brno Age                          42
M/F                           M
City                       Brno
State                       NaN
Country                     CZE
Half            0 days 01:33:34
40K             0 days 03:00:47
Pace                    0:07:18
TotalSeconds              10847
HalfSeconds                5614
Name: 7385, dtype: object
Broadbeach Waters Age                            54
M/F                             F
City            Broadbeach Waters
State                         NaN
Country                       AUS
Half              0 days 02:34:16
40K               0 days 05:05:13
Pace                      0:12:22
TotalSeconds                18313
HalfSeconds                  9256
Name: 31550, dtype: object
Broadview Heights Age                            42
M/F                             M
City            Broadview Heights
State                          OH
Country                       USA
Half              0 days 01:38:15
40K               0 days 03:14:25
Pace                      0:07:50
TotalSeconds                11665
HalfSeconds                  5895
Name: 8307, dtype: object
Brockport Age                          24
M/F                           M
City                  Brockport
State                        NY
Country                     USA
Half            0 days 01:31:02
40K             0 days 03:04:36
Pace                    0:07:30
TotalSeconds              11076
HalfSeconds                5462
Name: 4926, dtype: object
Brockton Age                          34
M/F                           F
City                   Brockton
State                        MA
Country                     USA
Half            0 days 01:33:50
40K             0 days 03:05:21
Pace                    0:07:28
TotalSeconds              11121
HalfSeconds                5630
Name: 6905, dtype: object
Brockville Age                          49
M/F                           F
City                 Brockville
State                        ON
Country                     CAN
Half            0 days 01:48:57
40K             0 days 03:34:59
Pace                    0:08:42
TotalSeconds              12899
HalfSeconds                6537
Name: 24433, dtype: object
Brodheadsville Age                          36
M/F                           M
City             Brodheadsville
State                        PA
Country                     USA
Half            0 days 01:24:43
40K             0 days 02:45:21
Pace                    0:06:40
TotalSeconds               9921
HalfSeconds                5083
Name: 3103, dtype: object
Broken Arrow Age                          38
M/F                           F
City               Broken Arrow
State                        OK
Country                     USA
Half            0 days 01:50:11
40K             0 days 03:40:48
Pace                    0:08:53
TotalSeconds              13248
HalfSeconds                6611
Name: 13792, dtype: object
Bromma Age                          40
M/F                           M
City                     Bromma
State                       NaN
Country                     SWE
Half            0 days 01:26:45
40K             0 days 02:46:46
Pace                    0:06:43
TotalSeconds              10006
HalfSeconds                5205
Name: 3174, dtype: object
Bronx Age                          28
M/F                           M
City                      Bronx
State                        NY
Country                     USA
Half            0 days 01:17:04
40K             0 days 02:31:06
Pace                    0:06:09
TotalSeconds               9066
HalfSeconds                4624
Name: 583, dtype: object
Bronx, Age                          20
M/F                           F
City                     Bronx,
State                        NY
Country                     USA
Half            0 days 02:25:13
40K             0 days 05:02:51
Pace                    0:12:14
TotalSeconds              18171
HalfSeconds                8713
Name: 26814, dtype: object
Bronxville Age                          30
M/F                           M
City                 Bronxville
State                        NY
Country                     USA
Half            0 days 01:39:58
40K             0 days 03:23:58
Pace                    0:08:13
TotalSeconds              12238
HalfSeconds                5998
Name: 1527, dtype: object
Brook Park Age                          26
M/F                           M
City                 Brook Park
State                        OH
Country                     USA
Half            0 days 01:27:47
40K             0 days 03:08:19
Pace                    0:07:40
TotalSeconds              11299
HalfSeconds                5267
Name: 655, dtype: object
Brookeville Age                          43
M/F                           M
City                Brookeville
State                        MD
Country                     USA
Half            0 days 01:36:40
40K             0 days 03:04:37
Pace                    0:07:26
TotalSeconds              11077
HalfSeconds                5800
Name: 4082, dtype: object
Brookfield Age                          21
M/F                           M
City                 Brookfield
State                        WI
Country                     USA
Half            0 days 01:23:36
40K             0 days 02:41:54
Pace                    0:06:32
TotalSeconds               9714
HalfSeconds                5016
Name: 2391, dtype: object
Brookhaven Age                          39
M/F                           F
City                 Brookhaven
State                        GA
Country                     USA
Half            0 days 01:54:54
40K             0 days 04:05:16
Pace                    0:09:53
TotalSeconds              14716
HalfSeconds                6894
Name: 19771, dtype: object
Brookings Age                          24
M/F                           F
City                  Brookings
State                        SD
Country                     USA
Half            0 days 01:45:51
40K             0 days 03:22:03
Pace                    0:08:07
TotalSeconds              12123
HalfSeconds                6351
Name: 17178, dtype: object
Brooklin Age                          25
M/F                           F
City                   Brooklin
State                        NY
Country                     USA
Half            0 days 01:47:29
40K             0 days 03:28:48
Pace                    0:08:25
TotalSeconds              12528
HalfSeconds                6449
Name: 12480, dtype: object
Brookline Age                          26
M/F                           M
City                  Brookline
State                        MA
Country                     USA
Half            0 days 01:21:41
40K             0 days 02:37:20
Pace                    0:06:21
TotalSeconds               9440
HalfSeconds                4901
Name: 1310, dtype: object
Brookling Age                          41
M/F                           M
City                  Brookling
State                        MA
Country                     USA
Half            0 days 01:58:31
40K             0 days 03:48:40
Pace                    0:09:09
TotalSeconds              13720
HalfSeconds                7111
Name: 29480, dtype: object
Brooklyn Age                          40
M/F                           M
City                   Brooklyn
State                        NY
Country                     USA
Half            0 days 01:19:58
40K             0 days 02:35:46
Pace                    0:06:17
TotalSeconds               9346
HalfSeconds                4798
Name: 364, dtype: object
Brooklyn Center Age                          43
M/F                           F
City            Brooklyn Center
State                        MN
Country                     USA
Half            0 days 01:53:06
40K             0 days 03:42:39
Pace                    0:08:59
TotalSeconds              13359
HalfSeconds                6786
Name: 21343, dtype: object
Brooklyn Park Age                          44
M/F                           M
City              Brooklyn Park
State                        MN
Country                     USA
Half            0 days 01:36:08
40K             0 days 03:23:51
Pace                    0:08:21
TotalSeconds              12231
HalfSeconds                5768
Name: 8411, dtype: object
Brookville Age                          45
M/F                           F
City                 Brookville
State                        IN
Country                     USA
Half            0 days 01:55:27
40K             0 days 03:52:56
Pace                    0:09:23
TotalSeconds              13976
HalfSeconds                6927
Name: 22272, dtype: object
Broomfield Age                          32
M/F                           M
City                 Broomfield
State                        CO
Country                     USA
Half            0 days 01:22:30
40K             0 days 02:43:52
Pace                    0:06:40
TotalSeconds               9832
HalfSeconds                4950
Name: 3162, dtype: object
Brossard Age                          33
M/F                           M
City                   Brossard
State                        QC
Country                     CAN
Half            0 days 01:27:10
40K             0 days 02:47:30
Pace                    0:06:45
TotalSeconds              10050
HalfSeconds                5230
Name: 3009, dtype: object
Broussard Age                          53
M/F                           F
City                  Broussard
State                        LA
Country                     USA
Half            0 days 01:54:05
40K             0 days 03:52:44
Pace                    0:09:25
TotalSeconds              13964
HalfSeconds                6845
Name: 24912, dtype: object
Brownsburg Age                          44
M/F                           M
City                 Brownsburg
State                        IN
Country                     USA
Half            0 days 01:39:15
40K             0 days 03:16:49
Pace                    0:07:57
TotalSeconds              11809
HalfSeconds                5955
Name: 6429, dtype: object
Brownstown Age                          58
M/F                           M
City                 Brownstown
State                        MI
Country                     USA
Half            0 days 01:40:07
40K             0 days 03:19:11
Pace                    0:08:03
TotalSeconds              11951
HalfSeconds                6007
Name: 8821, dtype: object
Brownsville Age                          34
M/F                           M
City                Brownsville
State                        TX
Country                     USA
Half            0 days 01:28:48
40K             0 days 02:55:56
Pace                    0:07:08
TotalSeconds              10556
HalfSeconds                5328
Name: 5386, dtype: object
Brugge Age                          41
M/F                           F
City                     Brugge
State                       NaN
Country                     BEL
Half            0 days 01:40:22
40K             0 days 03:18:13
Pace                    0:08:01
TotalSeconds              11893
HalfSeconds                6022
Name: 9560, dtype: object
Brundee Nsw Age                          43
M/F                           M
City                Brundee Nsw
State                       NaN
Country                     AUS
Half            0 days 01:27:05
40K             0 days 02:49:56
Pace                    0:06:51
TotalSeconds              10196
HalfSeconds                5225
Name: 6799, dtype: object
Brunico Age                          48
M/F                           M
City                    Brunico
State                       NaN
Country                     ITA
Half            0 days 02:06:07
40K             0 days 04:14:22
Pace                    0:10:16
TotalSeconds              15262
HalfSeconds                7567
Name: 31828, dtype: object
Brunoy Age                          45
M/F                           M
City                     Brunoy
State                       NaN
Country                     FRA
Half            0 days 01:34:39
40K             0 days 03:08:40
Pace                    0:07:40
TotalSeconds              11320
HalfSeconds                5679
Name: 8654, dtype: object
Brunswick Age                          47
M/F                           M
City                  Brunswick
State                        ME
Country                     USA
Half            0 days 01:21:20
40K             0 days 02:38:58
Pace                    0:06:25
TotalSeconds               9538
HalfSeconds                4880
Name: 537, dtype: object
Brunswick East Age                          50
M/F                           F
City             Brunswick East
State                       NaN
Country                     AUS
Half            0 days 02:02:11
40K             0 days 03:57:41
Pace                    0:09:33
TotalSeconds              14261
HalfSeconds                7331
Name: 31543, dtype: object
Brush Prairie Age                          50
M/F                           M
City              Brush Prairie
State                        WA
Country                     USA
Half            0 days 01:44:43
40K             0 days 03:23:28
Pace                    0:08:11
TotalSeconds              12208
HalfSeconds                6283
Name: 14949, dtype: object
Brussels Age                          52
M/F                           M
City                   Brussels
State                       NaN
Country                     BEL
Half            0 days 01:40:59
40K             0 days 03:25:16
Pace                    0:08:19
TotalSeconds              12316
HalfSeconds                6059
Name: 12953, dtype: object
Bryan Age                          37
M/F                           F
City                      Bryan
State                        TX
Country                     USA
Half            0 days 01:46:55
40K             0 days 03:29:10
Pace                    0:08:25
TotalSeconds              12550
HalfSeconds                6415
Name: 16051, dtype: object
Bryceville Age                          46
M/F                           M
City                 Bryceville
State                        FL
Country                     USA
Half            0 days 01:26:39
40K             0 days 02:51:08
Pace                    0:06:55
TotalSeconds              10268
HalfSeconds                5199
Name: 1891, dtype: object
Bryn Mawr Age                          48
M/F                           F
City                  Bryn Mawr
State                        PA
Country                     USA
Half            0 days 01:37:07
40K             0 days 03:10:37
Pace                    0:07:42
TotalSeconds              11437
HalfSeconds                5827
Name: 9408, dtype: object
Bucharest Age                          43
M/F                           M
City                  Bucharest
State                       NaN
Country                     ROU
Half            0 days 01:32:12
40K             0 days 03:09:16
Pace                    0:07:41
TotalSeconds              11356
HalfSeconds                5532
Name: 7687, dtype: object
Buchkirchen Age                          52
M/F                           M
City                Buchkirchen
State                       NaN
Country                     AUT
Half            0 days 01:32:54
40K             0 days 03:07:45
Pace                    0:07:36
TotalSeconds              11265
HalfSeconds                5574
Name: 9815, dtype: object
Buckhurst Hill Age                          44
M/F                           M
City             Buckhurst Hill
State                       NaN
Country                     GBR
Half            0 days 01:25:00
40K             0 days 02:43:50
Pace                    0:06:38
TotalSeconds               9830
HalfSeconds                5100
Name: 1872, dtype: object
Buckingham Age                          45
M/F                           M
City                 Buckingham
State                        VA
Country                     USA
Half            0 days 01:29:44
40K             0 days 02:53:25
Pace                    0:07:03
TotalSeconds              10405
HalfSeconds                5384
Name: 5776, dtype: object
Buckley Age                          47
M/F                           M
City                    Buckley
State                        WA
Country                     USA
Half            0 days 01:40:57
40K             0 days 03:20:06
Pace                    0:08:07
TotalSeconds              12006
HalfSeconds                6057
Name: 10720, dtype: object
Bucksport Age                          50
M/F                           F
City                  Bucksport
State                        ME
Country                     USA
Half            0 days 01:55:32
40K             0 days 03:47:25
Pace                    0:09:10
TotalSeconds              13645
HalfSeconds                6932
Name: 21583, dtype: object
Buda Age                          30
M/F                           F
City                       Buda
State                        TX
Country                     USA
Half            0 days 01:35:05
40K             0 days 03:22:43
Pace                    0:08:12
TotalSeconds              12163
HalfSeconds                5705
Name: 6210, dtype: object
Budapest Age                          26
M/F                           M
City                   Budapest
State                       NaN
Country                     HUN
Half            0 days 01:28:10
40K             0 days 03:02:42
Pace                    0:07:25
TotalSeconds              10962
HalfSeconds                5290
Name: 4199, dtype: object
Buderim Age                          40
M/F                           F
City                    Buderim
State                       NaN
Country                     AUS
Half            0 days 01:43:52
40K             0 days 03:23:12
Pace                    0:08:12
TotalSeconds              12192
HalfSeconds                6232
Name: 16196, dtype: object
Buena Park Age                          45
M/F                           M
City                 Buena Park
State                        CA
Country                     USA
Half            0 days 01:59:04
40K             0 days 04:19:34
Pace                    0:10:30
TotalSeconds              15574
HalfSeconds                7144
Name: 10248, dtype: object
Buenos Aires Age                          38
M/F                           M
City               Buenos Aires
State                       NaN
Country                     ARG
Half            0 days 01:29:52
40K             0 days 02:50:52
Pace                    0:06:51
TotalSeconds              10252
HalfSeconds                5392
Name: 3655, dtype: object
Buffalo Age                          40
M/F                           M
City                    Buffalo
State                        NY
Country                     USA
Half            0 days 01:31:09
40K             0 days 02:55:48
Pace                    0:07:06
TotalSeconds              10548
HalfSeconds                5469

Canonsburg Age                          50
M/F                           F
City                 Canonsburg
State                        PA
Country                     USA
Half            0 days 01:55:36
40K             0 days 03:46:18
Pace                    0:09:06
TotalSeconds              13578
HalfSeconds                6936
Name: 23352, dtype: object
Canovanas Age                          35
M/F                           F
City                  Canovanas
State                        PR
Country                     USA
Half            0 days 01:35:55
40K             0 days 03:04:39
Pace                    0:07:26
TotalSeconds              11079
HalfSeconds                5755
Name: 9975, dtype: object
Canterbury Age                          60
M/F                           M
City                 Canterbury
State                        NH
Country                     USA
Half            0 days 01:43:53
40K             0 days 03:30:56
Pace                    0:08:35
TotalSeconds              12656
HalfSeconds                6233
Name: 15530, dtype: object
Cantley Age                          37
M/F                           M
City                    Cantley
State                        QC
Country                     CAN
Half            0 days 01:28:50
40K             0 days 02:53:25
Pace                    0:07:00
TotalSeconds              10405
HalfSeconds                5330
Name: 4850, dtype: object
Canton Age                          22
M/F                           M
City                     Canton
State                        NY
Country                     USA
Half            0 days 01:19:54
40K             0 days 02:35:15
Pace                    0:06:15
TotalSeconds               9315
HalfSeconds                4794
Name: 1662, dtype: object
Canyon Age                          58
M/F                           M
City                     Canyon
State                        TX
Country                     USA
Half            0 days 01:43:54
40K             0 days 03:16:53
Pace                    0:07:56
TotalSeconds              11813
HalfSeconds                6234
Name: 10742, dtype: object
Canyon Country Age                          46
M/F                           M
City             Canyon Country
State                        CA
Country                     USA
Half            0 days 01:49:09
40K             0 days 03:35:27
Pace                    0:08:42
TotalSeconds              12927
HalfSeconds                6549
Name: 12353, dtype: object
Cap-Sante Age                          70
M/F                           M
City                  Cap-Sante
State                        QC
Country                     CAN
Half            0 days 01:43:58
40K             0 days 03:21:20
Pace                    0:08:07
TotalSeconds              12080
HalfSeconds                6238
Name: 10780, dtype: object
Cape Canaveral Age                          60
M/F                           M
City             Cape Canaveral
State                        FL
Country                     USA
Half            0 days 01:43:44
40K             0 days 03:20:37
Pace                    0:08:06
TotalSeconds              12037
HalfSeconds                6224
Name: 16189, dtype: object
Cape Carteret Age                          38
M/F                           M
City              Cape Carteret
State                        NC
Country                     USA
Half            0 days 01:32:04
40K             0 days 03:08:02
Pace                    0:07:38
TotalSeconds              11282
HalfSeconds                5524
Name: 4957, dtype: object
Cape Charles Age                          48
M/F                           F
City               Cape Charles
State                        VA
Country                     USA
Half            0 days 01:54:40
40K             0 days 03:43:22
Pace                    0:08:59
TotalSeconds              13402
HalfSeconds                6880
Name: 22407, dtype: object
Cape Coral Age                          35
M/F                           F
City                 Cape Coral
State                        FL
Country                     USA
Half            0 days 01:37:35
40K             0 days 03:08:48
Pace                    0:07:37
TotalSeconds              11328
HalfSeconds                5855
Name: 8978, dtype: object
Cape Elizabeth Age                          44
M/F                           M
City             Cape Elizabeth
State                        ME
Country                     USA
Half            0 days 01:34:28
40K             0 days 03:06:23
Pace                    0:07:33
TotalSeconds              11183
HalfSeconds                5668
Name: 8403, dtype: object
Cape Girardeau Age                          39
M/F                           M
City             Cape Girardeau
State                        MO
Country                     USA
Half            0 days 01:26:22
40K             0 days 02:56:24
Pace                    0:07:09
TotalSeconds              10584
HalfSeconds                5182
Name: 2446, dtype: object
Cape May Age                          46
M/F                           M
City                   Cape May
State                        NJ
Country                     USA
Half            0 days 01:32:08
40K             0 days 03:14:09
Pace                    0:07:52
TotalSeconds              11649
HalfSeconds                5528
Name: 5913, dtype: object
Cape Town Age                          53
M/F                           M
City                  Cape Town
State                       NaN
Country                     RSA
Half            0 days 01:38:46
40K             0 days 03:35:56
Pace                    0:08:47
TotalSeconds              12956
HalfSeconds                5926
Name: 8939, dtype: object
Capinghem Age                          45
M/F                           M
City                  Capinghem
State                       NaN
Country                     FRA
Half            0 days 01:52:01
40K             0 days 03:56:36
Pace                    0:09:36
TotalSeconds              14196
HalfSeconds                6721
Name: 2861, dtype: object
Capriolo Age                          57
M/F                           M
City                   Capriolo
State                       NaN
Country                     ITA
Half            0 days 01:44:51
40K             0 days 03:29:24
Pace                    0:08:32
TotalSeconds              12564
HalfSeconds                6291
Name: 17319, dtype: object
Caracas Age                          52
M/F                           M
City                    Caracas
State                       NaN
Country                     VEN
Half            0 days 01:32:31
40K             0 days 03:02:04
Pace                    0:07:21
TotalSeconds              10924
HalfSeconds                5551
Name: 2753, dtype: object
Carbondale Age                          33
M/F                           M
City                 Carbondale
State                        PA
Country                     USA
Half            0 days 01:26:14
40K             0 days 02:46:38
Pace                    0:06:42
TotalSeconds               9998
HalfSeconds                5174
Name: 1412, dtype: object
Cardiff Age                          33
M/F                           M
City                    Cardiff
State                        CA
Country                     USA
Half            0 days 01:31:13
40K             0 days 03:11:19
Pace                    0:07:46
TotalSeconds              11479
HalfSeconds                5473
Name: 4311, dtype: object
Cardiff By The Sea Age                             61
M/F                              M
City            Cardiff By The Sea
State                           CA
Country                        USA
Half               0 days 01:56:18
40K                0 days 04:03:58
Pace                       0:09:55
TotalSeconds                 14638
HalfSeconds                   6978
Name: 21787, dtype: object
Carlabad Age                          39
M/F                           M
City                   Carlabad
State                        NM
Country                     USA
Half            0 days 02:18:52
40K             0 days 04:46:34
Pace                    0:11:35
TotalSeconds              17194
HalfSeconds                8332
Name: 26499, dtype: object
Carleton Place Age                          49
M/F                           M
City             Carleton Place
State                        ON
Country                     CAN
Half            0 days 01:40:21
40K             0 days 03:26:13
Pace                    0:08:23
TotalSeconds              12373
HalfSeconds                6021
Name: 10941, dtype: object
Carleton-Sur-Mer Age                           66
M/F                            M
City            Carleton-Sur-Mer
State                         QC
Country                      CAN
Half             0 days 02:01:40
40K              0 days 04:13:28
Pace                     0:10:20
TotalSeconds               15208
HalfSeconds                 7300
Name: 25069, dtype: object
Carlinville Age                          57
M/F                           M
City                Carlinville
State                        IL
Country                     USA
Half            0 days 01:42:35
40K             0 days 03:23:49
Pace                    0:08:13
TotalSeconds              12229
HalfSeconds                6155
Name: 12925, dtype: object
Carlisle Age                          25
M/F                           F
City                   Carlisle
State                        PA
Country                     USA
Half            0 days 01:29:55
40K             0 days 03:05:25
Pace                    0:07:29
TotalSeconds              11125
HalfSeconds                5395
Name: 10296, dtype: object
Carlisle Barracks Age                            43
M/F                             F
City            Carlisle Barracks
State                          PA
Country                       USA
Half              0 days 01:47:07
40K               0 days 03:28:01
Pace                      0:08:24
TotalSeconds                12481
HalfSeconds                  6427
Name: 20627, dtype: object
Carlsbad Age                          34
M/F                           M
City                   Carlsbad
State                        CA
Country                     USA
Half            0 days 01:23:46
40K             0 days 02:46:26
Pace                    0:06:45
TotalSeconds               9986
HalfSeconds                5026
Name: 2613, dtype: object
Carlton Vic Age                          45
M/F                           M
City                Carlton Vic
State                       NaN
Country                     AUS
Half            0 days 01:40:37
40K             0 days 03:18:44
Pace                    0:08:01
TotalSeconds              11924
HalfSeconds                6037
Name: 11877, dtype: object
Carmel Age                          25
M/F                           M
City                     Carmel
State                        IN
Country                     USA
Half            0 days 01:20:32
40K             0 days 02:49:24
Pace                    0:06:51
TotalSeconds              10164
HalfSeconds                4832
Name: 569, dtype: object
Carmel Valley Age                          41
M/F                           F
City              Carmel Valley
State                        CA
Country                     USA
Half            0 days 01:47:12
40K             0 days 03:38:43
Pace                    0:08:54
TotalSeconds              13123
HalfSeconds                6432
Name: 20389, dtype: object
Carmichael Age                          26
M/F                           M
City                 Carmichael
State                        CA
Country                     USA
Half            0 days 01:30:11
40K             0 days 02:51:37
Pace                    0:06:54
TotalSeconds              10297
HalfSeconds                5411
Name: 5251, dtype: object
Carnation Age                          52
M/F                           M
City                  Carnation
State                        WA
Country                     USA
Half            0 days 01:36:22
40K             0 days 03:15:16
Pace                    0:07:54
TotalSeconds              11716
HalfSeconds                5782
Name: 8641, dtype: object
Carnegie Age                          33
M/F                           M
City                   Carnegie
State                        PA
Country                     USA
Half            0 days 01:40:15
40K             0 days 03:21:12
Pace                    0:08:09
TotalSeconds              12072
HalfSeconds                6015
Name: 4446, dtype: object
Caro Age                          50
M/F                           F
City                       Caro
State                        MI
Country                     USA
Half            0 days 01:44:09
40K             0 days 03:18:49
Pace                    0:07:59
TotalSeconds              11929
HalfSeconds                6249
Name: 18239, dtype: object
Carol Stream Age                          39
M/F                           M
City               Carol Stream
State                        IL
Country                     USA
Half            0 days 01:26:08
40K             0 days 03:09:18
Pace                    0:07:47
TotalSeconds              11358
HalfSeconds                5168
Name: 5725, dtype: object
Carp Age                          55
M/F                           M
City                       Carp
State                        ON
Country                     CAN
Half            0 days 01:45:05
40K             0 days 03:31:21
Pace                    0:08:32
TotalSeconds              12681
HalfSeconds                6305
Name: 15237, dtype: object
Carpinteria Age                          51
M/F                           M
City                Carpinteria
State                        CA
Country                     USA
Half            0 days 01:30:01
40K             0 days 02:58:58
Pace                    0:07:12
TotalSeconds              10738
HalfSeconds                5401
Name: 1470, dtype: object
Carrboro Age                          26
M/F                           F
City                   Carrboro
State                        NC
Country                     USA
Half            0 days 01:35:56
40K             0 days 03:18:30
Pace                    0:08:04
TotalSeconds              11910
HalfSeconds                5756
Name: 11093, dtype: object
Carrollton Age                          43
M/F                           M
City                 Carrollton
State                        TX
Country                     USA
Half            0 days 01:31:34
40K             0 days 02:57:52
Pace                    0:07:11
TotalSeconds              10672
HalfSeconds                5494
Name: 4158, dtype: object
Carryng Place Age                          55
M/F                           F
City              Carryng Place
State                        ON
Country                     CAN
Half            0 days 01:50:49
40K             0 days 03:32:22
Pace                    0:08:32
TotalSeconds              12742
HalfSeconds                6649
Name: 23512, dtype: object
Carshalton Beeches Age                             41
M/F                              F
City            Carshalton Beeches
State                          NaN
Country                        GBR
Half               0 days 01:38:18
40K                0 days 03:11:53
Pace                       0:07:45
TotalSeconds                 11513
HalfSeconds                   5898
Name: 10537, dtype: object
Carson Age                          38
M/F                           F
City                     Carson
State                        WA
Country                     USA
Half            0 days 01:51:07
40K             0 days 03:45:00
Pace                    0:09:05
TotalSeconds              13500
HalfSeconds                6667
Name: 19443, dtype: object
Carson City Age                          52
M/F                           F
City                Carson City
State                        NV
Country                     USA
Half            0 days 01:58:50
40K             0 days 03:53:43
Pace                    0:09:25
TotalSeconds              14023
HalfSeconds                7130
Name: 22788, dtype: object
Cartago Age                          24
M/F                           F
City                    Cartago
State                       NaN
Country                     CRC
Half            0 days 01:39:40
40K             0 days 03:16:22
Pace                    0:07:56
TotalSeconds              11782
HalfSeconds                5980
Name: 17331, dtype: object
Cartersville Age                          55
M/F                           M
City               Cartersville
State                        GA
Country                     USA
Half            0 days 02:01:24
40K             0 days 04:07:03
Pace                    0:09:58
TotalSeconds              14823
HalfSeconds                7284
Name: 19227, dtype: object
Carterville Age                          52
M/F                           F
City                Carterville
State                        IL
Country                     USA
Half            0 days 01:57:52
40K             0 days 03:50:14
Pace                    0:09:16
TotalSeconds              13814
HalfSeconds                7072
Name: 24855, dtype: object
Carver Age                          47
M/F                           F
City                     Carver
State                        MA
Country                     USA
Half            0 days 02:11:28
40K             0 days 04:40:06
Pace                    0:11:18
TotalSeconds              16806
HalfSeconds                7888
Name: 30804, dtype: object
Cary Age                          35
M/F                           M
City                       Cary
State                        NC
Country                     USA
Half            0 days 01:18:55
40K             0 days 02:35:35
Pace                    0:06:19
TotalSeconds               9335
HalfSeconds                4735
Name: 867, dtype: object
Casablanca Age                          57
M/F                           M
City                 Casablanca
State                       NaN
Country                     MAR
Half            0 days 02:10:55
40K             0 days 04:42:00
Pace                    0:11:22
TotalSeconds              16920
HalfSeconds                7855
Name: 30063, dtype: object
Casalzuigno-Va Age                          47
M/F                           M
City             Casalzuigno-Va
State                       NaN
Country                     ITA
Half            0 days 01:46:01
40K             0 days 04:54:02
Pace                    0:12:11
TotalSeconds              17642
HalfSeconds                6361
Name: 31612, dtype: object
Cascais Age                          71
M/F                           M
City                    Cascais
State                       NaN
Country                     POR
Half            0 days 02:17:23
40K             0 days 04:41:17
Pace                    0:11:19
TotalSeconds              16877
HalfSeconds                8243
Name: 25537, dtype: object
Caseyville Age                          37
M/F                           F
City                 Caseyville
State                        IL
Country                     USA
Half            0 days 01:54:28
40K             0 days 03:47:06
Pace                    0:09:09
TotalSeconds              13626
HalfSeconds                6868
Name: 19682, dtype: object
Castelfranco Veneto Age                              46
M/F                               M
City            Castelfranco Veneto
State                           NaN
Country                         ITA
Half                0 days 01:38:44
40K                 0 days 03:36:40
Pace                        0:08:47
TotalSeconds                  13000
HalfSeconds                    5924
Name: 11291, dtype: object
Castellar Del Valles, Barcelona Age                                          40
M/F                                           M
City            Castellar Del Valles, Barcelona

Name: 15552, dtype: object
Cherry Hill Age                          36
M/F                           M
City                Cherry Hill
State                        NJ
Country                     USA
Half            0 days 01:29:13
40K             0 days 02:59:06
Pace                    0:07:12
TotalSeconds              10746
HalfSeconds                5353
Name: 3157, dtype: object
Cherry Valley Age                          53
M/F                           F
City              Cherry Valley
State                        IL
Country                     USA
Half            0 days 01:59:20
40K             0 days 04:09:58
Pace                    0:10:07
TotalSeconds              14998
HalfSeconds                7160
Name: 23164, dtype: object
Chesapeake Age                          41
M/F                           M
City                 Chesapeake
State                        VA
Country                     USA
Half            0 days 01:37:05
40K             0 days 03:02:53
Pace                    0:07:22
TotalSeconds              10973
HalfSeconds                5825
Name: 6330, dtype: object
Cheshire Age                          44
M/F                           F
City                   Cheshire
State                        CT
Country                     USA
Half            0 days 01:53:41
40K             0 days 03:32:47
Pace                    0:08:33
TotalSeconds              12767
HalfSeconds                6821
Name: 20442, dtype: object
Chesnee Age                          27
M/F                           F
City                    Chesnee
State                        SC
Country                     USA
Half            0 days 01:41:25
40K             0 days 03:25:04
Pace                    0:08:19
TotalSeconds              12304
HalfSeconds                6085
Name: 15512, dtype: object
Chester Age                          38
M/F                           M
City                    Chester
State                        NH
Country                     USA
Half            0 days 01:32:58
40K             0 days 03:08:24
Pace                    0:07:40
TotalSeconds              11304
HalfSeconds                5578
Name: 6025, dtype: object
Chester Springs Age                          40
M/F                           M
City            Chester Springs
State                        PA
Country                     USA
Half            0 days 01:33:48
40K             0 days 03:10:21
Pace                    0:07:45
TotalSeconds              11421
HalfSeconds                5628
Name: 8555, dtype: object
Chesterbrook Age                          34
M/F                           M
City               Chesterbrook
State                        PA
Country                     USA
Half            0 days 01:28:38
40K             0 days 03:16:05
Pace                    0:07:56
TotalSeconds              11765
HalfSeconds                5318
Name: 4301, dtype: object
Chesterfield Age                          32
M/F                           M
City               Chesterfield
State                        VA
Country                     USA
Half            0 days 01:29:39
40K             0 days 02:54:30
Pace                    0:07:03
TotalSeconds              10470
HalfSeconds                5379
Name: 1576, dtype: object
Chesterland Age                          22
M/F                           M
City                Chesterland
State                        OH
Country                     USA
Half            0 days 01:28:28
40K             0 days 03:06:21
Pace                    0:07:33
TotalSeconds              11181
HalfSeconds                5308
Name: 2725, dtype: object
Chesterton Age                          67
M/F                           M
City                 Chesterton
State                        IN
Country                     USA
Half            0 days 02:10:17
40K             0 days 04:36:26
Pace                    0:12:51
TotalSeconds              16586
HalfSeconds                7817
Name: 25676, dtype: object
Chestnut Age                          27
M/F                           F
City                   Chestnut
State                        IL
Country                     USA
Half            0 days 01:45:25
40K             0 days 03:29:42
Pace                    0:08:27
TotalSeconds              12582
HalfSeconds                6325
Name: 17199, dtype: object
Chestnut Hill Age                          22
M/F                           M
City              Chestnut Hill
State                        MA
Country                     USA
Half            0 days 01:20:16
40K             0 days 02:35:56
Pace                    0:06:45
TotalSeconds               9356
HalfSeconds                4816
Name: 847, dtype: object
Cheung Sha Wan Age                          46
M/F                           M
City             Cheung Sha Wan
State                       NaN
Country                     HKG
Half            0 days 01:35:59
40K             0 days 03:20:06
Pace                    0:08:12
TotalSeconds              12006
HalfSeconds                5759
Name: 10892, dtype: object
Chevilly Larue Age                          44
M/F                           F
City             Chevilly Larue
State                       NaN
Country                     FRA
Half            0 days 01:45:54
40K             0 days 03:26:07
Pace                    0:08:18
TotalSeconds              12367
HalfSeconds                6354
Name: 19919, dtype: object
Chevy Chase Age                          45
M/F                           M
City                Chevy Chase
State                        MD
Country                     USA
Half            0 days 01:28:20
40K             0 days 02:59:40
Pace                    0:07:19
TotalSeconds              10780
HalfSeconds                5300
Name: 3912, dtype: object
Cheyenne Age                          35
M/F                           M
City                   Cheyenne
State                        WY
Country                     USA
Half            0 days 01:31:36
40K             0 days 03:09:42
Pace                    0:07:46
TotalSeconds              11382
HalfSeconds                5496
Name: 6731, dtype: object
Chiaravalle - An Age                           50
M/F                            M
City            Chiaravalle - An
State                        NaN
Country                      ITA
Half             0 days 01:49:21
40K              0 days 03:30:44
Pace                     0:08:32
TotalSeconds               12644
HalfSeconds                 6561
Name: 31626, dtype: object
Chiba Age                          47
M/F                           M
City                      Chiba
State                       NaN
Country                     JPN
Half            0 days 01:32:50
40K             0 days 03:03:59
Pace                    0:07:24
TotalSeconds              11039
HalfSeconds                5570
Name: 1796, dtype: object
Chicago Age                          26
M/F                           M
City                    Chicago
State                        IL
Country                     USA
Half            0 days 01:13:39
40K             0 days 02:25:41
Pace                    0:05:53
TotalSeconds               8741
HalfSeconds                4419
Name: 742, dtype: object
Chichester Age                          43
M/F                           M
City                 Chichester
State                        NY
Country                     USA
Half            0 days 01:29:52
40K             0 days 02:55:13
Pace                    0:07:03
TotalSeconds              10513
HalfSeconds                5392
Name: 5602, dtype: object
Chico Age                          42
M/F                           F
City                      Chico
State                        CA
Country                     USA
Half            0 days 01:34:15
40K             0 days 03:10:49
Pace                    0:07:46
TotalSeconds              11449
HalfSeconds                5655
Name: 9190, dtype: object
Chicopee Age                          34
M/F                           M
City                   Chicopee
State                        MA
Country                     USA
Half            0 days 01:49:15
40K             0 days 03:36:40
Pace                    0:08:46
TotalSeconds              13000
HalfSeconds                6555
Name: 9762, dtype: object
Chicoutimi Age                          31
M/F                           M
City                 Chicoutimi
State                        QC
Country                     CAN
Half            0 days 01:20:14
40K             0 days 02:44:31
Pace                    0:06:41
TotalSeconds               9871
HalfSeconds                4814
Name: 1434, dtype: object
Chihuahua Age                          36
M/F                           M
City                  Chihuahua
State                       NaN
Country                     MEX
Half            0 days 01:29:59
40K             0 days 03:00:24
Pace                    0:07:23
TotalSeconds              10824
HalfSeconds                5399
Name: 5794, dtype: object
Chillicothe Age                          35
M/F                           F
City                Chillicothe
State                        OH
Country                     USA
Half            0 days 01:45:16
40K             0 days 03:21:34
Pace                    0:08:06
TotalSeconds              12094
HalfSeconds                6316
Name: 19171, dtype: object
Chilton Age                          51
M/F                           F
City                    Chilton
State                        WI
Country                     USA
Half            0 days 02:05:07
40K             0 days 04:05:16
Pace                    0:09:53
TotalSeconds              14716
HalfSeconds                7507
Name: 23327, dtype: object
Chinnor Age                          55
M/F                           M
City                    Chinnor
State                       NaN
Country                     GBR
Half            0 days 01:52:01
40K             0 days 04:00:51
Pace                    0:09:44
TotalSeconds              14451
HalfSeconds                6721
Name: 13933, dtype: object
Chino Age                          28
M/F                           M
City                      Chino
State                        CA
Country                     USA
Half            0 days 01:35:37
40K             0 days 03:07:54
Pace                    0:07:33
TotalSeconds              11274
HalfSeconds                5737
Name: 3801, dtype: object
Chino Hills Age                          52
M/F                           F
City                Chino Hills
State                        CA
Country                     USA
Half            0 days 01:34:29
40K             0 days 03:10:13
Pace                    0:07:41
TotalSeconds              11413
HalfSeconds                5669
Name: 4226, dtype: object
Chippewa Falls Age                          51
M/F                           M
City             Chippewa Falls
State                        WI
Country                     USA
Half            0 days 01:49:46
40K             0 days 03:49:45
Pace                    0:09:17
TotalSeconds              13785
HalfSeconds                6586
Name: 13008, dtype: object
Chipstead Age                          40
M/F                           F
City                  Chipstead
State                       NaN
Country                     GBR
Half            0 days 02:01:13
40K             0 days 04:01:17
Pace                    0:09:42
TotalSeconds              14477
HalfSeconds                7273
Name: 20757, dtype: object
Chislehurst Age                          43
M/F                           M
City                Chislehurst
State                       NaN
Country                     GBR
Half            0 days 01:34:33
40K             0 days 03:06:05
Pace                    0:07:32
TotalSeconds              11165
HalfSeconds                5673
Name: 6519, dtype: object
Choctaw Age                          39
M/F                           M
City                    Choctaw
State                        OK
Country                     USA
Half            0 days 01:30:01
40K             0 days 02:57:04
Pace                    0:07:10
TotalSeconds              10624
HalfSeconds                5401
Name: 5164, dtype: object
Chongqing Age                          37
M/F                           M
City                  Chongqing
State                       NaN
Country                     CHN
Half            0 days 01:41:56
40K             0 days 03:15:45
Pace                    0:07:53
TotalSeconds              11745
HalfSeconds                6116
Name: 3955, dtype: object
Christchurch Age                          39
M/F                           M
City               Christchurch
State                       NaN
Country                     NZL
Half            0 days 01:28:02
40K             0 days 02:50:52
Pace                    0:06:54
TotalSeconds              10252
HalfSeconds                5282
Name: 5818, dtype: object
Christiansburg Age                          54
M/F                           F
City             Christiansburg
State                        VA
Country                     USA
Half            0 days 01:51:18
40K             0 days 03:29:52
Pace                    0:08:26
TotalSeconds              12592
HalfSeconds                6678
Name: 24113, dtype: object
Christiansted Age                          38
M/F                           M
City              Christiansted
State                        VI
Country                     USA
Half            0 days 02:03:19
40K             0 days 03:56:51
Pace                    0:09:31
TotalSeconds              14211
HalfSeconds                7399
Name: 27381, dtype: object
Chuckey Age                          45
M/F                           M
City                    Chuckey
State                        TN
Country                     USA
Half            0 days 01:35:17
40K             0 days 03:06:45
Pace                    0:07:33
TotalSeconds              11205
HalfSeconds                5717
Name: 8536, dtype: object
Chula Vista Age                          24
M/F                           M
City                Chula Vista
State                        CA
Country                     USA
Half            0 days 01:29:34
40K             0 days 03:10:15
Pace                    0:08:06
TotalSeconds              11415
HalfSeconds                5374
Name: 5290, dtype: object
Chunchula Age                          34
M/F                           F
City                  Chunchula
State                        AL
Country                     USA
Half            0 days 01:44:39
40K             0 days 03:28:48
Pace                    0:08:26
TotalSeconds              12528
HalfSeconds                6279
Name: 17894, dtype: object
Churchville Age                          34
M/F                           M
City                Churchville
State                        MD
Country                     USA
Half            0 days 01:41:15
40K             0 days 03:33:56
Pace                    0:08:43
TotalSeconds              12836
HalfSeconds                6075
Name: 27479, dtype: object
Churubusco Age                          26
M/F                           M
City                 Churubusco
State                        IN
Country                     USA
Half            0 days 01:33:32
40K             0 days 03:01:28
Pace                    0:07:19
TotalSeconds              10888
HalfSeconds                5612
Name: 5324, dtype: object
Cicero Age                          21
M/F                           F
City                     Cicero
State                        NY
Country                     USA
Half            0 days 01:41:19
40K             0 days 03:18:17
Pace                    0:08:01
TotalSeconds              11897
HalfSeconds                6079
Name: 13391, dtype: object
Cicinnati Age                          36
M/F                           F
City                  Cicinnati
State                        OH
Country                     USA
Half            0 days 01:39:50
40K             0 days 03:15:53
Pace                    0:07:55
TotalSeconds              11753
HalfSeconds                5990
Name: 9830, dtype: object
Cincinnati Age                          27
M/F                           M
City                 Cincinnati
State                        OH
Country                     USA
Half            0 days 01:18:46
40K             0 days 02:36:04
Pace                    0:06:18
TotalSeconds               9364
HalfSeconds                4726
Name: 667, dtype: object
Cingoli-Mc Age                          45
M/F                           M
City                 Cingoli-Mc
State                       NaN
Country                     ITA
Half            0 days 01:37:36
40K             0 days 03:12:22
Pace                    0:07:44
TotalSeconds              11542
HalfSeconds                5856
Name: 9994, dtype: object
Circle Pines Age                          27
M/F                           F
City               Circle Pines
State                        MN
Country                     USA
Half            0 days 01:45:43
40K             0 days 03:29:10
Pace                    0:08:31
TotalSeconds              12550
HalfSeconds                6343
Name: 14849, dtype: object
Citrus Heights Age                          37
M/F                           M
City             Citrus Heights
State                        CA
Country                     USA
Half            0 days 01:32:46
40K             0 days 03:06:47
Pace                    0:07:33
TotalSeconds              11207
HalfSeconds                5566
Name: 3313, dtype: object
City Beach Age                          44
M/F                           F
City                 City Beach
State                       NaN
Country                     AUS
Half            0 days 01:34:16
40K             0 days 03:12:16
Pace                    0:07:47
TotalSeconds              11536
HalfSeconds                5656
Name: 5549, dtype: object
Ciudad Autonoma De Buenos Aires Age                                          37
M/F                                           M
City            Ciudad Autonoma De Buenos Aires
State                                       NaN
Country                                     ARG
Half                            0 days 01:39:08
40K                             0 days 03:32:30
Pace                                    0:08:35
TotalSeconds                              12750
HalfSeconds                                5948
Name: 2795, dtype: object
Ciudad De Buenos Aires Age                                 38
M/F                                  M
City            Ciudad De Buenos Aires
State                              NaN
Country                            ARG
Half                   0 days 01:44:05
40K                    0 days 03:39:10
Pace                           0:08:51
TotalSeconds                     13150
HalfSeconds                       6245
Name: 6475, dtype: object
Ciudad De Guatemala Age                              64
M/F                               M
City            Ciudad De Guatemala
State                           NaN
Country                         GUA
Half                0 days 01:33:59
40K                 0 days 03:22:15
Pace                        0:08:17
TotalSeconds                  12135
HalfSeconds                    5639
Name: 8633, dtype: object
Ciudad De Mexico Age                           32
M/F                            F
City            Ciudad De Mexico
State                        NaN
Country                      MEX
Half             0 days 01:35:37
40K              0 days 03:14:04
Pace                     0:07:51
TotalSeconds               11644
HalfSeconds                 5737
Name: 16527, dtype: object
Ciudad De Mxico Age                           45
M/F                            M
City            Ciudad De Mxico
State                        NaN
Country                      MEX
Half             0 days 01:24:41
40K              0 days 02:51:46
Pace                     0:06:58
TotalSeconds               10306

Columbia Heights Age                           30
M/F                            M
City            Columbia Heights
State                         MN
Country                      USA
Half             0 days 01:25:22
40K              0 days 02:46:37
Pace                     0:06:42
TotalSeconds                9997
HalfSeconds                 5122
Name: 1587, dtype: object
Columbia, Age                          42
M/F                           M
City                  Columbia,
State                        SC
Country                     USA
Half            0 days 01:35:07
40K             0 days 03:01:36
Pace                    0:07:18
TotalSeconds              10896
HalfSeconds                5707
Name: 7616, dtype: object
Columbus Age                          31
M/F                           M
City                   Columbus
State                        OH
Country                     USA
Half            0 days 01:23:51
40K             0 days 02:41:07
Pace                    0:06:29
TotalSeconds               9667
HalfSeconds                5031
Name: 2984, dtype: object
Comanche Age                          60
M/F                           F
City                   Comanche
State                        TX
Country                     USA
Half            0 days 02:15:52
40K             0 days 04:22:14
Pace                    0:10:33
TotalSeconds              15734
HalfSeconds                8152
Name: 25934, dtype: object
Combined Locks Age                          35
M/F                           F
City             Combined Locks
State                        WI
Country                     USA
Half            0 days 01:42:32
40K             0 days 03:25:05
Pace                    0:08:14
TotalSeconds              12305
HalfSeconds                6152
Name: 11674, dtype: object
Commack Age                          23
M/F                           M
City                    Commack
State                        NY
Country                     USA
Half            0 days 02:11:37
40K             0 days 04:17:24
Pace                    0:10:23
TotalSeconds              15444
HalfSeconds                7897
Name: 30034, dtype: object
Commerce Age                          53
M/F                           M
City                   Commerce
State                        MI
Country                     USA
Half            0 days 01:42:30
40K             0 days 04:03:58
Pace                    0:09:52
TotalSeconds              14638
HalfSeconds                6150
Name: 12808, dtype: object
Commerce City Age                          43
M/F                           F
City              Commerce City
State                        CO
Country                     USA
Half            0 days 01:54:10
40K             0 days 03:37:28
Pace                    0:08:45
TotalSeconds              13048
HalfSeconds                6850
Name: 20560, dtype: object
Commerce Township Age                            52
M/F                             F
City            Commerce Township
State                          MI
Country                       USA
Half              0 days 02:05:19
40K               0 days 04:10:19
Pace                      0:10:05
TotalSeconds                15019
HalfSeconds                  7519
Name: 23465, dtype: object
Commerce Twp Age                          55
M/F                           M
City               Commerce Twp
State                        MI
Country                     USA
Half            0 days 01:49:48
40K             0 days 03:55:59
Pace                    0:09:35
TotalSeconds              14159
HalfSeconds                6588
Name: 17398, dtype: object
Commercial Point Age                           37
M/F                            F
City            Commercial Point
State                         OH
Country                      USA
Half             0 days 01:44:45
40K              0 days 03:16:19
Pace                     0:07:53
TotalSeconds               11779
HalfSeconds                 6285
Name: 13342, dtype: object
Comstock Park Age                          52
M/F                           M
City              Comstock Park
State                        MI
Country                     USA
Half            0 days 01:31:45
40K             0 days 03:07:00
Pace                    0:07:36
TotalSeconds              11220
HalfSeconds                5505
Name: 6257, dtype: object
Conception Bay South Age                               35
M/F                                M
City            Conception Bay South
State                             NL
Country                          CAN
Half                 0 days 01:29:06
40K                  0 days 02:51:25
Pace                         0:06:55
TotalSeconds                   10285
HalfSeconds                     5346
Name: 5496, dtype: object
Concon Age                          37
M/F                           F
City                     Concon
State                       NaN
Country                     CHI
Half            0 days 01:47:10
40K             0 days 03:30:49
Pace                    0:08:31
TotalSeconds              12649
HalfSeconds                6430
Name: 18707, dtype: object
Concord Age                          44
M/F                           M
City                    Concord
State                        MA
Country                     USA
Half            0 days 01:15:33
40K             0 days 02:28:54
Pace                    0:06:02
TotalSeconds               8934
HalfSeconds                4533
Name: 468, dtype: object
Concord Township Age                           48
M/F                            M
City            Concord Township
State                         OH
Country                      USA
Half             0 days 01:38:02
40K              0 days 03:18:05
Pace                     0:08:00
TotalSeconds               11885
HalfSeconds                 5882
Name: 6981, dtype: object
Concord Twp Age                          45
M/F                           F
City                Concord Twp
State                        OH
Country                     USA
Half            0 days 01:38:52
40K             0 days 03:17:08
Pace                    0:07:57
TotalSeconds              11828
HalfSeconds                5932
Name: 16183, dtype: object
Concorezzo Age                          40
M/F                           F
City                 Concorezzo
State                       NaN
Country                     ITA
Half            0 days 02:35:08
40K             0 days 05:45:24
Pace                    0:14:00
TotalSeconds              20724
HalfSeconds                9308
Name: 21161, dtype: object
Condon Age                          52
M/F                           F
City                     Condon
State                        OR
Country                     USA
Half            0 days 01:49:11
40K             0 days 03:36:43
Pace                    0:08:47
TotalSeconds              13003
HalfSeconds                6551
Name: 22242, dtype: object
Conegliano Age                          56
M/F                           M
City                 Conegliano
State                       NaN
Country                     ITA
Half            0 days 01:57:44
40K             0 days 03:46:43
Pace                    0:09:08
TotalSeconds              13603
HalfSeconds                7064
Name: 31813, dtype: object
Conestogo Age                          37
M/F                           M
City                  Conestogo
State                        ON
Country                     CAN
Half            0 days 01:47:23
40K             0 days 03:36:45
Pace                    0:08:46
TotalSeconds              13005
HalfSeconds                6443
Name: 29985, dtype: object
Congers Age                          42
M/F                           F
City                    Congers
State                        NY
Country                     USA
Half            0 days 02:03:17
40K             0 days 04:21:50
Pace                    0:10:37
TotalSeconds              15710
HalfSeconds                7397
Name: 29945, dtype: object
Congerville Age                          39
M/F                           F
City                Congerville
State                        IL
Country                     USA
Half            0 days 02:34:39
40K             0 days 05:18:07
Pace                    0:12:45
TotalSeconds              19087
HalfSeconds                9279
Name: 27391, dtype: object
Conneaut Age                          50
M/F                           F
City                   Conneaut
State                        OH
Country                     USA
Half            0 days 01:51:03
40K             0 days 03:41:07
Pace                    0:08:56
TotalSeconds              13267
HalfSeconds                6663
Name: 22937, dtype: object
Conquerall Bank Age                          54
M/F                           M
City            Conquerall Bank
State                        NS
Country                     CAN
Half            0 days 01:46:11
40K             0 days 03:25:08
Pace                    0:08:17
TotalSeconds              12308
HalfSeconds                6371
Name: 13641, dtype: object
Conroe Age                          42
M/F                           F
City                     Conroe
State                        TX
Country                     USA
Half            0 days 01:51:34
40K             0 days 03:47:31
Pace                    0:09:16
TotalSeconds              13651
HalfSeconds                6694
Name: 21189, dtype: object
Consecon Age                          38
M/F                           F
City                   Consecon
State                        ON
Country                     CAN
Half            0 days 01:50:49
40K             0 days 03:32:22
Pace                    0:08:32
TotalSeconds              12742
HalfSeconds                6649
Name: 18454, dtype: object
Conshohocken Age                          25
M/F                           M
City               Conshohocken
State                        PA
Country                     USA
Half            0 days 01:17:01
40K             0 days 02:40:18
Pace                    0:06:30
TotalSeconds               9618
HalfSeconds                4621
Name: 1441, dtype: object
Constantia Age                          60
M/F                           M
City                 Constantia
State                        NY
Country                     USA
Half            0 days 01:57:54
40K             0 days 03:55:22
Pace                    0:09:31
TotalSeconds              14122
HalfSeconds                7074
Name: 21781, dtype: object
Constantine Age                          55
M/F                           F
City                Constantine
State                        MI
Country                     USA
Half            0 days 01:53:48
40K             0 days 03:40:42
Pace                    0:08:54
TotalSeconds              13242
HalfSeconds                6828
Name: 20473, dtype: object
Contrecoeur Age                          47
M/F                           M
City                Contrecoeur
State                        QC
Country                     CAN
Half            0 days 01:36:18
40K             0 days 03:10:29
Pace                    0:07:41
TotalSeconds              11429
HalfSeconds                5778
Name: 10960, dtype: object
Conway Age                          41
M/F                           F
City                     Conway
State                        AR
Country                     USA
Half            0 days 01:46:21
40K             0 days 03:26:47
Pace                    0:08:23
TotalSeconds              12407
HalfSeconds                6381
Name: 20677, dtype: object
Cookeville Age                          42
M/F                           M
City                 Cookeville
State                        TN
Country                     USA
Half            0 days 01:28:36
40K             0 days 02:50:55
Pace                    0:06:55
TotalSeconds              10255
HalfSeconds                5316
Name: 2854, dtype: object
Cookshire-Eaton Age                          46
M/F                           M
City            Cookshire-Eaton
State                        QC
Country                     CAN
Half            0 days 01:25:40
40K             0 days 02:49:14
Pace                    0:06:49
TotalSeconds              10154
HalfSeconds                5140
Name: 1071, dtype: object
Coon Rapids Age                          42
M/F                           F
City                Coon Rapids
State                        MN
Country                     USA
Half            0 days 01:51:53
40K             0 days 03:44:44
Pace                    0:09:05
TotalSeconds              13484
HalfSeconds                6713
Name: 21253, dtype: object
Cooper City Age                          50
M/F                           M
City                Cooper City
State                        FL
Country                     USA
Half            0 days 01:47:41
40K             0 days 03:40:42
Pace                    0:09:02
TotalSeconds              13242
HalfSeconds                6461
Name: 15053, dtype: object
Coopersburg Age                          30
M/F                           F
City                Coopersburg
State                        PA
Country                     USA
Half            0 days 01:44:49
40K             0 days 03:30:22
Pace                    0:08:30
TotalSeconds              12622
HalfSeconds                6289
Name: 15099, dtype: object
Coopersville Age                          40
M/F                           M
City               Coopersville
State                        MI
Country                     USA
Half            0 days 01:32:47
40K             0 days 03:10:27
Pace                    0:07:43
TotalSeconds              11427
HalfSeconds                5567
Name: 5025, dtype: object
Coos Bay Age                          50
M/F                           F
City                   Coos Bay
State                        OR
Country                     USA
Half            0 days 01:54:16
40K             0 days 03:42:56
Pace                    0:08:59
TotalSeconds              13376
HalfSeconds                6856
Name: 21136, dtype: object
Copenhagen Age                          41
M/F                           M
City                 Copenhagen
State                       NaN
Country                     DEN
Half            0 days 01:32:07
40K             0 days 02:59:06
Pace                    0:07:12
TotalSeconds              10746
HalfSeconds                5527
Name: 4398, dtype: object
Copenhagen N Age                          34
M/F                           M
City               Copenhagen N
State                       NaN
Country                     DEN
Half            0 days 01:52:17
40K             0 days 03:50:07
Pace                    0:09:19
TotalSeconds              13807
HalfSeconds                6737
Name: 4610, dtype: object
Copenhagen S Age                          30
M/F                           M
City               Copenhagen S
State                       NaN
Country                     DEN
Half            0 days 01:29:00
40K             0 days 02:51:38
Pace                    0:06:55
TotalSeconds              10298
HalfSeconds                5340
Name: 497, dtype: object
Copenhagen Sv Age                          37
M/F                           M
City              Copenhagen Sv
State                       NaN
Country                     DEN
Half            0 days 01:27:39
40K             0 days 03:13:06
Pace                    0:07:51
TotalSeconds              11586
HalfSeconds                5259
Name: 4187, dtype: object
Copenhagen V. Age                          59
M/F                           F
City              Copenhagen V.
State                       NaN
Country                     DEN
Half            0 days 02:17:59
40K             0 days 04:28:19
Pace                    0:10:52
TotalSeconds              16099
HalfSeconds                8279
Name: 30302, dtype: object
Coppell Age                          25
M/F                           M
City                    Coppell
State                        TX
Country                     USA
Half            0 days 01:29:01
40K             0 days 02:48:06
Pace                    0:06:45
TotalSeconds              10086
HalfSeconds                5341
Name: 3429, dtype: object
Coquitlam Age                          48
M/F                           M
City                  Coquitlam
State                        BC
Country                     CAN
Half            0 days 01:40:01
40K             0 days 03:18:21
Pace                    0:08:00
TotalSeconds              11901
HalfSeconds                6001
Name: 8024, dtype: object
Coral Gables Age                          40
M/F                           M
City               Coral Gables
State                        FL
Country                     USA
Half            0 days 01:26:28
40K             0 days 02:51:12
Pace                    0:06:58
TotalSeconds              10272
HalfSeconds                5188
Name: 4104, dtype: object
Coralville Age                          42
M/F                           M
City                 Coralville
State                        IA
Country                     USA
Half            0 days 01:37:37
40K             0 days 03:11:36
Pace                    0:07:44
TotalSeconds              11496
HalfSeconds                5857
Name: 8093, dtype: object
Coram Age                          48
M/F                           F
City                      Coram
State                        NY
Country                     USA
Half            0 days 01:46:02
40K             0 days 03:26:37
Pace                    0:08:19
TotalSeconds              12397
HalfSeconds                6362
Name: 19751, dtype: object
Coraopolis Age                          37
M/F                           M
City                 Coraopolis
State                        PA
Country                     USA
Half            0 days 01:21:15
40K             0 days 02:39:13
Pace                    0:06:27
TotalSeconds               9553
HalfSeconds                4875
Name: 2176, dtype: object
Corbeil Age                          44
M/F                           F
City                    Corbeil
State                        ON
Country                     CAN
Half            0 days 01:46:21
40K             0 days 03:37:47
Pace                    0:08:49
TotalSeconds              13067
HalfSeconds                6381
Name: 19488, dtype: object
Cordoba Age                          20
M/F                           F
City                    Cordoba
State                       NaN
Country                     ARG
Half            0 days 01:37:49
40K             0 days 03:16:53
Pace                    0:08:00
TotalSeconds              11813
HalfSeconds                5869
Name: 10315, dtype: object
Corinth Age                          74
M/F                           M
City                    Corinth
State                        MS
Country                     USA
Half            0 days 02:24:06
40K             0 days 04:42:32
Pace                    0:11:22
TotalSeconds              16952
HalfSeconds                8646
Name: 25915, dtype: object
Cork Age                          48
M/F                           F
City                       Cork
State                       NaN
Country                     IRL
Half            0 days 01:36:12
40K             0 days 03:07:57
Pace                    0:07:35
TotalSeconds              11277
HalfSeconds                5772
Name: 7245, dtype: object
Corlett Gardens Age                          42
M/F                           F
City            Corlett Gardens
State                       NaN
Country                     RSA
Half            0 days 02:17:13
40K             0 days 04:25:55
Pace                    0:10:42
TotalSeconds              15955
HalfSeconds                8233
Name: 31622, dtype: object
Corminboeuf Age                          64
M/F                           M
City                Corminboeuf
State                       NaN
Country                     SUI
Half            0 days 02:10:21

Cypress Age                          48
M/F                           M
City                    Cypress
State                        TX
Country                     USA
Half            0 days 01:29:07
40K             0 days 02:58:27
Pace                    0:07:13
TotalSeconds              10707
HalfSeconds                5347
Name: 2406, dtype: object
Dacula Age                          29
M/F                           F
City                     Dacula
State                        GA
Country                     USA
Half            0 days 01:29:23
40K             0 days 02:53:56
Pace                    0:07:00
TotalSeconds              10436
HalfSeconds                5363
Name: 8336, dtype: object
Daeniken Age                          39
M/F                           M
City                   Daeniken
State                       NaN
Country                     SUI
Half            0 days 01:48:00
40K             0 days 03:41:08
Pace                    0:08:57
TotalSeconds              13268
HalfSeconds                6480
Name: 31590, dtype: object
Dahlenburg Age                          50
M/F                           M
City                 Dahlenburg
State                       NaN
Country                     GER
Half            0 days 02:06:56
40K             0 days 04:06:25
Pace                    0:09:56
TotalSeconds              14785
HalfSeconds                7616
Name: 31307, dtype: object
Dahlonega Age                          39
M/F                           M
City                  Dahlonega
State                        GA
Country                     USA
Half            0 days 01:41:06
40K             0 days 03:28:24
Pace                    0:08:28
TotalSeconds              12504
HalfSeconds                6066
Name: 14454, dtype: object
Daisy Age                          50
M/F                           F
City                      Daisy
State                        OK
Country                     USA
Half            0 days 01:58:14
40K             0 days 03:49:46
Pace                    0:09:16
TotalSeconds              13786
HalfSeconds                7094
Name: 25036, dtype: object
Dalheim Age                          53
M/F                           M
City                    Dalheim
State                       NaN
Country                     LUX
Half            0 days 01:41:45
40K             0 days 03:18:01
Pace                    0:07:59
TotalSeconds              11881
HalfSeconds                6105
Name: 11741, dtype: object
Dalkeith Age                          55
M/F                           M
City                   Dalkeith
State                       NaN
Country                     AUS
Half            0 days 01:45:41
40K             0 days 03:26:27
Pace                    0:08:20
TotalSeconds              12387
HalfSeconds                6341
Name: 17318, dtype: object
Dallas Age                          28
M/F                           M
City                     Dallas
State                        TX
Country                     USA
Half            0 days 01:07:57
40K             0 days 02:12:47
Pace                    0:05:25
TotalSeconds               7967
HalfSeconds                4077
Name: 43, dtype: object
Dallastown Age                          47
M/F                           M
City                 Dallastown
State                        PA
Country                     USA
Half            0 days 01:41:45
40K             0 days 03:28:16
Pace                    0:08:35
TotalSeconds              12496
HalfSeconds                6105
Name: 12184, dtype: object
Dalton Age                          29
M/F                           M
City                     Dalton
State                        PA
Country                     USA
Half            0 days 01:29:04
40K             0 days 02:53:28
Pace                    0:06:59
TotalSeconds              10408
HalfSeconds                5344
Name: 1647, dtype: object
Daly City Age                          28
M/F                           M
City                  Daly City
State                        CA
Country                     USA
Half            0 days 01:19:00
40K             0 days 02:40:39
Pace                    0:06:30
TotalSeconds               9639
HalfSeconds                4740
Name: 698, dtype: object
Damascus Age                          39
M/F                           F
City                   Damascus
State                        MD
Country                     USA
Half            0 days 01:44:23
40K             0 days 03:20:46
Pace                    0:08:05
TotalSeconds              12046
HalfSeconds                6263
Name: 12977, dtype: object
Damme Age                          58
M/F                           M
City                      Damme
State                       NaN
Country                     BEL
Half            0 days 01:55:43
40K             0 days 03:50:29
Pace                    0:09:19
TotalSeconds              13829
HalfSeconds                6943
Name: 31282, dtype: object
Dana Point Age                          45
M/F                           M
City                 Dana Point
State                        CA
Country                     USA
Half            0 days 01:40:36
40K             0 days 03:33:27
Pace                    0:08:39
TotalSeconds              12807
HalfSeconds                6036
Name: 9423, dtype: object
Danbury Age                          41
M/F                           M
City                    Danbury
State                        CT
Country                     USA
Half            0 days 01:29:57
40K             0 days 02:51:56
Pace                    0:06:55
TotalSeconds              10316
HalfSeconds                5397
Name: 5558, dtype: object
Danielson Age                          60
M/F                           M
City                  Danielson
State                        CT
Country                     USA
Half            0 days 01:42:37
40K             0 days 03:17:47
Pace                    0:07:58
TotalSeconds              11867
HalfSeconds                6157
Name: 13839, dtype: object
Dannemora Age                          33
M/F                           M
City                  Dannemora
State                        NY
Country                     USA
Half            0 days 01:30:29
40K             0 days 03:01:16
Pace                    0:07:19
TotalSeconds              10876
HalfSeconds                5429
Name: 3031, dtype: object
Dansville Age                          52
M/F                           F
City                  Dansville
State                        NY
Country                     USA
Half            0 days 01:49:56
40K             0 days 03:32:31
Pace                    0:08:34
TotalSeconds              12751
HalfSeconds                6596
Name: 21541, dtype: object
Danvers Age                          28
M/F                           F
City                    Danvers
State                        MA
Country                     USA
Half            0 days 01:36:56
40K             0 days 03:14:47
Pace                    0:07:53
TotalSeconds              11687
HalfSeconds                5816
Name: 14890, dtype: object
Danvile Age                          55
M/F                           F
City                    Danvile
State                        CA
Country                     USA
Half            0 days 01:58:32
40K             0 days 03:47:03
Pace                    0:09:10
TotalSeconds              13623
HalfSeconds                7112
Name: 25426, dtype: object
Danville Age                          29
M/F                           M
City                   Danville
State                        VA
Country                     USA
Half            0 days 01:12:34
40K             0 days 02:24:15
Pace                    0:05:52
TotalSeconds               8655
HalfSeconds                4354
Name: 153, dtype: object
Daours Age                          49
M/F                           M
City                     Daours
State                       NaN
Country                     FRA
Half            0 days 01:38:37
40K             0 days 03:20:12
Pace                    0:08:06
TotalSeconds              12012
HalfSeconds                5917
Name: 10425, dtype: object
Daqing Age                          28
M/F                           M
City                     Daqing
State                       NaN
Country                     CHN
Half            0 days 01:37:01
40K             0 days 03:21:47
Pace                    0:08:13
TotalSeconds              12107
HalfSeconds                5821
Name: 4812, dtype: object
Darien Age                          42
M/F                           M
City                     Darien
State                        CT
Country                     USA
Half            0 days 01:24:41
40K             0 days 02:47:42
Pace                    0:06:45
TotalSeconds              10062
HalfSeconds                5081
Name: 1137, dtype: object
Darlington Age                          54
M/F                           M
City                 Darlington
State                       NaN
Country                     GBR
Half            0 days 01:43:11
40K             0 days 03:31:15
Pace                    0:08:32
TotalSeconds              12675
HalfSeconds                6191
Name: 12269, dtype: object
Dartford Age                          44
M/F                           M
City                   Dartford
State                       NaN
Country                     GBR
Half            0 days 01:35:31
40K             0 days 03:10:16
Pace                    0:07:45
TotalSeconds              11416
HalfSeconds                5731
Name: 8903, dtype: object
Dartmouth Age                          47
M/F                           F
City                  Dartmouth
State                        NS
Country                     CAN
Half            0 days 01:25:15
40K             0 days 02:49:04
Pace                    0:06:51
TotalSeconds              10144
HalfSeconds                5115
Name: F112, dtype: object
Date Age                          51
M/F                           M
City                       Date
State                       NaN
Country                     JPN
Half            0 days 01:56:00
40K             0 days 03:57:24
Pace                    0:09:39
TotalSeconds              14244
HalfSeconds                6960
Name: 14282, dtype: object
Dauphin Island Age                          38
M/F                           F
City             Dauphin Island
State                        AL
Country                     USA
Half            0 days 01:39:15
40K             0 days 03:06:35
Pace                    0:07:29
TotalSeconds              11195
HalfSeconds                5955
Name: 12578, dtype: object
Davenport Age                          50
M/F                           M
City                  Davenport
State                        IA
Country                     USA
Half            0 days 01:23:59
40K             0 days 02:44:02
Pace                    0:06:39
TotalSeconds               9842
HalfSeconds                5039
Name: 1773, dtype: object
David City Age                          33
M/F                           M
City                 David City
State                        NE
Country                     USA
Half            0 days 01:37:36
40K             0 days 03:25:34
Pace                    0:08:18
TotalSeconds              12334
HalfSeconds                5856
Name: 2600, dtype: object
Davidson Age                          41
M/F                           F
City                   Davidson
State                        NC
Country                     USA
Half            0 days 01:47:20
40K             0 days 03:26:53
Pace                    0:08:23
TotalSeconds              12413
HalfSeconds                6440
Name: 20405, dtype: object
Davidsonville Age                          21
M/F                           F
City              Davidsonville
State                        MD
Country                     USA
Half            0 days 01:45:26
40K             0 days 03:22:38
Pace                    0:08:12
TotalSeconds              12158
HalfSeconds                6326
Name: 14573, dtype: object
Davie Age                          38
M/F                           M
City                      Davie
State                        FL
Country                     USA
Half            0 days 01:24:20
40K             0 days 02:51:18
Pace                    0:07:00
TotalSeconds              10278
HalfSeconds                5060
Name: 4097, dtype: object
Davis Age                          28
M/F                           M
City                      Davis
State                        CA
Country                     USA
Half            0 days 01:25:17
40K             0 days 02:42:52
Pace                    0:06:34
TotalSeconds               9772
HalfSeconds                5117
Name: 2632, dtype: object
Davison Age                          53
M/F                           M
City                    Davison
State                        MI
Country                     USA
Half            0 days 01:51:51
40K             0 days 03:29:42
Pace                    0:08:29
TotalSeconds              12582
HalfSeconds                6711
Name: 14412, dtype: object
Dawsonville Age                          46
M/F                           F
City                Dawsonville
State                        GA
Country                     USA
Half            0 days 02:06:06
40K             0 days 04:04:50
Pace                    0:09:51
TotalSeconds              14690
HalfSeconds                7566
Name: 29369, dtype: object
Dayton Age                          29
M/F                           M
City                     Dayton
State                        OH
Country                     USA
Half            0 days 01:31:57
40K             0 days 02:53:37
Pace                    0:07:00
TotalSeconds              10417
HalfSeconds                5517
Name: 3508, dtype: object
Daytona Beach Age                          49
M/F                           F
City              Daytona Beach
State                        FL
Country                     USA
Half            0 days 01:50:22
40K             0 days 03:45:10
Pace                    0:09:08
TotalSeconds              13510
HalfSeconds                6622
Name: 12976, dtype: object
Dayville Age                          38
M/F                           F
City                   Dayville
State                        CT
Country                     USA
Half            0 days 01:56:57
40K             0 days 03:48:20
Pace                    0:09:11
TotalSeconds              13700
HalfSeconds                7017
Name: 20483, dtype: object
Ddo Age                          51
M/F                           F
City                        Ddo
State                        QC
Country                     CAN
Half            0 days 01:57:27
40K             0 days 03:57:23
Pace                    0:09:35
TotalSeconds              14243
HalfSeconds                7047
Name: 23425, dtype: object
De Forest Age                          28
M/F                           M
City                  De Forest
State                        WI
Country                     USA
Half            0 days 01:30:29
40K             0 days 03:00:28
Pace                    0:07:26
TotalSeconds              10828
HalfSeconds                5429
Name: 4567, dtype: object
De Pere Age                          23
M/F                           M
City                    De Pere
State                        WI
Country                     USA
Half            0 days 01:19:29
40K             0 days 02:36:12
Pace                    0:06:21
TotalSeconds               9372
HalfSeconds                4769
Name: 544, dtype: object
De Soto Age                          36
M/F                           F
City                    De Soto
State                        MO
Country                     USA
Half            0 days 01:48:23
40K             0 days 03:33:56
Pace                    0:08:37
TotalSeconds              12836
HalfSeconds                6503
Name: 14477, dtype: object
Dearborn Age                          35
M/F                           F
City                   Dearborn
State                        MI
Country                     USA
Half            0 days 01:38:09
40K             0 days 03:14:56
Pace                    0:07:54
TotalSeconds              11696
HalfSeconds                5889
Name: 7327, dtype: object
Dearborn Heights Age                           36
M/F                            F
City            Dearborn Heights
State                         MI
Country                      USA
Half             0 days 01:43:03
40K              0 days 03:14:56
Pace                     0:07:50
TotalSeconds               11696
HalfSeconds                 6183
Name: 16086, dtype: object
Debary Age                          54
M/F                           M
City                     Debary
State                        FL
Country                     USA
Half            0 days 01:46:13
40K             0 days 03:26:53
Pace                    0:08:24
TotalSeconds              12413
HalfSeconds                6373
Name: 13269, dtype: object
Debre Birhan Age                          25
M/F                           F
City               Debre Birhan
State                       NaN
Country                     ETH
Half            0 days 01:15:33
40K             0 days 02:34:31
Pace                    0:06:17
TotalSeconds               9271
HalfSeconds                4533
Name: F8, dtype: object
Decatur Age                          28
M/F                           M
City                    Decatur
State                        GA
Country                     USA
Half            0 days 01:25:33
40K             0 days 02:44:12
Pace                    0:06:38
TotalSeconds               9852
HalfSeconds                5133
Name: 1955, dtype: object
Deception Bay Age                          49
M/F                           M
City              Deception Bay
State                       NaN
Country                     AUS
Half            0 days 01:33:13
40K             0 days 03:06:26
Pace                    0:07:35
TotalSeconds              11186
HalfSeconds                5593
Name: 10355, dtype: object
Decorah Age                          54
M/F                           M
City                    Decorah
State                        IA
Country                     USA
Half            0 days 01:35:52
40K             0 days 03:08:35
Pace                    0:07:37
TotalSeconds              11315
HalfSeconds                5752
Name: 11341, dtype: object
Dedham Age                          44
M/F                           M
City                     Dedham
State                        MA
Country                     USA
Half            0 days 01:31:13
40K             0 days 02:58:39
Pace                    0:07:14
TotalSeconds              10719
HalfSeconds                5473
Name: 5632, dtype: object
Dee Why Age                          57
M/F                           M
City                    Dee Why
State                       NaN
Country                     AUS
Half            0 days 01:57:30
40K             0 days 03:50:59
Pace                    0:09:20
TotalSeconds              13859
HalfSeconds                7050
Name: 14432, dtype: object
Deep River Age                          37
M/F                           M
City                 Deep River
State                        ON
Country                     CAN
Half            0 days 01:33:18
40K             0 days 02:58:04
Pace                    0:07:10
TotalSeconds              10684
HalfSeconds                5598
Name: 4328, dtype: object
Deer Park Age                          47
M/F                           F
City                  Deer Park
State                        TX
Country                     USA
Half            0 days 01:53:26
40K             0 days 03:43:20
Pace                    0:09:00
TotalSeconds              13400
HalfSeconds                6806
Name: 22086, dtype: object
Deer River Age                          32
M/F                           F

Douglasville Age                          41
M/F                           F
City               Douglasville
State                        GA
Country                     USA
Half            0 days 01:55:57
40K             0 days 03:54:37
Pace                    0:09:30
TotalSeconds              14077
HalfSeconds                6957
Name: 20845, dtype: object
Douglaville Age                          32
M/F                           F
City                Douglaville
State                        GA
Country                     USA
Half            0 days 02:11:12
40K             0 days 04:26:20
Pace                    0:10:42
TotalSeconds              15980
HalfSeconds                7872
Name: 26951, dtype: object
Dover Age                          37
M/F                           M
City                      Dover
State                        DE
Country                     USA
Half            0 days 01:26:00
40K             0 days 02:50:14
Pace                    0:06:54
TotalSeconds              10214
HalfSeconds                5160
Name: 1557, dtype: object
Dover Foxcroft Age                          59
M/F                           M
City             Dover Foxcroft
State                        ME
Country                     USA
Half            0 days 01:47:27
40K             0 days 03:27:33
Pace                    0:08:23
TotalSeconds              12453
HalfSeconds                6447
Name: 20242, dtype: object
Dover-Foxcroft Age                          25
M/F                           M
City             Dover-Foxcroft
State                        ME
Country                     USA
Half            0 days 01:23:52
40K             0 days 02:42:59
Pace                    0:06:35
TotalSeconds               9779
HalfSeconds                5032
Name: 1083, dtype: object
Downers Grove Age                          41
M/F                           M
City              Downers Grove
State                        IL
Country                     USA
Half            0 days 01:25:40
40K             0 days 02:53:42
Pace                    0:07:05
TotalSeconds              10422
HalfSeconds                5140
Name: 1187, dtype: object
Downey Age                          42
M/F                           M
City                     Downey
State                        CA
Country                     USA
Half            0 days 01:16:16
40K             0 days 02:27:27
Pace                    0:05:58
TotalSeconds               8847
HalfSeconds                4576
Name: 229, dtype: object
Downingtown Age                          34
M/F                           M
City                Downingtown
State                        PA
Country                     USA
Half            0 days 01:24:42
40K             0 days 02:45:51
Pace                    0:06:43
TotalSeconds               9951
HalfSeconds                5082
Name: 2128, dtype: object
Doylestown Age                          33
M/F                           M
City                 Doylestown
State                        PA
Country                     USA
Half            0 days 01:24:51
40K             0 days 02:47:09
Pace                    0:06:45
TotalSeconds              10029
HalfSeconds                5091
Name: 3475, dtype: object
Dracut Age                          48
M/F                           M
City                     Dracut
State                        MA
Country                     USA
Half            0 days 01:33:08
40K             0 days 03:02:33
Pace                    0:07:23
TotalSeconds              10953
HalfSeconds                5588
Name: 12198, dtype: object
Draillant Age                          39
M/F                           M
City                  Draillant
State                       NaN
Country                     FRA
Half            0 days 01:33:40
40K             0 days 03:12:51
Pace                    0:07:48
TotalSeconds              11571
HalfSeconds                5620
Name: 7241, dtype: object
Draper Age                          32
M/F                           M
City                     Draper
State                        UT
Country                     USA
Half            0 days 01:21:27
40K             0 days 02:45:02
Pace                    0:06:40
TotalSeconds               9902
HalfSeconds                4887
Name: 587, dtype: object
Dresden Age                          36
M/F                           M
City                    Dresden
State                       NaN
Country                     GER
Half            0 days 01:27:35
40K             0 days 02:59:27
Pace                    0:07:18
TotalSeconds              10767
HalfSeconds                5255
Name: 31862, dtype: object
Drexel Hill Age                          52
M/F                           M
City                Drexel Hill
State                        PA
Country                     USA
Half            0 days 01:40:18
40K             0 days 03:09:11
Pace                    0:07:37
TotalSeconds              11351
HalfSeconds                6018
Name: 11861, dtype: object
Dripping Springs Age                           50
M/F                            F
City            Dripping Springs
State                         TX
Country                      USA
Half             0 days 02:16:12
40K              0 days 04:33:44
Pace                     0:10:59
TotalSeconds               16424
HalfSeconds                 8172
Name: 22824, dtype: object
Drongen Age                          48
M/F                           M
City                    Drongen
State                       NaN
Country                     BEL
Half            0 days 01:22:31
40K             0 days 02:43:38
Pace                    0:06:38
TotalSeconds               9818
HalfSeconds                4951
Name: 2407, dtype: object
Drummondville Age                          41
M/F                           M
City              Drummondville
State                        QC
Country                     CAN
Half            0 days 01:27:08
40K             0 days 02:52:28
Pace                    0:06:57
TotalSeconds              10348
HalfSeconds                5228
Name: 2955, dtype: object
Drummoyne Age                          30
M/F                           M
City                  Drummoyne
State                       NaN
Country                     AUS
Half            0 days 01:30:56
40K             0 days 03:14:22
Pace                    0:07:52
TotalSeconds              11662
HalfSeconds                5456
Name: 4725, dtype: object
Dryden Age                          54
M/F                           F
City                     Dryden
State                        NY
Country                     USA
Half            0 days 01:47:12
40K             0 days 03:34:10
Pace                    0:08:42
TotalSeconds              12850
HalfSeconds                6432
Name: 24056, dtype: object
Dubai Age                          45
M/F                           M
City                      Dubai
State                       NaN
Country                     UAE
Half            0 days 01:29:59
40K             0 days 03:04:41
Pace                    0:07:32
TotalSeconds              11081
HalfSeconds                5399
Name: 3581, dtype: object
Dubai International Financial Centre Age                                               45
M/F                                                M
City            Dubai International Financial Centre
State                                            NaN
Country                                          UAE
Half                                 0 days 01:40:52
40K                                  0 days 03:36:54
Pace                                         0:08:54
TotalSeconds                                   13014
HalfSeconds                                     6052
Name: 9149, dtype: object
Dubai, PO Box Age                          46
M/F                           M
City              Dubai, PO Box
State                       NaN
Country                     UAE
Half            0 days 01:41:07
40K             0 days 03:34:25
Pace                    0:08:43
TotalSeconds              12865
HalfSeconds                6067
Name: 10516, dtype: object
Dubbo Age                          60
M/F                           M
City                      Dubbo
State                       NaN
Country                     AUS
Half            0 days 02:02:49
40K             0 days 04:28:12
Pace                    0:10:51
TotalSeconds              16092
HalfSeconds                7369
Name: 20036, dtype: object
Dublin Age                          46
M/F                           M
City                     Dublin
State                        OH
Country                     USA
Half            0 days 01:17:46
40K             0 days 02:32:04
Pace                    0:06:09
TotalSeconds               9124
HalfSeconds                4666
Name: 598, dtype: object
Dublin 24 Age                          58
M/F                           M
City                  Dublin 24
State                       NaN
Country                     IRL
Half            0 days 01:44:52
40K             0 days 03:27:32
Pace                    0:08:24
TotalSeconds              12452
HalfSeconds                6292
Name: 31711, dtype: object
Dublin 3 Age                          46
M/F                           M
City                   Dublin 3
State                       NaN
Country                     IRL
Half            0 days 01:31:33
40K             0 days 03:11:08
Pace                    0:07:47
TotalSeconds              11468
HalfSeconds                5493
Name: 4827, dtype: object
Dublin 4 Age                          32
M/F                           F
City                   Dublin 4
State                       NaN
Country                     IRL
Half            0 days 02:08:29
40K             0 days 04:44:41
Pace                    0:11:26
TotalSeconds              17081
HalfSeconds                7709
Name: 31780, dtype: object
Dublin 6w Age                          42
M/F                           M
City                  Dublin 6w
State                       NaN
Country                     IRL
Half            0 days 01:56:03
40K             0 days 03:55:52
Pace                    0:09:35
TotalSeconds              14152
HalfSeconds                6963
Name: 31766, dtype: object
Dublin 8 Age                          28
M/F                           F
City                   Dublin 8
State                       NaN
Country                     IRL
Half            0 days 01:39:29
40K             0 days 03:15:33
Pace                    0:07:53
TotalSeconds              11733
HalfSeconds                5969
Name: 19277, dtype: object
Dubnica Nad Vahom Age                            44
M/F                             M
City            Dubnica Nad Vahom
State                         NaN
Country                       SVK
Half              0 days 01:24:11
40K               0 days 02:45:32
Pace                      0:06:41
TotalSeconds                 9932
HalfSeconds                  5051
Name: 1260, dtype: object
Dubois Age                          67
M/F                           M
City                     Dubois
State                        WY
Country                     USA
Half            0 days 02:08:44
40K             0 days 04:23:01
Pace                    0:10:39
TotalSeconds              15781
HalfSeconds                7724
Name: 25361, dtype: object
Duboistown Age                          28
M/F                           M
City                 Duboistown
State                        PA
Country                     USA
Half            0 days 01:17:07
40K             0 days 02:36:22
Pace                    0:06:19
TotalSeconds               9382
HalfSeconds                4627
Name: 220, dtype: object
Dubuque Age                          35
M/F                           M
City                    Dubuque
State                        IA
Country                     USA
Half            0 days 01:28:36
40K             0 days 02:48:01
Pace                    0:06:46
TotalSeconds              10081
HalfSeconds                5316
Name: 3194, dtype: object
Dudley Age                          56
M/F                           F
City                     Dudley
State                        MA
Country                     USA
Half            0 days 02:03:37
40K             0 days 04:00:09
Pace                    0:09:40
TotalSeconds              14409
HalfSeconds                7417
Name: 25104, dtype: object
Duerbheim Age                          53
M/F                           M
City                  Duerbheim
State                       NaN
Country                     GER
Half            0 days 01:29:56
40K             0 days 03:00:08
Pace                    0:07:17
TotalSeconds              10808
HalfSeconds                5396
Name: 3672, dtype: object
Duesseldorf Age                          44
M/F                           M
City                Duesseldorf
State                       NaN
Country                     GER
Half            0 days 01:48:51
40K             0 days 03:31:09
Pace                    0:08:31
TotalSeconds              12669
HalfSeconds                6531
Name: 31128, dtype: object
Duisburg Age                          49
M/F                           M
City                   Duisburg
State                       NaN
Country                     GER
Half            0 days 01:52:14
40K             0 days 03:34:35
Pace                    0:08:38
TotalSeconds              12875
HalfSeconds                6734
Name: 31039, dtype: object
Dulles Age                          40
M/F                           F
City                     Dulles
State                        VA
Country                     USA
Half            0 days 02:02:08
40K             0 days 04:16:09
Pace                    0:10:24
TotalSeconds              15369
HalfSeconds                7328
Name: 20376, dtype: object
Duluth Age                          29
M/F                           M
City                     Duluth
State                        MN
Country                     USA
Half            0 days 01:22:56
40K             0 days 02:47:42
Pace                    0:06:46
TotalSeconds              10062
HalfSeconds                4976
Name: 1123, dtype: object
Dumfries Age                          46
M/F                           F
City                   Dumfries
State                        VA
Country                     USA
Half            0 days 01:54:09
40K             0 days 03:39:11
Pace                    0:08:48
TotalSeconds              13151
HalfSeconds                6849
Name: 23104, dtype: object
Dumont Age                          42
M/F                           M
City                     Dumont
State                        NJ
Country                     USA
Half            0 days 01:27:16
40K             0 days 02:50:04
Pace                    0:06:50
TotalSeconds              10204
HalfSeconds                5236
Name: 3773, dtype: object
Dunbar Age                          51
M/F                           M
City                     Dunbar
State                        PA
Country                     USA
Half            0 days 02:01:04
40K             0 days 04:06:58
Pace                    0:09:59
TotalSeconds              14818
HalfSeconds                7264
Name: 13867, dtype: object
Dunbarton Age                          49
M/F                           M
City                  Dunbarton
State                        NH
Country                     USA
Half            0 days 01:26:49
40K             0 days 02:54:11
Pace                    0:07:04
TotalSeconds              10451
HalfSeconds                5209
Name: 9641, dtype: object
Duncan Age                          38
M/F                           F
City                     Duncan
State                        BC
Country                     CAN
Half            0 days 02:04:45
40K             0 days 04:06:50
Pace                    0:09:55
TotalSeconds              14810
HalfSeconds                7485
Name: 17419, dtype: object
Dundas Age                          36
M/F                           M
City                     Dundas
State                        ON
Country                     CAN
Half            0 days 01:34:54
40K             0 days 03:11:12
Pace                    0:07:44
TotalSeconds              11472
HalfSeconds                5694
Name: 3109, dtype: object
Dunedin Age                          34
M/F                           F
City                    Dunedin
State                        FL
Country                     USA
Half            0 days 01:47:10
40K             0 days 03:36:53
Pace                    0:08:46
TotalSeconds              13013
HalfSeconds                6430
Name: 16572, dtype: object
Dunkirk Age                          45
M/F                           M
City                    Dunkirk
State                        MD
Country                     USA
Half            0 days 01:34:12
40K             0 days 03:49:45
Pace                    0:09:11
TotalSeconds              13785
HalfSeconds                5652
Name: 5942, dtype: object
Dunlap Age                          36
M/F                           F
City                     Dunlap
State                        IL
Country                     USA
Half            0 days 01:44:08
40K             0 days 03:27:34
Pace                    0:08:26
TotalSeconds              12454
HalfSeconds                6248
Name: 14371, dtype: object
Dunmore Age                          47
M/F                           F
City                    Dunmore
State                        PA
Country                     USA
Half            0 days 01:48:42
40K             0 days 03:35:36
Pace                    0:08:43
TotalSeconds              12936
HalfSeconds                6522
Name: 17654, dtype: object
Dunn Age                          45
M/F                           M
City                       Dunn
State                        NC
Country                     USA
Half            0 days 01:38:56
40K             0 days 03:39:45
Pace                    0:08:53
TotalSeconds              13185
HalfSeconds                5936
Name: 10102, dtype: object
Dunrobin Age                          60
M/F                           M
City                   Dunrobin
State                        ON
Country                     CAN
Half            0 days 01:47:13
40K             0 days 03:36:26
Pace                    0:08:47
TotalSeconds              12986
HalfSeconds                6433
Name: 23292, dtype: object
Dunstable Age                          46
M/F                           M
City                  Dunstable
State                        MA
Country                     USA
Half            0 days 01:37:37
40K             0 days 03:26:11
Pace                    0:08:20
TotalSeconds              12371
HalfSeconds                5857
Name: 6577, dtype: object
Dunwoody Age                          45
M/F                           M
City                   Dunwoody
State                        GA
Country                     USA
Half            0 days 01:28:57
40K             0 days 02:58:41
Pace                    0:07:17
TotalSeconds              10721
HalfSeconds                5337
Name: 1249, dtype: object
Dupont Age                          44
M/F                           M
City                     Dupont
State                        WA
Country                     USA
Half            0 days 01:34:45
40K             0 days 03:09:41
Pace                    0:07:39
TotalSeconds              11381
HalfSeconds                5685
Name: 8114, dtype: object
Durand Age                          49
M/F                           M
City                     Durand
State                        MI
Country                     USA
Half            0 days 01:35:59
40K             0 days 03:18:19
Pace                    0:08:05
TotalSeconds              11899
HalfSeconds                5759
Name: 9338, dtype: object
Durango Age                          42
M/F                           M
City                    Durango
State                        CO

Eliot Age                          49
M/F                           M
City                      Eliot
State                        ME
Country                     USA
Half            0 days 01:38:37
40K             0 days 03:28:40
Pace                    0:08:26
TotalSeconds              12520
HalfSeconds                5917
Name: 9193, dtype: object
Elizabeth Township Age                             29
M/F                              F
City            Elizabeth Township
State                           PA
Country                        USA
Half               0 days 01:36:49
40K                0 days 03:05:12
Pace                       0:07:30
TotalSeconds                 11112
HalfSeconds                   5809
Name: 12806, dtype: object
Elizabethton Age                          52
M/F                           M
City               Elizabethton
State                        TN
Country                     USA
Half            0 days 01:42:52
40K             0 days 03:17:48
Pace                    0:07:58
TotalSeconds              11868
HalfSeconds                6172
Name: 13181, dtype: object
Elizabethtown Age                          45
M/F                           M
City              Elizabethtown
State                        ON
Country                     CAN
Half            0 days 01:30:12
40K             0 days 02:56:17
Pace                    0:07:08
TotalSeconds              10577
HalfSeconds                5412
Name: 7071, dtype: object
Elk Grove Age                          47
M/F                           M
City                  Elk Grove
State                        CA
Country                     USA
Half            0 days 01:41:17
40K             0 days 03:13:43
Pace                    0:07:47
TotalSeconds              11623
HalfSeconds                6077
Name: 12505, dtype: object
Elk Grove Village Age                            41
M/F                             F
City            Elk Grove Village
State                          IL
Country                       USA
Half              0 days 01:46:42
40K               0 days 03:23:31
Pace                      0:08:12
TotalSeconds                12211
HalfSeconds                  6402
Name: 13896, dtype: object
Elk Mound Age                          58
M/F                           M
City                  Elk Mound
State                        WI
Country                     USA
Half            0 days 01:49:34
40K             0 days 03:33:26
Pace                    0:08:38
TotalSeconds              12806
HalfSeconds                6574
Name: 19702, dtype: object
Elk Rapids Age                          67
M/F                           F
City                 Elk Rapids
State                        MI
Country                     USA
Half            0 days 02:29:13
40K             0 days 05:15:34
Pace                    0:12:46
TotalSeconds              18934
HalfSeconds                8953
Name: 25763, dtype: object
Elk River Age                          22
M/F                           F
City                  Elk River
State                        MN
Country                     USA
Half            0 days 01:49:32
40K             0 days 03:49:52
Pace                    0:09:21
TotalSeconds              13792
HalfSeconds                6572
Name: 15451, dtype: object
Elkhart Age                          30
M/F                           F
City                    Elkhart
State                        IN
Country                     USA
Half            0 days 01:43:55
40K             0 days 03:28:03
Pace                    0:08:24
TotalSeconds              12483
HalfSeconds                6235
Name: 7623, dtype: object
Elkhorn Age                          40
M/F                           F
City                    Elkhorn
State                        NE
Country                     USA
Half            0 days 01:39:36
40K             0 days 03:14:41
Pace                    0:07:51
TotalSeconds              11681
HalfSeconds                5976
Name: 10857, dtype: object
Elkin Age                          46
M/F                           M
City                      Elkin
State                        NC
Country                     USA
Half            0 days 01:40:10
40K             0 days 03:25:02
Pace                    0:08:19
TotalSeconds              12302
HalfSeconds                6010
Name: 12610, dtype: object
Elkins Park Age                          47
M/F                           M
City                Elkins Park
State                        PA
Country                     USA
Half            0 days 01:41:56
40K             0 days 03:29:29
Pace                    0:08:27
TotalSeconds              12569
HalfSeconds                6116
Name: 12209, dtype: object
Elkmont Age                          52
M/F                           F
City                    Elkmont
State                        AL
Country                     USA
Half            0 days 01:50:59
40K             0 days 03:40:41
Pace                    0:08:56
TotalSeconds              13241
HalfSeconds                6659
Name: 21183, dtype: object
Elkridge Age                          36
M/F                           F
City                   Elkridge
State                        MD
Country                     USA
Half            0 days 01:45:02
40K             0 days 03:24:09
Pace                    0:08:14
TotalSeconds              12249
HalfSeconds                6302
Name: 20206, dtype: object
Elkton Age                          35
M/F                           F
City                     Elkton
State                        FL
Country                     USA
Half            0 days 01:44:53
40K             0 days 03:30:22
Pace                    0:08:31
TotalSeconds              12622
HalfSeconds                6293
Name: 14691, dtype: object
Elkview Age                          44
M/F                           F
City                    Elkview
State                        WV
Country                     USA
Half            0 days 01:47:11
40K             0 days 03:24:57
Pace                    0:08:16
TotalSeconds              12297
HalfSeconds                6431
Name: 19436, dtype: object
Ellensburg Age                          42
M/F                           M
City                 Ellensburg
State                        WA
Country                     USA
Half            0 days 01:29:40
40K             0 days 02:52:19
Pace                    0:06:59
TotalSeconds              10339
HalfSeconds                5380
Name: 4092, dtype: object
Ellettsville Age                          51
M/F                           M
City               Ellettsville
State                        IN
Country                     USA
Half            0 days 01:44:21
40K             0 days 03:35:23
Pace                    0:08:43
TotalSeconds              12923
HalfSeconds                6261
Name: 11003, dtype: object
Ellicott City Age                          53
M/F                           M
City              Ellicott City
State                        MD
Country                     USA
Half            0 days 01:29:24
40K             0 days 02:54:18
Pace                    0:07:02
TotalSeconds              10458
HalfSeconds                5364
Name: 4181, dtype: object
Ellington Age                          35
M/F                           M
City                  Ellington
State                        CT
Country                     USA
Half            0 days 01:29:36
40K             0 days 02:49:20
Pace                    0:06:50
TotalSeconds              10160
HalfSeconds                5376
Name: 4195, dtype: object
Ellisville Age                          38
M/F                           F
City                 Ellisville
State                        MO
Country                     USA
Half            0 days 01:44:35
40K             0 days 03:29:53
Pace                    0:08:29
TotalSeconds              12593
HalfSeconds                6275
Name: 18446, dtype: object
Ellsworth Age                          28
M/F                           M
City                  Ellsworth
State                        ME
Country                     USA
Half            0 days 01:20:54
40K             0 days 02:49:47
Pace                    0:06:50
TotalSeconds              10187
HalfSeconds                4854
Name: 362, dtype: object
Elm Grove Age                          47
M/F                           F
City                  Elm Grove
State                        WI
Country                     USA
Half            0 days 01:51:55
40K             0 days 03:40:38
Pace                    0:08:58
TotalSeconds              13238
HalfSeconds                6715
Name: 21175, dtype: object
Elmhurst Age                          38
M/F                           F
City                   Elmhurst
State                        IL
Country                     USA
Half            0 days 01:45:47
40K             0 days 03:26:56
Pace                    0:08:22
TotalSeconds              12416
HalfSeconds                6347
Name: 19126, dtype: object
Elmira Age                          42
M/F                           F
City                     Elmira
State                        ON
Country                     CAN
Half            0 days 01:49:33
40K             0 days 03:28:38
Pace                    0:08:24
TotalSeconds              12518
HalfSeconds                6573
Name: 20487, dtype: object
Elmora Age                          60
M/F                           M
City                     Elmora
State                        PA
Country                     USA
Half            0 days 02:42:47
40K             0 days 05:40:15
Pace                    0:13:44
TotalSeconds              20415
HalfSeconds                9767
Name: 29493, dtype: object
Elon Age                          38
M/F                           M
City                       Elon
State                        NC
Country                     USA
Half            0 days 01:33:14
40K             0 days 02:57:12
Pace                    0:07:07
TotalSeconds              10632
HalfSeconds                5594
Name: 6960, dtype: object
Elsmere Age                          37
M/F                           F
City                    Elsmere
State                        KY
Country                     USA
Half            0 days 01:54:45
40K             0 days 04:16:15
Pace                    0:10:20
TotalSeconds              15375
HalfSeconds                6885
Name: 19112, dtype: object
Elverson Age                          49
M/F                           M
City                   Elverson
State                        PA
Country                     USA
Half            0 days 01:38:48
40K             0 days 03:09:35
Pace                    0:07:39
TotalSeconds              11375
HalfSeconds                5928
Name: 11403, dtype: object
Emeryville Age                          33
M/F                           F
City                 Emeryville
State                        CA
Country                     USA
Half            0 days 01:33:10
40K             0 days 03:05:56
Pace                    0:07:34
TotalSeconds              11156
HalfSeconds                5590
Name: 9768, dtype: object
Emmaus Age                          28
M/F                           M
City                     Emmaus
State                        PA
Country                     USA
Half            0 days 01:21:04
40K             0 days 02:40:55
Pace                    0:06:31
TotalSeconds               9655
HalfSeconds                4864
Name: 4048, dtype: object
Emmett Age                          34
M/F                           F
City                     Emmett
State                        ID
Country                     USA
Half            0 days 01:42:40
40K             0 days 03:22:42
Pace                    0:08:11
TotalSeconds              12162
HalfSeconds                6160
Name: 12010, dtype: object
Emporia Age                          26
M/F                           M
City                    Emporia
State                        KS
Country                     USA
Half            0 days 01:34:05
40K             0 days 03:25:40
Pace                    0:08:21
TotalSeconds              12340
HalfSeconds                5645
Name: 2626, dtype: object
Encinitas Age                          40
M/F                           F
City                  Encinitas
State                        CA
Country                     USA
Half            0 days 01:21:45
40K             0 days 02:39:11
Pace                    0:06:27
TotalSeconds               9551
HalfSeconds                4905
Name: F103, dtype: object
Encino Age                          46
M/F                           F
City                     Encino
State                        CA
Country                     USA
Half            0 days 01:50:04
40K             0 days 03:55:50
Pace                    0:09:36
TotalSeconds              14150
HalfSeconds                6604
Name: 20229, dtype: object
Endicott Age                          46
M/F                           M
City                   Endicott
State                        NY
Country                     USA
Half            0 days 01:28:29
40K             0 days 02:57:09
Pace                    0:07:10
TotalSeconds              10629
HalfSeconds                5309
Name: 1569, dtype: object
Endwell Age                          59
M/F                           M
City                    Endwell
State                        NY
Country                     USA
Half            0 days 01:57:38
40K             0 days 04:19:10
Pace                    0:10:28
TotalSeconds              15550
HalfSeconds                7058
Name: 16726, dtype: object
Enfield Age                          30
M/F                           F
City                    Enfield
State                        CT
Country                     USA
Half            0 days 01:43:28
40K             0 days 03:17:32
Pace                    0:07:56
TotalSeconds              11852
HalfSeconds                6208
Name: 14904, dtype: object
Englewood Age                          37
M/F                           M
City                  Englewood
State                        NJ
Country                     USA
Half            0 days 01:23:02
40K             0 days 02:43:02
Pace                    0:06:39
TotalSeconds               9782
HalfSeconds                4982
Name: 1657, dtype: object
Enterprise Age                          51
M/F                           M
City                 Enterprise
State                        AL
Country                     USA
Half            0 days 01:39:39
40K             0 days 03:21:04
Pace                    0:08:10
TotalSeconds              12064
HalfSeconds                5979
Name: 13552, dtype: object
Epalinges Age                          61
M/F                           M
City                  Epalinges
State                       NaN
Country                     SUI
Half            0 days 01:47:10
40K             0 days 03:43:35
Pace                    0:09:05
TotalSeconds              13415
HalfSeconds                6430
Name: 20547, dtype: object
Ephraim Age                          38
M/F                           F
City                    Ephraim
State                        UT
Country                     USA
Half            0 days 01:49:06
40K             0 days 03:33:19
Pace                    0:08:36
TotalSeconds              12799
HalfSeconds                6546
Name: 19598, dtype: object
Epping Age                          28
M/F                           F
City                     Epping
State                        NH
Country                     USA
Half            0 days 02:18:34
40K             0 days 04:40:17
Pace                    0:11:14
TotalSeconds              16817
HalfSeconds                8314
Name: 26279, dtype: object
Epworth Age                          34
M/F                           F
City                    Epworth
State                        IA
Country                     USA
Half            0 days 01:56:49
40K             0 days 03:42:30
Pace                    0:08:56
TotalSeconds              13350
HalfSeconds                7009
Name: 14500, dtype: object
Erfurt Age                          46
M/F                           M
City                     Erfurt
State                       NaN
Country                     GER
Half            0 days 01:35:23
40K             0 days 03:12:21
Pace                    0:07:44
TotalSeconds              11541
HalfSeconds                5723
Name: 8515, dtype: object
Erie Age                          37
M/F                           M
City                       Erie
State                        PA
Country                     USA
Half            0 days 01:29:05
40K             0 days 02:53:22
Pace                    0:07:01
TotalSeconds              10402
HalfSeconds                5345
Name: 1475, dtype: object
Erieville Age                          26
M/F                           F
City                  Erieville
State                        NY
Country                     USA
Half            0 days 01:46:39
40K             0 days 03:31:10
Pace                    0:08:31
TotalSeconds              12670
HalfSeconds                6399
Name: 13210, dtype: object
Erin Age                          49
M/F                           F
City                       Erin
State                        ON
Country                     CAN
Half            0 days 01:51:20
40K             0 days 03:46:37
Pace                    0:09:12
TotalSeconds              13597
HalfSeconds                6680
Name: 23016, dtype: object
Erlangen Age                          51
M/F                           F
City                   Erlangen
State                       NaN
Country                     GER
Half            0 days 01:59:03
40K             0 days 03:55:19
Pace                    0:09:31
TotalSeconds              14119
HalfSeconds                7143
Name: 25012, dtype: object
Erlanger Age                          39
M/F                           F
City                   Erlanger
State                        KY
Country                     USA
Half            0 days 01:45:26
40K             0 days 03:33:49
Pace                    0:08:38
TotalSeconds              12829
HalfSeconds                6326
Name: 14232, dtype: object
Escalon Age                          50
M/F                           M
City                    Escalon
State                        CA
Country                     USA
Half            0 days 01:41:34
40K             0 days 03:24:18
Pace                    0:08:16
TotalSeconds              12258
HalfSeconds                6094
Name: 12249, dtype: object
Escanaba Age                          40
M/F                           F
City                   Escanaba
State                        MI
Country                     USA
Half            0 days 01:59:10
40K             0 days 03:49:56
Pace                    0:09:17
TotalSeconds              13796
HalfSeconds                7150
Name: 21466, dtype: object
Escondido Age                          23
M/F                           F
City                  Escondido
State                        CA
Country                     USA
Half            0 days 01:40:11
40K             0 days 03:17:37
Pace                    0:07:59
TotalSeconds              11857
HalfSeconds                6011
Name: 8467, dtype: object
Esko Age                          60
M/F                           M
City                       Esko
State                        MN
Country                     USA
Half            0 days 01:25:23
40K             0 days 02:44:22
Pace                    0:06:38
TotalSeconds               9862
HalfSeconds                5123
Name: 1202, dtype: object
Espergaerde Age                          59
M/F                           M
City                Espergaerde
State                       NaN
Country                     DEN
Half            0 days 01:55:41
40K             0 days 04:13:51
Pace                    0:10:19
TotalSeconds              15231
HalfSeconds                6941
Name: 20063, dtype: object

Name: 8290, dtype: object
Exeter Age                          46
M/F                           M
City                     Exeter
State                        NH
Country                     USA
Half            0 days 01:31:47
40K             0 days 03:19:08
Pace                    0:08:06
TotalSeconds              11948
HalfSeconds                5507
Name: 6831, dtype: object
Export Age                          23
M/F                           F
City                     Export
State                        PA
Country                     USA
Half            0 days 01:38:41
40K             0 days 03:10:22
Pace                    0:07:41
TotalSeconds              11422
HalfSeconds                5921
Name: 11247, dtype: object
Exton Age                          55
M/F                           M
City                      Exton
State                        PA
Country                     USA
Half            0 days 01:41:18
40K             0 days 03:22:14
Pace                    0:08:11
TotalSeconds              12134
HalfSeconds                6078
Name: 11397, dtype: object
FRENCH POLYNESIA Age                           42
M/F                            F
City            FRENCH POLYNESIA
State                        NaN
Country                      FRA
Half             0 days 02:00:07
40K              0 days 03:52:06
Pace                     0:09:25
TotalSeconds               13926
HalfSeconds                 7207
Name: 29113, dtype: object
Fabius Age                          39
M/F                           M
City                     Fabius
State                        NY
Country                     USA
Half            0 days 01:34:10
40K             0 days 03:10:18
Pace                    0:07:43
TotalSeconds              11418
HalfSeconds                5650
Name: 6005, dtype: object
Fair Grove Age                          53
M/F                           F
City                 Fair Grove
State                        MO
Country                     USA
Half            0 days 01:45:29
40K             0 days 03:36:17
Pace                    0:08:44
TotalSeconds              12977
HalfSeconds                6329
Name: 22036, dtype: object
Fair Haven Age                          45
M/F                           F
City                 Fair Haven
State                        NJ
Country                     USA
Half            0 days 01:50:20
40K             0 days 03:29:44
Pace                    0:08:27
TotalSeconds              12584
HalfSeconds                6620
Name: 19616, dtype: object
Fair Lawn Age                          51
M/F                           M
City                  Fair Lawn
State                        NJ
Country                     USA
Half            0 days 01:33:58
40K             0 days 03:05:12
Pace                    0:07:29
TotalSeconds              11112
HalfSeconds                5638
Name: 6681, dtype: object
Fair Oaks Age                          51
M/F                           M
City                  Fair Oaks
State                        CA
Country                     USA
Half            0 days 01:33:11
40K             0 days 03:00:27
Pace                    0:07:17
TotalSeconds              10827
HalfSeconds                5591
Name: 3987, dtype: object
Fair Oaks Ranch Age                          50
M/F                           F
City            Fair Oaks Ranch
State                        TX
Country                     USA
Half            0 days 01:48:42
40K             0 days 03:35:06
Pace                    0:08:41
TotalSeconds              12906
HalfSeconds                6522
Name: 21562, dtype: object
Fairbanks Age                          59
M/F                           M
City                  Fairbanks
State                        AK
Country                     USA
Half            0 days 01:41:51
40K             0 days 03:19:21
Pace                    0:08:01
TotalSeconds              11961
HalfSeconds                6111
Name: 11584, dtype: object
Fairborn Age                          41
M/F                           M
City                   Fairborn
State                        OH
Country                     USA
Half            0 days 01:29:15
40K             0 days 02:50:18
Pace                    0:06:52
TotalSeconds              10218
HalfSeconds                5355
Name: 5915, dtype: object
Fairfax Age                          33
M/F                           M
City                    Fairfax
State                        VA
Country                     USA
Half            0 days 01:28:26
40K             0 days 02:51:59
Pace                    0:06:57
TotalSeconds              10319
HalfSeconds                5306
Name: 4547, dtype: object
Fairfax Station Age                          24
M/F                           M
City            Fairfax Station
State                        VA
Country                     USA
Half            0 days 01:29:33
40K             0 days 03:16:45
Pace                    0:08:03
TotalSeconds              11805
HalfSeconds                5373
Name: 4645, dtype: object
Fairfield Age                          43
M/F                           M
City                  Fairfield
State                       NaN
Country                     AUS
Half            0 days 01:20:09
40K             0 days 02:41:41
Pace                    0:06:34
TotalSeconds               9701
HalfSeconds                4809
Name: 683, dtype: object
Fairgrove Age                          49
M/F                           F
City                  Fairgrove
State                        MI
Country                     USA
Half            0 days 01:52:40
40K             0 days 03:36:40
Pace                    0:08:42
TotalSeconds              13000
HalfSeconds                6760
Name: 21970, dtype: object
Fairhaven Age                          41
M/F                           F
City                  Fairhaven
State                        MA
Country                     USA
Half            0 days 01:40:16
40K             0 days 03:21:32
Pace                    0:08:09
TotalSeconds              12092
HalfSeconds                6016
Name: 16351, dtype: object
Fairhope Age                          46
M/F                           F
City                   Fairhope
State                        AL
Country                     USA
Half            0 days 01:58:59
40K             0 days 04:02:02
Pace                    0:09:48
TotalSeconds              14522
HalfSeconds                7139
Name: 23221, dtype: object
Fairmont Age                          27
M/F                           M
City                   Fairmont
State                        WV
Country                     USA
Half            0 days 01:22:25
40K             0 days 02:37:36
Pace                    0:06:20
TotalSeconds               9456
HalfSeconds                4945
Name: 3406, dtype: object
Fairmount City Age                          28
M/F                           F
City             Fairmount City
State                        PA
Country                     USA
Half            0 days 01:47:00
40K             0 days 03:32:34
Pace                    0:08:35
TotalSeconds              12754
HalfSeconds                6420
Name: 13737, dtype: object
Fairport Age                          27
M/F                           M
City                   Fairport
State                        NY
Country                     USA
Half            0 days 01:30:29
40K             0 days 03:24:09
Pace                    0:08:17
TotalSeconds              12249
HalfSeconds                5429
Name: 2145, dtype: object
Fairview Age                          38
M/F                           F
City                   Fairview
State                        NC
Country                     USA
Half            0 days 01:28:04
40K             0 days 02:49:57
Pace                    0:06:52
TotalSeconds              10197
HalfSeconds                5284
Name: 5590, dtype: object
Fairview Park Age                          25
M/F                           F
City              Fairview Park
State                        OH
Country                     USA
Half            0 days 01:32:11
40K             0 days 03:02:30
Pace                    0:07:23
TotalSeconds              10950
HalfSeconds                5531
Name: 10110, dtype: object
Falkenberg Age                          51
M/F                           M
City                 Falkenberg
State                       NaN
Country                     SWE
Half            0 days 01:49:12
40K             0 days 03:58:44
Pace                    0:09:40
TotalSeconds              14324
HalfSeconds                6552
Name: 14603, dtype: object
Fall City Age                          46
M/F                           M
City                  Fall City
State                        WA
Country                     USA
Half            0 days 01:59:10
40K             0 days 03:46:41
Pace                    0:09:09
TotalSeconds              13601
HalfSeconds                7150
Name: 29804, dtype: object
Fall River Age                          45
M/F                           M
City                 Fall River
State                        MA
Country                     USA
Half            0 days 01:35:40
40K             0 days 03:15:13
Pace                    0:07:56
TotalSeconds              11713
HalfSeconds                5740
Name: 6343, dtype: object
Fallbrook Age                          20
M/F                           M
City                  Fallbrook
State                        CA
Country                     USA
Half            0 days 01:23:15
40K             0 days 03:12:03
Pace                    0:07:47
TotalSeconds              11523
HalfSeconds                4995
Name: 1950, dtype: object
Falls Church Age                          50
M/F                           M
City               Falls Church
State                        VA
Country                     USA
Half            0 days 01:42:52
40K             0 days 03:25:24
Pace                    0:08:18
TotalSeconds              12324
HalfSeconds                6172
Name: 12300, dtype: object
Falmouth Age                          44
M/F                           F
City                   Falmouth
State                        ME
Country                     USA
Half            0 days 01:23:55
40K             0 days 02:42:32
Pace                    0:06:35
TotalSeconds               9752
HalfSeconds                5035
Name: F102, dtype: object
Falsterbo Age                          49
M/F                           M
City                  Falsterbo
State                       NaN
Country                     SWE
Half            0 days 01:34:50
40K             0 days 03:23:07
Pace                    0:08:17
TotalSeconds              12187
HalfSeconds                5690
Name: 9753, dtype: object
Falun Age                          61
M/F                           M
City                      Falun
State                       NaN
Country                     SWE
Half            0 days 01:51:30
40K             0 days 03:41:24
Pace                    0:08:55
TotalSeconds              13284
HalfSeconds                6690
Name: 21815, dtype: object
Falzes Age                          41
M/F                           F
City                     Falzes
State                       NaN
Country                     ITA
Half            0 days 02:06:08
40K             0 days 04:14:25
Pace                    0:10:16
TotalSeconds              15265
HalfSeconds                7568
Name: 31829, dtype: object
Fancy Farm Age                          40
M/F                           M
City                 Fancy Farm
State                        KY
Country                     USA
Half            0 days 01:33:26
40K             0 days 03:15:02
Pace                    0:07:53
TotalSeconds              11702
HalfSeconds                5606
Name: 6264, dtype: object
Far Hills Age                          45
M/F                           M
City                  Far Hills
State                        NJ
Country                     USA
Half            0 days 01:28:44
40K             0 days 03:17:37
Pace                    0:08:11
TotalSeconds              11857
HalfSeconds                5324
Name: 4781, dtype: object
Fara Vicentino - Vicenza Age                                   44
M/F                                    M
City            Fara Vicentino - Vicenza
State                                NaN
Country                              ITA
Half                     0 days 01:25:23
40K                      0 days 02:50:28
Pace                             0:06:54
TotalSeconds                       10228
HalfSeconds                         5123
Name: 1618, dtype: object
Fareham Age                          55
M/F                           M
City                    Fareham
State                       NaN
Country                     GBR
Half            0 days 01:38:32
40K             0 days 03:15:26
Pace                    0:07:54
TotalSeconds              11726
HalfSeconds                5912
Name: 12079, dtype: object
Fargo Age                          32
M/F                           F
City                      Fargo
State                        ND
Country                     USA
Half            0 days 01:42:35
40K             0 days 03:19:59
Pace                    0:08:04
TotalSeconds              11999
HalfSeconds                6155
Name: 11922, dtype: object
Faringdon Age                          49
M/F                           F
City                  Faringdon
State                       NaN
Country                     GBR
Half            0 days 01:59:52
40K             0 days 04:05:30
Pace                    0:09:56
TotalSeconds              14730
HalfSeconds                7192
Name: 19741, dtype: object
Farmersville Age                          42
M/F                           M
City               Farmersville
State                        CA
Country                     USA
Half            0 days 01:34:59
40K             0 days 03:30:32
Pace                    0:08:39
TotalSeconds              12632
HalfSeconds                5699
Name: 8680, dtype: object
Farmingdale Age                          35
M/F                           M
City                Farmingdale
State                        NJ
Country                     USA
Half            0 days 01:23:50
40K             0 days 02:42:18
Pace                    0:06:32
TotalSeconds               9738
HalfSeconds                5030
Name: 1958, dtype: object
Farmington Age                          37
M/F                           M
City                 Farmington
State                        UT
Country                     USA
Half            0 days 01:20:43
40K             0 days 02:39:32
Pace                    0:06:28
TotalSeconds               9572
HalfSeconds                4843
Name: 1337, dtype: object
Farmington Hills Age                           41
M/F                            M
City            Farmington Hills
State                         MI
Country                      USA
Half             0 days 01:22:00
40K              0 days 02:53:40
Pace                     0:07:01
TotalSeconds               10420
HalfSeconds                 4920
Name: 668, dtype: object
Farmingville Age                          49
M/F                           M
City               Farmingville
State                        NY
Country                     USA
Half            0 days 02:39:21
40K             0 days 05:19:25
Pace                    0:12:52
TotalSeconds              19165
HalfSeconds                9561
Name: 31926, dtype: object
Farnborough Age                          45
M/F                           M
City                Farnborough
State                       NaN
Country                     GBR
Half            0 days 01:24:55
40K             0 days 02:48:33
Pace                    0:06:49
TotalSeconds              10113
HalfSeconds                5095
Name: 2585, dtype: object
Fate Age                          41
M/F                           F
City                       Fate
State                        TX
Country                     USA
Half            0 days 01:45:42
40K             0 days 03:22:41
Pace                    0:08:17
TotalSeconds              12161
HalfSeconds                6342
Name: 13872, dtype: object
Fayetteville Age                          32
M/F                           M
City               Fayetteville
State                        NY
Country                     USA
Half            0 days 01:22:37
40K             0 days 02:46:31
Pace                    0:06:46
TotalSeconds               9991
HalfSeconds                4957
Name: 2790, dtype: object
Fayville Age                          24
M/F                           M
City                   Fayville
State                        MA
Country                     USA
Half            0 days 02:20:01
40K             0 days 04:35:52
Pace                    0:11:06
TotalSeconds              16552
HalfSeconds                8401
Name: 31402, dtype: object
Federal Way Age                          35
M/F                           F
City                Federal Way
State                        WA
Country                     USA
Half            0 days 01:42:14
40K             0 days 03:17:05
Pace                    0:07:57
TotalSeconds              11825
HalfSeconds                6134
Name: 15384, dtype: object
Feeding Hills Age                          56
M/F                           M
City              Feeding Hills
State                        MA
Country                     USA
Half            0 days 01:51:40
40K             0 days 03:46:38
Pace                    0:09:11
TotalSeconds              13598
HalfSeconds                6700
Name: 11476, dtype: object
Feltham Age                          52
M/F                           M
City                    Feltham
State                       NaN
Country                     GBR
Half            0 days 01:39:03
40K             0 days 03:24:51
Pace                    0:08:19
TotalSeconds              12291
HalfSeconds                5943
Name: 13788, dtype: object
Fengyuan Dist, Taichung City Age                                       40
M/F                                        M
City            Fengyuan Dist, Taichung City
State                                    NaN
Country                                  TWN
Half                         0 days 01:30:44
40K                          0 days 02:58:25
Pace                                 0:07:12
TotalSeconds                           10705
HalfSeconds                             5444
Name: 7539, dtype: object
Fenton Age                          51
M/F                           F
City                     Fenton
State                        MI
Country                     USA
Half            0 days 01:30:01
40K             0 days 02:57:28
Pace                    0:07:11
TotalSeconds              10648
HalfSeconds                5401
Name: 5989, dtype: object
Ferdinand Age                          48
M/F                           M
City                  Ferdinand
State                        IN
Country                     USA
Half            0 days 01:35:54
40K             0 days 03:17:12
Pace                    0:08:00
TotalSeconds              11832
HalfSeconds                5754
Name: 8591, dtype: object
Fergus Falls Age                          38
M/F                           F
City               Fergus Falls
State                        MN
Country                     USA
Half            0 days 01:58:34
40K             0 days 03:50:11
Pace                    0:09:15
TotalSeconds              13811
HalfSeconds                7114
Name: 20113, dtype: object
Fernandina Beach Age                           37
M/F                            F
City            Fernandina Beach
State                         FL
Country                      USA
Half             0 days 01:53:00
40K              0 days 03:42:36
Pace                     0:08:58
TotalSeconds               13356
HalfSeconds                 6780
Name: 18823, dtype: object
Ferndale Age                          27

Findley Lake Age                          54
M/F                           M
City               Findley Lake
State                        NY
Country                     USA
Half            0 days 01:45:32
40K             0 days 03:27:07
Pace                    0:08:22
TotalSeconds              12427
HalfSeconds                6332
Name: 14437, dtype: object
Finksburg Age                          42
M/F                           F
City                  Finksburg
State                        MD
Country                     USA
Half            0 days 02:02:16
40K             0 days 04:12:10
Pace                    0:10:10
TotalSeconds              15130
HalfSeconds                7336
Name: 21080, dtype: object
Fircrest Age                          45
M/F                           M
City                   Fircrest
State                        WA
Country                     USA
Half            0 days 02:03:00
40K             0 days 04:20:24
Pace                    0:10:31
TotalSeconds              15624
HalfSeconds                7380
Name: 9323, dtype: object
Fishers Age                          45
M/F                           M
City                    Fishers
State                        IN
Country                     USA
Half            0 days 01:25:47
40K             0 days 02:40:46
Pace                    0:06:27
TotalSeconds               9646
HalfSeconds                5147
Name: 1316, dtype: object
Fishersville Age                          48
M/F                           M
City               Fishersville
State                        VA
Country                     USA
Half            0 days 01:30:58
40K             0 days 03:03:54
Pace                    0:07:25
TotalSeconds              11034
HalfSeconds                5458
Name: 2884, dtype: object
Fisherville Age                          47
M/F                           F
City                Fisherville
State                        KY
Country                     USA
Half            0 days 02:00:48
40K             0 days 04:08:30
Pace                    0:10:03
TotalSeconds              14910
HalfSeconds                7248
Name: 22715, dtype: object
Fitchburg Age                          35
M/F                           F
City                  Fitchburg
State                        WI
Country                     USA
Half            0 days 01:31:58
40K             0 days 02:54:02
Pace                    0:07:00
TotalSeconds              10442
HalfSeconds                5518
Name: 5554, dtype: object
Fitzwilliam Age                          64
M/F                           M
City                Fitzwilliam
State                        NH
Country                     USA
Half            0 days 01:44:53
40K             0 days 03:36:31
Pace                    0:08:50
TotalSeconds              12991
HalfSeconds                6293
Name: 24090, dtype: object
Fivemiletown Age                          47
M/F                           M
City               Fivemiletown
State                       NaN
Country                     GBR
Half            0 days 01:36:00
40K             0 days 03:07:46
Pace                    0:07:35
TotalSeconds              11266
HalfSeconds                5760
Name: 11116, dtype: object
Flagler Beach Age                          49
M/F                           M
City              Flagler Beach
State                        FL
Country                     USA
Half            0 days 01:43:22
40K             0 days 03:28:30
Pace                    0:08:24
TotalSeconds              12510
HalfSeconds                6202
Name: 5373, dtype: object
Flagstaff Age                          31
M/F                           M
City                  Flagstaff
State                        AZ
Country                     USA
Half            0 days 01:21:59
40K             0 days 02:43:51
Pace                    0:06:39
TotalSeconds               9831
HalfSeconds                4919
Name: 545, dtype: object
Flagstafff Age                          51
M/F                           F
City                 Flagstafff
State                        AZ
Country                     USA
Half            0 days 01:44:48
40K             0 days 03:27:11
Pace                    0:08:23
TotalSeconds              12431
HalfSeconds                6288
Name: 19300, dtype: object
Flanders Age                          52
M/F                           F
City                   Flanders
State                        NJ
Country                     USA
Half            0 days 01:37:44
40K             0 days 03:10:04
Pace                    0:07:40
TotalSeconds              11404
HalfSeconds                5864
Name: 11073, dtype: object
Fleckney Age                          43
M/F                           M
City                   Fleckney
State                       NaN
Country                     GBR
Half            0 days 01:36:06
40K             0 days 03:12:27
Pace                    0:07:48
TotalSeconds              11547
HalfSeconds                5766
Name: 6401, dtype: object
Fleetwood Age                          21
M/F                           F
City                  Fleetwood
State                        PA
Country                     USA
Half            0 days 01:36:44
40K             0 days 03:10:08
Pace                    0:07:38
TotalSeconds              11408
HalfSeconds                5804
Name: 9511, dtype: object
Fleming Island Age                          46
M/F                           M
City             Fleming Island
State                        FL
Country                     USA
Half            0 days 01:30:27
40K             0 days 03:01:22
Pace                    0:07:20
TotalSeconds              10882
HalfSeconds                5427
Name: 9043, dtype: object
Flemington Age                          44
M/F                           M
City                 Flemington
State                        NJ
Country                     USA
Half            0 days 01:27:36
40K             0 days 02:50:27
Pace                    0:06:52
TotalSeconds              10227
HalfSeconds                5256
Name: 2862, dtype: object
Fletcher Age                          31
M/F                           F
City                   Fletcher
State                        NC
Country                     USA
Half            0 days 01:41:34
40K             0 days 03:18:58
Pace                    0:08:02
TotalSeconds              11938
HalfSeconds                6094
Name: 17358, dtype: object
Flint Age                          49
M/F                           M
City                      Flint
State                        MI
Country                     USA
Half            0 days 01:44:31
40K             0 days 03:39:58
Pace                    0:08:55
TotalSeconds              13198
HalfSeconds                6271
Name: 10876, dtype: object
Florence Age                          45
M/F                           M
City                   Florence
State                        SC
Country                     USA
Half            0 days 01:28:42
40K             0 days 02:55:37
Pace                    0:07:07
TotalSeconds              10537
HalfSeconds                5322
Name: 2678, dtype: object
Floresville Age                          28
M/F                           F
City                Floresville
State                        TX
Country                     USA
Half            0 days 01:56:21
40K             0 days 03:46:34
Pace                    0:09:08
TotalSeconds              13594
HalfSeconds                6981
Name: 17808, dtype: object
Florham Park Age                          47
M/F                           M
City               Florham Park
State                        NJ
Country                     USA
Half            0 days 01:41:07
40K             0 days 03:28:24
Pace                    0:08:28
TotalSeconds              12504
HalfSeconds                6067
Name: 12363, dtype: object
Florissant Age                          30
M/F                           F
City                 Florissant
State                        MO
Country                     USA
Half            0 days 01:45:01
40K             0 days 03:30:08
Pace                    0:08:28
TotalSeconds              12608
HalfSeconds                6301
Name: 19121, dtype: object
Flourtown Age                          35
M/F                           M
City                  Flourtown
State                        PA
Country                     USA
Half            0 days 01:24:22
40K             0 days 02:49:31
Pace                    0:06:54
TotalSeconds              10171
HalfSeconds                5062
Name: 1243, dtype: object
Flower Mound Age                          42
M/F                           F
City               Flower Mound
State                        TX
Country                     USA
Half            0 days 01:30:12
40K             0 days 02:55:01
Pace                    0:07:03
TotalSeconds              10501
HalfSeconds                5412
Name: 3477, dtype: object
Flowery Branch Age                          61
M/F                           M
City             Flowery Branch
State                        GA
Country                     USA
Half            0 days 01:41:58
40K             0 days 03:24:31
Pace                    0:08:17
TotalSeconds              12271
HalfSeconds                6118
Name: 24353, dtype: object
Flowood Age                          59
M/F                           F
City                    Flowood
State                        MS
Country                     USA
Half            0 days 02:10:37
40K             0 days 04:34:53
Pace                    0:11:02
TotalSeconds              16493
HalfSeconds                7837
Name: 24937, dtype: object
Floyds Knobs Age                          58
M/F                           M
City               Floyds Knobs
State                        IN
Country                     USA
Half            0 days 01:37:00
40K             0 days 03:18:34
Pace                    0:08:01
TotalSeconds              11914
HalfSeconds                5820
Name: 7247, dtype: object
Flushing Age                          38
M/F                           M
City                   Flushing
State                        NY
Country                     USA
Half            0 days 01:31:22
40K             0 days 03:01:12
Pace                    0:07:17
TotalSeconds              10872
HalfSeconds                5482
Name: 2219, dtype: object
Fogelsville Age                          44
M/F                           F
City                Fogelsville
State                        PA
Country                     USA
Half            0 days 01:42:02
40K             0 days 03:26:05
Pace                    0:08:20
TotalSeconds              12365
HalfSeconds                6122
Name: 17458, dtype: object
Foligno - Pg Age                          39
M/F                           M
City               Foligno - Pg
State                       NaN
Country                     ITA
Half            0 days 01:19:43
40K             0 days 02:41:27
Pace                    0:06:32
TotalSeconds               9687
HalfSeconds                4783
Name: 705, dtype: object
Folsom Age                          42
M/F                           M
City                     Folsom
State                        CA
Country                     USA
Half            0 days 01:30:55
40K             0 days 02:57:18
Pace                    0:07:10
TotalSeconds              10638
HalfSeconds                5455
Name: 8466, dtype: object
Fond Du Lac Age                          62
M/F                           M
City                Fond Du Lac
State                        WI
Country                     USA
Half            0 days 01:39:47
40K             0 days 03:10:05
Pace                    0:07:40
TotalSeconds              11405
HalfSeconds                5987
Name: 10536, dtype: object
Fontana Age                          29
M/F                           F
City                    Fontana
State                        WI
Country                     USA
Half            0 days 01:43:00
40K             0 days 03:31:55
Pace                    0:08:35
TotalSeconds              12715
HalfSeconds                6180
Name: 11794, dtype: object
Fonthill Age                          62
M/F                           M
City                   Fonthill
State                        ON
Country                     CAN
Half            0 days 01:47:49
40K             0 days 03:28:41
Pace                    0:08:27
TotalSeconds              12521
HalfSeconds                6469
Name: 21121, dtype: object
Foothill Ranch Age                          55
M/F                           F
City             Foothill Ranch
State                        CA
Country                     USA
Half            0 days 01:58:34
40K             0 days 03:44:12
Pace                    0:09:03
TotalSeconds              13452
HalfSeconds                7114
Name: 25344, dtype: object
Footscray Age                          45
M/F                           F
City                  Footscray
State                       NaN
Country                     AUS
Half            0 days 01:45:45
40K             0 days 03:27:14
Pace                    0:08:23
TotalSeconds              12434
HalfSeconds                6345
Name: 20392, dtype: object
For Worth Age                          21
M/F                           F
City                  For Worth
State                        TX
Country                     USA
Half            0 days 01:40:40
40K             0 days 03:11:56
Pace                    0:07:44
TotalSeconds              11516
HalfSeconds                6040
Name: 12939, dtype: object
Forest Age                          34
M/F                           M
City                     Forest
State                        VA
Country                     USA
Half            0 days 01:31:44
40K             0 days 03:27:12
Pace                    0:08:24
TotalSeconds              12432
HalfSeconds                5504
Name: 4588, dtype: object
Forest City Age                          59
M/F                           M
City                Forest City
State                        IA
Country                     USA
Half            0 days 01:52:06
40K             0 days 03:42:34
Pace                    0:09:02
TotalSeconds              13354
HalfSeconds                6726
Name: 10237, dtype: object
Forest Grove Age                          35
M/F                           F
City               Forest Grove
State                        OR
Country                     USA
Half            0 days 01:38:17
40K             0 days 03:05:56
Pace                    0:07:28
TotalSeconds              11156
HalfSeconds                5897
Name: 9829, dtype: object
Forest Hills Age                          40
M/F                           M
City               Forest Hills
State                        NY
Country                     USA
Half            0 days 01:32:47
40K             0 days 03:54:22
Pace                    0:09:26
TotalSeconds              14062
HalfSeconds                5567
Name: 5283, dtype: object
Forest Lake Age                          30
M/F                           F
City                Forest Lake
State                        MN
Country                     USA
Half            0 days 01:37:18
40K             0 days 03:13:07
Pace                    0:07:49
TotalSeconds              11587
HalfSeconds                5838
Name: 9922, dtype: object
Forest Park Age                          25
M/F                           M
City                Forest Park
State                        IL
Country                     USA
Half            0 days 01:24:53
40K             0 days 03:03:05
Pace                    0:07:22
TotalSeconds              10985
HalfSeconds                5093
Name: 2707, dtype: object
Forestdale Age                          42
M/F                           F
City                 Forestdale
State                        MA
Country                     USA
Half            0 days 02:40:22
40K             0 days 05:30:12
Pace                    0:13:19
TotalSeconds              19812
HalfSeconds                9622
Name: 26781, dtype: object
Forestville Age                          67
M/F                           F
City                Forestville
State                        CA
Country                     USA
Half            0 days 02:19:12
40K             0 days 04:41:20
Pace                    0:11:21
TotalSeconds              16880
HalfSeconds                8352
Name: 26073, dtype: object
Forney Age                          31
M/F                           M
City                     Forney
State                        TX
Country                     USA
Half            0 days 01:22:27
40K             0 days 03:00:41
Pace                    0:07:24
TotalSeconds              10841
HalfSeconds                4947
Name: 3716, dtype: object
Forsyth Age                          51
M/F                           M
City                    Forsyth
State                        GA
Country                     USA
Half            0 days 01:42:29
40K             0 days 03:22:57
Pace                    0:08:16
TotalSeconds              12177
HalfSeconds                6149
Name: 12451, dtype: object
Fort Atkinson Age                          35
M/F                           F
City              Fort Atkinson
State                        WI
Country                     USA
Half            0 days 01:33:28
40K             0 days 03:02:10
Pace                    0:07:24
TotalSeconds              10930
HalfSeconds                5608
Name: 9028, dtype: object
Fort Belvoir Age                          32
M/F                           M
City               Fort Belvoir
State                        VA
Country                     USA
Half            0 days 01:24:53
40K             0 days 02:44:06
Pace                    0:06:38
TotalSeconds               9846
HalfSeconds                5093
Name: 4778, dtype: object
Fort Bragg Age                          23
M/F                           F
City                 Fort Bragg
State                        NC
Country                     USA
Half            0 days 02:18:58
40K             0 days 04:50:18
Pace                    0:11:38
TotalSeconds              17418
HalfSeconds                8338
Name: 26210, dtype: object
Fort Collins Age                          43
M/F                           M
City               Fort Collins
State                        CO
Country                     USA
Half            0 days 01:22:35
40K             0 days 02:39:41
Pace                    0:06:27
TotalSeconds               9581
HalfSeconds                4955
Name: 3863, dtype: object
Fort De France Age                          43
M/F                           F
City             Fort De France
State                       NaN
Country                     FRA
Half            0 days 02:43:05
40K             0 days 05:43:54
Pace                    0:13:49
TotalSeconds              20634
HalfSeconds                9785
Name: 30195, dtype: object
Fort Drum Age                          29
M/F                           F
City                  Fort Drum
State                        NY
Country                     USA
Half            0 days 01:43:47
40K             0 days 03:32:39
Pace                    0:08:34
TotalSeconds              12759
HalfSeconds                6227
Name: 15183, dtype: object
Fort Erie Age                          48
M/F                           F
City                  Fort Erie
State                        ON
Country                     CAN
Half            0 days 02:01:55
40K             0 days 03:52:51
Pace                    0:09:23
TotalSeconds              13971
HalfSeconds                7315
Name: 22253, dtype: object
Fort Gratiot Age                          55
M/F                           M
City               Fort Gratiot
State                        MI
Country                     USA
Half            0 days 01:42:25
40K             0 days 03:14:47
Pace                    0:07:52
TotalSeconds              11687
HalfSeconds                6145

Fruit Heights Age                          30
M/F                           F
City              Fruit Heights
State                        UT
Country                     USA
Half            0 days 01:29:53
40K             0 days 02:58:11
Pace                    0:07:12
TotalSeconds              10691
HalfSeconds                5393
Name: 2185, dtype: object
Fruitvale Age                          37
M/F                           F
City                  Fruitvale
State                        BC
Country                     CAN
Half            0 days 01:36:47
40K             0 days 03:12:57
Pace                    0:07:47
TotalSeconds              11577
HalfSeconds                5807
Name: 7020, dtype: object
Ft Lauderdale Age                          53
M/F                           F
City              Ft Lauderdale
State                        FL
Country                     USA
Half            0 days 02:07:48
40K             0 days 04:13:47
Pace                    0:10:15
TotalSeconds              15227
HalfSeconds                7668
Name: 27912, dtype: object
Ft Worth Age                          50
M/F                           F
City                   Ft Worth
State                        TX
Country                     USA
Half            0 days 01:43:11
40K             0 days 03:15:41
Pace                    0:07:53
TotalSeconds              11741
HalfSeconds                6191
Name: 18408, dtype: object
Ft. Mcmurray Age                          45
M/F                           M
City               Ft. Mcmurray
State                        AB
Country                     CAN
Half            0 days 01:40:21
40K             0 days 03:15:41
Pace                    0:07:53
TotalSeconds              11741
HalfSeconds                6021
Name: 5059, dtype: object
Ft. Myers Age                          69
M/F                           M
City                  Ft. Myers
State                        FL
Country                     USA
Half            0 days 02:04:12
40K             0 days 04:16:21
Pace                    0:10:22
TotalSeconds              15381
HalfSeconds                7452
Name: 25544, dtype: object
Ft. Worth Age                          51
M/F                           M
City                  Ft. Worth
State                        TX
Country                     USA
Half            0 days 01:42:24
40K             0 days 03:26:47
Pace                    0:08:22
TotalSeconds              12407
HalfSeconds                6144
Name: 11417, dtype: object
Fujimishi, Saitama Age                             65
M/F                              M
City            Fujimishi, Saitama
State                          NaN
Country                        JPN
Half               0 days 02:09:24
40K                0 days 05:01:40
Pace                       0:12:02
TotalSeconds                 18100
HalfSeconds                   7764
Name: 25525, dtype: object
Fukuoka Age                          62
M/F                           F
City                    Fukuoka
State                       NaN
Country                     JPN
Half            0 days 01:35:57
40K             0 days 03:10:40
Pace                    0:07:43
TotalSeconds              11440
HalfSeconds                5757
Name: 7410, dtype: object
Fullerton Age                          26
M/F                           F
City                  Fullerton
State                        CA
Country                     USA
Half            0 days 01:43:46
40K             0 days 03:12:39
Pace                    0:07:44
TotalSeconds              11559
HalfSeconds                6226
Name: 13487, dtype: object
Fulton Age                          30
M/F                           M
City                     Fulton
State                        NY
Country                     USA
Half            0 days 01:31:02
40K             0 days 03:08:22
Pace                    0:07:35
TotalSeconds              11302
HalfSeconds                5462
Name: 3384, dtype: object
Fuquay Varina Age                          49
M/F                           F
City              Fuquay Varina
State                        NC
Country                     USA
Half            0 days 02:00:18
40K             0 days 04:01:07
Pace                    0:09:43
TotalSeconds              14467
HalfSeconds                7218
Name: 21805, dtype: object
Furlong Age                          60
M/F                           F
City                    Furlong
State                        PA
Country                     USA
Half            0 days 02:16:47
40K             0 days 04:34:45
Pace                    0:11:09
TotalSeconds              16485
HalfSeconds                8207
Name: 25975, dtype: object
Fuzhou Age                          48
M/F                           M
City                     Fuzhou
State                       NaN
Country                     CHN
Half            0 days 01:45:30
40K             0 days 03:34:24
Pace                    0:08:41
TotalSeconds              12864
HalfSeconds                6330
Name: 11161, dtype: object
GREENLAND Age                          35
M/F                           M
City                  GREENLAND
State                       NaN
Country                     DEN
Half            0 days 01:25:24
40K             0 days 02:47:08
Pace                    0:06:44
TotalSeconds              10028
HalfSeconds                5124
Name: 1935, dtype: object
Gadsden Age                          45
M/F                           F
City                    Gadsden
State                        AL
Country                     USA
Half            0 days 01:54:48
40K             0 days 03:39:50
Pace                    0:08:51
TotalSeconds              13190
HalfSeconds                6888
Name: 20980, dtype: object
Gaertringen Age                          51
M/F                           M
City                Gaertringen
State                       NaN
Country                     GER
Half            0 days 01:33:27
40K             0 days 02:59:46
Pace                    0:07:22
TotalSeconds              10786
HalfSeconds                5607
Name: 4727, dtype: object
Gahanna Age                          27
M/F                           M
City                    Gahanna
State                        OH
Country                     USA
Half            0 days 01:30:40
40K             0 days 02:55:44
Pace                    0:07:06
TotalSeconds              10544
HalfSeconds                5440
Name: 5121, dtype: object
Gainesville Age                          38
M/F                           M
City                Gainesville
State                        FL
Country                     USA
Half            0 days 01:23:50
40K             0 days 02:42:57
Pace                    0:06:37
TotalSeconds               9777
HalfSeconds                5030
Name: 1372, dtype: object
Gaithersburg Age                          39
M/F                           M
City               Gaithersburg
State                        MD
Country                     USA
Half            0 days 01:33:24
40K             0 days 03:04:00
Pace                    0:07:25
TotalSeconds              11040
HalfSeconds                5604
Name: 5897, dtype: object
Galena Age                          49
M/F                           F
City                     Galena
State                        OH
Country                     USA
Half            0 days 01:53:42
40K             0 days 03:41:13
Pace                    0:08:56
TotalSeconds              13273
HalfSeconds                6822
Name: 22770, dtype: object
Gales Ferry Age                          37
M/F                           F
City                Gales Ferry
State                        CT
Country                     USA
Half            0 days 01:54:46
40K             0 days 03:47:02
Pace                    0:09:11
TotalSeconds              13622
HalfSeconds                6886
Name: 20049, dtype: object
Galesburg Age                          46
M/F                           M
City                  Galesburg
State                        IL
Country                     USA
Half            0 days 02:15:48
40K             0 days 04:36:44
Pace                    0:11:13
TotalSeconds              16604
HalfSeconds                8148
Name: 30106, dtype: object
Galion Age                          48
M/F                           M
City                     Galion
State                        OH
Country                     USA
Half            0 days 01:45:30
40K             0 days 03:37:19
Pace                    0:08:48
TotalSeconds              13039
HalfSeconds                6330
Name: 12398, dtype: object
Gallipolis Age                          33
M/F                           F
City                 Gallipolis
State                        OH
Country                     USA
Half            0 days 01:43:53
40K             0 days 03:32:56
Pace                    0:08:36
TotalSeconds              12776
HalfSeconds                6233
Name: 13637, dtype: object
Galloway Age                          64
M/F                           M
City                   Galloway
State                        OH
Country                     USA
Half            0 days 02:06:35
40K             0 days 04:10:55
Pace                    0:10:08
TotalSeconds              15055
HalfSeconds                7595
Name: 15543, dtype: object
Gallupville Age                          23
M/F                           M
City                Gallupville
State                        NY
Country                     USA
Half            0 days 02:28:07
40K             0 days 05:07:37
Pace                    0:12:24
TotalSeconds              18457
HalfSeconds                8887
Name: 31400, dtype: object
Galveston Age                          35
M/F                           M
City                  Galveston
State                        TX
Country                     USA
Half            0 days 01:50:29
40K             0 days 03:33:47
Pace                    0:08:36
TotalSeconds              12827
HalfSeconds                6629
Name: 5868, dtype: object
Galway Age                          67
M/F                           M
City                     Galway
State                       NaN
Country                     IRL
Half            0 days 01:48:08
40K             0 days 03:28:37
Pace                    0:08:25
TotalSeconds              12517
HalfSeconds                6488
Name: 19356, dtype: object
Gander Age                          48
M/F                           F
City                     Gander
State                        NL
Country                     CAN
Half            0 days 01:56:53
40K             0 days 03:49:07
Pace                    0:09:14
TotalSeconds              13747
HalfSeconds                7013
Name: 22206, dtype: object
Gansevoort Age                          38
M/F                           M
City                 Gansevoort
State                        NY
Country                     USA
Half            0 days 01:29:14
40K             0 days 02:54:20
Pace                    0:07:04
TotalSeconds              10460
HalfSeconds                5354
Name: 5815, dtype: object
Gardabaer Age                          49
M/F                           M
City                  Gardabaer
State                       NaN
Country                     ISL
Half            0 days 01:43:20
40K             0 days 03:20:37
Pace                    0:08:04
TotalSeconds              12037
HalfSeconds                6200
Name: 9183, dtype: object
Garden Age                          22
M/F                           F
City                     Garden
State                        MI
Country                     USA
Half            0 days 01:44:06
40K             0 days 03:31:00
Pace                    0:08:32
TotalSeconds              12660
HalfSeconds                6246
Name: 15418, dtype: object
Garden City Age                          43
M/F                           M
City                Garden City
State                        NY
Country                     USA
Half            0 days 01:43:30
40K             0 days 03:25:08
Pace                    0:08:14
TotalSeconds              12308
HalfSeconds                6210
Name: 8269, dtype: object
Gardiner Age                          40
M/F                           M
City                   Gardiner
State                        ME
Country                     USA
Half            0 days 01:33:41
40K             0 days 03:22:43
Pace                    0:08:11
TotalSeconds              12163
HalfSeconds                5621
Name: 5273, dtype: object
Gardner Age                          43
M/F                           F
City                    Gardner
State                        MA
Country                     USA
Half            0 days 01:51:49
40K             0 days 03:36:24
Pace                    0:08:43
TotalSeconds              12984
HalfSeconds                6709
Name: 21141, dtype: object
Gardnerville Age                          40
M/F                           F
City               Gardnerville
State                        NV
Country                     USA
Half            0 days 01:50:18
40K             0 days 03:46:49
Pace                    0:09:10
TotalSeconds              13609
HalfSeconds                6618
Name: 20771, dtype: object
Garland Age                          29
M/F                           F
City                    Garland
State                        TX
Country                     USA
Half            0 days 01:43:45
40K             0 days 03:28:16
Pace                    0:08:26
TotalSeconds              12496
HalfSeconds                6225
Name: 17907, dtype: object
Garner Age                          33
M/F                           F
City                     Garner
State                        NC
Country                     USA
Half            0 days 02:04:07
40K             0 days 04:43:27
Pace                    0:11:23
TotalSeconds              17007
HalfSeconds                7447
Name: 29849, dtype: object
Garnerville Age                          49
M/F                           F
City                Garnerville
State                        NY
Country                     USA
Half            0 days 01:47:45
40K             0 days 03:44:56
Pace                    0:09:08
TotalSeconds              13496
HalfSeconds                6465
Name: 12963, dtype: object
Garnet Valley Age                          43
M/F                           F
City              Garnet Valley
State                        PA
Country                     USA
Half            0 days 01:46:39
40K             0 days 03:36:20
Pace                    0:08:44
TotalSeconds              12980
HalfSeconds                6399
Name: 21219, dtype: object
Garrison Age                          52
M/F                           M
City                   Garrison
State                        NY
Country                     USA
Half            0 days 01:50:02
40K             0 days 03:45:16
Pace                    0:09:06
TotalSeconds              13516
HalfSeconds                6602
Name: 14596, dtype: object
Garza Garcia Nuevo Leon Age                                  41
M/F                                   M
City            Garza Garcia Nuevo Leon
State                               NaN
Country                             MEX
Half                    0 days 02:03:32
40K                     0 days 04:35:09
Pace                            0:11:06
TotalSeconds                      16509
HalfSeconds                        7412
Name: 31840, dtype: object
Garza Garcia, N L Age                            43
M/F                             M
City            Garza Garcia, N L
State                         NaN
Country                       MEX
Half              0 days 01:53:19
40K               0 days 03:44:02
Pace                      0:09:03
TotalSeconds                13442
HalfSeconds                  6799
Name: 28816, dtype: object
Gastonia Age                          56
M/F                           M
City                   Gastonia
State                        NC
Country                     USA
Half            0 days 01:36:17
40K             0 days 03:08:05
Pace                    0:07:35
TotalSeconds              11285
HalfSeconds                5777
Name: 11241, dtype: object
Gates Mills Age                          60
M/F                           M
City                Gates Mills
State                        OH
Country                     USA
Half            0 days 01:33:07
40K             0 days 03:06:07
Pace                    0:07:36
TotalSeconds              11167
HalfSeconds                5587
Name: 7101, dtype: object
Gatineau Age                          27
M/F                           M
City                   Gatineau
State                        QC
Country                     CAN
Half            0 days 01:21:52
40K             0 days 02:41:14
Pace                    0:06:31
TotalSeconds               9674
HalfSeconds                4912
Name: 912, dtype: object
Gavle Age                          56
M/F                           M
City                      Gavle
State                       NaN
Country                     SWE
Half            0 days 01:47:55
40K             0 days 03:29:07
Pace                    0:08:23
TotalSeconds              12547
HalfSeconds                6475
Name: 17107, dtype: object
Gaylord Age                          34
M/F                           M
City                    Gaylord
State                        MI
Country                     USA
Half            0 days 01:33:36
40K             0 days 03:06:32
Pace                    0:07:36
TotalSeconds              11192
HalfSeconds                5616
Name: 4238, dtype: object
Gechingen Age                          52
M/F                           M
City                  Gechingen
State                       NaN
Country                     GER
Half            0 days 01:34:11
40K             0 days 03:06:21
Pace                    0:07:32
TotalSeconds              11181
HalfSeconds                5651
Name: 6796, dtype: object
Geffen Age                          43
M/F                           M
City                     Geffen
State                       NaN
Country                     NED
Half            0 days 01:28:45
40K             0 days 02:56:53
Pace                    0:07:09
TotalSeconds              10613
HalfSeconds                5325
Name: 3392, dtype: object
Gelsenkirchen Age                          53
M/F                           M
City              Gelsenkirchen
State                       NaN
Country                     GER
Half            0 days 01:52:35
40K             0 days 03:51:25
Pace                    0:09:22
TotalSeconds              13885
HalfSeconds                6755
Name: 30712, dtype: object
Gembloux Age                          51
M/F                           M
City                   Gembloux
State                       NaN
Country                     BEL
Half            0 days 01:44:55
40K             0 days 03:41:57
Pace                    0:09:03
TotalSeconds              13317
HalfSeconds                6295
Name: 31279, dtype: object
Genas Age                          37
M/F                           M
City                      Genas
State                       NaN
Country                     FRA
Half            0 days 01:21:05
40K             0 days 02:34:46
Pace                    0:06:14
TotalSeconds               9286
HalfSeconds                4865
Name: 1101, dtype: object
Geneseo Age                          43
M/F                           M
City                    Geneseo
State                        NY
Country                     USA
Half            0 days 01:25:31
40K             0 days 02:46:07
Pace                    0:06:43
TotalSeconds               9967
HalfSeconds                5131
Name: 1171, dtype: object
Geneva Age                          33
M/F                           M
City                     Geneva
State                        IL
Country                     USA
Half            0 days 01:21:07
40K             0 days 02:43:06

Granada Hills Age                          53
M/F                           M
City              Granada Hills
State                        CA
Country                     USA
Half            0 days 01:31:19
40K             0 days 03:02:10
Pace                    0:07:21
TotalSeconds              10930
HalfSeconds                5479
Name: 5620, dtype: object
Granbury Age                          55
M/F                           M
City                   Granbury
State                        TX
Country                     USA
Half            0 days 01:48:27
40K             0 days 03:33:51
Pace                    0:08:40
TotalSeconds              12831
HalfSeconds                6507
Name: 13951, dtype: object
Granby Age                          41
M/F                           F
City                     Granby
State                        QC
Country                     CAN
Half            0 days 01:37:21
40K             0 days 03:08:48
Pace                    0:07:37
TotalSeconds              11328
HalfSeconds                5841
Name: 12548, dtype: object
Grand Blanc Age                          20
M/F                           M
City                Grand Blanc
State                        MI
Country                     USA
Half            0 days 01:12:34
40K             0 days 02:30:55
Pace                    0:06:09
TotalSeconds               9055
HalfSeconds                4354
Name: 251, dtype: object
Grand Cayman Age                          48
M/F                           M
City               Grand Cayman
State                       NaN
Country                     CAY
Half            0 days 02:06:06
40K             0 days 04:20:58
Pace                    0:10:29
TotalSeconds              15658
HalfSeconds                7566
Name: 30731, dtype: object
Grand Forks Age                          32
M/F                           M
City                Grand Forks
State                        ND
Country                     USA
Half            0 days 01:29:18
40K             0 days 02:59:24
Pace                    0:07:16
TotalSeconds              10764
HalfSeconds                5358
Name: 5372, dtype: object
Grand Haven Age                          26
M/F                           M
City                Grand Haven
State                        MI
Country                     USA
Half            0 days 01:20:33
40K             0 days 02:44:47
Pace                    0:06:41
TotalSeconds               9887
HalfSeconds                4833
Name: 344, dtype: object
Grand Junction Age                          57
M/F                           M
City             Grand Junction
State                        CO
Country                     USA
Half            0 days 01:45:25
40K             0 days 03:25:42
Pace                    0:08:18
TotalSeconds              12342
HalfSeconds                6325
Name: 9234, dtype: object
Grand Ledge Age                          51
M/F                           M
City                Grand Ledge
State                        MI
Country                     USA
Half            0 days 02:06:46
40K             0 days 04:06:17
Pace                    0:09:53
TotalSeconds              14777
HalfSeconds                7606
Name: 25767, dtype: object
Grand Prairie Age                          45
M/F                           M
City              Grand Prairie
State                        TX
Country                     USA
Half            0 days 01:24:13
40K             0 days 02:46:56
Pace                    0:06:45
TotalSeconds              10016
HalfSeconds                5053
Name: 2465, dtype: object
Grand Rapids Age                          41
M/F                           M
City               Grand Rapids
State                        MI
Country                     USA
Half            0 days 01:20:01
40K             0 days 02:33:35
Pace                    0:06:12
TotalSeconds               9215
HalfSeconds                4801
Name: 283, dtype: object
Grand River Age                          51
M/F                           F
City                Grand River
State                        NS
Country                     CAN
Half            0 days 01:53:10
40K             0 days 03:42:12
Pace                    0:08:58
TotalSeconds              13332
HalfSeconds                6790
Name: 24259, dtype: object
Grande Prairie Age                          47
M/F                           F
City             Grande Prairie
State                        AB
Country                     CAN
Half            0 days 01:53:46
40K             0 days 03:50:37
Pace                    0:09:18
TotalSeconds              13837
HalfSeconds                6826
Name: 22564, dtype: object
Grande-Digue Age                          31
M/F                           F
City               Grande-Digue
State                        NB
Country                     CAN
Half            0 days 01:47:19
40K             0 days 03:39:22
Pace                    0:08:50
TotalSeconds              13162
HalfSeconds                6439
Name: 15029, dtype: object
Grandview Age                          37
M/F                           M
City                  Grandview
State                        MO
Country                     USA
Half            0 days 01:27:53
40K             0 days 02:58:22
Pace                    0:07:17
TotalSeconds              10702
HalfSeconds                5273
Name: 4360, dtype: object
Grandview Heights Age                            34
M/F                             F
City            Grandview Heights
State                          OH
Country                       USA
Half              0 days 01:50:55
40K               0 days 03:36:17
Pace                      0:08:42
TotalSeconds                12977
HalfSeconds                  6655
Name: 16790, dtype: object
Grandville Age                          48
M/F                           M
City                 Grandville
State                        MI
Country                     USA
Half            0 days 01:26:50
40K             0 days 02:47:15
Pace                    0:06:45
TotalSeconds              10035
HalfSeconds                5210
Name: 1084, dtype: object
Granger Age                          30
M/F                           F
City                    Granger
State                        IN
Country                     USA
Half            0 days 01:49:03
40K             0 days 03:34:24
Pace                    0:08:39
TotalSeconds              12864
HalfSeconds                6543
Name: 17190, dtype: object
Granite Bay Age                          43
M/F                           F
City                Granite Bay
State                        CA
Country                     USA
Half            0 days 01:52:31
40K             0 days 03:49:59
Pace                    0:09:16
TotalSeconds              13799
HalfSeconds                6751
Name: 17486, dtype: object
Grant Age                          62
M/F                           F
City                      Grant
State                        MI
Country                     USA
Half            0 days 02:07:32
40K             0 days 04:11:48
Pace                    0:10:07
TotalSeconds              15108
HalfSeconds                7652
Name: 25833, dtype: object
Grantham Age                          54
M/F                           M
City                   Grantham
State                        NH
Country                     USA
Half            0 days 01:41:28
40K             0 days 03:26:22
Pace                    0:08:20
TotalSeconds              12382
HalfSeconds                6088
Name: 6787, dtype: object
Grants Pass Age                          26
M/F                           F
City                Grants Pass
State                        OR
Country                     USA
Half            0 days 01:40:43
40K             0 days 03:11:59
Pace                    0:07:44
TotalSeconds              11519
HalfSeconds                6043
Name: 14289, dtype: object
Grantsville Age                          46
M/F                           M
City                Grantsville
State                        UT
Country                     USA
Half            0 days 01:41:10
40K             0 days 03:24:10
Pace                    0:08:15
TotalSeconds              12250
HalfSeconds                6070
Name: 12407, dtype: object
Granville Age                          35
M/F                           M
City                  Granville
State                        NY
Country                     USA
Half            0 days 01:34:27
40K             0 days 03:34:33
Pace                    0:08:44
TotalSeconds              12873
HalfSeconds                5667
Name: 2814, dtype: object
Grapevine Age                          31
M/F                           F
City                  Grapevine
State                        TX
Country                     USA
Half            0 days 01:34:13
40K             0 days 03:21:11
Pace                    0:08:11
TotalSeconds              12071
HalfSeconds                5653
Name: 8976, dtype: object
Grass Lake Age                          28
M/F                           F
City                 Grass Lake
State                        MI
Country                     USA
Half            0 days 01:40:05
40K             0 days 03:16:12
Pace                    0:07:55
TotalSeconds              11772
HalfSeconds                6005
Name: 11425, dtype: object
Gray Age                          36
M/F                           M
City                       Gray
State                        LA
Country                     USA
Half            0 days 01:24:42
40K             0 days 02:45:15
Pace                    0:06:41
TotalSeconds               9915
HalfSeconds                5082
Name: 3849, dtype: object
Grayslake Age                          35
M/F                           M
City                  Grayslake
State                        IL
Country                     USA
Half            0 days 01:24:51
40K             0 days 02:48:41
Pace                    0:06:49
TotalSeconds              10121
HalfSeconds                5091
Name: 1594, dtype: object
Graz Age                          34
M/F                           M
City                       Graz
State                       NaN
Country                     AUT
Half            0 days 01:29:25
40K             0 days 03:02:08
Pace                    0:07:21
TotalSeconds              10928
HalfSeconds                5365
Name: 3087, dtype: object
Great Falls Age                          45
M/F                           M
City                Great Falls
State                        VA
Country                     USA
Half            0 days 01:40:22
40K             0 days 03:25:38
Pace                    0:08:24
TotalSeconds              12338
HalfSeconds                6022
Name: 10171, dtype: object
Great Mills Age                          35
M/F                           M
City                Great Mills
State                        MD
Country                     USA
Half            0 days 01:47:08
40K             0 days 03:41:35
Pace                    0:08:57
TotalSeconds              13295
HalfSeconds                6428
Name: 5946, dtype: object
Great Neck Age                          55
M/F                           M
City                 Great Neck
State                        NY
Country                     USA
Half            0 days 01:40:39
40K             0 days 03:14:10
Pace                    0:07:50
TotalSeconds              11650
HalfSeconds                6039
Name: 19238, dtype: object
Great River Age                          56
M/F                           M
City                Great River
State                        NY
Country                     USA
Half            0 days 01:51:02
40K             0 days 03:41:14
Pace                    0:08:58
TotalSeconds              13274
HalfSeconds                6662
Name: 18276, dtype: object
Greely Age                          54
M/F                           M
City                     Greely
State                        ON
Country                     CAN
Half            0 days 01:29:53
40K             0 days 02:53:31
Pace                    0:07:00
TotalSeconds              10411
HalfSeconds                5393
Name: 3660, dtype: object
Green Bay Age                          41
M/F                           M
City                  Green Bay
State                        WI
Country                     USA
Half            0 days 01:21:05
40K             0 days 02:54:37
Pace                    0:07:03
TotalSeconds              10477
HalfSeconds                4865
Name: 788, dtype: object
Green Cove Springs Age                             59
M/F                              F
City            Green Cove Springs
State                           FL
Country                        USA
Half               0 days 02:04:15
40K                0 days 04:15:07
Pace                       0:10:20
TotalSeconds                 15307
HalfSeconds                   7455
Name: 25383, dtype: object
Green Harbor Age                          56
M/F                           M
City               Green Harbor
State                        MA
Country                     USA
Half            0 days 02:42:03
40K             0 days 05:10:11
Pace                    0:12:28
TotalSeconds              18611
HalfSeconds                9723
Name: 27501, dtype: object
Green Lane Age                          38
M/F                           M
City                 Green Lane
State                        PA
Country                     USA
Half            0 days 01:26:32
40K             0 days 02:49:20
Pace                    0:06:50
TotalSeconds              10160
HalfSeconds                5192
Name: 2706, dtype: object
Greencastle Age                          49
M/F                           M
City                Greencastle
State                        PA
Country                     USA
Half            0 days 01:41:10
40K             0 days 03:24:29
Pace                    0:08:18
TotalSeconds              12269
HalfSeconds                6070
Name: 11529, dtype: object
Greene Age                          28
M/F                           M
City                     Greene
State                        NY
Country                     USA
Half            0 days 01:30:32
40K             0 days 02:57:14
Pace                    0:07:09
TotalSeconds              10634
HalfSeconds                5432
Name: 2658, dtype: object
Greeneville Age                          50
M/F                           M
City                Greeneville
State                        TN
Country                     USA
Half            0 days 01:35:17
40K             0 days 02:58:27
Pace                    0:07:11
TotalSeconds              10707
HalfSeconds                5717
Name: 3329, dtype: object
Greenfield Age                          53
M/F                           M
City                 Greenfield
State                        MN
Country                     USA
Half            0 days 01:20:31
40K             0 days 02:49:31
Pace                    0:07:01
TotalSeconds              10171
HalfSeconds                4831
Name: 477, dtype: object
Greenfield Park Age                          56
M/F                           M
City            Greenfield Park
State                        QC
Country                     CAN
Half            0 days 01:35:32
40K             0 days 03:04:22
Pace                    0:07:27
TotalSeconds              11062
HalfSeconds                5732
Name: 10060, dtype: object
Greenfield Township Age                              44
M/F                               M
City            Greenfield Township
State                            PA
Country                         USA
Half                0 days 01:37:52
40K                 0 days 03:08:15
Pace                        0:07:37
TotalSeconds                  11295
HalfSeconds                    5872
Name: 7116, dtype: object
Greenfieldpark Age                          61
M/F                           M
City             Greenfieldpark
State                        QC
Country                     CAN
Half            0 days 01:58:33
40K             0 days 03:53:46
Pace                    0:09:26
TotalSeconds              14026
HalfSeconds                7113
Name: 23128, dtype: object
Greenland Age                          55
M/F                           M
City                  Greenland
State                        NH
Country                     USA
Half            0 days 01:49:45
40K             0 days 03:29:04
Pace                    0:08:24
TotalSeconds              12544
HalfSeconds                6585
Name: 17500, dtype: object
Greenlawn Age                          28
M/F                           F
City                  Greenlawn
State                        NY
Country                     USA
Half            0 days 01:50:03
40K             0 days 04:07:45
Pace                    0:09:59
TotalSeconds              14865
HalfSeconds                6603
Name: 17851, dtype: object
Greensboro Age                          33
M/F                           M
City                 Greensboro
State                        NC
Country                     USA
Half            0 days 01:21:46
40K             0 days 02:38:19
Pace                    0:06:24
TotalSeconds               9499
HalfSeconds                4906
Name: 1017, dtype: object
Greensburg Age                          24
M/F                           F
City                 Greensburg
State                        PA
Country                     USA
Half            0 days 01:53:55
40K             0 days 04:02:42
Pace                    0:09:53
TotalSeconds              14562
HalfSeconds                6835
Name: 17530, dtype: object
Greenup Age                          49
M/F                           F
City                    Greenup
State                        KY
Country                     USA
Half            0 days 01:59:32
40K             0 days 03:52:36
Pace                    0:09:24
TotalSeconds              13956
HalfSeconds                7172
Name: 23112, dtype: object
Greenville Age                          27
M/F                           M
City                 Greenville
State                        SC
Country                     USA
Half            0 days 01:26:50
40K             0 days 02:47:26
Pace                    0:06:46
TotalSeconds              10046
HalfSeconds                5210
Name: 2231, dtype: object
Greenwich Age                          40
M/F                           M
City                  Greenwich
State                        CT
Country                     USA
Half            0 days 01:35:08
40K             0 days 03:02:59
Pace                    0:07:24
TotalSeconds              10979
HalfSeconds                5708
Name: 5509, dtype: object
Greenwood Age                          50
M/F                           M
City                  Greenwood
State                        IN
Country                     USA
Half            0 days 01:36:20
40K             0 days 03:14:04
Pace                    0:07:51
TotalSeconds              11644
HalfSeconds                5780
Name: 5968, dtype: object
Greenwood Village Age                            46
M/F                             M
City            Greenwood Village
State                          CO
Country                       USA
Half              0 days 01:29:22
40K               0 days 03:10:23
Pace                      0:07:44
TotalSeconds                11423
HalfSeconds                  5362
Name: 3501, dtype: object
Greer Age                          60
M/F                           M
City                      Greer
State                        SC
Country                     USA
Half            0 days 01:29:51
40K             0 days 02:55:43
Pace                    0:07:06
TotalSeconds              10543
HalfSeconds                5391
Name: 4493, dtype: object
Gregory Age                          28
M/F                           F
City                    Gregory
State                        MI
Country                     USA
Half            0 days 02:07:26

Name: 422, dtype: object
Hanover Park Age                          43
M/F                           M
City               Hanover Park
State                        IL
Country                     USA
Half            0 days 01:27:58
40K             0 days 03:14:53
Pace                    0:07:54
TotalSeconds              11693
HalfSeconds                5278
Name: 1692, dtype: object
Hanscom Afb Age                          32
M/F                           M
City                Hanscom Afb
State                        MA
Country                     USA
Half            0 days 01:22:30
40K             0 days 02:41:29
Pace                    0:06:33
TotalSeconds               9689
HalfSeconds                4950
Name: 2118, dtype: object
Hanscom Air Force Base Age                                 29
M/F                                  M
City            Hanscom Air Force Base
State                               MA
Country                            USA
Half                   0 days 01:26:14
40K                    0 days 03:11:21
Pace                           0:07:49
TotalSeconds                     11481
HalfSeconds                       5174
Name: 4839, dtype: object
Hanson Age                          24
M/F                           F
City                     Hanson
State                        MA
Country                     USA
Half            0 days 01:46:05
40K             0 days 03:52:01
Pace                    0:09:23
TotalSeconds              13921
HalfSeconds                6365
Name: 15269, dtype: object
Hanwell Age                          43
M/F                           M
City                    Hanwell
State                        NB
Country                     CAN
Half            0 days 01:35:35
40K             0 days 03:07:33
Pace                    0:07:35
TotalSeconds              11253
HalfSeconds                5735
Name: 7498, dtype: object
Happy Valley Age                          24
M/F                           F
City               Happy Valley
State                        OR
Country                     USA
Half            0 days 01:40:37
40K             0 days 03:18:03
Pace                    0:07:59
TotalSeconds              11883
HalfSeconds                6037
Name: 9079, dtype: object
Harare Age                          33
M/F                           M
City                     Harare
State                       NaN
Country                     ZIM
Half            0 days 01:06:47
40K             0 days 02:11:48
Pace                    0:05:26
TotalSeconds               7908
HalfSeconds                4007
Name: 16, dtype: object
Harbor Springs Age                          33
M/F                           M
City             Harbor Springs
State                        MI
Country                     USA
Half            0 days 01:29:10
40K             0 days 02:54:36
Pace                    0:07:04
TotalSeconds              10476
HalfSeconds                5350
Name: 4953, dtype: object
Hardin Age                          28
M/F                           M
City                     Hardin
State                        MT
Country                     USA
Half            0 days 01:23:47
40K             0 days 02:42:13
Pace                    0:06:37
TotalSeconds               9733
HalfSeconds                5027
Name: 1700, dtype: object
Hardwick Age                          56
M/F                           M
City                   Hardwick
State                        NJ
Country                     USA
Half            0 days 01:30:40
40K             0 days 03:08:53
Pace                    0:07:41
TotalSeconds              11333
HalfSeconds                5440
Name: 4882, dtype: object
Harleysville Age                          32
M/F                           F
City               Harleysville
State                        PA
Country                     USA
Half            0 days 01:46:32
40K             0 days 03:33:21
Pace                    0:08:40
TotalSeconds              12801
HalfSeconds                6392
Name: 17075, dtype: object
Harlingen Age                          34
M/F                           M
City                  Harlingen
State                        TX
Country                     USA
Half            0 days 01:26:43
40K             0 days 02:56:54
Pace                    0:07:14
TotalSeconds              10614
HalfSeconds                5203
Name: 2589, dtype: object
Harpenden Age                          34
M/F                           M
City                  Harpenden
State                       NaN
Country                     GBR
Half            0 days 01:27:13
40K             0 days 02:47:31
Pace                    0:06:45
TotalSeconds              10051
HalfSeconds                5233
Name: 1880, dtype: object
Harpswell Age                          60
M/F                           M
City                  Harpswell
State                        ME
Country                     USA
Half            0 days 01:54:58
40K             0 days 03:40:41
Pace                    0:08:52
TotalSeconds              13241
HalfSeconds                6898
Name: 16386, dtype: object
Harrington Park Age                          53
M/F                           F
City            Harrington Park
State                        NJ
Country                     USA
Half            0 days 01:51:46
40K             0 days 03:37:12
Pace                    0:08:45
TotalSeconds              13032
HalfSeconds                6706
Name: 22227, dtype: object
Harrington Park, Nsw Age                               57
M/F                                M
City            Harrington Park, Nsw
State                            NaN
Country                          AUS
Half                 0 days 01:43:54
40K                  0 days 03:26:27
Pace                         0:08:24
TotalSeconds                   12387
HalfSeconds                     6234
Name: 15198, dtype: object
Harrisburg Age                          30
M/F                           F
City                 Harrisburg
State                        PA
Country                     USA
Half            0 days 01:38:58
40K             0 days 03:12:05
Pace                    0:07:46
TotalSeconds              11525
HalfSeconds                5938
Name: 11498, dtype: object
Harrison Age                          36
M/F                           M
City                   Harrison
State                        NJ
Country                     USA
Half            0 days 01:31:55
40K             0 days 03:00:32
Pace                    0:07:18
TotalSeconds              10832
HalfSeconds                5515
Name: 5064, dtype: object
Harrisonburg Age                          20
M/F                           F
City               Harrisonburg
State                        VA
Country                     USA
Half            0 days 01:44:52
40K             0 days 03:25:29
Pace                    0:08:19
TotalSeconds              12329
HalfSeconds                6292
Name: 16663, dtype: object
Harrisonville Age                          40
M/F                           M
City              Harrisonville
State                        MO
Country                     USA
Half            0 days 01:44:14
40K             0 days 03:23:51
Pace                    0:08:12
TotalSeconds              12231
HalfSeconds                6254
Name: 8906, dtype: object
Harrisville Age                          26
M/F                           F
City                Harrisville
State                        RI
Country                     USA
Half            0 days 02:13:16
40K             0 days 04:08:50
Pace                    0:09:57
TotalSeconds              14930
HalfSeconds                7996
Name: 28273, dtype: object
Harrogate Age                          24
M/F                           F
City                  Harrogate
State                        TN
Country                     USA
Half            0 days 01:41:01
40K             0 days 03:19:59
Pace                    0:08:05
TotalSeconds              11999
HalfSeconds                6061
Name: 14850, dtype: object
Harrowsmith Age                          39
M/F                           F
City                Harrowsmith
State                        ON
Country                     CAN
Half            0 days 01:47:00
40K             0 days 03:30:13
Pace                    0:08:28
TotalSeconds              12613
HalfSeconds                6420
Name: 20215, dtype: object
Harsum Age                          41
M/F                           M
City                     Harsum
State                       NaN
Country                     GER
Half            0 days 01:48:32
40K             0 days 03:49:18
Pace                    0:09:19
TotalSeconds              13758
HalfSeconds                6512
Name: 31776, dtype: object
Hartford Age                          26
M/F                           M
City                   Hartford
State                        CT
Country                     USA
Half            0 days 02:02:42
40K             0 days 04:15:17
Pace                    0:10:18
TotalSeconds              15317
HalfSeconds                7362
Name: 27627, dtype: object
Hartland Age                          45
M/F                           M
City                   Hartland
State                        MI
Country                     USA
Half            0 days 01:34:57
40K             0 days 03:16:09
Pace                    0:07:57
TotalSeconds              11769
HalfSeconds                5697
Name: 6557, dtype: object
Hartsdale Age                          31
M/F                           F
City                  Hartsdale
State                        NY
Country                     USA
Half            0 days 01:34:22
40K             0 days 03:05:27
Pace                    0:07:31
TotalSeconds              11127
HalfSeconds                5662
Name: 7645, dtype: object
Hartsville Age                          46
M/F                           F
City                 Hartsville
State                        SC
Country                     USA
Half            0 days 01:51:38
40K             0 days 03:31:59
Pace                    0:08:32
TotalSeconds              12719
HalfSeconds                6698
Name: 21158, dtype: object
Harvard Age                          50
M/F                           M
City                    Harvard
State                        MA
Country                     USA
Half            0 days 01:27:58
40K             0 days 02:49:44
Pace                    0:06:50
TotalSeconds              10184
HalfSeconds                5278
Name: 4447, dtype: object
Harvest Age                          32
M/F                           M
City                    Harvest
State                        AL
Country                     USA
Half            0 days 01:31:13
40K             0 days 03:07:15
Pace                    0:07:36
TotalSeconds              11235
HalfSeconds                5473
Name: 4532, dtype: object
Harwich Age                          59
M/F                           M
City                    Harwich
State                        MA
Country                     USA
Half            0 days 01:42:53
40K             0 days 03:24:30
Pace                    0:08:17
TotalSeconds              12270
HalfSeconds                6173
Name: 16777, dtype: object
Harwich Port Age                          58
M/F                           M
City               Harwich Port
State                        MA
Country                     USA
Half            0 days 01:51:47
40K             0 days 03:41:08
Pace                    0:08:55
TotalSeconds              13268
HalfSeconds                6707
Name: 18652, dtype: object
Harwinton Age                          48
M/F                           M
City                  Harwinton
State                        CT
Country                     USA
Half            0 days 01:36:52
40K             0 days 03:06:50
Pace                    0:07:33
TotalSeconds              11210
HalfSeconds                5812
Name: 10625, dtype: object
Harwood Age                          55
M/F                           F
City                    Harwood
State                        MD
Country                     USA
Half            0 days 01:55:56
40K             0 days 03:55:04
Pace                    0:09:34
TotalSeconds              14104
HalfSeconds                6956
Name: 24450, dtype: object
Hasbrouck Heights Age                            44
M/F                             M
City            Hasbrouck Heights
State                          NJ
Country                       USA
Half              0 days 01:26:24
40K               0 days 02:59:40
Pace                      0:07:17
TotalSeconds                10780
HalfSeconds                  5184
Name: 3503, dtype: object
Haslemere Age                          23
M/F                           M
City                  Haslemere
State                       NaN
Country                     GBR
Half            0 days 01:28:38
40K             0 days 03:10:19
Pace                    0:07:40
TotalSeconds              11419
HalfSeconds                5318
Name: 1043, dtype: object
Haslett Age                          24
M/F                           M
City                    Haslett
State                        MI
Country                     USA
Half            0 days 01:22:58
40K             0 days 02:49:37
Pace                    0:06:50
TotalSeconds              10177
HalfSeconds                4978
Name: 1061, dtype: object
Haslev Age                          48
M/F                           M
City                     Haslev
State                       NaN
Country                     DEN
Half            0 days 01:46:23
40K             0 days 03:43:41
Pace                    0:09:05
TotalSeconds              13421
HalfSeconds                6383
Name: 12476, dtype: object
Hastings Age                          32
M/F                           M
City                   Hastings
State                        NE
Country                     USA
Half            0 days 01:29:20
40K             0 days 02:56:52
Pace                    0:07:09
TotalSeconds              10612
HalfSeconds                5360
Name: 4265, dtype: object
Hastings On Hudon Age                            36
M/F                             F
City            Hastings On Hudon
State                          NY
Country                       USA
Half              0 days 01:55:19
40K               0 days 03:42:39
Pace                      0:08:58
TotalSeconds                13359
HalfSeconds                  6919
Name: 14953, dtype: object
Hastings On Hudson Age                             47
M/F                              F
City            Hastings On Hudson
State                           NY
Country                        USA
Half               0 days 01:52:16
40K                0 days 03:39:30
Pace                       0:08:51
TotalSeconds                 13170
HalfSeconds                   6736
Name: 22927, dtype: object
Hastings-On-Hudson Age                             57
M/F                              F
City            Hastings-On-Hudson
State                           NY
Country                        USA
Half               0 days 02:02:26
40K                0 days 03:57:18
Pace                       0:09:34
TotalSeconds                 14238
HalfSeconds                   7346
Name: 25607, dtype: object
Hatchet Lake Age                          49
M/F                           M
City               Hatchet Lake
State                        NS
Country                     CAN
Half            0 days 01:33:05
40K             0 days 03:01:07
Pace                    0:07:20
TotalSeconds              10867
HalfSeconds                5585
Name: 11492, dtype: object
Hattiesburg Age                          28
M/F                           M
City                Hattiesburg
State                        MS
Country                     USA
Half            0 days 01:28:09
40K             0 days 02:55:57
Pace                    0:07:06
TotalSeconds              10557
HalfSeconds                5289
Name: 2312, dtype: object
Hattingen Age                          25
M/F                           F
City                  Hattingen
State                       NaN
Country                     GER
Half            0 days 02:12:29
40K             0 days 04:14:59
Pace                    0:10:14
TotalSeconds              15299
HalfSeconds                7949
Name: 30691, dtype: object
Haubstadt Age                          40
M/F                           F
City                  Haubstadt
State                        IN
Country                     USA
Half            0 days 01:51:34
40K             0 days 03:33:00
Pace                    0:08:34
TotalSeconds              12780
HalfSeconds                6694
Name: 19060, dtype: object
Haughton Age                          50
M/F                           F
City                   Haughton
State                        LA
Country                     USA
Half            0 days 01:54:35
40K             0 days 03:55:00
Pace                    0:09:32
TotalSeconds              14100
HalfSeconds                6875
Name: 24782, dtype: object
Hausmannstaetten Age                           59
M/F                            M
City            Hausmannstaetten
State                        NaN
Country                      AUT
Half             0 days 02:08:55
40K              0 days 04:32:41
Pace                     0:11:07
TotalSeconds               16361
HalfSeconds                 7735
Name: 31030, dtype: object
Havelock Age                          64
M/F                           F
City                   Havelock
State                       NaN
Country                     NZL
Half            0 days 02:15:09
40K             0 days 04:37:45
Pace                    0:11:23
TotalSeconds              16665
HalfSeconds                8109
Name: 31850, dtype: object
Haverhill Age                          28
M/F                           M
City                  Haverhill
State                        MA
Country                     USA
Half            0 days 01:21:50
40K             0 days 02:41:03
Pace                    0:06:29
TotalSeconds               9663
HalfSeconds                4910
Name: 255, dtype: object
Havertown Age                          48
M/F                           F
City                  Havertown
State                        PA
Country                     USA
Half            0 days 01:45:55
40K             0 days 03:26:34
Pace                    0:08:20
TotalSeconds              12394
HalfSeconds                6355
Name: 15304, dtype: object
Havre De Grace Age                          38
M/F                           M
City             Havre De Grace
State                        MD
Country                     USA
Half            0 days 01:15:35
40K             0 days 02:28:55
Pace                    0:06:01
TotalSeconds               8935
HalfSeconds                4535
Name: 171, dtype: object
Hawaiian Gardens Age                           63
M/F                            M
City            Hawaiian Gardens
State                         CA
Country                      USA
Half             0 days 01:55:49
40K              0 days 04:04:58
Pace                     0:09:55
TotalSeconds               14698
HalfSeconds                 6949
Name: 22638, dtype: object
Hawker Age                          32
M/F                           F
City                     Hawker
State                       NaN
Country                     AUS
Half            0 days 01:47:19
40K             0 days 03:23:18
Pace                    0:08:08
TotalSeconds              12198
HalfSeconds                6439
Name: 12606, dtype: object
Hawley Age                          58
M/F                           M
City                     Hawley
State                        PA
Country                     USA
Half            0 days 02:01:13
40K             0 days 04:05:49
Pace                    0:09:54
TotalSeconds              14749
HalfSeconds                7273
Name: 17195, dtype: object
Haworth Age                          46

Hillsboro Age                          38
M/F                           M
City                  Hillsboro
State                        OR
Country                     USA
Half            0 days 01:28:22
40K             0 days 02:54:44
Pace                    0:07:05
TotalSeconds              10484
HalfSeconds                5302
Name: 5718, dtype: object
Hillsborough Age                          33
M/F                           M
City               Hillsborough
State                        NJ
Country                     USA
Half            0 days 01:30:25
40K             0 days 02:53:19
Pace                    0:06:59
TotalSeconds              10399
HalfSeconds                5425
Name: 5159, dtype: object
Hillsdale Age                          30
M/F                           M
City                  Hillsdale
State                        MI
Country                     USA
Half            0 days 01:29:00
40K             0 days 02:47:44
Pace                    0:06:45
TotalSeconds              10064
HalfSeconds                5340
Name: 738, dtype: object
Hilmar Age                          40
M/F                           F
City                     Hilmar
State                        CA
Country                     USA
Half            0 days 01:35:12
40K             0 days 03:03:53
Pace                    0:07:25
TotalSeconds              11033
HalfSeconds                5712
Name: 5625, dtype: object
Hilo Age                          45
M/F                           F
City                       Hilo
State                        HI
Country                     USA
Half            0 days 01:47:52
40K             0 days 03:30:33
Pace                    0:08:30
TotalSeconds              12633
HalfSeconds                6472
Name: 21170, dtype: object
Hilton Age                          26
M/F                           F
City                     Hilton
State                        NY
Country                     USA
Half            0 days 01:43:05
40K             0 days 03:19:22
Pace                    0:08:04
TotalSeconds              11962
HalfSeconds                6185
Name: 12917, dtype: object
Hilton Head Age                          53
M/F                           M
City                Hilton Head
State                        SC
Country                     USA
Half            0 days 01:39:22
40K             0 days 03:17:20
Pace                    0:07:58
TotalSeconds              11840
HalfSeconds                5962
Name: 16547, dtype: object
Hilton Head Island Age                             70
M/F                              M
City            Hilton Head Island
State                           SC
Country                        USA
Half               0 days 02:16:14
40K                0 days 04:41:54
Pace                       0:11:25
TotalSeconds                 16914
HalfSeconds                   8174
Name: 15527, dtype: object
Himeji-Shi Age                          57
M/F                           M
City                 Himeji-Shi
State                       NaN
Country                     JPN
Half            0 days 02:16:29
40K             0 days 05:32:38
Pace                    0:13:31
TotalSeconds              19958
HalfSeconds                8189
Name: 7145, dtype: object
Hinckley Age                          53
M/F                           M
City                   Hinckley
State                        OH
Country                     USA
Half            0 days 01:42:56
40K             0 days 03:13:28
Pace                    0:07:47
TotalSeconds              11608
HalfSeconds                6176
Name: 14604, dtype: object
Hinesburg Age                          52
M/F                           M
City                  Hinesburg
State                        VT
Country                     USA
Half            0 days 01:48:18
40K             0 days 03:53:44
Pace                    0:09:32
TotalSeconds              14024
HalfSeconds                6498
Name: 15074, dtype: object
Hingham Age                          45
M/F                           M
City                    Hingham
State                        MA
Country                     USA
Half            0 days 01:37:52
40K             0 days 03:08:55
Pace                    0:07:39
TotalSeconds              11335
HalfSeconds                5872
Name: 10912, dtype: object
Hino-Shi, Tokyo Age                          47
M/F                           M
City            Hino-Shi, Tokyo
State                       NaN
Country                     JPN
Half            0 days 01:23:10
40K             0 days 02:45:40
Pace                    0:06:43
TotalSeconds               9940
HalfSeconds                4990
Name: 1247, dtype: object
Hinsdale Age                          55
M/F                           M
City                   Hinsdale
State                        IL
Country                     USA
Half            0 days 01:47:47
40K             0 days 03:25:23
Pace                    0:08:16
TotalSeconds              12323
HalfSeconds                6467
Name: 19705, dtype: object
Hirakata Age                          68
M/F                           M
City                   Hirakata
State                       NaN
Country                     JPN
Half            0 days 01:50:57
40K             0 days 03:54:51
Pace                    0:09:42
TotalSeconds              14091
HalfSeconds                6657
Name: 18489, dtype: object
Hiroshima Age                          65
M/F                           M
City                  Hiroshima
State                       NaN
Country                     JPN
Half            0 days 01:47:38
40K             0 days 03:34:50
Pace                    0:08:47
TotalSeconds              12890
HalfSeconds                6458
Name: 22711, dtype: object
Hitchcock Age                          57
M/F                           F
City                  Hitchcock
State                        TX
Country                     USA
Half            0 days 01:58:17
40K             0 days 03:57:32
Pace                    0:09:35
TotalSeconds              14252
HalfSeconds                7097
Name: 24497, dtype: object
Hitchin Age                          45
M/F                           F
City                    Hitchin
State                       NaN
Country                     GBR
Half            0 days 01:55:04
40K             0 days 03:52:08
Pace                    0:09:22
TotalSeconds              13928
HalfSeconds                6904
Name: 21973, dtype: object
Ho Ho Kus Age                          41
M/F                           M
City                  Ho Ho Kus
State                        NJ
Country                     USA
Half            0 days 01:49:38
40K             0 days 03:25:45
Pace                    0:08:14
TotalSeconds              12345
HalfSeconds                6578
Name: 4735, dtype: object
Ho-Ho-Kus Age                          22
M/F                           F
City                  Ho-Ho-Kus
State                        NJ
Country                     USA
Half            0 days 02:20:32
40K             0 days 05:03:27
Pace                    0:12:17
TotalSeconds              18207
HalfSeconds                8432
Name: 26283, dtype: object
Hobart Age                          41
M/F                           F
City                     Hobart
State                        IN
Country                     USA
Half            0 days 01:51:52
40K             0 days 03:36:43
Pace                    0:08:44
TotalSeconds              13003
HalfSeconds                6712
Name: 16831, dtype: object
Hobe Sound Age                          66
M/F                           F
City                 Hobe Sound
State                        FL
Country                     USA
Half            0 days 02:30:41
40K             0 days 05:00:35
Pace                    0:12:07
TotalSeconds              18035
HalfSeconds                9041
Name: 26068, dtype: object
Hobken Age                          26
M/F                           M
City                     Hobken
State                        NJ
Country                     USA
Half            0 days 01:55:04
40K             0 days 03:48:41
Pace                    0:09:12
TotalSeconds              13721
HalfSeconds                6904
Name: 29265, dtype: object
Hoboken Age                          33
M/F                           M
City                    Hoboken
State                        NJ
Country                     USA
Half            0 days 01:18:27
40K             0 days 02:30:18
Pace                    0:06:03
TotalSeconds               9018
HalfSeconds                4707
Name: 485, dtype: object
Hockessin Age                          43
M/F                           M
City                  Hockessin
State                        DE
Country                     USA
Half            0 days 01:29:45
40K             0 days 03:08:44
Pace                    0:07:39
TotalSeconds              11324
HalfSeconds                5385
Name: 5349, dtype: object
Hod Hasharon Age                          38
M/F                           M
City               Hod Hasharon
State                       NaN
Country                     ISR
Half            0 days 01:35:59
40K             0 days 03:21:27
Pace                    0:08:11
TotalSeconds              12087
HalfSeconds                5759
Name: 6447, dtype: object
Hoersholm Age                          38
M/F                           M
City                  Hoersholm
State                       NaN
Country                     DEN
Half            0 days 01:38:15
40K             0 days 03:24:59
Pace                    0:08:20
TotalSeconds              12299
HalfSeconds                5895
Name: 5494, dtype: object
Hoffman Estates Age                          49
M/F                           M
City            Hoffman Estates
State                        IL
Country                     USA
Half            0 days 01:31:44
40K             0 days 02:56:18
Pace                    0:07:08
TotalSeconds              10578
HalfSeconds                5504
Name: 4157, dtype: object
Hofheim Age                          56
M/F                           M
City                    Hofheim
State                       NaN
Country                     GER
Half            0 days 02:20:44
40K             0 days 04:36:31
Pace                    0:11:15
TotalSeconds              16591
HalfSeconds                8444
Name: 31029, dtype: object
Hofheim Am Taunus Age                            51
M/F                             M
City            Hofheim Am Taunus
State                         NaN
Country                       GER
Half              0 days 02:20:45
40K               0 days 04:36:31
Pace                      0:11:15
TotalSeconds                16591
HalfSeconds                  8445
Name: 30838, dtype: object
Hohenbrunn Age                          46
M/F                           F
City                 Hohenbrunn
State                       NaN
Country                     GER
Half            0 days 01:51:15
40K             0 days 03:33:46
Pace                    0:08:38
TotalSeconds              12826
HalfSeconds                6675
Name: 21808, dtype: object
Holbrook Age                          51
M/F                           F
City                   Holbrook
State                        MA
Country                     USA
Half            0 days 01:52:16
40K             0 days 03:42:34
Pace                    0:09:00
TotalSeconds              13354
HalfSeconds                6736
Name: 27835, dtype: object
Holden Age                          26
M/F                           M
City                     Holden
State                        MA
Country                     USA
Half            0 days 01:19:06
40K             0 days 02:40:06
Pace                    0:06:31
TotalSeconds               9606
HalfSeconds                4746
Name: 351, dtype: object
Holderness Age                          44
M/F                           F
City                 Holderness
State                        NH
Country                     USA
Half            0 days 01:43:08
40K             0 days 03:52:22
Pace                    0:09:25
TotalSeconds              13942
HalfSeconds                6188
Name: 18613, dtype: object
Holladay Age                          41
M/F                           F
City                   Holladay
State                        UT
Country                     USA
Half            0 days 01:44:02
40K             0 days 03:27:10
Pace                    0:08:22
TotalSeconds              12430
HalfSeconds                6242
Name: 14400, dtype: object
Holland Age                          39
M/F                           M
City                    Holland
State                        NY
Country                     USA
Half            0 days 01:21:23
40K             0 days 02:38:06
Pace                    0:06:23
TotalSeconds               9486
HalfSeconds                4883
Name: 540, dtype: object
Holland Park West Age                            52
M/F                             M
City            Holland Park West
State                         NaN
Country                       AUS
Half              0 days 01:29:33
40K               0 days 02:55:46
Pace                      0:07:08
TotalSeconds                10546
HalfSeconds                  5373
Name: 8050, dtype: object
Hollidaysburg Age                          39
M/F                           M
City              Hollidaysburg
State                        PA
Country                     USA
Half            0 days 01:29:17
40K             0 days 02:51:42
Pace                    0:06:54
TotalSeconds              10302
HalfSeconds                5357
Name: 2343, dtype: object
Hollis Age                          40
M/F                           F
City                     Hollis
State                        NH
Country                     USA
Half            0 days 01:38:59
40K             0 days 03:18:52
Pace                    0:08:02
TotalSeconds              11932
HalfSeconds                5939
Name: 13382, dtype: object
Hollister Age                          39
M/F                           F
City                  Hollister
State                        MO
Country                     USA
Half            0 days 01:40:47
40K             0 days 03:21:43
Pace                    0:08:09
TotalSeconds              12103
HalfSeconds                6047
Name: 10807, dtype: object
Holliston Age                          32
M/F                           M
City                  Holliston
State                        MA
Country                     USA
Half            0 days 01:28:28
40K             0 days 03:00:30
Pace                    0:07:17
TotalSeconds              10830
HalfSeconds                5308
Name: 4790, dtype: object
Hollviken Age                          48
M/F                           M
City                  Hollviken
State                       NaN
Country                     SWE
Half            0 days 01:47:41
40K             0 days 03:40:22
Pace                    0:08:58
TotalSeconds              13222
HalfSeconds                6461
Name: 19268, dtype: object
Holly Springs Age                          46
M/F                           M
City              Holly Springs
State                        NC
Country                     USA
Half            0 days 01:33:42
40K             0 days 03:03:42
Pace                    0:07:27
TotalSeconds              11022
HalfSeconds                5622
Name: 8048, dtype: object
Hollywood Age                          33
M/F                           M
City                  Hollywood
State                        FL
Country                     USA
Half            0 days 01:26:48
40K             0 days 03:11:44
Pace                    0:07:46
TotalSeconds              11504
HalfSeconds                5208
Name: 3383, dtype: object
Holmen Age                          51
M/F                           M
City                     Holmen
State                        WI
Country                     USA
Half            0 days 01:37:00
40K             0 days 03:08:08
Pace                    0:07:35
TotalSeconds              11288
HalfSeconds                5820
Name: 9284, dtype: object
Holmfirth Age                          44
M/F                           F
City                  Holmfirth
State                       NaN
Country                     GBR
Half            0 days 01:34:38
40K             0 days 03:03:15
Pace                    0:07:25
TotalSeconds              10995
HalfSeconds                5678
Name: 8734, dtype: object
Holstebro Age                          41
M/F                           M
City                  Holstebro
State                       NaN
Country                     DEN
Half            0 days 02:14:48
40K             0 days 04:59:41
Pace                    0:12:13
TotalSeconds              17981
HalfSeconds                8088
Name: 30390, dtype: object
Holsworthy Devon Age                           50
M/F                            F
City            Holsworthy Devon
State                        NaN
Country                      GBR
Half             0 days 02:07:28
40K              0 days 04:18:24
Pace                     0:10:25
TotalSeconds               15504
HalfSeconds                 7648
Name: 24865, dtype: object
Holt Age                          24
M/F                           M
City                       Holt
State                        MI
Country                     USA
Half            0 days 01:22:06
40K             0 days 02:43:17
Pace                    0:06:37
TotalSeconds               9797
HalfSeconds                4926
Name: 1059, dtype: object
Holyoke Age                          45
M/F                           M
City                    Holyoke
State                        MA
Country                     USA
Half            0 days 01:28:55
40K             0 days 02:52:01
Pace                    0:06:56
TotalSeconds              10321
HalfSeconds                5335
Name: 3408, dtype: object
Homer Glen Age                          45
M/F                           F
City                 Homer Glen
State                        IL
Country                     USA
Half            0 days 01:57:08
40K             0 days 03:49:42
Pace                    0:09:15
TotalSeconds              13782
HalfSeconds                7028
Name: 23007, dtype: object
Homestead Age                          55
M/F                           F
City                  Homestead
State                        FL
Country                     USA
Half            0 days 02:01:55
40K             0 days 04:07:17
Pace                    0:10:00
TotalSeconds              14837
HalfSeconds                7315
Name: 25137, dtype: object
Homewood Age                          41
M/F                           M
City                   Homewood
State                        AL
Country                     USA
Half            0 days 01:34:18
40K             0 days 03:15:07
Pace                    0:07:55
TotalSeconds              11707
HalfSeconds                5658
Name: 7005, dtype: object
Honeoye Falls Age                          29
M/F                           F
City              Honeoye Falls
State                        NY
Country                     USA
Half            0 days 01:29:43
40K             0 days 03:03:50
Pace                    0:07:26
TotalSeconds              11030
HalfSeconds                5383
Name: 3034, dtype: object
Honesdale Age                          43
M/F                           F
City                  Honesdale
State                        PA
Country                     USA
Half            0 days 01:53:26
40K             0 days 03:54:56
Pace                    0:09:30
TotalSeconds              14096
HalfSeconds                6806
Name: 19311, dtype: object
Hong Kong Age                          52
M/F                           M
City                  Hong Kong
State                       NaN
Country                     HKG
Half            0 days 01:20:07
40K             0 days 02:38:55
Pace                    0:06:28

Ingersoll Age                          41
M/F                           F
City                  Ingersoll
State                        ON
Country                     CAN
Half            0 days 01:45:00
40K             0 days 03:24:30
Pace                    0:08:15
TotalSeconds              12270
HalfSeconds                6300
Name: 19625, dtype: object
Inglewood Age                          46
M/F                           M
City                  Inglewood
State                        CA
Country                     USA
Half            0 days 01:24:14
40K             0 days 02:46:43
Pace                    0:06:44
TotalSeconds              10003
HalfSeconds                5054
Name: 898, dtype: object
Ingolstadt Age                          45
M/F                           M
City                 Ingolstadt
State                       NaN
Country                     GER
Half            0 days 01:56:58
40K             0 days 03:45:14
Pace                    0:09:05
TotalSeconds              13514
HalfSeconds                7018
Name: 31206, dtype: object
Innisfil Age                          47
M/F                           F
City                   Innisfil
State                        ON
Country                     CAN
Half            0 days 01:54:05
40K             0 days 03:52:04
Pace                    0:09:24
TotalSeconds              13924
HalfSeconds                6845
Name: 22308, dtype: object
Inver Grove Heights Age                              54
M/F                               M
City            Inver Grove Heights
State                            MN
Country                         USA
Half                0 days 01:30:09
40K                 0 days 02:59:52
Pace                        0:07:16
TotalSeconds                  10792
HalfSeconds                    5409
Name: 4495, dtype: object
Invercargill Age                          29
M/F                           F
City               Invercargill
State                       NaN
Country                     NZL
Half            0 days 01:40:28
40K             0 days 03:16:46
Pace                    0:07:57
TotalSeconds              11806
HalfSeconds                6028
Name: 16611, dtype: object
Ionia Age                          67
M/F                           M
City                      Ionia
State                        MI
Country                     USA
Half            0 days 01:57:05
40K             0 days 03:59:52
Pace                    0:09:56
TotalSeconds              14392
HalfSeconds                7025
Name: 18102, dtype: object
Iowa City Age                          28
M/F                           M
City                  Iowa City
State                        IA
Country                     USA
Half            0 days 01:23:25
40K             0 days 02:53:24
Pace                    0:07:05
TotalSeconds              10404
HalfSeconds                5005
Name: 1398, dtype: object
Ipswich Age                          41
M/F                           M
City                    Ipswich
State                        MA
Country                     USA
Half            0 days 01:31:07
40K             0 days 02:56:17
Pace                    0:07:09
TotalSeconds              10577
HalfSeconds                5467
Name: 4339, dtype: object
Ira Twp. Age                          42
M/F                           M
City                   Ira Twp.
State                        MI
Country                     USA
Half            0 days 01:34:24
40K             0 days 03:06:29
Pace                    0:07:32
TotalSeconds              11189
HalfSeconds                5664
Name: 7258, dtype: object
Irapuato Age                          47
M/F                           M
City                   Irapuato
State                       NaN
Country                     MEX
Half            0 days 01:28:49
40K             0 days 02:59:10
Pace                    0:07:17
TotalSeconds              10750
HalfSeconds                5329
Name: 4621, dtype: object
Irbid Age                          42
M/F                           M
City                      Irbid
State                       NaN
Country                     JOR
Half            0 days 01:29:27
40K             0 days 03:32:09
Pace                    0:08:37
TotalSeconds              12729
HalfSeconds                5367
Name: 3180, dtype: object
Irmo Age                          41
M/F                           M
City                       Irmo
State                        SC
Country                     USA
Half            0 days 01:35:50
40K             0 days 03:18:16
Pace                    0:08:04
TotalSeconds              11896
HalfSeconds                5750
Name: 8838, dtype: object
Iron Mountain Age                          37
M/F                           F
City              Iron Mountain
State                        MI
Country                     USA
Half            0 days 01:56:04
40K             0 days 04:02:58
Pace                    0:09:50
TotalSeconds              14578
HalfSeconds                6964
Name: 19467, dtype: object
Irondale Age                          32
M/F                           M
City                   Irondale
State                        AL
Country                     USA
Half            0 days 01:24:53
40K             0 days 02:43:25
Pace                    0:06:37
TotalSeconds               9805
HalfSeconds                5093
Name: 2542, dtype: object
Ironwood Age                          58
M/F                           M
City                   Ironwood
State                        MI
Country                     USA
Half            0 days 01:47:50
40K             0 days 03:33:49
Pace                    0:08:37
TotalSeconds              12829
HalfSeconds                6470
Name: 10497, dtype: object
Irvine Age                          31
M/F                           M
City                     Irvine
State                        CA
Country                     USA
Half            0 days 01:24:59
40K             0 days 02:44:51
Pace                    0:06:41
TotalSeconds               9891
HalfSeconds                5099
Name: 2751, dtype: object
Irving Age                          41
M/F                           M
City                     Irving
State                        TX
Country                     USA
Half            0 days 01:28:12
40K             0 days 02:53:01
Pace                    0:07:00
TotalSeconds              10381
HalfSeconds                5292
Name: 4372, dtype: object
Irvington Age                          45
M/F                           M
City                  Irvington
State                        NY
Country                     USA
Half            0 days 01:27:50
40K             0 days 02:51:06
Pace                    0:06:54
TotalSeconds              10266
HalfSeconds                5270
Name: 1591, dtype: object
Ise-City Age                          50
M/F                           M
City                   Ise-City
State                       NaN
Country                     JPN
Half            0 days 01:41:16
40K             0 days 03:39:43
Pace                    0:08:52
TotalSeconds              13183
HalfSeconds                6076
Name: 13706, dtype: object
Ishikawa Age                          39
M/F                           M
City                   Ishikawa
State                       NaN
Country                     JPN
Half            0 days 01:52:56
40K             0 days 03:43:16
Pace                    0:09:02
TotalSeconds              13396
HalfSeconds                6776
Name: 31666, dtype: object
Island Park Age                          52
M/F                           M
City                Island Park
State                        NY
Country                     USA
Half            0 days 01:35:38
40K             0 days 03:10:07
Pace                    0:07:41
TotalSeconds              11407
HalfSeconds                5738
Name: 14195, dtype: object
Isle Age                          29
M/F                           F
City                       Isle
State                        MN
Country                     USA
Half            0 days 01:32:58
40K             0 days 03:08:17
Pace                    0:07:39
TotalSeconds              11297
HalfSeconds                5578
Name: 8045, dtype: object
Isle Of Harris Age                          47
M/F                           M
City             Isle Of Harris
State                       NaN
Country                     GBR
Half            0 days 01:33:13
40K             0 days 03:14:07
Pace                    0:07:51
TotalSeconds              11647
HalfSeconds                5593
Name: 4563, dtype: object
Isleworth Age                          42
M/F                           F
City                  Isleworth
State                       NaN
Country                     GBR
Half            0 days 01:47:39
40K             0 days 00:00:00
Pace                    0:08:43
TotalSeconds                  0
HalfSeconds                6459
Name: 14380, dtype: object
Islip Age                          45
M/F                           M
City                      Islip
State                        NY
Country                     USA
Half            0 days 01:36:31
40K             0 days 03:24:18
Pace                    0:08:15
TotalSeconds              12258
HalfSeconds                5791
Name: 8724, dtype: object
Isola Vicentina Age                          49
M/F                           M
City            Isola Vicentina
State                       NaN
Country                     ITA
Half            0 days 01:28:13
40K             0 days 02:56:05
Pace                    0:07:08
TotalSeconds              10565
HalfSeconds                5293
Name: 1523, dtype: object
Issaquah Age                          38
M/F                           M
City                   Issaquah
State                        WA
Country                     USA
Half            0 days 01:30:15
40K             0 days 02:55:07
Pace                    0:07:05
TotalSeconds              10507
HalfSeconds                5415
Name: 6060, dtype: object
Issy Les Moulineaux Age                              48
M/F                               M
City            Issy Les Moulineaux
State                           NaN
Country                         FRA
Half                0 days 01:48:31
40K                 0 days 03:27:26
Pace                        0:08:20
TotalSeconds                  12446
HalfSeconds                    6511
Name: 5225, dtype: object
Itasca Age                          29
M/F                           F
City                     Itasca
State                        IL
Country                     USA
Half            0 days 01:48:23
40K             0 days 03:48:21
Pace                    0:09:14
TotalSeconds              13701
HalfSeconds                6503
Name: 16855, dtype: object
Iten Age                          27
M/F                           F
City                       Iten
State                       NaN
Country                     KEN
Half            0 days 01:15:32
40K             0 days 02:22:19
Pace                    0:05:46
TotalSeconds               8539
HalfSeconds                4532
Name: F11, dtype: object
Ithaca Age                          41
M/F                           F
City                     Ithaca
State                        NY
Country                     USA
Half            0 days 01:33:25
40K             0 days 02:56:22
Pace                    0:07:09
TotalSeconds              10582
HalfSeconds                5605
Name: 2225, dtype: object
Ivins Age                          36
M/F                           F
City                      Ivins
State                        UT
Country                     USA
Half            0 days 01:51:03
40K             0 days 03:51:29
Pace                    0:09:21
TotalSeconds              13889
HalfSeconds                6663
Name: 20369, dtype: object
Ivrea Age                          58
M/F                           F
City                      Ivrea
State                       NaN
Country                     ITA
Half            0 days 02:02:26
40K             0 days 03:58:17
Pace                    0:09:37
TotalSeconds              14297
HalfSeconds                7346
Name: 31827, dtype: object
Ivyland Age                          42
M/F                           F
City                    Ivyland
State                        PA
Country                     USA
Half            0 days 01:53:25
40K             0 days 03:46:05
Pace                    0:09:09
TotalSeconds              13565
HalfSeconds                6805
Name: 21586, dtype: object
Iyo-Gun Age                          34
M/F                           F
City                    Iyo-Gun
State                       NaN
Country                     JPN
Half            0 days 01:45:16
40K             0 days 03:26:12
Pace                    0:08:20
TotalSeconds              12372
HalfSeconds                6316
Name: 11756, dtype: object
Iztapalapa C P Mexico Age                                39
M/F                                 F
City            Iztapalapa C P Mexico
State                             NaN
Country                           MEX
Half                  0 days 01:39:56
40K                   0 days 03:23:39
Pace                          0:08:14
TotalSeconds                    12219
HalfSeconds                      5996
Name: 18456, dtype: object
Jacksboro Age                          34
M/F                           F
City                  Jacksboro
State                        TX
Country                     USA
Half            0 days 01:44:45
40K             0 days 03:30:18
Pace                    0:08:30
TotalSeconds              12618
HalfSeconds                6285
Name: 12394, dtype: object
Jackson Age                          21
M/F                           M
City                    Jackson
State                        MO
Country                     USA
Half            0 days 01:25:47
40K             0 days 02:59:09
Pace                    0:07:16
TotalSeconds              10749
HalfSeconds                5147
Name: 3866, dtype: object
Jackson Center Age                          31
M/F                           M
City             Jackson Center
State                        PA
Country                     USA
Half            0 days 01:24:06
40K             0 days 02:49:02
Pace                    0:06:50
TotalSeconds              10142
HalfSeconds                5046
Name: 470, dtype: object
Jackson Heights Age                          28
M/F                           F
City            Jackson Heights
State                        NY
Country                     USA
Half            0 days 01:37:07
40K             0 days 03:12:51
Pace                    0:07:47
TotalSeconds              11571
HalfSeconds                5827
Name: 10953, dtype: object
Jacksonville Age                          34
M/F                           F
City               Jacksonville
State                        FL
Country                     USA
Half            0 days 01:28:29
40K             0 days 02:49:27
Pace                    0:06:49
TotalSeconds              10167
HalfSeconds                5309
Name: 6470, dtype: object
Jacksonville Beach Age                             67
M/F                              M
City            Jacksonville Beach
State                           FL
Country                        USA
Half               0 days 01:59:34
40K                0 days 04:10:26
Pace                       0:10:07
TotalSeconds                 15026
HalfSeconds                   7174
Name: 25096, dtype: object
Jakarta Age                          40
M/F                           M
City                    Jakarta
State                       NaN
Country                     INA
Half            0 days 01:35:03
40K             0 days 03:27:00
Pace                    0:08:22
TotalSeconds              12420
HalfSeconds                5703
Name: 8406, dtype: object
Jamaica Age                          44
M/F                           M
City                    Jamaica
State                        NY
Country                     USA
Half            0 days 01:26:16
40K             0 days 02:49:16
Pace                    0:06:51
TotalSeconds              10156
HalfSeconds                5176
Name: 2456, dtype: object
Jamaica Pain Age                          45
M/F                           M
City               Jamaica Pain
State                        MA
Country                     USA
Half            0 days 01:41:30
40K             0 days 03:29:06
Pace                    0:08:31
TotalSeconds              12546
HalfSeconds                6090
Name: 9571, dtype: object
Jamaica Plain Age                          29
M/F                           M
City              Jamaica Plain
State                        MA
Country                     USA
Half            0 days 01:20:19
40K             0 days 02:35:06
Pace                    0:06:15
TotalSeconds               9306
HalfSeconds                4819
Name: 1522, dtype: object
Jamesburg Age                          38
M/F                           F
City                  Jamesburg
State                        NJ
Country                     USA
Half            0 days 01:54:54
40K             0 days 03:49:06
Pace                    0:09:14
TotalSeconds              13746
HalfSeconds                6894
Name: 18569, dtype: object
Jamestown Age                          62
M/F                           M
City                  Jamestown
State                        RI
Country                     USA
Half            0 days 01:47:03
40K             0 days 03:30:00
Pace                    0:08:28
TotalSeconds              12600
HalfSeconds                6423
Name: 22126, dtype: object
Jamesville Age                          34
M/F                           F
City                 Jamesville
State                        NY
Country                     USA
Half            0 days 01:39:14
40K             0 days 03:18:34
Pace                    0:08:03
TotalSeconds              11914
HalfSeconds                5954
Name: 17341, dtype: object
Jamison Age                          50
M/F                           M
City                    Jamison
State                        PA
Country                     USA
Half            0 days 01:43:09
40K             0 days 03:36:56
Pace                    0:08:46
TotalSeconds              13016
HalfSeconds                6189
Name: 11184, dtype: object
Janesville Age                          42
M/F                           M
City                 Janesville
State                        CA
Country                     USA
Half            0 days 01:31:50
40K             0 days 03:08:31
Pace                    0:07:37
TotalSeconds              11311
HalfSeconds                5510
Name: 7635, dtype: object
Jardim Do Mar, Sao Bernardo Do Campo, Sp Age                                                   46
M/F                                                    F
City            Jardim Do Mar, Sao Bernardo Do Campo, Sp
State                                                NaN
Country                                              BRA
Half                                     0 days 01:49:48
40K                                      0 days 03:32:58
Pace                                             0:08:35
TotalSeconds                                       12778
HalfSeconds                                         6588
Name: 19440, dtype: object
Jardinopolis Age                          35
M/F                           M
City               Jardinopolis
State                       NaN
Country                     BRA
Half            0 days 01:45:23
40K             0 days 04:00:11
Pace                    0:10:07
TotalSeconds              14411
HalfSeconds                6323
Name: 676, dtype: object
Jarfalla Age                          53
M/F                           F
City                   Jarfalla
State                       NaN
Country                     SWE
Half            0 days 01:54:43
40K             0 days 03:47:03
Pace                    0:09:07

Kendall Age                          53
M/F                           M
City                    Kendall
State                        NY
Country                     USA
Half            0 days 02:07:30
40K             0 days 04:46:23
Pace                    0:11:27
TotalSeconds              17183
HalfSeconds                7650
Name: 14907, dtype: object
Kenduskeag Age                          53
M/F                           M
City                 Kenduskeag
State                        ME
Country                     USA
Half            0 days 02:00:58
40K             0 days 04:07:41
Pace                    0:10:02
TotalSeconds              14861
HalfSeconds                7258
Name: 26018, dtype: object
Kenmore Age                          40
M/F                           M
City                    Kenmore
State                        WA
Country                     USA
Half            0 days 01:29:06
40K             0 days 03:03:51
Pace                    0:07:33
TotalSeconds              11031
HalfSeconds                5346
Name: 4640, dtype: object
Kennard Age                          55
M/F                           M
City                    Kennard
State                        TX
Country                     USA
Half            0 days 01:43:34
40K             0 days 03:26:55
Pace                    0:08:23
TotalSeconds              12415
HalfSeconds                6214
Name: 15341, dtype: object
Kennebunk Age                          37
M/F                           M
City                  Kennebunk
State                        ME
Country                     USA
Half            0 days 01:27:40
40K             0 days 02:51:07
Pace                    0:06:53
TotalSeconds              10267
HalfSeconds                5260
Name: 4107, dtype: object
Kennebunkport Age                          58
M/F                           F
City              Kennebunkport
State                        ME
Country                     USA
Half            0 days 02:40:48
40K             0 days 05:35:13
Pace                    0:13:29
TotalSeconds              20113
HalfSeconds                9648
Name: 26946, dtype: object
Kenner Age                          43
M/F                           M
City                     Kenner
State                        LA
Country                     USA
Half            0 days 02:41:02
40K             0 days 05:34:36
Pace                    0:13:33
TotalSeconds              20076
HalfSeconds                9662
Name: 32030, dtype: object
Kennesaw Age                          46
M/F                           M
City                   Kennesaw
State                        GA
Country                     USA
Half            0 days 01:25:57
40K             0 days 03:01:48
Pace                    0:07:21
TotalSeconds              10908
HalfSeconds                5157
Name: 6748, dtype: object
Kennett Square Age                          48
M/F                           M
City             Kennett Square
State                        PA
Country                     USA
Half            0 days 01:33:22
40K             0 days 03:03:42
Pace                    0:07:26
TotalSeconds              11022
HalfSeconds                5602
Name: 10677, dtype: object
Kenosha Age                          42
M/F                           F
City                    Kenosha
State                        WI
Country                     USA
Half            0 days 01:50:26
40K             0 days 03:34:59
Pace                    0:08:41
TotalSeconds              12899
HalfSeconds                6626
Name: 20322, dtype: object
Kenova Age                          42
M/F                           M
City                     Kenova
State                        WV
Country                     USA
Half            0 days 02:43:31
40K             0 days 05:29:28
Pace                    0:13:16
TotalSeconds              19768
HalfSeconds                9811
Name: 29496, dtype: object
Kensington Age                          32
M/F                           M
City                 Kensington
State                        NH
Country                     USA
Half            0 days 01:27:46
40K             0 days 02:57:22
Pace                    0:07:11
TotalSeconds              10642
HalfSeconds                5266
Name: 3254, dtype: object
Kent Age                          30
M/F                           F
City                       Kent
State                        WA
Country                     USA
Half            0 days 01:41:08
40K             0 days 03:15:57
Pace                    0:07:54
TotalSeconds              11757
HalfSeconds                6068
Name: 14478, dtype: object
Kent City Age                          52
M/F                           M
City                  Kent City
State                        MI
Country                     USA
Half            0 days 01:44:21
40K             0 days 03:54:46
Pace                    0:09:40
TotalSeconds              14086
HalfSeconds                6261
Name: 11766, dtype: object
Kentfield Age                          53
M/F                           M
City                  Kentfield
State                        CA
Country                     USA
Half            0 days 01:50:12
40K             0 days 03:32:19
Pace                    0:08:30
TotalSeconds              12739
HalfSeconds                6612
Name: 7689, dtype: object
Kents Hill Age                          54
M/F                           F
City                 Kents Hill
State                        ME
Country                     USA
Half            0 days 01:48:55
40K             0 days 03:40:53
Pace                    0:08:56
TotalSeconds              13253
HalfSeconds                6535
Name: 24878, dtype: object
Kentwood Age                          45
M/F                           M
City                   Kentwood
State                        MI
Country                     USA
Half            0 days 01:32:51
40K             0 days 03:07:15
Pace                    0:07:36
TotalSeconds              11235
HalfSeconds                5571
Name: 7559, dtype: object
Kerrville Age                          49
M/F                           M
City                  Kerrville
State                        TX
Country                     USA
Half            0 days 01:36:46
40K             0 days 03:10:08
Pace                    0:07:42
TotalSeconds              11408
HalfSeconds                5806
Name: 5526, dtype: object
Keswick Age                          21
M/F                           M
City                    Keswick
State                        VA
Country                     USA
Half            0 days 01:25:19
40K             0 days 02:50:13
Pace                    0:06:52
TotalSeconds              10213
HalfSeconds                5119
Name: 1400, dtype: object
Ketchum Age                          44
M/F                           F
City                    Ketchum
State                        ID
Country                     USA
Half            0 days 01:51:13
40K             0 days 03:39:10
Pace                    0:08:50
TotalSeconds              13150
HalfSeconds                6673
Name: 18684, dtype: object
Kettering Age                          28
M/F                           M
City                  Kettering
State                        OH
Country                     USA
Half            0 days 01:30:50
40K             0 days 02:54:25
Pace                    0:07:02
TotalSeconds              10465
HalfSeconds                5450
Name: 3605, dtype: object
Kewanee Age                          48
M/F                           M
City                    Kewanee
State                        IL
Country                     USA
Half            0 days 01:22:14
40K             0 days 02:42:21
Pace                    0:06:35
TotalSeconds               9741
HalfSeconds                4934
Name: 1183, dtype: object
Key Biscayne Age                          52
M/F                           M
City               Key Biscayne
State                        FL
Country                     USA
Half            0 days 02:01:49
40K             0 days 04:23:01
Pace                    0:10:40
TotalSeconds              15781
HalfSeconds                7309
Name: 29672, dtype: object
Kidman Park Age                          59
M/F                           M
City                Kidman Park
State                       NaN
Country                     AUS
Half            0 days 01:36:12
40K             0 days 03:12:43
Pace                    0:07:47
TotalSeconds              11563
HalfSeconds                5772
Name: 9594, dtype: object
Kiel Age                          24
M/F                           M
City                       Kiel
State                       NaN
Country                     GER
Half            0 days 01:29:33
40K             0 days 03:00:45
Pace                    0:07:17
TotalSeconds              10845
HalfSeconds                5373
Name: 4411, dtype: object
Kiev, Ukraine Age                          53
M/F                           M
City              Kiev, Ukraine
State                       NaN
Country                     UKR
Half            0 days 01:36:47
40K             0 days 03:15:37
Pace                    0:07:53
TotalSeconds              11737
HalfSeconds                5807
Name: 10262, dtype: object
Kihei Age                          36
M/F                           F
City                      Kihei
State                        HI
Country                     USA
Half            0 days 01:36:54
40K             0 days 03:12:33
Pace                    0:07:47
TotalSeconds              11553
HalfSeconds                5814
Name: 5891, dtype: object
Kilbride Age                          56
M/F                           M
City                   Kilbride
State                        ON
Country                     CAN
Half            0 days 01:47:39
40K             0 days 03:27:23
Pace                    0:08:23
TotalSeconds              12443
HalfSeconds                6459
Name: 19264, dtype: object
Kildeer Age                          45
M/F                           M
City                    Kildeer
State                        IL
Country                     USA
Half            0 days 01:41:48
40K             0 days 03:24:37
Pace                    0:08:20
TotalSeconds              12277
HalfSeconds                6108
Name: 27259, dtype: object
Kill Devil Hills Age                           36
M/F                            F
City            Kill Devil Hills
State                         NC
Country                      USA
Half             0 days 01:44:06
40K              0 days 03:27:54
Pace                     0:08:24
TotalSeconds               12474
HalfSeconds                 6246
Name: 14824, dtype: object
Killeen Age                          25
M/F                           M
City                    Killeen
State                        TX
Country                     USA
Half            0 days 01:27:47
40K             0 days 02:56:16
Pace                    0:07:24
TotalSeconds              10576
HalfSeconds                5267
Name: 5166, dtype: object
Killen Age                          60
M/F                           M
City                     Killen
State                        AL
Country                     USA
Half            0 days 01:57:05
40K             0 days 04:14:20
Pace                    0:10:14
TotalSeconds              15260
HalfSeconds                7025
Name: 24307, dtype: object
Killingworth Age                          47
M/F                           F
City               Killingworth
State                        CT
Country                     USA
Half            0 days 02:14:18
40K             0 days 04:42:00
Pace                    0:11:19
TotalSeconds              16920
HalfSeconds                8058
Name: 29663, dtype: object
Kilsyth Age                          32
M/F                           F
City                    Kilsyth
State                       NaN
Country                     AUS
Half            0 days 01:57:39
40K             0 days 03:48:59
Pace                    0:09:15
TotalSeconds              13739
HalfSeconds                7059
Name: 31600, dtype: object
Kimberly Age                          53
M/F                           M
City                   Kimberly
State                        WI
Country                     USA
Half            0 days 01:47:45
40K             0 days 03:35:26
Pace                    0:08:44
TotalSeconds              12926
HalfSeconds                6465
Name: 14344, dtype: object
Kindred Age                          29
M/F                           M
City                    Kindred
State                        ND
Country                     USA
Half            0 days 01:32:54
40K             0 days 03:03:35
Pace                    0:07:24
TotalSeconds              11015
HalfSeconds                5574
Name: 3602, dtype: object
King City Age                          37
M/F                           F
City                  King City
State                        ON
Country                     CAN
Half            0 days 01:43:07
40K             0 days 03:21:59
Pace                    0:08:08
TotalSeconds              12119
HalfSeconds                6187
Name: 14032, dtype: object
King George Age                          36
M/F                           M
City                King George
State                        VA
Country                     USA
Half            0 days 01:30:50
40K             0 days 02:51:47
Pace                    0:06:53
TotalSeconds              10307
HalfSeconds                5450
Name: 6325, dtype: object
King Of Prussia Age                          41
M/F                           F
City            King Of Prussia
State                        PA
Country                     USA
Half            0 days 01:48:54
40K             0 days 03:33:11
Pace                    0:08:36
TotalSeconds              12791
HalfSeconds                6534
Name: 21178, dtype: object
Kings Lynn Age                          41
M/F                           M
City                 Kings Lynn
State                       NaN
Country                     GBR
Half            0 days 01:47:07
40K             0 days 03:49:37
Pace                    0:09:16
TotalSeconds              13777
HalfSeconds                6427
Name: 6146, dtype: object
Kings Mountain Age                          30
M/F                           F
City             Kings Mountain
State                        NC
Country                     USA
Half            0 days 01:40:00
40K             0 days 03:14:19
Pace                    0:07:50
TotalSeconds              11659
HalfSeconds                6000
Name: 13022, dtype: object
Kingsburg Age                          46
M/F                           M
City                  Kingsburg
State                        CA
Country                     USA
Half            0 days 01:41:36
40K             0 days 03:30:45
Pace                    0:08:33
TotalSeconds              12645
HalfSeconds                6096
Name: 11706, dtype: object
Kingsford Age                          51
M/F                           M
City                  Kingsford
State                        MI
Country                     USA
Half            0 days 01:36:22
40K             0 days 03:08:27
Pace                    0:07:36
TotalSeconds              11307
HalfSeconds                5782
Name: 6468, dtype: object
Kingsley Age                          42
M/F                           F
City                   Kingsley
State                        MI
Country                     USA
Half            0 days 01:59:12
40K             0 days 04:36:15
Pace                    0:11:16
TotalSeconds              16575
HalfSeconds                7152
Name: 21077, dtype: object
Kingsport Age                          41
M/F                           M
City                  Kingsport
State                        TN
Country                     USA
Half            0 days 01:38:29
40K             0 days 03:12:13
Pace                    0:07:45
TotalSeconds              11533
HalfSeconds                5909
Name: 8476, dtype: object
Kingston Age                          28
M/F                           F
City                   Kingston
State                        MA
Country                     USA
Half            0 days 01:29:02
40K             0 days 02:54:17
Pace                    0:07:02
TotalSeconds              10457
HalfSeconds                5342
Name: 5455, dtype: object
Kingston 5 Age                          45
M/F                           M
City                 Kingston 5
State                       NaN
Country                     JAM
Half            0 days 01:37:37
40K             0 days 03:08:03
Pace                    0:07:35
TotalSeconds              11283
HalfSeconds                5857
Name: 11128, dtype: object
Kingston Springs Age                           25
M/F                            F
City            Kingston Springs
State                         TN
Country                      USA
Half             0 days 01:46:50
40K              0 days 03:40:05
Pace                     0:08:56
TotalSeconds               13205
HalfSeconds                 6410
Name: 9495, dtype: object
Kingston Upon Hull Age                             43
M/F                              M
City            Kingston Upon Hull
State                          NaN
Country                        GBR
Half               0 days 01:21:51
40K                0 days 02:43:09
Pace                       0:06:38
TotalSeconds                  9789
HalfSeconds                   4911
Name: 725, dtype: object
Kingsville Age                          23
M/F                           F
City                 Kingsville
State                        OH
Country                     USA
Half            0 days 01:30:20
40K             0 days 03:06:39
Pace                    0:07:37
TotalSeconds              11199
HalfSeconds                5420
Name: 3422, dtype: object
Kingwood Age                          32
M/F                           M
City                   Kingwood
State                        TX
Country                     USA
Half            0 days 01:23:54
40K             0 days 02:41:58
Pace                    0:06:32
TotalSeconds               9718
HalfSeconds                5034
Name: 3301, dtype: object
Kinnelon Age                          52
M/F                           F
City                   Kinnelon
State                        NJ
Country                     USA
Half            0 days 01:48:20
40K             0 days 03:30:50
Pace                    0:08:30
TotalSeconds              12650
HalfSeconds                6500
Name: 21470, dtype: object
Kinsale Age                          45
M/F                           F
City                    Kinsale
State                       NaN
Country                     IRL
Half            0 days 01:25:36
40K             0 days 02:48:55
Pace                    0:06:50
TotalSeconds              10135
HalfSeconds                5136
Name: 2948, dtype: object
Kirchheim Age                          46
M/F                           F
City                  Kirchheim
State                       NaN
Country                     AUT
Half            0 days 01:47:32
40K             0 days 03:32:05
Pace                    0:08:34
TotalSeconds              12725
HalfSeconds                6452
Name: 10647, dtype: object
Kirk Ella Age                          42
M/F                           M
City                  Kirk Ella
State                       NaN
Country                     GBR
Half            0 days 01:41:05
40K             0 days 03:23:29
Pace                    0:08:13
TotalSeconds              12209
HalfSeconds                6065
Name: 5955, dtype: object
Kirkaland Age                          44
M/F                           F
City                  Kirkaland
State                        QC
Country                     CAN
Half            0 days 01:46:53
40K             0 days 03:23:30
Pace                    0:08:12
TotalSeconds              12210
HalfSeconds                6413

Ladysmith Age                          51
M/F                           M
City                  Ladysmith
State                        WI
Country                     USA
Half            0 days 01:42:40
40K             0 days 03:37:28
Pace                    0:08:49
TotalSeconds              13048
HalfSeconds                6160
Name: 13397, dtype: object
Lafayette Age                          25
M/F                           M
City                  Lafayette
State                        IN
Country                     USA
Half            0 days 01:17:16
40K             0 days 02:33:21
Pace                    0:06:11
TotalSeconds               9201
HalfSeconds                4636
Name: 233, dtype: object
Lafayette Hill Age                          33
M/F                           F
City             Lafayette Hill
State                        PA
Country                     USA
Half            0 days 01:46:40
40K             0 days 03:32:40
Pace                    0:08:35
TotalSeconds              12760
HalfSeconds                6400
Name: 17679, dtype: object
Lago Vista Age                          58
M/F                           F
City                 Lago Vista
State                        TX
Country                     USA
Half            0 days 01:52:43
40K             0 days 03:45:15
Pace                    0:09:06
TotalSeconds              13515
HalfSeconds                6763
Name: 25311, dtype: object
Lagrange Age                          62
M/F                           M
City                   Lagrange
State                        IL
Country                     USA
Half            0 days 01:49:30
40K             0 days 03:43:37
Pace                    0:09:01
TotalSeconds              13417
HalfSeconds                6570
Name: 17122, dtype: object
Laguna Beach Age                          53
M/F                           M
City               Laguna Beach
State                        CA
Country                     USA
Half            0 days 01:40:34
40K             0 days 03:27:16
Pace                    0:08:26
TotalSeconds              12436
HalfSeconds                6034
Name: 7148, dtype: object
Laguna Hills Age                          54
M/F                           M
City               Laguna Hills
State                        CA
Country                     USA
Half            0 days 01:34:12
40K             0 days 03:04:30
Pace                    0:07:31
TotalSeconds              11070
HalfSeconds                5652
Name: 9058, dtype: object
Laguna Niguel Age                          53
M/F                           M
City              Laguna Niguel
State                        CA
Country                     USA
Half            0 days 01:30:06
40K             0 days 02:58:10
Pace                    0:07:14
TotalSeconds              10690
HalfSeconds                5406
Name: 8958, dtype: object
Lahaina Age                          62
M/F                           F
City                    Lahaina
State                        HI
Country                     USA
Half            0 days 02:03:01
40K             0 days 04:12:44
Pace                    0:10:13
TotalSeconds              15164
HalfSeconds                7381
Name: 25687, dtype: object
Laives - Bolzano Age                           43
M/F                            M
City            Laives - Bolzano
State                        NaN
Country                      ITA
Half             0 days 01:47:10
40K              0 days 03:40:51
Pace                     0:08:57
TotalSeconds               13251
HalfSeconds                 6430
Name: 31430, dtype: object
Lake Albert Age                          46
M/F                           F
City                Lake Albert
State                       NaN
Country                     AUS
Half            0 days 01:23:57
40K             0 days 02:42:31
Pace                    0:06:34
TotalSeconds               9751
HalfSeconds                5037
Name: 2058, dtype: object
Lake Barrington Age                          40
M/F                           M
City            Lake Barrington
State                        IL
Country                     USA
Half            0 days 01:36:59
40K             0 days 03:11:52
Pace                    0:07:45
TotalSeconds              11512
HalfSeconds                5819
Name: 7184, dtype: object
Lake Bluff Age                          46
M/F                           M
City                 Lake Bluff
State                        IL
Country                     USA
Half            0 days 01:44:59
40K             0 days 03:51:09
Pace                    0:09:22
TotalSeconds              13869
HalfSeconds                6299
Name: 10128, dtype: object
Lake Charles Age                          44
M/F                           M
City               Lake Charles
State                        LA
Country                     USA
Half            0 days 01:46:55
40K             0 days 03:35:00
Pace                    0:08:40
TotalSeconds              12900
HalfSeconds                6415
Name: 8257, dtype: object
Lake City Age                          43
M/F                           F
City                  Lake City
State                        FL
Country                     USA
Half            0 days 01:53:42
40K             0 days 03:50:14
Pace                    0:09:16
TotalSeconds              13814
HalfSeconds                6822
Name: 20648, dtype: object
Lake Elmo Age                          37
M/F                           M
City                  Lake Elmo
State                        MN
Country                     USA
Half            0 days 01:16:41
40K             0 days 02:26:14
Pace                    0:05:54
TotalSeconds               8774
HalfSeconds                4601
Name: 28, dtype: object
Lake Forest Age                          42
M/F                           M
City                Lake Forest
State                        IL
Country                     USA
Half            0 days 01:28:54
40K             0 days 02:54:46
Pace                    0:07:06
TotalSeconds              10486
HalfSeconds                5334
Name: 2137, dtype: object
Lake Forest Park Age                           51
M/F                            M
City            Lake Forest Park
State                         WA
Country                      USA
Half             0 days 01:50:34
40K              0 days 03:38:07
Pace                     0:08:48
TotalSeconds               13087
HalfSeconds                 6634
Name: 13199, dtype: object
Lake Geneva Age                          37
M/F                           M
City                Lake Geneva
State                        WI
Country                     USA
Half            0 days 01:29:11
40K             0 days 02:59:16
Pace                    0:07:15
TotalSeconds              10756
HalfSeconds                5351
Name: 5930, dtype: object
Lake Grove Age                          40
M/F                           F
City                 Lake Grove
State                        NY
Country                     USA
Half            0 days 01:49:32
40K             0 days 03:32:34
Pace                    0:08:34
TotalSeconds              12754
HalfSeconds                6572
Name: 18774, dtype: object
Lake Havasu City Age                           57
M/F                            F
City            Lake Havasu City
State                         AZ
Country                      USA
Half             0 days 02:00:16
40K              0 days 03:50:50
Pace                     0:09:17
TotalSeconds               13850
HalfSeconds                 7216
Name: 24799, dtype: object
Lake In The Hills Age                            40
M/F                             F
City            Lake In The Hills
State                          IL
Country                       USA
Half              0 days 01:51:40
40K               0 days 03:38:16
Pace                      0:08:47
TotalSeconds                13096
HalfSeconds                  6700
Name: 21490, dtype: object
Lake Jackson Age                          56
M/F                           M
City               Lake Jackson
State                        TX
Country                     USA
Half            0 days 01:31:37
40K             0 days 03:03:36
Pace                    0:07:27
TotalSeconds              11016
HalfSeconds                5497
Name: 2318, dtype: object
Lake Jaclson Age                          54
M/F                           F
City               Lake Jaclson
State                        TX
Country                     USA
Half            0 days 02:09:53
40K             0 days 04:08:03
Pace                    0:09:58
TotalSeconds              14883
HalfSeconds                7793
Name: 22712, dtype: object
Lake Katrine Age                          53
M/F                           F
City               Lake Katrine
State                        NY
Country                     USA
Half            0 days 01:38:30
40K             0 days 03:12:21
Pace                    0:07:45
TotalSeconds              11541
HalfSeconds                5910
Name: 10033, dtype: object
Lake Mary Age                          39
M/F                           M
City                  Lake Mary
State                        FL
Country                     USA
Half            0 days 01:31:48
40K             0 days 03:05:50
Pace                    0:07:33
TotalSeconds              11150
HalfSeconds                5508
Name: 5101, dtype: object
Lake Orion Age                          50
M/F                           M
City                 Lake Orion
State                        MI
Country                     USA
Half            0 days 01:49:16
40K             0 days 03:50:18
Pace                    0:09:22
TotalSeconds              13818
HalfSeconds                6556
Name: 11750, dtype: object
Lake Oswego Age                          41
M/F                           M
City                Lake Oswego
State                        OR
Country                     USA
Half            0 days 01:19:52
40K             0 days 02:43:10
Pace                    0:06:34
TotalSeconds               9790
HalfSeconds                4792
Name: 619, dtype: object
Lake Placid Age                          51
M/F                           M
City                Lake Placid
State                        NY
Country                     USA
Half            0 days 01:41:44
40K             0 days 03:18:44
Pace                    0:08:01
TotalSeconds              11924
HalfSeconds                6104
Name: 11964, dtype: object
Lake Quivira Age                          49
M/F                           M
City               Lake Quivira
State                        KS
Country                     USA
Half            0 days 01:43:51
40K             0 days 03:20:21
Pace                    0:08:05
TotalSeconds              12021
HalfSeconds                6231
Name: 10240, dtype: object
Lake Ronkonkoma Age                          36
M/F                           F
City            Lake Ronkonkoma
State                        NY
Country                     USA
Half            0 days 01:49:05
40K             0 days 03:32:17
Pace                    0:08:33
TotalSeconds              12737
HalfSeconds                6545
Name: 12098, dtype: object
Lake Saint Louis Age                           43
M/F                            F
City            Lake Saint Louis
State                         MO
Country                      USA
Half             0 days 01:51:25
40K              0 days 03:34:40
Pace                     0:08:40
TotalSeconds               12880
HalfSeconds                 6685
Name: 20909, dtype: object
Lake St Louis Age                          56
M/F                           M
City              Lake St Louis
State                        MO
Country                     USA
Half            0 days 01:47:46
40K             0 days 04:43:37
Pace                    0:11:18
TotalSeconds              17017
HalfSeconds                6466
Name: 19982, dtype: object
Lake Stevens Age                          66
M/F                           M
City               Lake Stevens
State                        WA
Country                     USA
Half            0 days 01:55:33
40K             0 days 03:44:40
Pace                    0:09:01
TotalSeconds              13480
HalfSeconds                6933
Name: 22070, dtype: object
Lake Tapps Age                          41
M/F                           F
City                 Lake Tapps
State                        WA
Country                     USA
Half            0 days 01:54:22
40K             0 days 03:39:42
Pace                    0:08:52
TotalSeconds              13182
HalfSeconds                6862
Name: 19253, dtype: object
Lake Worth Age                          44
M/F                           F
City                 Lake Worth
State                        FL
Country                     USA
Half            0 days 01:50:29
40K             0 days 03:34:07
Pace                    0:08:41
TotalSeconds              12847
HalfSeconds                6629
Name: 20976, dtype: object
Lakefield Age                          53
M/F                           F
City                  Lakefield
State                        ON
Country                     CAN
Half            0 days 02:02:41
40K             0 days 03:44:24
Pace                    0:09:00
TotalSeconds              13464
HalfSeconds                7361
Name: 22058, dtype: object
Lakeland Age                          28
M/F                           M
City                   Lakeland
State                        FL
Country                     USA
Half            0 days 01:29:31
40K             0 days 03:09:05
Pace                    0:07:38
TotalSeconds              11345
HalfSeconds                5371
Name: 2937, dtype: object
Lakemoor Age                          54
M/F                           M
City                   Lakemoor
State                        IL
Country                     USA
Half            0 days 01:32:19
40K             0 days 03:01:42
Pace                    0:07:22
TotalSeconds              10902
HalfSeconds                5539
Name: 5222, dtype: object
Lakeport Age                          25
M/F                           M
City                   Lakeport
State                        MI
Country                     USA
Half            0 days 01:21:04
40K             0 days 02:41:26
Pace                    0:06:32
TotalSeconds               9686
HalfSeconds                4864
Name: 1686, dtype: object
Lakesde Age                          52
M/F                           F
City                    Lakesde
State                        CA
Country                     USA
Half            0 days 01:42:38
40K             0 days 03:27:57
Pace                    0:08:23
TotalSeconds              12477
HalfSeconds                6158
Name: 18377, dtype: object
Lakeside Age                          45
M/F                           F
City                   Lakeside
State                        AZ
Country                     USA
Half            0 days 01:57:29
40K             0 days 03:48:05
Pace                    0:09:09
TotalSeconds              13685
HalfSeconds                7049
Name: 22672, dtype: object
Laketown Age                          37
M/F                           F
City                   Laketown
State                        UT
Country                     USA
Half            0 days 01:53:46
40K             0 days 03:36:22
Pace                    0:08:44
TotalSeconds              12982
HalfSeconds                6826
Name: 19504, dtype: object
Lakeville Age                          51
M/F                           M
City                  Lakeville
State                        MN
Country                     USA
Half            0 days 01:35:56
40K             0 days 03:03:07
Pace                    0:07:23
TotalSeconds              10987
HalfSeconds                5756
Name: 9583, dtype: object
Lakeway Age                          43
M/F                           M
City                    Lakeway
State                        TX
Country                     USA
Half            0 days 01:33:10
40K             0 days 03:12:55
Pace                    0:07:52
TotalSeconds              11575
HalfSeconds                5590
Name: 7029, dtype: object
Lakewood Age                          31
M/F                           M
City                   Lakewood
State                        OH
Country                     USA
Half            0 days 01:21:22
40K             0 days 02:43:09
Pace                    0:06:36
TotalSeconds               9789
HalfSeconds                4882
Name: 684, dtype: object
Lakewood Ranch Age                          24
M/F                           M
City             Lakewood Ranch
State                        FL
Country                     USA
Half            0 days 01:19:32
40K             0 days 02:48:37
Pace                    0:06:51
TotalSeconds              10117
HalfSeconds                4772
Name: 203, dtype: object
Lakwood Age                          32
M/F                           M
City                    Lakwood
State                        CO
Country                     USA
Half            0 days 02:05:44
40K             0 days 04:21:33
Pace                    0:10:34
TotalSeconds              15693
HalfSeconds                7544
Name: 29588, dtype: object
Lam Tin Age                          52
M/F                           F
City                    Lam Tin
State                       NaN
Country                     HKG
Half            0 days 01:58:28
40K             0 days 03:50:46
Pace                    0:09:19
TotalSeconds              13846
HalfSeconds                7108
Name: 24545, dtype: object
Lambertville Age                          23
M/F                           M
City               Lambertville
State                        NJ
Country                     USA
Half            0 days 01:20:50
40K             0 days 02:33:59
Pace                    0:06:13
TotalSeconds               9239
HalfSeconds                4850
Name: 727, dtype: object
Lancashire, England Age                              34
M/F                               M
City            Lancashire, England
State                           NaN
Country                         GBR
Half                0 days 01:25:55
40K                 0 days 02:47:47
Pace                        0:06:47
TotalSeconds                  10067
HalfSeconds                    5155
Name: 3351, dtype: object
Lancaster Age                          33
M/F                           M
City                  Lancaster
State                        PA
Country                     USA
Half            0 days 01:22:33
40K             0 days 02:45:43
Pace                    0:06:44
TotalSeconds               9943
HalfSeconds                4953
Name: 505, dtype: object
Lanciano - Chieti Age                            54
M/F                             M
City            Lanciano - Chieti
State                         NaN
Country                       ITA
Half              0 days 01:46:13
40K               0 days 03:27:51
Pace                      0:08:21
TotalSeconds                12471
HalfSeconds                  6373
Name: 8099, dtype: object
Land O Lakes Age                          38
M/F                           M
City               Land O Lakes
State                        FL
Country                     USA
Half            0 days 01:28:36
40K             0 days 02:49:53
Pace                    0:06:50
TotalSeconds              10193
HalfSeconds                5316
Name: 4451, dtype: object
Landenberg Age                          41
M/F                           F
City                 Landenberg
State                        PA
Country                     USA
Half            0 days 01:42:36
40K             0 days 03:19:15
Pace                    0:08:03
TotalSeconds              11955
HalfSeconds                6156
Name: 18782, dtype: object
Lander Age                          38
M/F                           M
City                     Lander
State                        WY

Lidkoping Age                          49
M/F                           M
City                  Lidkoping
State                       NaN
Country                     SWE
Half            0 days 01:27:26
40K             0 days 02:50:48
Pace                    0:06:53
TotalSeconds              10248
HalfSeconds                5246
Name: 2287, dtype: object
Liebstadt Age                          52
M/F                           M
City                  Liebstadt
State                       NaN
Country                     GER
Half            0 days 02:03:27
40K             0 days 04:15:04
Pace                    0:10:20
TotalSeconds              15304
HalfSeconds                7407
Name: 31872, dtype: object
Lighthouse Point Age                           34
M/F                            F
City            Lighthouse Point
State                         FL
Country                      USA
Half             0 days 01:50:36
40K              0 days 03:48:39
Pace                     0:09:15
TotalSeconds               13719
HalfSeconds                 6636
Name: 17568, dtype: object
Ligonier Age                          37
M/F                           F
City                   Ligonier
State                        IN
Country                     USA
Half            0 days 01:37:50
40K             0 days 03:18:46
Pace                    0:08:02
TotalSeconds              11926
HalfSeconds                5870
Name: 9890, dtype: object
Ligornetto Age                          48
M/F                           M
City                 Ligornetto
State                       NaN
Country                     SUI
Half            0 days 01:51:04
40K             0 days 03:53:37
Pace                    0:09:36
TotalSeconds              14017
HalfSeconds                6664
Name: 31532, dtype: object
Lilburn Age                          25
M/F                           M
City                    Lilburn
State                        GA
Country                     USA
Half            0 days 01:26:25
40K             0 days 02:43:16
Pace                    0:06:35
TotalSeconds               9796
HalfSeconds                5185
Name: 1967, dtype: object
Lillington Age                          22
M/F                           F
City                 Lillington
State                        NC
Country                     USA
Half            0 days 01:41:36
40K             0 days 03:18:24
Pace                    0:08:00
TotalSeconds              11904
HalfSeconds                6096
Name: 16582, dtype: object
Lima Age                          31
M/F                           M
City                       Lima
State                       NaN
Country                     PER
Half            0 days 01:22:56
40K             0 days 02:41:07
Pace                    0:06:30
TotalSeconds               9667
HalfSeconds                4976
Name: 771, dtype: object
Limerick Age                          48
M/F                           M
City                   Limerick
State                        PA
Country                     USA
Half            0 days 01:32:33
40K             0 days 03:03:52
Pace                    0:07:27
TotalSeconds              11032
HalfSeconds                5553
Name: 6223, dtype: object
Limington Age                          25
M/F                           M
City                  Limington
State                        ME
Country                     USA
Half            0 days 01:31:07
40K             0 days 02:53:58
Pace                    0:07:02
TotalSeconds              10438
HalfSeconds                5467
Name: 4299, dtype: object
Lincoln Age                          21
M/F                           M
City                    Lincoln
State                        NE
Country                     USA
Half            0 days 01:23:04
40K             0 days 02:48:13
Pace                    0:06:49
TotalSeconds              10093
HalfSeconds                4984
Name: 3262, dtype: object
Lincoln Park Age                          40
M/F                           F
City               Lincoln Park
State                        NJ
Country                     USA
Half            0 days 01:46:14
40K             0 days 03:26:44
Pace                    0:08:21
TotalSeconds              12404
HalfSeconds                6374
Name: 19099, dtype: object
Lincoln University Age                             45
M/F                              F
City            Lincoln University
State                           PA
Country                        USA
Half               0 days 01:38:44
40K                0 days 03:15:31
Pace                       0:07:54
TotalSeconds                 11731
HalfSeconds                   5924
Name: 13923, dtype: object
Lincolnshire Age                          48
M/F                           M
City               Lincolnshire
State                        IL
Country                     USA
Half            0 days 01:36:52
40K             0 days 03:16:24
Pace                    0:07:58
TotalSeconds              11784
HalfSeconds                5812
Name: 9126, dtype: object
Lincolnton Age                          34
M/F                           F
City                 Lincolnton
State                        NC
Country                     USA
Half            0 days 01:49:21
40K             0 days 03:42:39
Pace                    0:08:59
TotalSeconds              13359
HalfSeconds                6561
Name: 17550, dtype: object
Lincroft Age                          45
M/F                           F
City                   Lincroft
State                        NJ
Country                     USA
Half            0 days 02:44:34
40K             0 days 05:32:16
Pace                    0:13:22
TotalSeconds              19936
HalfSeconds                9874
Name: 30206, dtype: object
Linda-A-Velha Age                          45
M/F                           M
City              Linda-A-Velha
State                       NaN
Country                     POR
Half            0 days 01:31:10
40K             0 days 03:03:41
Pace                    0:07:25
TotalSeconds              11021
HalfSeconds                5470
Name: 6292, dtype: object
Linda-A-Velha-Oeiras Age                               36
M/F                                M
City            Linda-A-Velha-Oeiras
State                            NaN
Country                          POR
Half                 0 days 01:41:39
40K                  0 days 03:17:42
Pace                         0:07:58
TotalSeconds                   11862
HalfSeconds                     6099
Name: 30940, dtype: object
Linden Age                          31
M/F                           F
City                     Linden
State                        MI
Country                     USA
Half            0 days 01:36:11
40K             0 days 03:05:47
Pace                    0:07:28
TotalSeconds              11147
HalfSeconds                5771
Name: 6648, dtype: object
Lindenhurst Age                          40
M/F                           F
City                Lindenhurst
State                        IL
Country                     USA
Half            0 days 01:47:18
40K             0 days 03:35:59
Pace                    0:08:45
TotalSeconds              12959
HalfSeconds                6438
Name: 18559, dtype: object
Lindome Age                          36
M/F                           M
City                    Lindome
State                       NaN
Country                     SWE
Half            0 days 01:27:07
40K             0 days 03:04:30
Pace                    0:07:32
TotalSeconds              11070
HalfSeconds                5227
Name: 3681, dtype: object
Lindon Age                          55
M/F                           M
City                     Lindon
State                        UT
Country                     USA
Half            0 days 01:32:50
40K             0 days 03:09:52
Pace                    0:07:42
TotalSeconds              11392
HalfSeconds                5570
Name: 6449, dtype: object
Lingen Age                          52
M/F                           F
City                     Lingen
State                       NaN
Country                     GER
Half            0 days 01:50:51
40K             0 days 03:38:51
Pace                    0:08:52
TotalSeconds              13131
HalfSeconds                6651
Name: 22041, dtype: object
Linn Creek Age                          39
M/F                           M
City                 Linn Creek
State                        MO
Country                     USA
Half            0 days 01:41:35
40K             0 days 03:58:19
Pace                    0:09:37
TotalSeconds              14299
HalfSeconds                6095
Name: 4053, dtype: object
Linwood Age                          24
M/F                           M
City                    Linwood
State                        NJ
Country                     USA
Half            0 days 01:26:55
40K             0 days 03:16:08
Pace                    0:07:59
TotalSeconds              11768
HalfSeconds                5215
Name: 2071, dtype: object
Linz Age                          44
M/F                           F
City                       Linz
State                       NaN
Country                     AUT
Half            0 days 01:46:50
40K             0 days 03:29:44
Pace                    0:08:28
TotalSeconds              12584
HalfSeconds                6410
Name: 11407, dtype: object
Liperi Age                          72
M/F                           M
City                     Liperi
State                       NaN
Country                     FIN
Half            0 days 02:03:00
40K             0 days 04:03:37
Pace                    0:09:50
TotalSeconds              14617
HalfSeconds                7380
Name: 25384, dtype: object
Lisboa Age                          41
M/F                           M
City                     Lisboa
State                       NaN
Country                     POR
Half            0 days 01:30:39
40K             0 days 02:54:47
Pace                    0:07:03
TotalSeconds              10487
HalfSeconds                5439
Name: 5107, dtype: object
Lisbon Age                          62
M/F                           M
City                     Lisbon
State                       NaN
Country                     POR
Half            0 days 01:57:09
40K             0 days 03:50:02
Pace                    0:09:16
TotalSeconds              13802
HalfSeconds                7029
Name: 23459, dtype: object
Lisburn Age                          35
M/F                           F
City                    Lisburn
State                       NaN
Country                     GBR
Half            0 days 01:45:52
40K             0 days 03:29:32
Pace                    0:08:28
TotalSeconds              12572
HalfSeconds                6352
Name: 17603, dtype: object
Lisle Age                          60
M/F                           M
City                      Lisle
State                        IL
Country                     USA
Half            0 days 01:21:00
40K             0 days 02:37:07
Pace                    0:06:20
TotalSeconds               9427
HalfSeconds                4860
Name: 806, dtype: object
Listowel Age                          60
M/F                           M
City                   Listowel
State                        ON
Country                     CAN
Half            0 days 01:40:31
40K             0 days 03:23:10
Pace                    0:08:12
TotalSeconds              12190
HalfSeconds                6031
Name: 16248, dtype: object
Litcfield Age                          48
M/F                           F
City                  Litcfield
State                        NH
Country                     USA
Half            0 days 02:48:49
40K             0 days 05:31:53
Pace                    0:13:21
TotalSeconds              19913
HalfSeconds               10129
Name: 26873, dtype: object
Litchfield Age                          42
M/F                           M
City                 Litchfield
State                        NH
Country                     USA
Half            0 days 01:46:02
40K             0 days 03:23:23
Pace                    0:08:12
TotalSeconds              12203
HalfSeconds                6362
Name: 31352, dtype: object
Litchfield Park Age                          40
M/F                           M
City            Litchfield Park
State                        AZ
Country                     USA
Half            0 days 01:32:46
40K             0 days 03:07:16
Pace                    0:07:34
TotalSeconds              11236
HalfSeconds                5566
Name: 2869, dtype: object
Liteshoa Age                          29
M/F                           F
City                   Liteshoa
State                       NaN
Country                     ETH
Half            0 days 01:15:32
40K             0 days 02:21:49
Pace                    0:05:42
TotalSeconds               8509
HalfSeconds                4532
Name: F6, dtype: object
Lithia Age                          40
M/F                           F
City                     Lithia
State                        FL
Country                     USA
Half            0 days 01:36:57
40K             0 days 03:16:45
Pace                    0:07:58
TotalSeconds              11805
HalfSeconds                5817
Name: 6169, dtype: object
Lititz Age                          54
M/F                           M
City                     Lititz
State                        PA
Country                     USA
Half            0 days 01:35:10
40K             0 days 03:03:50
Pace                    0:07:29
TotalSeconds              11030
HalfSeconds                5710
Name: 10911, dtype: object
Little Britain Age                          41
M/F                           F
City             Little Britain
State                        ON
Country                     CAN
Half            0 days 01:38:33
40K             0 days 03:05:58
Pace                    0:07:29
TotalSeconds              11158
HalfSeconds                5913
Name: 13880, dtype: object
Little Egg Harbor Age                            41
M/F                             M
City            Little Egg Harbor
State                          NJ
Country                       USA
Half              0 days 01:34:43
40K               0 days 03:02:29
Pace                      0:07:20
TotalSeconds                10949
HalfSeconds                  5683
Name: 7483, dtype: object
Little Falls Age                          53
M/F                           F
City               Little Falls
State                        MN
Country                     USA
Half            0 days 01:33:13
40K             0 days 03:04:10
Pace                    0:07:27
TotalSeconds              11050
HalfSeconds                5593
Name: 6088, dtype: object
Little Ferry Age                          58
M/F                           M
City               Little Ferry
State                        NJ
Country                     USA
Half            0 days 01:49:10
40K             0 days 03:26:44
Pace                    0:08:19
TotalSeconds              12404
HalfSeconds                6550
Name: 18697, dtype: object
Little Rock Age                          43
M/F                           M
City                Little Rock
State                        AR
Country                     USA
Half            0 days 01:21:35
40K             0 days 02:40:22
Pace                    0:06:31
TotalSeconds               9622
HalfSeconds                4895
Name: 673, dtype: object
Little Silver Age                          53
M/F                           M
City              Little Silver
State                        NJ
Country                     USA
Half            0 days 01:40:18
40K             0 days 03:10:03
Pace                    0:07:39
TotalSeconds              11403
HalfSeconds                6018
Name: 12170, dtype: object
Littleton Age                          45
M/F                           M
City                  Littleton
State                        CO
Country                     USA
Half            0 days 01:17:16
40K             0 days 02:45:08
Pace                    0:06:45
TotalSeconds               9908
HalfSeconds                4636
Name: 824, dtype: object
Livermore Age                          55
M/F                           F
City                  Livermore
State                        CA
Country                     USA
Half            0 days 02:04:52
40K             0 days 04:05:40
Pace                    0:09:55
TotalSeconds              14740
HalfSeconds                7492
Name: 25446, dtype: object
Liverpool Age                          21
M/F                           M
City                  Liverpool
State                        NY
Country                     USA
Half            0 days 01:27:12
40K             0 days 02:54:09
Pace                    0:07:02
TotalSeconds              10449
HalfSeconds                5232
Name: 1578, dtype: object
Livingston Age                          32
M/F                           F
City                 Livingston
State                        TX
Country                     USA
Half            0 days 01:35:27
40K             0 days 03:01:15
Pace                    0:07:18
TotalSeconds              10875
HalfSeconds                5727
Name: 8508, dtype: object
Livonia Age                          51
M/F                           M
City                    Livonia
State                        MI
Country                     USA
Half            0 days 01:42:36
40K             0 days 03:20:45
Pace                    0:08:06
TotalSeconds              12045
HalfSeconds                6156
Name: 13196, dtype: object
Ljubljana Age                          50
M/F                           M
City                  Ljubljana
State                       NaN
Country                     SLO
Half            0 days 01:26:39
40K             0 days 02:57:56
Pace                    0:07:12
TotalSeconds              10676
HalfSeconds                5199
Name: 2256, dtype: object
Ljusdal Age                          48
M/F                           M
City                    Ljusdal
State                       NaN
Country                     SWE
Half            0 days 02:02:48
40K             0 days 03:58:06
Pace                    0:09:36
TotalSeconds              14286
HalfSeconds                7368
Name: 31811, dtype: object
Lobethal Age                          65
M/F                           M
City                   Lobethal
State                       NaN
Country                     AUS
Half            0 days 01:48:23
40K             0 days 03:44:31
Pace                    0:09:07
TotalSeconds              13471
HalfSeconds                6503
Name: 14366, dtype: object
Lockhart Age                          58
M/F                           F
City                   Lockhart
State                        TX
Country                     USA
Half            0 days 02:04:12
40K             0 days 03:58:47
Pace                    0:09:38
TotalSeconds              14327
HalfSeconds                7452
Name: 25519, dtype: object
Lockport Age                          28
M/F                           M
City                   Lockport
State                        NY
Country                     USA
Half            0 days 01:25:55
40K             0 days 02:50:39
Pace                    0:06:53
TotalSeconds              10239
HalfSeconds                5155
Name: 1972, dtype: object
Locust Age                          46
M/F                           F
City                     Locust
State                        NJ
Country                     USA
Half            0 days 01:44:37
40K             0 days 03:18:51
Pace                    0:08:01
TotalSeconds              11931
HalfSeconds                6277
Name: 18458, dtype: object
Locust Grove Age                          31
M/F                           M
City               Locust Grove
State                        VA
Country                     USA
Half            0 days 01:20:49
40K             0 days 02:40:26
Pace                    0:06:29

Luxemburg Age                          46
M/F                           F
City                  Luxemburg
State                        WI
Country                     USA
Half            0 days 01:47:41
40K             0 days 03:44:54
Pace                    0:09:08
TotalSeconds              13494
HalfSeconds                6461
Name: 18584, dtype: object
Lyme Age                          50
M/F                           M
City                       Lyme
State                        NH
Country                     USA
Half            0 days 01:33:48
40K             0 days 03:29:04
Pace                    0:08:33
TotalSeconds              12544
HalfSeconds                5628
Name: 9390, dtype: object
Lynbrook Age                          31
M/F                           M
City                   Lynbrook
State                        NY
Country                     USA
Half            0 days 01:28:34
40K             0 days 02:58:56
Pace                    0:07:15
TotalSeconds              10736
HalfSeconds                5314
Name: 3333, dtype: object
Lynchburg Age                          25
M/F                           M
City                  Lynchburg
State                        VA
Country                     USA
Half            0 days 01:13:02
40K             0 days 02:28:24
Pace                    0:06:03
TotalSeconds               8904
HalfSeconds                4382
Name: 2522, dtype: object
Lynden Age                          43
M/F                           F
City                     Lynden
State                        ON
Country                     CAN
Half            0 days 02:14:37
40K             0 days 04:18:05
Pace                    0:10:20
TotalSeconds              15485
HalfSeconds                8077
Name: 21719, dtype: object
Lyndhurst Age                          30
M/F                           M
City                  Lyndhurst
State                        NJ
Country                     USA
Half            0 days 01:32:59
40K             0 days 03:28:43
Pace                    0:08:31
TotalSeconds              12523
HalfSeconds                5579
Name: 3124, dtype: object
Lynn Age                          41
M/F                           M
City                       Lynn
State                        MA
Country                     USA
Half            0 days 01:28:12
40K             0 days 02:54:35
Pace                    0:07:05
TotalSeconds              10475
HalfSeconds                5292
Name: 1797, dtype: object
Lynnfield Age                          38
M/F                           M
City                  Lynnfield
State                        MA
Country                     USA
Half            0 days 01:23:45
40K             0 days 02:40:19
Pace                    0:06:27
TotalSeconds               9619
HalfSeconds                5025
Name: 2401, dtype: object
Lynnwood Age                          31
M/F                           M
City                   Lynnwood
State                        WA
Country                     USA
Half            0 days 01:26:18
40K             0 days 02:55:53
Pace                    0:07:09
TotalSeconds              10553
HalfSeconds                5178
Name: 3905, dtype: object
Lynwood Age                          31
M/F                           M
City                    Lynwood
State                        CA
Country                     USA
Half            0 days 01:24:01
40K             0 days 02:47:51
Pace                    0:06:46
TotalSeconds              10071
HalfSeconds                5041
Name: 666, dtype: object
Lyon Age                          31
M/F                           M
City                       Lyon
State                       NaN
Country                     FRA
Half            0 days 01:42:32
40K             0 days 03:08:51
Pace                    0:07:34
TotalSeconds              11331
HalfSeconds                6152
Name: 31581, dtype: object
Lyons Age                          32
M/F                           F
City                      Lyons
State                        CO
Country                     USA
Half            0 days 01:35:47
40K             0 days 03:03:57
Pace                    0:07:25
TotalSeconds              11037
HalfSeconds                5747
Name: 8600, dtype: object
Lvis Age                          50
M/F                           M
City                      Lvis
State                        QC
Country                     CAN
Half            0 days 01:39:47
40K             0 days 03:17:17
Pace                    0:07:59
TotalSeconds              11837
HalfSeconds                5987
Name: 14396, dtype: object
Lpez Mateos Age                          36
M/F                           M
City               Lpez Mateos
State                       NaN
Country                     MEX
Half            0 days 01:29:53
40K             0 days 02:58:31
Pace                    0:07:14
TotalSeconds              10711
HalfSeconds                5393
Name: 3922, dtype: object
Maardu Age                          33
M/F                           M
City                     Maardu
State                       NaN
Country                     EST
Half            0 days 01:24:03
40K             0 days 02:49:24
Pace                    0:06:53
TotalSeconds              10164
HalfSeconds                5043
Name: 2882, dtype: object
Mableton Age                          55
M/F                           M
City                   Mableton
State                        GA
Country                     USA
Half            0 days 01:42:45
40K             0 days 03:39:24
Pace                    0:08:53
TotalSeconds              13164
HalfSeconds                6165
Name: 12704, dtype: object
Macau Age                          46
M/F                           M
City                      Macau
State                       NaN
Country                     CHN
Half            0 days 01:23:24
40K             0 days 02:50:56
Pace                    0:06:54
TotalSeconds              10256
HalfSeconds                5004
Name: 3227, dtype: object
Macedon Age                          45
M/F                           F
City                    Macedon
State                        NY
Country                     USA
Half            0 days 01:41:12
40K             0 days 03:16:57
Pace                    0:07:57
TotalSeconds              11817
HalfSeconds                6072
Name: 17844, dtype: object
Macedonia Age                          38
M/F                           M
City                  Macedonia
State                        OH
Country                     USA
Half            0 days 01:31:53
40K             0 days 02:57:39
Pace                    0:07:09
TotalSeconds              10659
HalfSeconds                5513
Name: 6938, dtype: object
Maceio Age                          38
M/F                           M
City                     Maceio
State                       NaN
Country                     BRA
Half            0 days 01:29:49
40K             0 days 03:03:51
Pace                    0:07:33
TotalSeconds              11031
HalfSeconds                5389
Name: 5213, dtype: object
Macerata Age                          51
M/F                           M
City                   Macerata
State                       NaN
Country                     ITA
Half            0 days 02:23:01
40K             0 days 04:50:35
Pace                    0:11:43
TotalSeconds              17435
HalfSeconds                8581
Name: 31817, dtype: object
Machesney Park Age                          53
M/F                           M
City             Machesney Park
State                        IL
Country                     USA
Half            0 days 01:46:46
40K             0 days 04:30:56
Pace                    0:10:50
TotalSeconds              16256
HalfSeconds                6406
Name: 12111, dtype: object
Machiasport Age                          62
M/F                           F
City                Machiasport
State                        ME
Country                     USA
Half            0 days 02:03:18
40K             0 days 04:17:58
Pace                    0:10:23
TotalSeconds              15478
HalfSeconds                7398
Name: 25733, dtype: object
Macomb Age                          55
M/F                           M
City                     Macomb
State                        MI
Country                     USA
Half            0 days 01:39:21
40K             0 days 03:10:35
Pace                    0:07:42
TotalSeconds              11435
HalfSeconds                5961
Name: 13436, dtype: object
Macomb Township Age                          45
M/F                           M
City            Macomb Township
State                        MI
Country                     USA
Half            0 days 01:47:38
40K             0 days 03:40:14
Pace                    0:08:53
TotalSeconds              13214
HalfSeconds                6458
Name: 10823, dtype: object
Macon Age                          33
M/F                           M
City                      Macon
State                        GA
Country                     USA
Half            0 days 01:25:59
40K             0 days 02:44:00
Pace                    0:06:37
TotalSeconds               9840
HalfSeconds                5159
Name: 2352, dtype: object
Macungie Age                          30
M/F                           M
City                   Macungie
State                        PA
Country                     USA
Half            0 days 01:26:26
40K             0 days 02:49:58
Pace                    0:06:53
TotalSeconds              10198
HalfSeconds                5186
Name: 2802, dtype: object
Madbury Age                          44
M/F                           F
City                    Madbury
State                        NH
Country                     USA
Half            0 days 01:50:29
40K             0 days 03:37:51
Pace                    0:08:48
TotalSeconds              13071
HalfSeconds                6629
Name: 22127, dtype: object
Madeira Age                          24
M/F                           M
City                    Madeira
State                        OH
Country                     USA
Half            0 days 01:15:03
40K             0 days 02:44:46
Pace                    0:06:44
TotalSeconds               9886
HalfSeconds                4503
Name: 576, dtype: object
Madero, Tamaulipas Age                             50
M/F                              F
City            Madero, Tamaulipas
State                          NaN
Country                        MEX
Half               0 days 01:48:37
40K                0 days 03:36:59
Pace                       0:08:44
TotalSeconds                 13019
HalfSeconds                   6517
Name: 22378, dtype: object
Madidon Age                          46
M/F                           F
City                    Madidon
State                        WI
Country                     USA
Half            0 days 01:44:56
40K             0 days 03:32:10
Pace                    0:08:34
TotalSeconds              12730
HalfSeconds                6296
Name: 14840, dtype: object
Madison Age                          40
M/F                           F
City                    Madison
State                        CT
Country                     USA
Half            0 days 01:28:47
40K             0 days 02:51:26
Pace                    0:06:54
TotalSeconds              10286
HalfSeconds                5327
Name: 3041, dtype: object
Madison Heights Age                          39
M/F                           F
City            Madison Heights
State                        MI
Country                     USA
Half            0 days 01:45:33
40K             0 days 03:25:45
Pace                    0:08:18
TotalSeconds              12345
HalfSeconds                6333
Name: 19438, dtype: object
Madison Twp. Age                          22
M/F                           F
City               Madison Twp.
State                        PA
Country                     USA
Half            0 days 01:47:16
40K             0 days 03:31:42
Pace                    0:08:33
TotalSeconds              12702
HalfSeconds                6436
Name: 13785, dtype: object
Madisonville Age                          40
M/F                           M
City               Madisonville
State                        KY
Country                     USA
Half            0 days 01:37:36
40K             0 days 03:25:50
Pace                    0:08:23
TotalSeconds              12350
HalfSeconds                5856
Name: 6336, dtype: object
Madrid Age                          39
M/F                           M
City                     Madrid
State                       NaN
Country                     ESP
Half            0 days 01:25:40
40K             0 days 02:47:48
Pace                    0:06:47
TotalSeconds              10068
HalfSeconds                5140
Name: 5959, dtype: object
Magnolia Age                          53
M/F                           M
City                   Magnolia
State                        TX
Country                     USA
Half            0 days 01:41:57
40K             0 days 03:27:43
Pace                    0:08:30
TotalSeconds              12463
HalfSeconds                6117
Name: 13338, dtype: object
Magog Age                          50
M/F                           F
City                      Magog
State                        QC
Country                     CAN
Half            0 days 01:52:00
40K             0 days 03:39:57
Pace                    0:08:51
TotalSeconds              13197
HalfSeconds                6720
Name: 21658, dtype: object
Mahomet Age                          22
M/F                           M
City                    Mahomet
State                        IL
Country                     USA
Half            0 days 01:17:44
40K             0 days 02:49:58
Pace                    0:06:51
TotalSeconds              10198
HalfSeconds                4664
Name: 520, dtype: object
Mahone Bay Age                          59
M/F                           M
City                 Mahone Bay
State                        NS
Country                     CAN
Half            0 days 01:57:29
40K             0 days 04:43:57
Pace                    0:11:41
TotalSeconds              17037
HalfSeconds                7049
Name: 11398, dtype: object
Mahwah Age                          45
M/F                           M
City                     Mahwah
State                        NJ
Country                     USA
Half            0 days 02:06:40
40K             0 days 04:08:51
Pace                    0:10:04
TotalSeconds              14931
HalfSeconds                7600
Name: 27325, dtype: object
Maida Vale Age                          64
M/F                           M
City                 Maida Vale
State                       NaN
Country                     AUS
Half            0 days 02:09:38
40K             0 days 04:48:32
Pace                    0:11:36
TotalSeconds              17312
HalfSeconds                7778
Name: 31542, dtype: object
Maidenhead Age                          59
M/F                           F
City                 Maidenhead
State                       NaN
Country                     GBR
Half            0 days 01:45:00
40K             0 days 03:22:10
Pace                    0:08:09
TotalSeconds              12130
HalfSeconds                6300
Name: 15331, dtype: object
Maineville Age                          41
M/F                           F
City                 Maineville
State                        OH
Country                     USA
Half            0 days 01:51:16
40K             0 days 03:39:10
Pace                    0:08:51
TotalSeconds              13150
HalfSeconds                6676
Name: 20974, dtype: object
Maitland Age                          41
M/F                           F
City                   Maitland
State                        FL
Country                     USA
Half            0 days 01:57:48
40K             0 days 03:40:05
Pace                    0:08:51
TotalSeconds              13205
HalfSeconds                7068
Name: 16479, dtype: object
Makati Age                          29
M/F                           F
City                     Makati
State                       NaN
Country                     PHI
Half            0 days 01:53:49
40K             0 days 03:37:58
Pace                    0:08:47
TotalSeconds              13078
HalfSeconds                6829
Name: 17298, dtype: object
Malaga Age                          54
M/F                           M
City                     Malaga
State                       NaN
Country                     ESP
Half            0 days 02:07:29
40K             0 days 04:12:59
Pace                    0:10:10
TotalSeconds              15179
HalfSeconds                7649
Name: 30958, dtype: object
Malaybalay City Age                          34
M/F                           M
City            Malaybalay City
State                       NaN
Country                     PHI
Half            0 days 01:24:09
40K             0 days 02:43:20
Pace                    0:06:35
TotalSeconds               9800
HalfSeconds                5049
Name: 2577, dtype: object
Malden Age                          46
M/F                           M
City                     Malden
State                        MA
Country                     USA
Half            0 days 01:32:58
40K             0 days 03:25:22
Pace                    0:08:26
TotalSeconds              12322
HalfSeconds                5578
Name: 4062, dtype: object
Malibu Age                          21
M/F                           F
City                     Malibu
State                        CA
Country                     USA
Half            0 days 01:43:06
40K             0 days 03:20:26
Pace                    0:08:04
TotalSeconds              12026
HalfSeconds                6186
Name: 13409, dtype: object
Malling Age                          38
M/F                           M
City                    Malling
State                       NaN
Country                     DEN
Half            0 days 01:29:06
40K             0 days 02:55:48
Pace                    0:07:09
TotalSeconds              10548
HalfSeconds                5346
Name: 5466, dtype: object
Malnate (va) Age                          57
M/F                           F
City               Malnate (va)
State                       NaN
Country                     ITA
Half            0 days 01:53:15
40K             0 days 03:49:28
Pace                    0:09:16
TotalSeconds              13768
HalfSeconds                6795
Name: 23078, dtype: object
Malta Age                          28
M/F                           M
City                      Malta
State                        NY
Country                     USA
Half            0 days 01:13:15
40K             0 days 02:21:26
Pace                    0:05:43
TotalSeconds               8486
HalfSeconds                4395
Name: 121, dtype: object
Malvern Age                          61
M/F                           M
City                    Malvern
State                        PA
Country                     USA
Half            0 days 01:35:17
40K             0 days 03:03:24
Pace                    0:07:23
TotalSeconds              11004
HalfSeconds                5717
Name: 9083, dtype: object
Mamaroneck Age                          48
M/F                           M
City                 Mamaroneck
State                        NY
Country                     USA
Half            0 days 01:31:16
40K             0 days 02:59:19
Pace                    0:07:14
TotalSeconds              10759
HalfSeconds                5476
Name: 8860, dtype: object
Mammoth Lakes Age                          40
M/F                           M
City              Mammoth Lakes
State                        CA
Country                     USA
Half            0 days 01:35:39
40K             0 days 03:04:25
Pace                    0:07:27
TotalSeconds              11065
HalfSeconds                5739
Name: 8720, dtype: object
Manahawkin Age                          36

Mayfield Age                          28
M/F                           M
City                   Mayfield
State                        PA
Country                     USA
Half            0 days 01:27:52
40K             0 days 03:14:08
Pace                    0:07:55
TotalSeconds              11648
HalfSeconds                5272
Name: 2263, dtype: object
Mayfield Heights Age                           46
M/F                            F
City            Mayfield Heights
State                         OH
Country                      USA
Half             0 days 01:41:39
40K              0 days 03:18:00
Pace                     0:07:58
TotalSeconds               11880
HalfSeconds                 6099
Name: 13950, dtype: object
Maynard Age                          31
M/F                           F
City                    Maynard
State                        MA
Country                     USA
Half            0 days 01:40:18
40K             0 days 03:10:55
Pace                    0:07:42
TotalSeconds              11455
HalfSeconds                6018
Name: 11733, dtype: object
Maynooth Age                          41
M/F                           M
City                   Maynooth
State                       NaN
Country                     IRL
Half            0 days 01:26:36
40K             0 days 02:50:52
Pace                    0:06:53
TotalSeconds              10252
HalfSeconds                5196
Name: 2395, dtype: object
Maywood Age                          21
M/F                           M
City                    Maywood
State                        NJ
Country                     USA
Half            0 days 01:56:52
40K             0 days 03:55:32
Pace                    0:09:26
TotalSeconds              14132
HalfSeconds                7012
Name: 25370, dtype: object
Mcallen Age                          53
M/F                           M
City                    Mcallen
State                        TX
Country                     USA
Half            0 days 01:27:14
40K             0 days 02:52:15
Pace                    0:06:55
TotalSeconds              10335
HalfSeconds                5234
Name: 2985, dtype: object
Mccammon Age                          43
M/F                           F
City                   Mccammon
State                        ID
Country                     USA
Half            0 days 01:40:09
40K             0 days 03:18:20
Pace                    0:08:02
TotalSeconds              11900
HalfSeconds                6009
Name: 16016, dtype: object
Mccook Age                          48
M/F                           M
City                     Mccook
State                        NE
Country                     USA
Half            0 days 01:34:17
40K             0 days 03:03:10
Pace                    0:07:24
TotalSeconds              10990
HalfSeconds                5657
Name: 11135, dtype: object
Mcdonough Age                          44
M/F                           M
City                  Mcdonough
State                        GA
Country                     USA
Half            0 days 01:37:00
40K             0 days 03:06:41
Pace                    0:07:33
TotalSeconds              11201
HalfSeconds                5820
Name: 2891, dtype: object
Mcfarland Age                          31
M/F                           F
City                  Mcfarland
State                        WI
Country                     USA
Half            0 days 01:27:26
40K             0 days 02:54:57
Pace                    0:07:05
TotalSeconds              10497
HalfSeconds                5246
Name: 3076, dtype: object
Mcgregor Age                          49
M/F                           F
City                   Mcgregor
State                        TX
Country                     USA
Half            0 days 01:42:43
40K             0 days 03:25:28
Pace                    0:08:20
TotalSeconds              12328
HalfSeconds                6163
Name: 21762, dtype: object
Mchenry Age                          49
M/F                           M
City                    Mchenry
State                        IL
Country                     USA
Half            0 days 01:27:11
40K             0 days 02:48:26
Pace                    0:06:47
TotalSeconds              10106
HalfSeconds                5231
Name: 1885, dtype: object
Mckenzie Age                          36
M/F                           F
City                   Mckenzie
State                        TN
Country                     USA
Half            0 days 01:39:26
40K             0 days 03:07:32
Pace                    0:07:31
TotalSeconds              11252
HalfSeconds                5966
Name: 14198, dtype: object
Mckinleyville Age                          56
M/F                           M
City              Mckinleyville
State                        CA
Country                     USA
Half            0 days 01:46:35
40K             0 days 03:35:52
Pace                    0:08:47
TotalSeconds              12952
HalfSeconds                6395
Name: 18556, dtype: object
Mckinney Age                          48
M/F                           M
City                   Mckinney
State                        TX
Country                     USA
Half            0 days 01:27:36
40K             0 days 02:52:30
Pace                    0:06:57
TotalSeconds              10350
HalfSeconds                5256
Name: 2220, dtype: object
Mclaren Vale Age                          38
M/F                           F
City               Mclaren Vale
State                       NaN
Country                     AUS
Half            0 days 01:49:01
40K             0 days 03:34:28
Pace                    0:08:39
TotalSeconds              12868
HalfSeconds                6541
Name: 18315, dtype: object
Mclean Age                          24
M/F                           M
City                     Mclean
State                        VA
Country                     USA
Half            0 days 01:24:06
40K             0 days 02:43:36
Pace                    0:06:35
TotalSeconds               9816
HalfSeconds                5046
Name: 2073, dtype: object
Mcminnville Age                          37
M/F                           F
City                Mcminnville
State                        TN
Country                     USA
Half            0 days 01:38:21
40K             0 days 03:11:59
Pace                    0:07:45
TotalSeconds              11519
HalfSeconds                5901
Name: 11472, dtype: object
Mcmurray Age                          38
M/F                           F
City                   Mcmurray
State                        PA
Country                     USA
Half            0 days 01:37:58
40K             0 days 03:12:40
Pace                    0:07:48
TotalSeconds              11560
HalfSeconds                5878
Name: 12867, dtype: object
Mead Age                          41
M/F                           F
City                       Mead
State                        WA
Country                     USA
Half            0 days 01:55:34
40K             0 days 03:43:12
Pace                    0:08:59
TotalSeconds              13392
HalfSeconds                6934
Name: 20441, dtype: object
Meadow Springs Age                          57
M/F                           M
City             Meadow Springs
State                       NaN
Country                     AUS
Half            0 days 01:38:48
40K             0 days 03:35:28
Pace                    0:08:49
TotalSeconds              12928
HalfSeconds                5928
Name: 8712, dtype: object
Meadville Age                          43
M/F                           F
City                  Meadville
State                        PA
Country                     USA
Half            0 days 01:51:09
40K             0 days 03:29:55
Pace                    0:08:26
TotalSeconds              12595
HalfSeconds                6669
Name: 21067, dtype: object
Meaford Age                          50
M/F                           M
City                    Meaford
State                        ON
Country                     CAN
Half            0 days 01:39:23
40K             0 days 03:20:10
Pace                    0:08:12
TotalSeconds              12010
HalfSeconds                5963
Name: 6326, dtype: object
Mebane Age                          55
M/F                           M
City                     Mebane
State                        NC
Country                     USA
Half            0 days 01:45:44
40K             0 days 03:23:26
Pace                    0:08:12
TotalSeconds              12206
HalfSeconds                6344
Name: 20216, dtype: object
Mechanicsburg Age                          48
M/F                           M
City              Mechanicsburg
State                        PA
Country                     USA
Half            0 days 01:36:50
40K             0 days 03:04:45
Pace                    0:07:25
TotalSeconds              11085
HalfSeconds                5810
Name: 7588, dtype: object
Mechanicsville Age                          36
M/F                           F
City             Mechanicsville
State                        VA
Country                     USA
Half            0 days 01:38:57
40K             0 days 03:09:47
Pace                    0:07:38
TotalSeconds              11387
HalfSeconds                5937
Name: 9783, dtype: object
Mechelen Age                          44
M/F                           M
City                   Mechelen
State                       NaN
Country                     BEL
Half            0 days 01:34:55
40K             0 days 03:14:24
Pace                    0:07:52
TotalSeconds              11664
HalfSeconds                5695
Name: 6481, dtype: object
Medellin Age                          40
M/F                           M
City                   Medellin
State                       NaN
Country                     COL
Half            0 days 01:29:40
40K             0 days 03:09:40
Pace                    0:07:44
TotalSeconds              11380
HalfSeconds                5380
Name: 6216, dtype: object
Medelln Age                          47
M/F                           F
City                   Medelln
State                       NaN
Country                     COL
Half            0 days 01:37:19
40K             0 days 03:20:01
Pace                    0:08:05
TotalSeconds              12001
HalfSeconds                5839
Name: 16702, dtype: object
Medfield Age                          30
M/F                           M
City                   Medfield
State                        MA
Country                     USA
Half            0 days 01:24:45
40K             0 days 02:57:05
Pace                    0:07:13
TotalSeconds              10625
HalfSeconds                5085
Name: 740, dtype: object
Medford Age                          32
M/F                           M
City                    Medford
State                        MA
Country                     USA
Half            0 days 01:22:57
40K             0 days 02:40:16
Pace                    0:06:28
TotalSeconds               9616
HalfSeconds                4977
Name: 1206, dtype: object
Medford Lakes Age                          31
M/F                           F
City              Medford Lakes
State                        NJ
Country                     USA
Half            0 days 01:41:13
40K             0 days 03:25:55
Pace                    0:08:20
TotalSeconds              12355
HalfSeconds                6073
Name: 16769, dtype: object
Media Age                          36
M/F                           F
City                      Media
State                        PA
Country                     USA
Half            0 days 01:35:03
40K             0 days 03:07:31
Pace                    0:07:34
TotalSeconds              11251
HalfSeconds                5703
Name: 3919, dtype: object
Medifeld Age                          22
M/F                           F
City                   Medifeld
State                        MA
Country                     USA
Half            0 days 02:03:47
40K             0 days 04:20:31
Pace                    0:10:31
TotalSeconds              15631
HalfSeconds                7427
Name: 27165, dtype: object
Medina Age                          26
M/F                           F
City                     Medina
State                        MN
Country                     USA
Half            0 days 01:45:42
40K             0 days 03:29:05
Pace                    0:08:26
TotalSeconds              12545
HalfSeconds                6342
Name: 14422, dtype: object
Medinah Age                          50
M/F                           M
City                    Medinah
State                        IL
Country                     USA
Half            0 days 01:44:37
40K             0 days 03:28:50
Pace                    0:08:25
TotalSeconds              12530
HalfSeconds                6277
Name: 13488, dtype: object
Medway Age                          51
M/F                           M
City                     Medway
State                        MA
Country                     USA
Half            0 days 01:30:53
40K             0 days 03:01:12
Pace                    0:07:21
TotalSeconds              10872
HalfSeconds                5453
Name: 3996, dtype: object
Melbourn Age                          50
M/F                           M
City                   Melbourn
State                       NaN
Country                     GBR
Half            0 days 02:39:43
40K             0 days 05:23:34
Pace                    0:13:00
TotalSeconds              19414
HalfSeconds                9583
Name: 27287, dtype: object
Melbourne Age                          26
M/F                           M
City                  Melbourne
State                        FL
Country                     USA
Half            0 days 01:19:16
40K             0 days 02:33:35
Pace                    0:06:13
TotalSeconds               9215
HalfSeconds                4756
Name: 493, dtype: object
Mellen Age                          42
M/F                           F
City                     Mellen
State                        WI
Country                     USA
Half            0 days 01:45:56
40K             0 days 03:30:53
Pace                    0:08:29
TotalSeconds              12653
HalfSeconds                6356
Name: 16684, dtype: object
Melrose Age                          37
M/F                           M
City                    Melrose
State                        MA
Country                     USA
Half            0 days 01:21:12
40K             0 days 02:34:47
Pace                    0:06:14
TotalSeconds               9287
HalfSeconds                4872
Name: 978, dtype: object
Melville Age                          54
M/F                           M
City                   Melville
State                        NY
Country                     USA
Half            0 days 01:43:46
40K             0 days 03:35:08
Pace                    0:08:41
TotalSeconds              12908
HalfSeconds                6226
Name: 13469, dtype: object
Memphis Age                          33
M/F                           M
City                    Memphis
State                        TN
Country                     USA
Half            0 days 01:19:58
40K             0 days 02:47:32
Pace                    0:06:47
TotalSeconds              10052
HalfSeconds                4798
Name: 294, dtype: object
Menan Age                          56
M/F                           M
City                      Menan
State                        ID
Country                     USA
Half            0 days 01:47:50
40K             0 days 03:40:06
Pace                    0:08:56
TotalSeconds              13206
HalfSeconds                6470
Name: 16606, dtype: object
Menands Age                          42
M/F                           M
City                    Menands
State                        NY
Country                     USA
Half            0 days 01:37:43
40K             0 days 03:29:21
Pace                    0:08:30
TotalSeconds              12561
HalfSeconds                5863
Name: 8260, dtype: object
Menasha Age                          28
M/F                           F
City                    Menasha
State                        WI
Country                     USA
Half            0 days 01:40:15
40K             0 days 03:21:02
Pace                    0:08:08
TotalSeconds              12062
HalfSeconds                6015
Name: 11875, dtype: object
Mendham Age                          58
M/F                           M
City                    Mendham
State                        NJ
Country                     USA
Half            0 days 01:39:34
40K             0 days 03:15:41
Pace                    0:07:54
TotalSeconds              11741
HalfSeconds                5974
Name: 12065, dtype: object
Mendota Heights Age                          47
M/F                           F
City            Mendota Heights
State                        MN
Country                     USA
Half            0 days 01:52:52
40K             0 days 03:56:36
Pace                    0:09:38
TotalSeconds              14196
HalfSeconds                6772
Name: 21936, dtype: object
Menifee Age                          40
M/F                           F
City                    Menifee
State                        CA
Country                     USA
Half            0 days 02:02:51
40K             0 days 03:54:19
Pace                    0:09:25
TotalSeconds              14059
HalfSeconds                7371
Name: 21721, dtype: object
Menlo Park Age                          24
M/F                           M
City                 Menlo Park
State                        CA
Country                     USA
Half            0 days 01:13:54
40K             0 days 02:26:01
Pace                    0:05:55
TotalSeconds               8761
HalfSeconds                4434
Name: 225, dtype: object
Menomonee Falls Age                          39
M/F                           M
City            Menomonee Falls
State                        WI
Country                     USA
Half            0 days 01:32:22
40K             0 days 03:04:52
Pace                    0:07:28
TotalSeconds              11092
HalfSeconds                5542
Name: 3195, dtype: object
Mentor Age                          40
M/F                           M
City                     Mentor
State                        OH
Country                     USA
Half            0 days 01:26:45
40K             0 days 02:55:05
Pace                    0:07:06
TotalSeconds              10505
HalfSeconds                5205
Name: 1298, dtype: object
Meota Age                          54
M/F                           M
City                      Meota
State                        SK
Country                     CAN
Half            0 days 01:41:01
40K             0 days 03:14:56
Pace                    0:07:52
TotalSeconds              11696
HalfSeconds                6061
Name: 10417, dtype: object
Meppershall Age                          45
M/F                           M
City                Meppershall
State                       NaN
Country                     GBR
Half            0 days 01:50:25
40K             0 days 03:48:38
Pace                    0:09:19
TotalSeconds              13718
HalfSeconds                6625
Name: 9669, dtype: object
Mequon Age                          45
M/F                           M
City                     Mequon
State                        WI
Country                     USA
Half            0 days 01:34:04
40K             0 days 03:00:08
Pace                    0:07:15
TotalSeconds              10808
HalfSeconds                5644
Name: 7414, dtype: object
Merced Age                          44
M/F                           M
City                     Merced
State                        CA
Country                     USA
Half            0 days 01:36:45
40K             0 days 03:38:18
Pace                    0:08:52
TotalSeconds              13098
HalfSeconds                5805
Name: 8376, dtype: object
Mercer Age                          39

Millville Age                          50
M/F                           M
City                  Millville
State                        MA
Country                     USA
Half            0 days 01:37:10
40K             0 days 03:41:16
Pace                    0:09:08
TotalSeconds              13276
HalfSeconds                5830
Name: 9029, dtype: object
Milpitas Age                          32
M/F                           M
City                   Milpitas
State                        CA
Country                     USA
Half            0 days 01:21:48
40K             0 days 02:42:17
Pace                    0:06:34
TotalSeconds               9737
HalfSeconds                4908
Name: 1032, dtype: object
Milton Age                          38
M/F                           M
City                     Milton
State                        MA
Country                     USA
Half            0 days 01:23:55
40K             0 days 02:44:07
Pace                    0:06:38
TotalSeconds               9847
HalfSeconds                5035
Name: 1553, dtype: object
Milton Highlands Age                           70
M/F                            F
City            Milton Highlands
State                         NS
Country                      CAN
Half             0 days 02:31:14
40K              0 days 05:09:38
Pace                     0:12:27
TotalSeconds               18578
HalfSeconds                 9074
Name: 26113, dtype: object
Milton Keynes Age                          51
M/F                           M
City              Milton Keynes
State                       NaN
Country                     GBR
Half            0 days 01:37:00
40K             0 days 03:10:37
Pace                    0:07:42
TotalSeconds              11437
HalfSeconds                5820
Name: 8865, dtype: object
Milwaukee Age                          29
M/F                           M
City                  Milwaukee
State                        WI
Country                     USA
Half            0 days 01:18:08
40K             0 days 02:30:24
Pace                    0:06:03
TotalSeconds               9024
HalfSeconds                4688
Name: 160, dtype: object
Milwaukie Age                          31
M/F                           F
City                  Milwaukie
State                        OR
Country                     USA
Half            0 days 02:01:39
40K             0 days 04:35:39
Pace                    0:11:09
TotalSeconds              16539
HalfSeconds                7299
Name: 14389, dtype: object
Minato-Ku, Tokyo Age                           54
M/F                            F
City            Minato-Ku, Tokyo
State                        NaN
Country                      JPN
Half             0 days 01:40:43
40K              0 days 03:25:18
Pace                     0:08:17
TotalSeconds               12318
HalfSeconds                 6043
Name: 16332, dtype: object
Minden Age                          29
M/F                           F
City                     Minden
State                        IA
Country                     USA
Half            0 days 01:37:24
40K             0 days 03:11:03
Pace                    0:07:42
TotalSeconds              11463
HalfSeconds                5844
Name: 12799, dtype: object
Mindoro Age                          55
M/F                           M
City                    Mindoro
State                        WI
Country                     USA
Half            0 days 01:49:28
40K             0 days 03:45:36
Pace                    0:09:08
TotalSeconds              13536
HalfSeconds                6568
Name: 14221, dtype: object
Mineola Age                          60
M/F                           M
City                    Mineola
State                        NY
Country                     USA
Half            0 days 01:46:44
40K             0 days 03:32:05
Pace                    0:08:36
TotalSeconds              12725
HalfSeconds                6404
Name: 18661, dtype: object
Minitonas Age                          47
M/F                           M
City                  Minitonas
State                        MB
Country                     CAN
Half            0 days 02:13:20
40K             0 days 04:58:51
Pace                    0:12:09
TotalSeconds              17931
HalfSeconds                8000
Name: 12529, dtype: object
Minneapolis Age                          32
M/F                           M
City                Minneapolis
State                        MN
Country                     USA
Half            0 days 01:15:52
40K             0 days 02:29:54
Pace                    0:06:02
TotalSeconds               8994
HalfSeconds                4552
Name: 105, dtype: object
Minneola Age                          36
M/F                           M
City                   Minneola
State                        FL
Country                     USA
Half            0 days 01:33:29
40K             0 days 03:18:59
Pace                    0:08:04
TotalSeconds              11939
HalfSeconds                5609
Name: 6884, dtype: object
Minnetonka Age                          48
M/F                           M
City                 Minnetonka
State                        MN
Country                     USA
Half            0 days 01:39:29
40K             0 days 03:08:08
Pace                    0:07:35
TotalSeconds              11288
HalfSeconds                5969
Name: 9627, dtype: object
Minoa Age                          35
M/F                           M
City                      Minoa
State                        NY
Country                     USA
Half            0 days 01:32:32
40K             0 days 03:06:30
Pace                    0:07:34
TotalSeconds              11190
HalfSeconds                5552
Name: 717, dtype: object
Minocqua Age                          44
M/F                           M
City                   Minocqua
State                        WI
Country                     USA
Half            0 days 01:42:50
40K             0 days 03:20:01
Pace                    0:08:03
TotalSeconds              12001
HalfSeconds                6170
Name: 8558, dtype: object
Minot Age                          32
M/F                           F
City                      Minot
State                        ND
Country                     USA
Half            0 days 01:28:54
40K             0 days 02:53:45
Pace                    0:07:01
TotalSeconds              10425
HalfSeconds                5334
Name: 8618, dtype: object
Mint Hill Age                          42
M/F                           F
City                  Mint Hill
State                        NC
Country                     USA
Half            0 days 01:51:39
40K             0 days 03:57:05
Pace                    0:09:31
TotalSeconds              14225
HalfSeconds                6699
Name: 19462, dtype: object
Mira Age                          42
M/F                           M
City                       Mira
State                       NaN
Country                     ITA
Half            0 days 01:34:18
40K             0 days 03:08:50
Pace                    0:07:38
TotalSeconds              11330
HalfSeconds                5658
Name: 5627, dtype: object
Mira Loma Age                          36
M/F                           F
City                  Mira Loma
State                        CA
Country                     USA
Half            0 days 01:51:33
40K             0 days 03:54:39
Pace                    0:09:30
TotalSeconds              14079
HalfSeconds                6693
Name: 19513, dtype: object
Mirabel Age                          37
M/F                           F
City                    Mirabel
State                        QC
Country                     CAN
Half            0 days 01:50:16
40K             0 days 03:31:18
Pace                    0:08:30
TotalSeconds              12678
HalfSeconds                6616
Name: 18885, dtype: object
Miramar Beach Age                          39
M/F                           M
City              Miramar Beach
State                        FL
Country                     USA
Half            0 days 01:51:43
40K             0 days 03:40:02
Pace                    0:08:52
TotalSeconds              13202
HalfSeconds                6703
Name: 27442, dtype: object
Miramichi Age                          49
M/F                           F
City                  Miramichi
State                        NB
Country                     CAN
Half            0 days 01:28:59
40K             0 days 02:50:09
Pace                    0:06:51
TotalSeconds              10209
HalfSeconds                5339
Name: 2375, dtype: object
Miremont Age                          51
M/F                           M
City                   Miremont
State                       NaN
Country                     FRA
Half            0 days 01:32:16
40K             0 days 02:58:43
Pace                    0:07:12
TotalSeconds              10723
HalfSeconds                5536
Name: 5113, dtype: object
Mishawaka Age                          40
M/F                           M
City                  Mishawaka
State                        IN
Country                     USA
Half            0 days 01:32:33
40K             0 days 03:03:48
Pace                    0:07:26
TotalSeconds              11028
HalfSeconds                5553
Name: 3720, dtype: object
Mission Age                          29
M/F                           M
City                    Mission
State                        KS
Country                     USA
Half            0 days 01:30:51
40K             0 days 02:52:10
Pace                    0:06:55
TotalSeconds              10330
HalfSeconds                5451
Name: 4039, dtype: object
Mission Hills Age                          52
M/F                           M
City              Mission Hills
State                        KS
Country                     USA
Half            0 days 01:37:11
40K             0 days 03:12:53
Pace                    0:07:51
TotalSeconds              11573
HalfSeconds                5831
Name: 9724, dtype: object
Mission Viejo Age                          31
M/F                           M
City              Mission Viejo
State                        CA
Country                     USA
Half            0 days 01:23:58
40K             0 days 02:43:23
Pace                    0:06:37
TotalSeconds               9803
HalfSeconds                5038
Name: 1883, dtype: object
Mississauga Age                          43
M/F                           M
City                Mississauga
State                        ON
Country                     CAN
Half            0 days 01:20:48
40K             0 days 02:38:01
Pace                    0:06:23
TotalSeconds               9481
HalfSeconds                4848
Name: 488, dtype: object
Missoula Age                          50
M/F                           F
City                   Missoula
State                        MT
Country                     USA
Half            0 days 01:46:41
40K             0 days 03:25:39
Pace                    0:08:18
TotalSeconds              12339
HalfSeconds                6401
Name: 20620, dtype: object
Missouri City Age                          59
M/F                           M
City              Missouri City
State                        TX
Country                     USA
Half            0 days 01:49:30
40K             0 days 03:36:54
Pace                    0:08:47
TotalSeconds              13014
HalfSeconds                6570
Name: 15507, dtype: object
Mitcham, Victoria Age                            35
M/F                             F
City            Mitcham, Victoria
State                         NaN
Country                       AUS
Half              0 days 01:52:16
40K               0 days 03:47:26
Pace                      0:09:12
TotalSeconds                13646
HalfSeconds                  6736
Name: 18407, dtype: object
Mitchell Age                          30
M/F                           M
City                   Mitchell
State                        SD
Country                     USA
Half            0 days 01:16:56
40K             0 days 02:49:45
Pace                    0:06:52
TotalSeconds              10185
HalfSeconds                4616
Name: 202, dtype: object
Moberly Age                          45
M/F                           F
City                    Moberly
State                        MO
Country                     USA
Half            0 days 01:40:50
40K             0 days 03:20:49
Pace                    0:08:09
TotalSeconds              12049
HalfSeconds                6050
Name: 12675, dtype: object
Mobile Age                          30
M/F                           M
City                     Mobile
State                        AL
Country                     USA
Half            0 days 01:13:42
40K             0 days 02:26:24
Pace                    0:05:54
TotalSeconds               8784
HalfSeconds                4422
Name: 142, dtype: object
Modena Age                          50
M/F                           M
City                     Modena
State                       NaN
Country                     ITA
Half            0 days 01:26:15
40K             0 days 02:50:41
Pace                    0:06:56
TotalSeconds              10241
HalfSeconds                5175
Name: 2493, dtype: object
Modesto Age                          40
M/F                           M
City                    Modesto
State                        CA
Country                     USA
Half            0 days 01:33:47
40K             0 days 03:12:37
Pace                    0:07:51
TotalSeconds              11557
HalfSeconds                5627
Name: 7520, dtype: object
Modiin Age                          39
M/F                           M
City                     Modiin
State                       NaN
Country                     ISR
Half            0 days 01:31:56
40K             0 days 03:00:45
Pace                    0:07:16
TotalSeconds              10845
HalfSeconds                5516
Name: 1633, dtype: object
Mogadore Age                          42
M/F                           F
City                   Mogadore
State                        OH
Country                     USA
Half            0 days 02:00:25
40K             0 days 04:17:18
Pace                    0:10:18
TotalSeconds              15438
HalfSeconds                7225
Name: 19872, dtype: object
Mogi Das Cruzes Age                          32
M/F                           F
City            Mogi Das Cruzes
State                       NaN
Country                     BRA
Half            0 days 01:35:48
40K             0 days 03:02:02
Pace                    0:07:19
TotalSeconds              10922
HalfSeconds                5748
Name: 9268, dtype: object
Mogi Das Cruzes, Sp Age                              68
M/F                               M
City            Mogi Das Cruzes, Sp
State                           NaN
Country                         BRA
Half                0 days 02:13:07
40K                 0 days 04:24:48
Pace                        0:10:40
TotalSeconds                  15888
HalfSeconds                    7987
Name: 25149, dtype: object
Mohawk Age                          55
M/F                           M
City                     Mohawk
State                        NY
Country                     USA
Half            0 days 01:40:56
40K             0 days 03:21:13
Pace                    0:08:07
TotalSeconds              12073
HalfSeconds                6056
Name: 11091, dtype: object
Mohnton Age                          46
M/F                           M
City                    Mohnton
State                        PA
Country                     USA
Half            0 days 01:34:20
40K             0 days 03:14:08
Pace                    0:07:53
TotalSeconds              11648
HalfSeconds                5660
Name: 10131, dtype: object
Mokena Age                          50
M/F                           F
City                     Mokena
State                        IL
Country                     USA
Half            0 days 01:49:28
40K             0 days 03:39:51
Pace                    0:08:52
TotalSeconds              13191
HalfSeconds                6568
Name: 24464, dtype: object
Moline Age                          27
M/F                           F
City                     Moline
State                        IL
Country                     USA
Half            0 days 01:46:55
40K             0 days 03:52:39
Pace                    0:09:28
TotalSeconds              13959
HalfSeconds                6415
Name: 14213, dtype: object
Moline, Il Age                          24
M/F                           F
City                 Moline, Il
State                        IL
Country                     USA
Half            0 days 01:39:52
40K             0 days 03:16:45
Pace                    0:07:57
TotalSeconds              11805
HalfSeconds                5992
Name: 11130, dtype: object
Molndal Age                          43
M/F                           M
City                    Molndal
State                       NaN
Country                     SWE
Half            0 days 01:27:13
40K             0 days 03:09:39
Pace                    0:07:40
TotalSeconds              11379
HalfSeconds                5233
Name: 4115, dtype: object
Momence Age                          35
M/F                           F
City                    Momence
State                        IL
Country                     USA
Half            0 days 02:09:11
40K             0 days 04:13:14
Pace                    0:10:12
TotalSeconds              15194
HalfSeconds                7751
Name: 20406, dtype: object
Mona Age                          37
M/F                           F
City                       Mona
State                        UT
Country                     USA
Half            0 days 01:54:28
40K             0 days 03:44:11
Pace                    0:09:05
TotalSeconds              13451
HalfSeconds                6868
Name: 16824, dtype: object
Monclova Age                          41
M/F                           M
City                   Monclova
State                       NaN
Country                     MEX
Half            0 days 01:28:13
40K             0 days 03:03:23
Pace                    0:07:26
TotalSeconds              11003
HalfSeconds                5293
Name: 1743, dtype: object
Moncton Age                          43
M/F                           M
City                    Moncton
State                        NB
Country                     CAN
Half            0 days 01:23:03
40K             0 days 02:40:03
Pace                    0:06:28
TotalSeconds               9603
HalfSeconds                4983
Name: 2967, dtype: object
Monkton Age                          27
M/F                           F
City                    Monkton
State                        MD
Country                     USA
Half            0 days 01:42:34
40K             0 days 03:26:57
Pace                    0:08:24
TotalSeconds              12417
HalfSeconds                6154
Name: 10253, dtype: object
Monmouth Age                          27
M/F                           F
City                   Monmouth
State                        IL
Country                     USA
Half            0 days 01:39:32
40K             0 days 03:09:42
Pace                    0:07:37
TotalSeconds              11382
HalfSeconds                5972
Name: 13316, dtype: object
Monmouth Jct Age                          62
M/F                           M
City               Monmouth Jct
State                        NJ
Country                     USA
Half            0 days 01:53:58
40K             0 days 03:42:02
Pace                    0:08:58
TotalSeconds              13322
HalfSeconds                6838
Name: 24201, dtype: object
Monmouth Junction Age                            45
M/F                             M
City            Monmouth Junction
State                          NJ
Country                       USA
Half              0 days 01:51:13
40K               0 days 03:48:45
Pace                      0:09:13
TotalSeconds                13725

Mount Airy Age                          46
M/F                           M
City                 Mount Airy
State                        NC
Country                     USA
Half            0 days 01:35:42
40K             0 days 03:06:51
Pace                    0:07:31
TotalSeconds              11211
HalfSeconds                5742
Name: 9883, dtype: object
Mount Arlington Age                          41
M/F                           F
City            Mount Arlington
State                        NJ
Country                     USA
Half            0 days 01:51:00
40K             0 days 03:35:15
Pace                    0:08:42
TotalSeconds              12915
HalfSeconds                6660
Name: 18762, dtype: object
Mount Carmel Age                          41
M/F                           M
City               Mount Carmel
State                        IL
Country                     USA
Half            0 days 01:29:52
40K             0 days 03:00:49
Pace                    0:07:24
TotalSeconds              10849
HalfSeconds                5392
Name: 4929, dtype: object
Mount Hawthorn Age                          37
M/F                           F
City             Mount Hawthorn
State                       NaN
Country                     AUS
Half            0 days 01:41:58
40K             0 days 03:23:30
Pace                    0:08:16
TotalSeconds              12210
HalfSeconds                6118
Name: 15076, dtype: object
Mount Holly Springs Age                              31
M/F                               F
City            Mount Holly Springs
State                            PA
Country                         USA
Half                0 days 01:38:59
40K                 0 days 03:34:34
Pace                        0:08:42
TotalSeconds                  12874
HalfSeconds                    5939
Name: 5197, dtype: object
Mount Horeb Age                          37
M/F                           F
City                Mount Horeb
State                        WI
Country                     USA
Half            0 days 01:45:58
40K             0 days 03:24:15
Pace                    0:08:15
TotalSeconds              12255
HalfSeconds                6358
Name: 17139, dtype: object
Mount Joy Age                          39
M/F                           F
City                  Mount Joy
State                        PA
Country                     USA
Half            0 days 01:52:24
40K             0 days 03:39:33
Pace                    0:08:50
TotalSeconds              13173
HalfSeconds                6744
Name: 15009, dtype: object
Mount Juliet Age                          36
M/F                           F
City               Mount Juliet
State                        TN
Country                     USA
Half            0 days 01:54:54
40K             0 days 03:50:54
Pace                    0:09:19
TotalSeconds              13854
HalfSeconds                6894
Name: 18918, dtype: object
Mount Kisco Age                          43
M/F                           M
City                Mount Kisco
State                        NY
Country                     USA
Half            0 days 01:31:01
40K             0 days 02:51:37
Pace                    0:06:54
TotalSeconds              10297
HalfSeconds                5461
Name: 4815, dtype: object
Mount Laurel Age                          51
M/F                           F
City               Mount Laurel
State                        NJ
Country                     USA
Half            0 days 02:15:39
40K             0 days 04:37:44
Pace                    0:11:13
TotalSeconds              16664
HalfSeconds                8139
Name: 24719, dtype: object
Mount Lofty Age                          40
M/F                           M
City                Mount Lofty
State                       NaN
Country                     AUS
Half            0 days 01:30:42
40K             0 days 03:00:44
Pace                    0:07:20
TotalSeconds              10844
HalfSeconds                5442
Name: 5877, dtype: object
Mount Pearl Age                          50
M/F                           M
City                Mount Pearl
State                        NL
Country                     CAN
Half            0 days 01:35:48
40K             0 days 03:06:38
Pace                    0:07:33
TotalSeconds              11198
HalfSeconds                5748
Name: 10099, dtype: object
Mount Pleasant Age                          28
M/F                           F
City             Mount Pleasant
State                        SC
Country                     USA
Half            0 days 01:41:27
40K             0 days 03:13:53
Pace                    0:07:49
TotalSeconds              11633
HalfSeconds                6087
Name: 13045, dtype: object
Mount Royal Age                          49
M/F                           M
City                Mount Royal
State                        QC
Country                     CAN
Half            0 days 01:32:37
40K             0 days 02:57:29
Pace                    0:07:09
TotalSeconds              10649
HalfSeconds                5557
Name: 6647, dtype: object
Mount Sinai Age                          51
M/F                           F
City                Mount Sinai
State                        NY
Country                     USA
Half            0 days 01:45:49
40K             0 days 03:30:01
Pace                    0:08:29
TotalSeconds              12601
HalfSeconds                6349
Name: 21984, dtype: object
Mount Sterling Age                          57
M/F                           F
City             Mount Sterling
State                        KY
Country                     USA
Half            0 days 01:53:08
40K             0 days 03:50:42
Pace                    0:09:25
TotalSeconds              13842
HalfSeconds                6788
Name: 22791, dtype: object
Mount Uniacke Age                          50
M/F                           M
City              Mount Uniacke
State                        NS
Country                     CAN
Half            0 days 01:44:28
40K             0 days 03:33:30
Pace                    0:08:37
TotalSeconds              12810
HalfSeconds                6268
Name: 12807, dtype: object
Mount Vernon Age                          35
M/F                           M
City               Mount Vernon
State                        NY
Country                     USA
Half            0 days 01:17:46
40K             0 days 02:38:26
Pace                    0:06:26
TotalSeconds               9506
HalfSeconds                4666
Name: 281, dtype: object
Mount Zion Age                          58
M/F                           M
City                 Mount Zion
State                        IL
Country                     USA
Half            0 days 01:46:55
40K             0 days 03:28:03
Pace                    0:08:22
TotalSeconds              12483
HalfSeconds                6415
Name: 19556, dtype: object
Mountain Brook Age                          68
M/F                           M
City             Mountain Brook
State                        AL
Country                     USA
Half            0 days 02:00:41
40K             0 days 04:01:35
Pace                    0:09:44
TotalSeconds              14495
HalfSeconds                7241
Name: 25502, dtype: object
Mountain Home Age                          37
M/F                           F
City              Mountain Home
State                        AR
Country                     USA
Half            0 days 01:50:26
40K             0 days 03:39:02
Pace                    0:08:51
TotalSeconds              13142
HalfSeconds                6626
Name: 19546, dtype: object
Mountain House Age                          37
M/F                           F
City             Mountain House
State                        CA
Country                     USA
Half            0 days 01:41:55
40K             0 days 03:14:21
Pace                    0:07:49
TotalSeconds              11661
HalfSeconds                6115
Name: 13385, dtype: object
Mountain Lake Age                          61
M/F                           M
City              Mountain Lake
State                        MN
Country                     USA
Half            0 days 02:00:17
40K             0 days 04:00:49
Pace                    0:09:44
TotalSeconds              14449
HalfSeconds                7217
Name: 23343, dtype: object
Mountain Lakes Age                          41
M/F                           F
City             Mountain Lakes
State                        NJ
Country                     USA
Half            0 days 01:46:44
40K             0 days 03:25:04
Pace                    0:08:16
TotalSeconds              12304
HalfSeconds                6404
Name: 17683, dtype: object
Mountain Top Age                          57
M/F                           M
City               Mountain Top
State                        PA
Country                     USA
Half            0 days 01:38:38
40K             0 days 03:16:47
Pace                    0:07:58
TotalSeconds              11807
HalfSeconds                5918
Name: 9261, dtype: object
Mountain View Age                          45
M/F                           M
City              Mountain View
State                        CA
Country                     USA
Half            0 days 01:28:20
40K             0 days 02:57:54
Pace                    0:07:11
TotalSeconds              10674
HalfSeconds                5300
Name: 1051, dtype: object
Mountainhome Age                          62
M/F                           F
City               Mountainhome
State                        PA
Country                     USA
Half            0 days 02:19:34
40K             0 days 04:56:23
Pace                    0:11:59
TotalSeconds              17783
HalfSeconds                8374
Name: 25883, dtype: object
Mountville Age                          47
M/F                           M
City                 Mountville
State                        PA
Country                     USA
Half            0 days 01:26:05
40K             0 days 02:51:04
Pace                    0:06:54
TotalSeconds              10264
HalfSeconds                5165
Name: 3043, dtype: object
Mouth Of Wilson Age                          25
M/F                           M
City            Mouth Of Wilson
State                        VA
Country                     USA
Half            0 days 02:14:46
40K             0 days 04:17:37
Pace                    0:10:20
TotalSeconds              15457
HalfSeconds                8086
Name: 30750, dtype: object
Moyers Age                          59
M/F                           M
City                     Moyers
State                        OK
Country                     USA
Half            0 days 01:39:17
40K             0 days 03:19:02
Pace                    0:08:04
TotalSeconds              11942
HalfSeconds                5957
Name: 16532, dtype: object
Mpls Age                          35
M/F                           F
City                       Mpls
State                        MN
Country                     USA
Half            0 days 01:45:49
40K             0 days 03:26:34
Pace                    0:08:19
TotalSeconds              12394
HalfSeconds                6349
Name: 14881, dtype: object
Mt Baldy Age                          57
M/F                           M
City                   Mt Baldy
State                        CA
Country                     USA
Half            0 days 01:41:50
40K             0 days 03:32:29
Pace                    0:08:38
TotalSeconds              12749
HalfSeconds                6110
Name: 11067, dtype: object
Mt Pleasant Age                          43
M/F                           M
City                Mt Pleasant
State                        SC
Country                     USA
Half            0 days 01:37:10
40K             0 days 03:12:49
Pace                    0:07:48
TotalSeconds              11569
HalfSeconds                5830
Name: 5657, dtype: object
Mt St Hilaire Age                          59
M/F                           M
City              Mt St Hilaire
State                        QC
Country                     CAN
Half            0 days 01:51:14
40K             0 days 03:50:30
Pace                    0:09:18
TotalSeconds              13830
HalfSeconds                6674
Name: 28876, dtype: object
Mt. Holly Springs Age                            32
M/F                             M
City            Mt. Holly Springs
State                          PA
Country                       USA
Half              0 days 01:13:46
40K               0 days 02:40:10
Pace                      0:06:31
TotalSeconds                 9610
HalfSeconds                  4426
Name: 37, dtype: object
Mt. Pleasant Age                          24
M/F                           M
City               Mt. Pleasant
State                        MI
Country                     USA
Half            0 days 01:26:22
40K             0 days 03:24:19
Pace                    0:08:28
TotalSeconds              12259
HalfSeconds                5182
Name: 3676, dtype: object
Mt. Tabor Age                          61
M/F                           M
City                  Mt. Tabor
State                        NJ
Country                     USA
Half            0 days 01:55:16
40K             0 days 03:44:30
Pace                    0:09:05
TotalSeconds              13470
HalfSeconds                6916
Name: 24393, dtype: object
Mt.pearl Age                          46
M/F                           M
City                   Mt.pearl
State                        NL
Country                     CAN
Half            0 days 01:37:12
40K             0 days 03:21:32
Pace                    0:08:11
TotalSeconds              12092
HalfSeconds                5832
Name: 11857, dtype: object
Mtn. Grove Age                          46
M/F                           F
City                 Mtn. Grove
State                        MO
Country                     USA
Half            0 days 01:59:45
40K             0 days 03:51:47
Pace                    0:09:21
TotalSeconds              13907
HalfSeconds                7185
Name: 23525, dtype: object
Muenchen Age                          40
M/F                           M
City                   Muenchen
State                       NaN
Country                     GER
Half            0 days 01:30:16
40K             0 days 03:06:58
Pace                    0:07:35
TotalSeconds              11218
HalfSeconds                5416
Name: 5598, dtype: object
Mukilteo Age                          52
M/F                           F
City                   Mukilteo
State                        WA
Country                     USA
Half            0 days 01:52:49
40K             0 days 03:52:46
Pace                    0:09:28
TotalSeconds              13966
HalfSeconds                6769
Name: 24418, dtype: object
Mukwonago Age                          36
M/F                           F
City                  Mukwonago
State                        WI
Country                     USA
Half            0 days 01:56:20
40K             0 days 03:48:04
Pace                    0:09:10
TotalSeconds              13684
HalfSeconds                6980
Name: 18568, dtype: object
Mullica Hill Age                          49
M/F                           M
City               Mullica Hill
State                        NJ
Country                     USA
Half            0 days 01:49:46
40K             0 days 04:13:13
Pace                    0:10:15
TotalSeconds              15193
HalfSeconds                6586
Name: 11188, dtype: object
Mulmur Age                          37
M/F                           F
City                     Mulmur
State                        ON
Country                     CAN
Half            0 days 01:48:52
40K             0 days 03:38:06
Pace                    0:08:52
TotalSeconds              13086
HalfSeconds                6532
Name: 19756, dtype: object
Mumbai Age                          42
M/F                           M
City                     Mumbai
State                       NaN
Country                     IND
Half            0 days 01:31:51
40K             0 days 03:11:13
Pace                    0:07:49
TotalSeconds              11473
HalfSeconds                5511
Name: 7575, dtype: object
Muncie Age                          30
M/F                           F
City                     Muncie
State                        IN
Country                     USA
Half            0 days 01:48:43
40K             0 days 03:37:22
Pace                    0:08:48
TotalSeconds              13042
HalfSeconds                6523
Name: 17426, dtype: object
Muncy Age                          43
M/F                           M
City                      Muncy
State                        PA
Country                     USA
Half            0 days 01:34:40
40K             0 days 03:19:35
Pace                    0:08:07
TotalSeconds              11975
HalfSeconds                5680
Name: 3573, dtype: object
Mundelein Age                          22
M/F                           F
City                  Mundelein
State                        IL
Country                     USA
Half            0 days 01:57:03
40K             0 days 04:12:41
Pace                    0:10:09
TotalSeconds              15161
HalfSeconds                7023
Name: 13850, dtype: object
Munford Age                          58
M/F                           F
City                    Munford
State                        AL
Country                     USA
Half            0 days 01:56:41
40K             0 days 03:56:00
Pace                    0:09:30
TotalSeconds              14160
HalfSeconds                7001
Name: 22596, dtype: object
Munich Age                          40
M/F                           M
City                     Munich
State                       NaN
Country                     GER
Half            0 days 01:24:14
40K             0 days 02:46:30
Pace                    0:06:44
TotalSeconds               9990
HalfSeconds                5054
Name: 1309, dtype: object
Munising Age                          39
M/F                           F
City                   Munising
State                        CA
Country                     USA
Half            0 days 01:42:03
40K             0 days 03:21:52
Pace                    0:08:07
TotalSeconds              12112
HalfSeconds                6123
Name: 16605, dtype: object
Munroe Falls Age                          49
M/F                           M
City               Munroe Falls
State                        OH
Country                     USA
Half            0 days 01:41:09
40K             0 days 03:16:01
Pace                    0:07:53
TotalSeconds              11761
HalfSeconds                6069
Name: 12743, dtype: object
Munster Age                          32
M/F                           F
City                    Munster
State                        IN
Country                     USA
Half            0 days 01:46:04
40K             0 days 03:32:36
Pace                    0:08:33
TotalSeconds              12756
HalfSeconds                6364
Name: 16920, dtype: object
Murfreesboro Age                          34
M/F                           F
City               Murfreesboro
State                        TN
Country                     USA
Half            0 days 01:33:48
40K             0 days 03:08:18
Pace                    0:07:40
TotalSeconds              11298
HalfSeconds                5628
Name: 8848, dtype: object
Murphy Age                          43
M/F                           F
City                     Murphy
State                        TX
Country                     USA
Half            0 days 01:45:51
40K             0 days 03:33:34
Pace                    0:08:39
TotalSeconds              12814
HalfSeconds                6351
Name: 19471, dtype: object
Murphys Age                          66
M/F                           M
City                    Murphys
State                        CA
Country                     USA
Half            0 days 01:44:19
40K             0 days 03:26:00

New Hartford Age                          35
M/F                           F
City               New Hartford
State                        CT
Country                     USA
Half            0 days 02:05:54
40K             0 days 04:26:57
Pace                    0:10:47
TotalSeconds              16017
HalfSeconds                7554
Name: 29910, dtype: object
New Haven Age                          25
M/F                           F
City                  New Haven
State                        CT
Country                     USA
Half            0 days 01:31:09
40K             0 days 02:52:11
Pace                    0:06:56
TotalSeconds              10331
HalfSeconds                5469
Name: 3997, dtype: object
New Hope Age                          50
M/F                           M
City                   New Hope
State                        PA
Country                     USA
Half            0 days 01:44:17
40K             0 days 03:23:54
Pace                    0:08:14
TotalSeconds              12234
HalfSeconds                6257
Name: 13112, dtype: object
New Hudson Age                          32
M/F                           F
City                 New Hudson
State                        MI
Country                     USA
Half            0 days 01:38:43
40K             0 days 03:16:05
Pace                    0:07:56
TotalSeconds              11765
HalfSeconds                5923
Name: 11921, dtype: object
New Ipswich Age                          42
M/F                           M
City                New Ipswich
State                        NH
Country                     USA
Half            0 days 01:31:23
40K             0 days 02:58:07
Pace                    0:07:10
TotalSeconds              10687
HalfSeconds                5483
Name: 5760, dtype: object
New Lenox Age                          53
M/F                           M
City                  New Lenox
State                        IL
Country                     USA
Half            0 days 01:40:59
40K             0 days 03:17:08
Pace                    0:07:58
TotalSeconds              11828
HalfSeconds                6059
Name: 15035, dtype: object
New London Age                          30
M/F                           M
City                 New London
State                        CT
Country                     USA
Half            0 days 01:32:03
40K             0 days 03:04:08
Pace                    0:07:26
TotalSeconds              11048
HalfSeconds                5523
Name: 1784, dtype: object
New Market Age                          36
M/F                           M
City                 New Market
State                        VA
Country                     USA
Half            0 days 01:27:27
40K             0 days 03:12:24
Pace                    0:07:48
TotalSeconds              11544
HalfSeconds                5247
Name: 4363, dtype: object
New Maryland Age                          48
M/F                           M
City               New Maryland
State                        NB
Country                     CAN
Half            0 days 01:46:05
40K             0 days 03:23:21
Pace                    0:08:12
TotalSeconds              12201
HalfSeconds                6365
Name: 11222, dtype: object
New Milford Age                          22
M/F                           F
City                New Milford
State                        CT
Country                     USA
Half            0 days 01:40:22
40K             0 days 03:17:24
Pace                    0:08:00
TotalSeconds              11844
HalfSeconds                6022
Name: 12973, dtype: object
New Milton Age                          38
M/F                           F
City                 New Milton
State                       NaN
Country                     GBR
Half            0 days 02:15:25
40K             0 days 04:23:27
Pace                    0:10:36
TotalSeconds              15807
HalfSeconds                8125
Name: 31486, dtype: object
New Minas Age                          65
M/F                           M
City                  New Minas
State                        NS
Country                     CAN
Half            0 days 01:45:39
40K             0 days 03:24:22
Pace                    0:08:15
TotalSeconds              12262
HalfSeconds                6339
Name: 13363, dtype: object
New Orleans Age                          41
M/F                           M
City                New Orleans
State                        LA
Country                     USA
Half            0 days 01:28:48
40K             0 days 02:52:26
Pace                    0:06:57
TotalSeconds              10346
HalfSeconds                5328
Name: 3679, dtype: object
New Palestine Age                          44
M/F                           M
City              New Palestine
State                        IN
Country                     USA
Half            0 days 01:25:10
40K             0 days 02:50:42
Pace                    0:06:54
TotalSeconds              10242
HalfSeconds                5110
Name: 1472, dtype: object
New Paltz Age                          30
M/F                           M
City                  New Paltz
State                        NY
Country                     USA
Half            0 days 01:08:48
40K             0 days 02:16:22
Pace                    0:05:32
TotalSeconds               8182
HalfSeconds                4128
Name: 27, dtype: object
New Paris Age                          48
M/F                           M
City                  New Paris
State                        OH
Country                     USA
Half            0 days 01:52:55
40K             0 days 03:40:10
Pace                    0:08:52
TotalSeconds              13210
HalfSeconds                6775
Name: 12172, dtype: object
New Philadelphia Age                           46
M/F                            M
City            New Philadelphia
State                         OH
Country                      USA
Half             0 days 01:26:12
40K              0 days 03:02:48
Pace                     0:07:23
TotalSeconds               10968
HalfSeconds                 5172
Name: 1869, dtype: object
New Port Richey Age                          36
M/F                           F
City            New Port Richey
State                        FL
Country                     USA
Half            0 days 01:29:38
40K             0 days 02:55:35
Pace                    0:07:05
TotalSeconds              10535
HalfSeconds                5378
Name: 3596, dtype: object
New Providence Age                          35
M/F                           M
City             New Providence
State                        NJ
Country                     USA
Half            0 days 01:35:14
40K             0 days 03:17:42
Pace                    0:08:00
TotalSeconds              11862
HalfSeconds                5714
Name: 4843, dtype: object
New Richmond Age                          25
M/F                           M
City               New Richmond
State                        WI
Country                     USA
Half            0 days 01:37:46
40K             0 days 03:08:31
Pace                    0:07:35
TotalSeconds              11311
HalfSeconds                5866
Name: 1671, dtype: object
New Ringgold Age                          47
M/F                           F
City               New Ringgold
State                        PA
Country                     USA
Half            0 days 01:48:52
40K             0 days 03:34:12
Pace                    0:08:40
TotalSeconds              12852
HalfSeconds                6532
Name: 21837, dtype: object
New River Age                          64
M/F                           M
City                  New River
State                        AZ
Country                     USA
Half            0 days 01:52:18
40K             0 days 03:55:18
Pace                    0:09:31
TotalSeconds              14118
HalfSeconds                6738
Name: 24035, dtype: object
New Roads Age                          46
M/F                           M
City                  New Roads
State                        LA
Country                     USA
Half            0 days 02:12:27
40K             0 days 04:37:51
Pace                    0:11:18
TotalSeconds              16671
HalfSeconds                7947
Name: 31958, dtype: object
New Rochelle Age                          55
M/F                           F
City               New Rochelle
State                        NY
Country                     USA
Half            0 days 02:03:37
40K             0 days 04:08:59
Pace                    0:10:04
TotalSeconds              14939
HalfSeconds                7417
Name: 24960, dtype: object
New Ross Age                          61
M/F                           F
City                   New Ross
State                        NS
Country                     CAN
Half            0 days 02:08:19
40K             0 days 04:15:20
Pace                    0:10:19
TotalSeconds              15320
HalfSeconds                7699
Name: 25800, dtype: object
New Smyrna Beach Age                           24
M/F                            M
City            New Smyrna Beach
State                         FL
Country                      USA
Half             0 days 01:26:17
40K              0 days 03:03:35
Pace                     0:07:27
TotalSeconds               11015
HalfSeconds                 5177
Name: 2816, dtype: object
New South Wales Age                          39
M/F                           M
City            New South Wales
State                       NaN
Country                     AUS
Half            0 days 02:01:09
40K             0 days 04:12:58
Pace                    0:10:17
TotalSeconds              15178
HalfSeconds                7269
Name: 31803, dtype: object
New South Whales Age                           36
M/F                            M
City            New South Whales
State                        NaN
Country                      AUS
Half             0 days 02:11:34
40K              0 days 05:03:11
Pace                     0:12:27
TotalSeconds               18191
HalfSeconds                 7894
Name: 31804, dtype: object
New Taipei City Age                          39
M/F                           M
City            New Taipei City
State                       NaN
Country                     TWN
Half            0 days 01:25:15
40K             0 days 02:44:10
Pace                    0:06:37
TotalSeconds               9850
HalfSeconds                5115
Name: 3129, dtype: object
New Tecumseth Age                          39
M/F                           F
City              New Tecumseth
State                        ON
Country                     CAN
Half            0 days 01:44:18
40K             0 days 03:19:24
Pace                    0:08:01
TotalSeconds              11964
HalfSeconds                6258
Name: 14638, dtype: object
New Territories Age                          36
M/F                           M
City            New Territories
State                       NaN
Country                     HKG
Half            0 days 01:33:10
40K             0 days 03:03:45
Pace                    0:07:24
TotalSeconds              11025
HalfSeconds                5590
Name: 5700, dtype: object
New Westminster Age                          50
M/F                           M
City            New Westminster
State                        BC
Country                     CAN
Half            0 days 01:43:08
40K             0 days 03:20:42
Pace                    0:08:06
TotalSeconds              12042
HalfSeconds                6188
Name: 13650, dtype: object
New Windsor Age                          36
M/F                           F
City                New Windsor
State                        NY
Country                     USA
Half            0 days 01:52:18
40K             0 days 03:39:40
Pace                    0:08:57
TotalSeconds              13180
HalfSeconds                6738
Name: 18286, dtype: object
New York Age                          36
M/F                           M
City                   New York
State                        NY
Country                     USA
Half            0 days 01:18:00
40K             0 days 02:32:02
Pace                    0:06:08
TotalSeconds               9122
HalfSeconds                4680
Name: 530, dtype: object
New York City Age                          46
M/F                           M
City              New York City
State                        NY
Country                     USA
Half            0 days 01:24:16
40K             0 days 02:42:03
Pace                    0:06:34
TotalSeconds               9723
HalfSeconds                5056
Name: 4945, dtype: object
Newark Age                          37
M/F                           M
City                     Newark
State                        DE
Country                     USA
Half            0 days 01:21:02
40K             0 days 02:37:42
Pace                    0:06:21
TotalSeconds               9462
HalfSeconds                4862
Name: 726, dtype: object
Newberg Age                          52
M/F                           F
City                    Newberg
State                        OR
Country                     USA
Half            0 days 01:57:19
40K             0 days 04:02:51
Pace                    0:09:51
TotalSeconds              14571
HalfSeconds                7039
Name: 22192, dtype: object
Newburgh Age                          47
M/F                           M
City                   Newburgh
State                        IN
Country                     USA
Half            0 days 01:35:41
40K             0 days 03:22:16
Pace                    0:08:15
TotalSeconds              12136
HalfSeconds                5741
Name: 8147, dtype: object
Newburgh Heights Age                           34
M/F                            M
City            Newburgh Heights
State                         OH
Country                      USA
Half             0 days 01:30:58
40K              0 days 03:06:27
Pace                     0:07:32
TotalSeconds               11187
HalfSeconds                 5458
Name: 4680, dtype: object
Newbury Age                          47
M/F                           M
City                    Newbury
State                       NaN
Country                     GBR
Half            0 days 01:36:52
40K             0 days 03:15:54
Pace                    0:07:53
TotalSeconds              11754
HalfSeconds                5812
Name: 5207, dtype: object
Newbury Park Age                          40
M/F                           M
City               Newbury Park
State                        CA
Country                     USA
Half            0 days 01:29:09
40K             0 days 03:05:26
Pace                    0:07:39
TotalSeconds              11126
HalfSeconds                5349
Name: 3553, dtype: object
Newburyport Age                          49
M/F                           M
City                Newburyport
State                        MA
Country                     USA
Half            0 days 01:30:43
40K             0 days 02:57:16
Pace                    0:07:09
TotalSeconds              10636
HalfSeconds                5443
Name: 5678, dtype: object
Newcastle Age                          61
M/F                           M
City                  Newcastle
State                        WA
Country                     USA
Half            0 days 01:57:26
40K             0 days 03:55:40
Pace                    0:09:34
TotalSeconds              14140
HalfSeconds                7046
Name: 18738, dtype: object
Newcastle Upon Tyne Age                              55
M/F                               M
City            Newcastle Upon Tyne
State                           NaN
Country                         GBR
Half                0 days 01:39:19
40K                 0 days 03:31:50
Pace                        0:08:37
TotalSeconds                  12710
HalfSeconds                    5959
Name: 16087, dtype: object
Newfields Age                          44
M/F                           M
City                  Newfields
State                        NH
Country                     USA
Half            0 days 02:06:55
40K             0 days 04:38:08
Pace                    0:11:15
TotalSeconds              16688
HalfSeconds                7615
Name: 30010, dtype: object
Newhall Age                          31
M/F                           M
City                    Newhall
State                        CA
Country                     USA
Half            0 days 01:37:10
40K             0 days 03:35:11
Pace                    0:08:44
TotalSeconds              12911
HalfSeconds                5830
Name: 4300, dtype: object
Newington Age                          26
M/F                           M
City                  Newington
State                        CT
Country                     USA
Half            0 days 01:21:47
40K             0 days 02:48:02
Pace                    0:06:47
TotalSeconds              10082
HalfSeconds                4907
Name: 586, dtype: object
Newmarket Age                          24
M/F                           M
City                  Newmarket
State                        NH
Country                     USA
Half            0 days 01:11:58
40K             0 days 02:24:03
Pace                    0:05:50
TotalSeconds               8643
HalfSeconds                4318
Name: 114, dtype: object
Newnan Age                          39
M/F                           M
City                     Newnan
State                        GA
Country                     USA
Half            0 days 01:27:25
40K             0 days 02:50:06
Pace                    0:06:51
TotalSeconds              10206
HalfSeconds                5245
Name: 1492, dtype: object
Newport Age                          33
M/F                           M
City                    Newport
State                        RI
Country                     USA
Half            0 days 01:34:56
40K             0 days 03:04:37
Pace                    0:07:28
TotalSeconds              11077
HalfSeconds                5696
Name: 26201, dtype: object
Newport Beach Age                          41
M/F                           F
City              Newport Beach
State                        CA
Country                     USA
Half            0 days 01:28:21
40K             0 days 03:05:12
Pace                    0:07:35
TotalSeconds              11112
HalfSeconds                5301
Name: 3023, dtype: object
Newport News Age                          32
M/F                           M
City               Newport News
State                        VA
Country                     USA
Half            0 days 01:25:27
40K             0 days 02:48:51
Pace                    0:06:51
TotalSeconds              10131
HalfSeconds                5127
Name: 2925, dtype: object
Newry Age                          35
M/F                           M
City                      Newry
State                       NaN
Country                     GBR
Half            0 days 01:18:34
40K             0 days 02:35:46
Pace                    0:06:19
TotalSeconds               9346
HalfSeconds                4714
Name: 368, dtype: object
Newton Age                          24
M/F                           M
City                     Newton
State                        MA
Country                     USA
Half            0 days 01:13:51
40K             0 days 02:23:50
Pace                    0:05:48
TotalSeconds               8630
HalfSeconds                4431
Name: 820, dtype: object
Newton Center Age                          45
M/F                           M
City              Newton Center
State                        MA
Country                     USA
Half            0 days 01:34:10
40K             0 days 03:13:38
Pace                    0:07:50
TotalSeconds              11618
HalfSeconds                5650
Name: 6726, dtype: object
Newton Centre Age                          61
M/F                           M
City              Newton Centre
State                        MA
Country                     USA
Half            0 days 02:43:52

North Oaks Age                          41
M/F                           M
City                 North Oaks
State                        MN
Country                     USA
Half            0 days 01:31:47
40K             0 days 03:13:56
Pace                    0:07:52
TotalSeconds              11636
HalfSeconds                5507
Name: 3164, dtype: object
North Olmsted Age                          40
M/F                           M
City              North Olmsted
State                        OH
Country                     USA
Half            0 days 01:33:38
40K             0 days 03:16:59
Pace                    0:07:58
TotalSeconds              11819
HalfSeconds                5618
Name: 7121, dtype: object
North Palm Beach Age                           55
M/F                            F
City            North Palm Beach
State                         FL
Country                      USA
Half             0 days 01:43:27
40K              0 days 03:26:02
Pace                     0:08:20
TotalSeconds               12362
HalfSeconds                 6207
Name: 21025, dtype: object
North Pole Age                          39
M/F                           M
City                 North Pole
State                        AK
Country                     USA
Half            0 days 01:44:42
40K             0 days 03:28:55
Pace                    0:08:28
TotalSeconds              12535
HalfSeconds                6282
Name: 6881, dtype: object
North Potomac Age                          40
M/F                           M
City              North Potomac
State                        MD
Country                     USA
Half            0 days 01:35:59
40K             0 days 03:21:05
Pace                    0:08:09
TotalSeconds              12065
HalfSeconds                5759
Name: 8488, dtype: object
North Quincy Age                          50
M/F                           F
City               North Quincy
State                        MA
Country                     USA
Half            0 days 02:31:18
40K             0 days 05:10:52
Pace                    0:12:34
TotalSeconds              18652
HalfSeconds                9078
Name: 29412, dtype: object
North Reading Age                          39
M/F                           M
City              North Reading
State                        MA
Country                     USA
Half            0 days 01:28:57
40K             0 days 03:04:06
Pace                    0:07:34
TotalSeconds              11046
HalfSeconds                5337
Name: 1329, dtype: object
North Richland Hills Age                               48
M/F                                F
City            North Richland Hills
State                             TX
Country                          USA
Half                 0 days 01:44:57
40K                  0 days 03:23:58
Pace                         0:08:14
TotalSeconds                   12238
HalfSeconds                     6297
Name: 19972, dtype: object
North Ridgeville Age                           59
M/F                            M
City            North Ridgeville
State                         OH
Country                      USA
Half             0 days 01:46:20
40K              0 days 03:37:03
Pace                     0:08:50
TotalSeconds               13023
HalfSeconds                 6380
Name: 17274, dtype: object
North Riverside Age                          21
M/F                           M
City            North Riverside
State                        IL
Country                     USA
Half            0 days 01:17:28
40K             0 days 02:39:04
Pace                    0:06:28
TotalSeconds               9544
HalfSeconds                4648
Name: 595, dtype: object
North Royalton Age                          50
M/F                           M
City             North Royalton
State                        OH
Country                     USA
Half            0 days 01:27:42
40K             0 days 02:53:13
Pace                    0:07:02
TotalSeconds              10393
HalfSeconds                5262
Name: 8653, dtype: object
North Saint Paul Age                           51
M/F                            M
City            North Saint Paul
State                         MN
Country                      USA
Half             0 days 01:49:19
40K              0 days 03:34:26
Pace                     0:08:42
TotalSeconds               12866
HalfSeconds                 6559
Name: 13761, dtype: object
North Salt Lake Age                          34
M/F                           F
City            North Salt Lake
State                        UT
Country                     USA
Half            0 days 01:42:32
40K             0 days 03:24:39
Pace                    0:08:17
TotalSeconds              12279
HalfSeconds                6152
Name: 11840, dtype: object
North Scituate Age                          48
M/F                           M
City             North Scituate
State                        RI
Country                     USA
Half            0 days 01:49:26
40K             0 days 03:30:31
Pace                    0:08:31
TotalSeconds              12631
HalfSeconds                6566
Name: 31947, dtype: object
North St Paul Age                          65
M/F                           M
City              North St Paul
State                        MN
Country                     USA
Half            0 days 02:08:19
40K             0 days 04:22:12
Pace                    0:10:38
TotalSeconds              15732
HalfSeconds                7699
Name: 25100, dtype: object
North Syracuse Age                          48
M/F                           M
City             North Syracuse
State                        NY
Country                     USA
Half            0 days 01:39:45
40K             0 days 03:31:37
Pace                    0:08:34
TotalSeconds              12697
HalfSeconds                5985
Name: 8778, dtype: object
North Tonawanda Age                          28
M/F                           F
City            North Tonawanda
State                        NY
Country                     USA
Half            0 days 01:45:25
40K             0 days 03:25:29
Pace                    0:08:16
TotalSeconds              12329
HalfSeconds                6325
Name: 16498, dtype: object
North Tustin Age                          50
M/F                           F
City               North Tustin
State                        CA
Country                     USA
Half            0 days 02:06:36
40K             0 days 04:13:20
Pace                    0:10:12
TotalSeconds              15200
HalfSeconds                7596
Name: 23577, dtype: object
North Vancouver Age                          26
M/F                           F
City            North Vancouver
State                        BC
Country                     CAN
Half            0 days 01:38:18
40K             0 days 03:07:54
Pace                    0:07:34
TotalSeconds              11274
HalfSeconds                5898
Name: 11616, dtype: object
North Vernon Age                          27
M/F                           M
City               North Vernon
State                        IN
Country                     USA
Half            0 days 01:19:35
40K             0 days 03:10:43
Pace                    0:07:43
TotalSeconds              11443
HalfSeconds                4775
Name: 695, dtype: object
North Wales Age                          40
M/F                           M
City                North Wales
State                        PA
Country                     USA
Half            0 days 01:21:38
40K             0 days 02:45:24
Pace                    0:06:43
TotalSeconds               9924
HalfSeconds                4898
Name: 1040, dtype: object
North Waterboro Age                          36
M/F                           F
City            North Waterboro
State                        ME
Country                     USA
Half            0 days 01:46:03
40K             0 days 03:28:40
Pace                    0:08:24
TotalSeconds              12520
HalfSeconds                6363
Name: 17347, dtype: object
North Windham Age                          46
M/F                           F
City              North Windham
State                        CT
Country                     USA
Half            0 days 01:45:30
40K             0 days 03:26:45
Pace                    0:08:21
TotalSeconds              12405
HalfSeconds                6330
Name: 16809, dtype: object
North Woodstock Age                          47
M/F                           M
City            North Woodstock
State                        NH
Country                     USA
Half            0 days 01:44:54
40K             0 days 03:28:21
Pace                    0:08:25
TotalSeconds              12501
HalfSeconds                6294
Name: 12769, dtype: object
North Yarmouth Age                          41
M/F                           F
City             North Yarmouth
State                        ME
Country                     USA
Half            0 days 01:25:15
40K             0 days 02:47:55
Pace                    0:06:47
TotalSeconds              10075
HalfSeconds                5115
Name: F111, dtype: object
North York Age                          30
M/F                           F
City                 North York
State                        ON
Country                     CAN
Half            0 days 01:30:35
40K             0 days 02:59:35
Pace                    0:07:16
TotalSeconds              10775
HalfSeconds                5435
Name: 10470, dtype: object
North Yorkshire Age                          57
M/F                           M
City            North Yorkshire
State                       NaN
Country                     GBR
Half            0 days 01:57:24
40K             0 days 04:04:31
Pace                    0:09:52
TotalSeconds              14671
HalfSeconds                7044
Name: 31498, dtype: object
Northampton Age                          29
M/F                           M
City                Northampton
State                        MA
Country                     USA
Half            0 days 01:28:34
40K             0 days 02:50:44
Pace                    0:06:53
TotalSeconds              10244
HalfSeconds                5314
Name: 4739, dtype: object
Northboro Age                          23
M/F                           F
City                  Northboro
State                        MA
Country                     USA
Half            0 days 01:51:35
40K             0 days 03:34:38
Pace                    0:08:38
TotalSeconds              12878
HalfSeconds                6695
Name: 28495, dtype: object
Northborough Age                          38
M/F                           M
City               Northborough
State                        MA
Country                     USA
Half            0 days 01:25:27
40K             0 days 02:44:47
Pace                    0:06:39
TotalSeconds               9887
HalfSeconds                5127
Name: 1608, dtype: object
Northbridge Age                          58
M/F                           M
City                Northbridge
State                        MA
Country                     USA
Half            0 days 01:35:37
40K             0 days 03:13:01
Pace                    0:07:49
TotalSeconds              11581
HalfSeconds                5737
Name: 9607, dtype: object
Northbrook Age                          46
M/F                           M
City                 Northbrook
State                        IL
Country                     USA
Half            0 days 01:40:41
40K             0 days 03:14:01
Pace                    0:07:48
TotalSeconds              11641
HalfSeconds                6041
Name: 10274, dtype: object
Northern Ireland Age                           33
M/F                            F
City            Northern Ireland
State                        NaN
Country                      GBR
Half             0 days 01:39:04
40K              0 days 03:12:29
Pace                     0:07:45
TotalSeconds               11549
HalfSeconds                 5944
Name: 12015, dtype: object
Northfield Age                          61
M/F                           M
City                 Northfield
State                        MN
Country                     USA
Half            0 days 01:50:46
40K             0 days 00:00:00
Pace                    0:08:54
TotalSeconds                  0
HalfSeconds                6646
Name: 20906, dtype: object
Northlake Age                          65
M/F                           M
City                  Northlake
State                        IL
Country                     USA
Half            0 days 02:01:12
40K             0 days 04:24:50
Pace                    0:10:43
TotalSeconds              15890
HalfSeconds                7272
Name: 24601, dtype: object
Northport Age                          58
M/F                           M
City                  Northport
State                        NY
Country                     USA
Half            0 days 01:37:55
40K             0 days 03:25:14
Pace                    0:08:19
TotalSeconds              12314
HalfSeconds                5875
Name: 11276, dtype: object
Northriding Age                          48
M/F                           M
City                Northriding
State                       NaN
Country                     RSA
Half            0 days 01:42:33
40K             0 days 03:23:37
Pace                    0:08:16
TotalSeconds              12217
HalfSeconds                6153
Name: 11437, dtype: object
Northumberland Age                          63
M/F                           M
City             Northumberland
State                        PA
Country                     USA
Half            0 days 01:42:37
40K             0 days 03:24:40
Pace                    0:08:16
TotalSeconds              12280
HalfSeconds                6157
Name: 8840, dtype: object
Northville Age                          43
M/F                           M
City                 Northville
State                        MI
Country                     USA
Half            0 days 01:33:34
40K             0 days 03:00:51
Pace                    0:07:19
TotalSeconds              10851
HalfSeconds                5614
Name: 8149, dtype: object
Northwood Age                          47
M/F                           M
City                  Northwood
State                        NH
Country                     USA
Half            0 days 01:44:01
40K             0 days 03:25:22
Pace                    0:08:18
TotalSeconds              12322
HalfSeconds                6241
Name: 9337, dtype: object
Northyork Age                          49
M/F                           F
City                  Northyork
State                        ON
Country                     CAN
Half            0 days 01:58:00
40K             0 days 03:47:56
Pace                    0:09:09
TotalSeconds              13676
HalfSeconds                7080
Name: 17845, dtype: object
Norton Age                          55
M/F                           M
City                     Norton
State                        OH
Country                     USA
Half            0 days 01:38:39
40K             0 days 03:32:13
Pace                    0:08:34
TotalSeconds              12733
HalfSeconds                5919
Name: 10622, dtype: object
Norton Shores Age                          49
M/F                           M
City              Norton Shores
State                        MI
Country                     USA
Half            0 days 01:34:16
40K             0 days 03:01:33
Pace                    0:07:20
TotalSeconds              10893
HalfSeconds                5656
Name: 8402, dtype: object
Norwalk Age                          46
M/F                           M
City                    Norwalk
State                        CT
Country                     USA
Half            0 days 01:37:37
40K             0 days 03:12:18
Pace                    0:07:45
TotalSeconds              11538
HalfSeconds                5857
Name: 10762, dtype: object
Norwell Age                          40
M/F                           M
City                    Norwell
State                        MA
Country                     USA
Half            0 days 01:33:09
40K             0 days 03:11:02
Pace                    0:07:44
TotalSeconds              11462
HalfSeconds                5589
Name: 3028, dtype: object
Norwich Age                          42
M/F                           F
City                    Norwich
State                        VT
Country                     USA
Half            0 days 01:46:34
40K             0 days 03:29:57
Pace                    0:08:29
TotalSeconds              12597
HalfSeconds                6394
Name: 19320, dtype: object
Norwood Age                          42
M/F                           M
City                    Norwood
State                        MA
Country                     USA
Half            0 days 01:34:07
40K             0 days 03:01:39
Pace                    0:07:21
TotalSeconds              10899
HalfSeconds                5647
Name: 5791, dtype: object
Notre-Dame-De-L'Ile-Perrot Age                                     47
M/F                                      M
City            Notre-Dame-De-L'Ile-Perrot
State                                   QC
Country                                CAN
Half                       0 days 01:37:08
40K                        0 days 03:10:52
Pace                               0:07:41
TotalSeconds                         11452
HalfSeconds                           5828
Name: 9472, dtype: object
Nottingham Age                          41
M/F                           M
City                 Nottingham
State                       NaN
Country                     GBR
Half            0 days 01:32:12
40K             0 days 03:02:01
Pace                    0:07:21
TotalSeconds              10921
HalfSeconds                5532
Name: 3079, dtype: object
Nottinghamshire Age                          52
M/F                           M
City            Nottinghamshire
State                       NaN
Country                     GBR
Half            0 days 01:29:49
40K             0 days 03:05:27
Pace                    0:07:35
TotalSeconds              11127
HalfSeconds                5389
Name: 5515, dtype: object
Novato Age                          26
M/F                           F
City                     Novato
State                        CA
Country                     USA
Half            0 days 01:35:05
40K             0 days 03:10:54
Pace                    0:07:41
TotalSeconds              11454
HalfSeconds                5705
Name: 9458, dtype: object
Novi Age                          27
M/F                           M
City                       Novi
State                        MI
Country                     USA
Half            0 days 01:27:16
40K             0 days 02:49:42
Pace                    0:06:51
TotalSeconds              10182
HalfSeconds                5236
Name: 1812, dtype: object
Nsw Age                          39
M/F                           M
City                        Nsw
State                       NaN
Country                     AUS
Half            0 days 01:26:02
40K             0 days 03:01:21
Pace                    0:07:23
TotalSeconds              10881
HalfSeconds                5162
Name: 3593, dtype: object
Nt Age                          50
M/F                           M
City                         Nt
State                       NaN
Country                     HKG
Half            0 days 01:31:52
40K             0 days 03:02:39
Pace                    0:07:23
TotalSeconds              10959
HalfSeconds                5512
Name: 5729, dtype: object
Nuernberg Age                          54
M/F                           M
City                  Nuernberg
State                       NaN
Country                     GER
Half            0 days 02:11:33
40K             0 days 04:21:07
Pace                    0:10:31
TotalSeconds              15667
HalfSeconds                7893
Name: 30837, dtype: object
Nunawading Age                          33

Orangeburg Age                          47
M/F                           M
City                 Orangeburg
State                        NY
Country                     USA
Half            0 days 01:52:51
40K             0 days 04:03:06
Pace                    0:09:57
TotalSeconds              14586
HalfSeconds                6771
Name: 12565, dtype: object
Orangevale Age                          34
M/F                           F
City                 Orangevale
State                        CA
Country                     USA
Half            0 days 01:48:11
40K             0 days 03:32:39
Pace                    0:08:33
TotalSeconds              12759
HalfSeconds                6491
Name: 16950, dtype: object
Orangeville Age                          46
M/F                           F
City                Orangeville
State                        ON
Country                     CAN
Half            0 days 02:02:42
40K             0 days 04:06:54
Pace                    0:09:57
TotalSeconds              14814
HalfSeconds                7362
Name: 22484, dtype: object
Oranienburg Age                          58
M/F                           M
City                Oranienburg
State                       NaN
Country                     GER
Half            0 days 02:06:15
40K             0 days 04:39:40
Pace                    0:11:22
TotalSeconds              16780
HalfSeconds                7575
Name: 31870, dtype: object
Orchard Lake Age                          59
M/F                           M
City               Orchard Lake
State                        MI
Country                     USA
Half            0 days 01:27:06
40K             0 days 02:51:03
Pace                    0:06:54
TotalSeconds              10263
HalfSeconds                5226
Name: 1847, dtype: object
Orchard Park Age                          28
M/F                           F
City               Orchard Park
State                        NY
Country                     USA
Half            0 days 01:38:47
40K             0 days 03:11:07
Pace                    0:07:42
TotalSeconds              11467
HalfSeconds                5927
Name: 11782, dtype: object
Oregon Age                          45
M/F                           F
City                     Oregon
State                        WI
Country                     USA
Half            0 days 01:55:12
40K             0 days 03:50:04
Pace                    0:09:22
TotalSeconds              13804
HalfSeconds                6912
Name: 22688, dtype: object
Oreland Age                          61
M/F                           M
City                    Oreland
State                        PA
Country                     USA
Half            0 days 01:56:29
40K             0 days 03:46:57
Pace                    0:09:12
TotalSeconds              13617
HalfSeconds                6989
Name: 24328, dtype: object
Orem Age                          30
M/F                           M
City                       Orem
State                        UT
Country                     USA
Half            0 days 01:34:40
40K             0 days 03:17:07
Pace                    0:08:08
TotalSeconds              11827
HalfSeconds                5680
Name: 863, dtype: object
Orford Age                          64
M/F                           M
City                     Orford
State                        QC
Country                     CAN
Half            0 days 02:03:48
40K             0 days 03:59:32
Pace                    0:09:39
TotalSeconds              14372
HalfSeconds                7428
Name: 21960, dtype: object
Orillia Age                          60
M/F                           F
City                    Orillia
State                        ON
Country                     CAN
Half            0 days 01:43:03
40K             0 days 03:23:17
Pace                    0:08:13
TotalSeconds              12197
HalfSeconds                6183
Name: 12879, dtype: object
Orinda Age                          21
M/F                           M
City                     Orinda
State                        CA
Country                     USA
Half            0 days 01:19:14
40K             0 days 02:45:09
Pace                    0:06:41
TotalSeconds               9909
HalfSeconds                4754
Name: 393, dtype: object
Oriskany Age                          47
M/F                           M
City                   Oriskany
State                        NY
Country                     USA
Half            0 days 01:32:14
40K             0 days 03:03:59
Pace                    0:07:27
TotalSeconds              11039
HalfSeconds                5534
Name: 1535, dtype: object
Orland Park Age                          31
M/F                           F
City                Orland Park
State                        IL
Country                     USA
Half            0 days 01:34:20
40K             0 days 03:03:34
Pace                    0:07:24
TotalSeconds              11014
HalfSeconds                5660
Name: 5886, dtype: object
Orlando Age                          38
M/F                           M
City                    Orlando
State                        FL
Country                     USA
Half            0 days 01:23:50
40K             0 days 02:43:13
Pace                    0:06:35
TotalSeconds               9793
HalfSeconds                5030
Name: 1104, dtype: object
Orleans Age                          41
M/F                           M
City                    Orleans
State                        ON
Country                     CAN
Half            0 days 01:30:12
40K             0 days 03:00:51
Pace                    0:07:18
TotalSeconds              10851
HalfSeconds                5412
Name: 5582, dtype: object
Ormond Beach Age                          47
M/F                           F
City               Ormond Beach
State                        FL
Country                     USA
Half            0 days 01:55:21
40K             0 days 03:41:39
Pace                    0:08:57
TotalSeconds              13299
HalfSeconds                6921
Name: 24212, dtype: object
Oro Grande Age                          29
M/F                           M
City                 Oro Grande
State                        CA
Country                     USA
Half            0 days 01:26:24
40K             0 days 02:50:41
Pace                    0:06:56
TotalSeconds              10241
HalfSeconds                5184
Name: 2677, dtype: object
Oro Valley Age                          40
M/F                           F
City                 Oro Valley
State                        AZ
Country                     USA
Half            0 days 01:43:17
40K             0 days 03:21:12
Pace                    0:08:07
TotalSeconds              12072
HalfSeconds                6197
Name: 14549, dtype: object
Oro-Medonte Age                          57
M/F                           F
City                Oro-Medonte
State                        ON
Country                     CAN
Half            0 days 01:45:31
40K             0 days 03:26:19
Pace                    0:08:20
TotalSeconds              12379
HalfSeconds                6331
Name: 22925, dtype: object
Orono Age                          51
M/F                           M
City                      Orono
State                        MN
Country                     USA
Half            0 days 01:44:00
40K             0 days 03:22:52
Pace                    0:08:12
TotalSeconds              12172
HalfSeconds                6240
Name: 14334, dtype: object
Ortisei - Bolzano Age                            58
M/F                             F
City            Ortisei - Bolzano
State                         NaN
Country                       ITA
Half              0 days 02:25:30
40K               0 days 04:49:35
Pace                      0:11:39
TotalSeconds                17375
HalfSeconds                  8730
Name: 31508, dtype: object
Ortonville Age                          49
M/F                           F
City                 Ortonville
State                        MI
Country                     USA
Half            0 days 01:58:36
40K             0 days 03:57:35
Pace                    0:09:35
TotalSeconds              14255
HalfSeconds                7116
Name: 20572, dtype: object
Orwigsburg Age                          35
M/F                           F
City                 Orwigsburg
State                        PA
Country                     USA
Half            0 days 01:46:02
40K             0 days 03:23:34
Pace                    0:08:11
TotalSeconds              12214
HalfSeconds                6362
Name: 14612, dtype: object
Osaka Age                          46
M/F                           F
City                      Osaka
State                       NaN
Country                     JPN
Half            0 days 01:42:38
40K             0 days 03:22:15
Pace                    0:08:10
TotalSeconds              12135
HalfSeconds                6158
Name: 9530, dtype: object
Oshawa Age                          35
M/F                           M
City                     Oshawa
State                        ON
Country                     CAN
Half            0 days 01:34:01
40K             0 days 03:20:06
Pace                    0:08:05
TotalSeconds              12006
HalfSeconds                5641
Name: 6013, dtype: object
Oshkosh Age                          27
M/F                           F
City                    Oshkosh
State                        WI
Country                     USA
Half            0 days 01:42:38
40K             0 days 03:19:14
Pace                    0:08:01
TotalSeconds              11954
HalfSeconds                6158
Name: 14022, dtype: object
Oslo Age                          34
M/F                           M
City                       Oslo
State                       NaN
Country                     NOR
Half            0 days 01:19:31
40K             0 days 02:39:27
Pace                    0:06:27
TotalSeconds               9567
HalfSeconds                4771
Name: 478, dtype: object
Osnabrueck Age                          55
M/F                           M
City                 Osnabrueck
State                       NaN
Country                     GER
Half            0 days 01:55:05
40K             0 days 03:46:15
Pace                    0:09:05
TotalSeconds              13575
HalfSeconds                6905
Name: 12883, dtype: object
Osseo Age                          54
M/F                           F
City                      Osseo
State                        WI
Country                     USA
Half            0 days 01:58:31
40K             0 days 03:55:12
Pace                    0:09:28
TotalSeconds              14112
HalfSeconds                7111
Name: 19980, dtype: object
Ossipee Age                          51
M/F                           M
City                    Ossipee
State                        NH
Country                     USA
Half            0 days 01:33:39
40K             0 days 03:14:41
Pace                    0:07:52
TotalSeconds              11681
HalfSeconds                5619
Name: 5687, dtype: object
Ostersund Age                          35
M/F                           M
City                  Ostersund
State                       NaN
Country                     SWE
Half            0 days 01:26:14
40K             0 days 02:58:26
Pace                    0:07:18
TotalSeconds              10706
HalfSeconds                5174
Name: 1960, dtype: object
Osterville Age                          49
M/F                           M
City                 Osterville
State                        MA
Country                     USA
Half            0 days 02:08:24
40K             0 days 04:02:47
Pace                    0:09:43
TotalSeconds              14567
HalfSeconds                7704
Name: 28966, dtype: object
Ostrander Age                          61
M/F                           F
City                  Ostrander
State                        OH
Country                     USA
Half            0 days 02:02:39
40K             0 days 04:01:07
Pace                    0:09:45
TotalSeconds              14467
HalfSeconds                7359
Name: 25789, dtype: object
Oswego Age                          26
M/F                           M
City                     Oswego
State                        IL
Country                     USA
Half            0 days 01:30:24
40K             0 days 03:04:05
Pace                    0:07:28
TotalSeconds              11045
HalfSeconds                5424
Name: 2243, dtype: object
Otisfield Age                          44
M/F                           F
City                  Otisfield
State                        ME
Country                     USA
Half            0 days 01:47:24
40K             0 days 03:28:14
Pace                    0:08:23
TotalSeconds              12494
HalfSeconds                6444
Name: 17728, dtype: object
Otsego Age                          51
M/F                           F
City                     Otsego
State                        MI
Country                     USA
Half            0 days 01:54:19
40K             0 days 03:55:08
Pace                    0:09:27
TotalSeconds              14108
HalfSeconds                6859
Name: 22515, dtype: object
Ottawa Age                          31
M/F                           M
City                     Ottawa
State                        ON
Country                     CAN
Half            0 days 01:16:36
40K             0 days 02:34:01
Pace                    0:06:13
TotalSeconds               9241
HalfSeconds                4596
Name: 722, dtype: object
Ottawa Hills Age                          47
M/F                           F
City               Ottawa Hills
State                        OH
Country                     USA
Half            0 days 01:47:17
40K             0 days 03:28:43
Pace                    0:08:27
TotalSeconds              12523
HalfSeconds                6437
Name: 18179, dtype: object
Ottawa Lake Age                          50
M/F                           M
City                Ottawa Lake
State                        MI
Country                     USA
Half            0 days 01:51:36
40K             0 days 04:21:55
Pace                    0:10:35
TotalSeconds              15715
HalfSeconds                6696
Name: 11115, dtype: object
Ottawa Ontario Age                          52
M/F                           M
City             Ottawa Ontario
State                        ON
Country                     CAN
Half            0 days 01:43:24
40K             0 days 03:22:16
Pace                    0:08:11
TotalSeconds              12136
HalfSeconds                6204
Name: 12681, dtype: object
Otterburn Park Age                          36
M/F                           M
City             Otterburn Park
State                        QC
Country                     CAN
Half            0 days 01:34:44
40K             0 days 03:25:23
Pace                    0:08:20
TotalSeconds              12323
HalfSeconds                5684
Name: 5761, dtype: object
Oume Age                          62
M/F                           M
City                       Oume
State                       NaN
Country                     JPN
Half            0 days 01:53:23
40K             0 days 03:51:22
Pace                    0:09:25
TotalSeconds              13882
HalfSeconds                6803
Name: 23119, dtype: object
Outremont Age                          27
M/F                           F
City                  Outremont
State                        QC
Country                     CAN
Half            0 days 01:41:10
40K             0 days 03:18:46
Pace                    0:08:03
TotalSeconds              11926
HalfSeconds                6070
Name: 17559, dtype: object
Overland Park Age                          25
M/F                           M
City              Overland Park
State                        KS
Country                     USA
Half            0 days 01:19:26
40K             0 days 02:51:20
Pace                    0:06:57
TotalSeconds              10280
HalfSeconds                4766
Name: 1339, dtype: object
Oviedo Age                          34
M/F                           M
City                     Oviedo
State                        FL
Country                     USA
Half            0 days 01:25:24
40K             0 days 02:52:19
Pace                    0:07:00
TotalSeconds              10339
HalfSeconds                5124
Name: 1419, dtype: object
Owasso Age                          29
M/F                           F
City                     Owasso
State                        OK
Country                     USA
Half            0 days 02:32:46
40K             0 days 05:18:15
Pace                    0:12:48
TotalSeconds              19095
HalfSeconds                9166
Name: 30175, dtype: object
Owatonna Age                          45
M/F                           M
City                   Owatonna
State                        MN
Country                     USA
Half            0 days 01:33:51
40K             0 days 03:06:53
Pace                    0:07:34
TotalSeconds              11213
HalfSeconds                5631
Name: 3622, dtype: object
Owens Cross Roads Age                            42
M/F                             F
City            Owens Cross Roads
State                          AL
Country                       USA
Half              0 days 01:48:42
40K               0 days 03:31:02
Pace                      0:08:31
TotalSeconds                12662
HalfSeconds                  6522
Name: 19799, dtype: object
Owensboro Age                          45
M/F                           M
City                  Owensboro
State                        KY
Country                     USA
Half            0 days 01:41:23
40K             0 days 03:17:29
Pace                    0:07:55
TotalSeconds              11849
HalfSeconds                6083
Name: 7291, dtype: object
Owings Mills Age                          57
M/F                           M
City               Owings Mills
State                        MD
Country                     USA
Half            0 days 02:06:34
40K             0 days 04:22:08
Pace                    0:10:35
TotalSeconds              15728
HalfSeconds                7594
Name: 29355, dtype: object
Owosso Age                          37
M/F                           F
City                     Owosso
State                        MI
Country                     USA
Half            0 days 01:39:02
40K             0 days 03:13:01
Pace                    0:07:47
TotalSeconds              11581
HalfSeconds                5942
Name: 15088, dtype: object
Oxford Age                          41
M/F                           M
City                     Oxford
State                        MS
Country                     USA
Half            0 days 01:33:03
40K             0 days 02:57:19
Pace                    0:07:10
TotalSeconds              10639
HalfSeconds                5583
Name: 7238, dtype: object
Oxnard Age                          34
M/F                           M
City                     Oxnard
State                        CA
Country                     USA
Half            0 days 01:31:01
40K             0 days 03:00:59
Pace                    0:07:19
TotalSeconds              10859
HalfSeconds                5461
Name: 4918, dtype: object
Oyama, Tochigi Age                          51
M/F                           M
City             Oyama, Tochigi
State                       NaN
Country                     JPN
Half            0 days 01:28:44
40K             0 days 02:56:18
Pace                    0:07:09
TotalSeconds              10578
HalfSeconds                5324
Name: 4496, dtype: object
Oyster Bay Age                          37
M/F                           F
City                 Oyster Bay
State                        NY
Country                     USA
Half            0 days 01:52:51
40K             0 days 03:59:52
Pace                    0:09:42
TotalSeconds              14392
HalfSeconds                6771
Name: 18653, dtype: object

Patterson Age                          49
M/F                           F
City                  Patterson
State                        MO
Country                     USA
Half            0 days 01:58:12
40K             0 days 04:06:51
Pace                    0:10:04
TotalSeconds              14811
HalfSeconds                7092
Name: 24378, dtype: object
Pawtucket Age                          34
M/F                           F
City                  Pawtucket
State                        RI
Country                     USA
Half            0 days 01:39:21
40K             0 days 03:08:51
Pace                    0:07:38
TotalSeconds              11331
HalfSeconds                5961
Name: 14562, dtype: object
Paxton Age                          47
M/F                           F
City                     Paxton
State                        MA
Country                     USA
Half            0 days 01:59:24
40K             0 days 04:00:38
Pace                    0:09:43
TotalSeconds              14438
HalfSeconds                7164
Name: 22542, dtype: object
Payson Age                          59
M/F                           M
City                     Payson
State                        UT
Country                     USA
Half            0 days 01:40:58
40K             0 days 03:22:53
Pace                    0:08:16
TotalSeconds              12173
HalfSeconds                6058
Name: 8415, dtype: object
Peabody Age                          27
M/F                           F
City                    Peabody
State                        MA
Country                     USA
Half            0 days 01:25:46
40K             0 days 02:51:12
Pace                    0:06:55
TotalSeconds              10272
HalfSeconds                5146
Name: 2082, dtype: object
Peach Bottom Age                          54
M/F                           M
City               Peach Bottom
State                        PA
Country                     USA
Half            0 days 02:17:10
40K             0 days 05:12:11
Pace                    0:12:30
TotalSeconds              18731
HalfSeconds                8230
Name: 29564, dtype: object
Peachtree City Age                          45
M/F                           F
City             Peachtree City
State                        GA
Country                     USA
Half            0 days 01:49:25
40K             0 days 03:39:00
Pace                    0:08:51
TotalSeconds              13140
HalfSeconds                6565
Name: 22000, dtype: object
Peachtree Corners Age                            41
M/F                             M
City            Peachtree Corners
State                          GA
Country                       USA
Half              0 days 01:32:58
40K               0 days 03:05:32
Pace                      0:07:30
TotalSeconds                11132
HalfSeconds                  5578
Name: 5071, dtype: object
Peaks Island Age                          39
M/F                           M
City               Peaks Island
State                        ME
Country                     USA
Half            0 days 01:31:53
40K             0 days 03:05:31
Pace                    0:07:29
TotalSeconds              11131
HalfSeconds                5513
Name: 4625, dtype: object
Pear River Age                          41
M/F                           M
City                 Pear River
State                        NY
Country                     USA
Half            0 days 02:07:21
40K             0 days 04:32:38
Pace                    0:10:57
TotalSeconds              16358
HalfSeconds                7641
Name: 26271, dtype: object
Pearl River Age                          47
M/F                           M
City                Pearl River
State                        NY
Country                     USA
Half            0 days 01:47:43
40K             0 days 03:46:42
Pace                    0:09:08
TotalSeconds              13602
HalfSeconds                6463
Name: 9748, dtype: object
Pearland Age                          24
M/F                           M
City                   Pearland
State                        TX
Country                     USA
Half            0 days 01:18:25
40K             0 days 02:45:59
Pace                    0:06:43
TotalSeconds               9959
HalfSeconds                4705
Name: 524, dtype: object
Pebble Beach Age                          68
M/F                           M
City               Pebble Beach
State                        CA
Country                     USA
Half            0 days 01:57:40
40K             0 days 04:01:11
Pace                    0:09:47
TotalSeconds              14471
HalfSeconds                7060
Name: 24953, dtype: object
Peckville Age                          24
M/F                           M
City                  Peckville
State                        PA
Country                     USA
Half            0 days 01:19:27
40K             0 days 02:42:27
Pace                    0:06:36
TotalSeconds               9747
HalfSeconds                4767
Name: 608, dtype: object
Peekskill Age                          26
M/F                           M
City                  Peekskill
State                        NY
Country                     USA
Half            0 days 01:22:42
40K             0 days 02:46:20
Pace                    0:06:44
TotalSeconds               9980
HalfSeconds                4962
Name: 932, dtype: object
Pekin Age                          48
M/F                           M
City                      Pekin
State                        IN
Country                     USA
Half            0 days 01:29:56
40K             0 days 03:05:18
Pace                    0:07:31
TotalSeconds              11118
HalfSeconds                5396
Name: 8433, dtype: object
Pelham Age                          42
M/F                           M
City                     Pelham
State                        NH
Country                     USA
Half            0 days 01:35:10
40K             0 days 03:07:06
Pace                    0:07:32
TotalSeconds              11226
HalfSeconds                5710
Name: 13328, dtype: object
Pell City Age                          53
M/F                           F
City                  Pell City
State                        AL
Country                     USA
Half            0 days 02:03:47
40K             0 days 04:02:50
Pace                    0:09:48
TotalSeconds              14570
HalfSeconds                7427
Name: 24964, dtype: object
Pella Age                          55
M/F                           M
City                      Pella
State                        IA
Country                     USA
Half            0 days 01:39:04
40K             0 days 03:19:40
Pace                    0:08:05
TotalSeconds              11980
HalfSeconds                5944
Name: 8063, dtype: object
Pellenberg Age                          33
M/F                           M
City                 Pellenberg
State                       NaN
Country                     BEL
Half            0 days 01:39:32
40K             0 days 03:12:19
Pace                    0:07:45
TotalSeconds              11539
HalfSeconds                5972
Name: 31285, dtype: object
Pelzer Age                          37
M/F                           M
City                     Pelzer
State                        SC
Country                     USA
Half            0 days 01:29:20
40K             0 days 02:58:07
Pace                    0:07:25
TotalSeconds              10687
HalfSeconds                5360
Name: 6760, dtype: object
Pembroke Age                          22
M/F                           M
City                   Pembroke
State                        MA
Country                     USA
Half            0 days 01:25:07
40K             0 days 02:50:43
Pace                    0:06:56
TotalSeconds              10243
HalfSeconds                5107
Name: 4138, dtype: object
Pembroke Pines Age                          51
M/F                           F
City             Pembroke Pines
State                        FL
Country                     USA
Half            0 days 01:59:09
40K             0 days 04:04:16
Pace                    0:09:51
TotalSeconds              14656
HalfSeconds                7149
Name: 19393, dtype: object
Penacook Age                          51
M/F                           M
City                   Penacook
State                        NH
Country                     USA
Half            0 days 01:36:49
40K             0 days 03:22:33
Pace                    0:08:24
TotalSeconds              12153
HalfSeconds                5809
Name: 8014, dtype: object
Penapolis, Sao Paulo Age                               34
M/F                                M
City            Penapolis, Sao Paulo
State                            NaN
Country                          BRA
Half                 0 days 01:06:47
40K                  0 days 02:16:29
Pace                         0:05:32
TotalSeconds                    8189
HalfSeconds                     4007
Name: 19, dtype: object
Pendleton Age                          43
M/F                           F
City                  Pendleton
State                        SC
Country                     USA
Half            0 days 01:40:28
40K             0 days 03:27:23
Pace                    0:08:24
TotalSeconds              12443
HalfSeconds                6028
Name: 7339, dtype: object
Penfeild Age                          40
M/F                           F
City                   Penfeild
State                        NY
Country                     USA
Half            0 days 01:48:16
40K             0 days 03:51:09
Pace                    0:09:24
TotalSeconds              13869
HalfSeconds                6496
Name: 16556, dtype: object
Penfield Age                          28
M/F                           F
City                   Penfield
State                        NY
Country                     USA
Half            0 days 01:47:06
40K             0 days 03:35:20
Pace                    0:08:42
TotalSeconds              12920
HalfSeconds                6426
Name: 17381, dtype: object
Penhold Age                          46
M/F                           M
City                    Penhold
State                        AB
Country                     CAN
Half            0 days 01:36:15
40K             0 days 03:09:37
Pace                    0:07:41
TotalSeconds              11377
HalfSeconds                5775
Name: 10221, dtype: object
Penn Valley Age                          44
M/F                           F
City                Penn Valley
State                        PA
Country                     USA
Half            0 days 01:45:04
40K             0 days 03:28:09
Pace                    0:08:26
TotalSeconds              12489
HalfSeconds                6304
Name: 19056, dtype: object
Penn Yan Age                          40
M/F                           F
City                   Penn Yan
State                        NY
Country                     USA
Half            0 days 01:44:37
40K             0 days 03:22:37
Pace                    0:08:10
TotalSeconds              12157
HalfSeconds                6277
Name: 16676, dtype: object
Penneshaw Sa Age                          51
M/F                           F
City               Penneshaw Sa
State                       NaN
Country                     AUS
Half            0 days 02:05:06
40K             0 days 04:07:34
Pace                    0:09:57
TotalSeconds              14854
HalfSeconds                7506
Name: 24337, dtype: object
Pennington Age                          46
M/F                           F
City                 Pennington
State                        NJ
Country                     USA
Half            0 days 01:43:11
40K             0 days 03:17:10
Pace                    0:07:56
TotalSeconds              11830
HalfSeconds                6191
Name: 16142, dtype: object
Pensacola Age                          34
M/F                           M
City                  Pensacola
State                        FL
Country                     USA
Half            0 days 01:16:57
40K             0 days 02:30:38
Pace                    0:06:04
TotalSeconds               9038
HalfSeconds                4617
Name: 235, dtype: object
Penticton Age                          63
M/F                           F
City                  Penticton
State                        BC
Country                     CAN
Half            0 days 02:05:00
40K             0 days 04:07:34
Pace                    0:09:57
TotalSeconds              14854
HalfSeconds                7500
Name: 25811, dtype: object
Peoria Age                          26
M/F                           M
City                     Peoria
State                        IL
Country                     USA
Half            0 days 01:22:36
40K             0 days 02:53:35
Pace                    0:07:00
TotalSeconds              10415
HalfSeconds                4956
Name: 874, dtype: object
Pepper Pike Age                          43
M/F                           M
City                Pepper Pike
State                        OH
Country                     USA
Half            0 days 01:29:01
40K             0 days 03:01:55
Pace                    0:07:23
TotalSeconds              10915
HalfSeconds                5341
Name: 2780, dtype: object
Pepperell Age                          50
M/F                           F
City                  Pepperell
State                        MA
Country                     USA
Half            0 days 01:53:13
40K             0 days 03:41:44
Pace                    0:08:56
TotalSeconds              13304
HalfSeconds                6793
Name: 22744, dtype: object
Pereira, Risaralda Age                             76
M/F                              M
City            Pereira, Risaralda
State                          NaN
Country                        COL
Half               0 days 01:43:00
40K                0 days 03:27:18
Pace                       0:08:24
TotalSeconds                 12438
HalfSeconds                   6180
Name: 14419, dtype: object
Perkasie Age                          39
M/F                           M
City                   Perkasie
State                        PA
Country                     USA
Half            0 days 01:24:24
40K             0 days 03:05:59
Pace                    0:07:34
TotalSeconds              11159
HalfSeconds                5064
Name: 2623, dtype: object
Perkiomenville Age                          58
M/F                           M
City             Perkiomenville
State                        PA
Country                     USA
Half            0 days 01:38:19
40K             0 days 03:11:50
Pace                    0:07:44
TotalSeconds              11510
HalfSeconds                5899
Name: 9771, dtype: object
Perly Age                          53
M/F                           M
City                      Perly
State                       NaN
Country                     SUI
Half            0 days 01:45:10
40K             0 days 03:21:52
Pace                    0:08:08
TotalSeconds              12112
HalfSeconds                6310
Name: 13527, dtype: object
Perris Age                          53
M/F                           F
City                     Perris
State                        CA
Country                     USA
Half            0 days 02:01:22
40K             0 days 04:00:13
Pace                    0:09:44
TotalSeconds              14413
HalfSeconds                7282
Name: 23126, dtype: object
Perry Age                          44
M/F                           M
City                      Perry
State                        MI
Country                     USA
Half            0 days 01:29:30
40K             0 days 03:01:08
Pace                    0:07:23
TotalSeconds              10868
HalfSeconds                5370
Name: 4828, dtype: object
Perrysburg Age                          24
M/F                           M
City                 Perrysburg
State                        OH
Country                     USA
Half            0 days 01:14:15
40K             0 days 02:27:03
Pace                    0:05:58
TotalSeconds               8823
HalfSeconds                4455
Name: 116, dtype: object
Perryville Age                          51
M/F                           M
City                 Perryville
State                        MO
Country                     USA
Half            0 days 02:00:47
40K             0 days 04:50:50
Pace                    0:11:46
TotalSeconds              17450
HalfSeconds                7247
Name: 14107, dtype: object
Perth Age                          42
M/F                           M
City                      Perth
State                       NaN
Country                     GBR
Half            0 days 01:30:38
40K             0 days 03:07:30
Pace                    0:07:37
TotalSeconds              11250
HalfSeconds                5438
Name: 6943, dtype: object
Perth, Western Australia Age                                   44
M/F                                    F
City            Perth, Western Australia
State                                NaN
Country                              AUS
Half                     0 days 01:43:27
40K                      0 days 03:21:26
Pace                             0:08:08
TotalSeconds                       12086
HalfSeconds                         6207
Name: 19133, dtype: object
Perthshire Age                          55
M/F                           M
City                 Perthshire
State                       NaN
Country                     GBR
Half            0 days 02:06:47
40K             0 days 04:43:54
Pace                    0:11:23
TotalSeconds              17034
HalfSeconds                7607
Name: 31505, dtype: object
Peru Age                          45
M/F                           M
City                       Peru
State                        IN
Country                     USA
Half            0 days 01:31:22
40K             0 days 03:24:41
Pace                    0:08:22
TotalSeconds              12281
HalfSeconds                5482
Name: 3059, dtype: object
Pesaro Age                          57
M/F                           M
City                     Pesaro
State                       NaN
Country                     ITA
Half            0 days 01:45:31
40K             0 days 03:28:10
Pace                    0:08:27
TotalSeconds              12490
HalfSeconds                6331
Name: 17109, dtype: object
Peschiera Borromeo Milano Age                                    46
M/F                                     M
City            Peschiera Borromeo Milano
State                                 NaN
Country                               ITA
Half                      0 days 01:31:59
40K                       0 days 03:02:15
Pace                              0:07:22
TotalSeconds                        10935
HalfSeconds                          5519
Name: 6322, dtype: object
Peschiera Borromeo-Mi Age                                41
M/F                                 M
City            Peschiera Borromeo-Mi
State                             NaN
Country                           ITA
Half                  0 days 01:44:09
40K                   0 days 03:27:11
Pace                          0:08:21
TotalSeconds                    12431
HalfSeconds                      6249
Name: 31618, dtype: object
Petaluma Age                          43
M/F                           M
City                   Petaluma
State                        CA
Country                     USA
Half            0 days 01:36:03
40K             0 days 03:02:32
Pace                    0:07:21
TotalSeconds              10952
HalfSeconds                5763
Name: 2413, dtype: object
Peterborough Age                          53
M/F                           F
City               Peterborough
State                        NH
Country                     USA
Half            0 days 01:52:56
40K             0 days 03:38:37
Pace                    0:08:48
TotalSeconds              13117
HalfSeconds                6776

Polcenigo-Pn Age                          59
M/F                           M
City               Polcenigo-Pn
State                       NaN
Country                     ITA
Half            0 days 02:22:53
40K             0 days 04:45:21
Pace                    0:11:30
TotalSeconds              17121
HalfSeconds                8573
Name: 31619, dtype: object
Polk City Age                          45
M/F                           F
City                  Polk City
State                        FL
Country                     USA
Half            0 days 01:47:37
40K             0 days 03:29:20
Pace                    0:08:25
TotalSeconds              12560
HalfSeconds                6457
Name: 18715, dtype: object
Pollionnay Age                          50
M/F                           M
City                 Pollionnay
State                       NaN
Country                     FRA
Half            0 days 02:00:31
40K             0 days 04:25:44
Pace                    0:10:43
TotalSeconds              15944
HalfSeconds                7231
Name: 30074, dtype: object
Pomfret Age                          25
M/F                           F
City                    Pomfret
State                        CT
Country                     USA
Half            0 days 01:45:24
40K             0 days 03:21:07
Pace                    0:08:05
TotalSeconds              12067
HalfSeconds                6324
Name: 17512, dtype: object
Pomona Age                          43
M/F                           M
City                     Pomona
State                        NY
Country                     USA
Half            0 days 01:30:17
40K             0 days 03:00:01
Pace                    0:07:16
TotalSeconds              10801
HalfSeconds                5417
Name: 2222, dtype: object
Pompano Beach Age                          44
M/F                           F
City              Pompano Beach
State                        FL
Country                     USA
Half            0 days 01:44:48
40K             0 days 03:23:35
Pace                    0:08:13
TotalSeconds              12215
HalfSeconds                6288
Name: 19466, dtype: object
Ponca City Age                          39
M/F                           F
City                 Ponca City
State                        OK
Country                     USA
Half            0 days 02:21:30
40K             0 days 04:41:07
Pace                    0:11:17
TotalSeconds              16867
HalfSeconds                8490
Name: 30595, dtype: object
Ponchatoula Age                          28
M/F                           F
City                Ponchatoula
State                        LA
Country                     USA
Half            0 days 01:48:03
40K             0 days 03:47:39
Pace                    0:09:13
TotalSeconds              13659
HalfSeconds                6483
Name: 13361, dtype: object
Pont-Rouge Age                          42
M/F                           M
City                 Pont-Rouge
State                        QC
Country                     CAN
Half            0 days 01:28:33
40K             0 days 02:50:22
Pace                    0:06:52
TotalSeconds              10222
HalfSeconds                5313
Name: 6285, dtype: object
Ponte Vedra Age                          45
M/F                           M
City                Ponte Vedra
State                        FL
Country                     USA
Half            0 days 01:52:53
40K             0 days 03:39:24
Pace                    0:08:52
TotalSeconds              13164
HalfSeconds                6773
Name: 11025, dtype: object
Ponte Vedra Beach Age                            35
M/F                             F
City            Ponte Vedra Beach
State                          FL
Country                       USA
Half              0 days 01:38:20
40K               0 days 03:09:40
Pace                      0:07:39
TotalSeconds                11380
HalfSeconds                  5900
Name: 8454, dtype: object
Pontedera-Pi Age                          60
M/F                           M
City               Pontedera-Pi
State                       NaN
Country                     ITA
Half            0 days 02:00:29
40K             0 days 03:57:14
Pace                    0:09:34
TotalSeconds              14234
HalfSeconds                7229
Name: 31607, dtype: object
Pontefract Age                          64
M/F                           M
City                 Pontefract
State                       NaN
Country                     GBR
Half            0 days 01:55:09
40K             0 days 04:11:14
Pace                    0:10:12
TotalSeconds              15074
HalfSeconds                6909
Name: 19643, dtype: object
Pontiac Age                          55
M/F                           M
City                    Pontiac
State                        MI
Country                     USA
Half            0 days 01:43:59
40K             0 days 03:23:37
Pace                    0:08:13
TotalSeconds              12217
HalfSeconds                6239
Name: 12735, dtype: object
Pontresina Age                          65
M/F                           M
City                 Pontresina
State                       NaN
Country                     SUI
Half            0 days 02:11:27
40K             0 days 04:24:02
Pace                    0:10:40
TotalSeconds              15842
HalfSeconds                7887
Name: 31534, dtype: object
Poole Age                          49
M/F                           M
City                      Poole
State                       NaN
Country                     GBR
Half            0 days 01:42:31
40K             0 days 03:35:25
Pace                    0:08:44
TotalSeconds              12925
HalfSeconds                6151
Name: 12815, dtype: object
Pooler Age                          36
M/F                           M
City                     Pooler
State                        GA
Country                     USA
Half            0 days 01:49:47
40K             0 days 03:48:56
Pace                    0:09:15
TotalSeconds              13736
HalfSeconds                6587
Name: 26146, dtype: object
Poortugaal Age                          61
M/F                           M
City                 Poortugaal
State                       NaN
Country                     NED
Half            0 days 02:04:34
40K             0 days 04:15:48
Pace                    0:10:17
TotalSeconds              15348
HalfSeconds                7474
Name: 27873, dtype: object
Poplar Age                          45
M/F                           M
City                     Poplar
State                        WI
Country                     USA
Half            0 days 01:40:41
40K             0 days 03:29:57
Pace                    0:08:28
TotalSeconds              12597
HalfSeconds                6041
Name: 12380, dtype: object
Pori Age                          60
M/F                           M
City                       Pori
State                       NaN
Country                     FIN
Half            0 days 01:54:47
40K             0 days 03:43:26
Pace                    0:09:01
TotalSeconds              13406
HalfSeconds                6887
Name: 23462, dtype: object
Port Allegany Age                          45
M/F                           M
City              Port Allegany
State                        PA
Country                     USA
Half            0 days 01:32:56
40K             0 days 03:16:48
Pace                    0:08:04
TotalSeconds              11808
HalfSeconds                5576
Name: 4718, dtype: object
Port Angeles Age                          36
M/F                           M
City               Port Angeles
State                        WA
Country                     USA
Half            0 days 02:04:22
40K             0 days 04:06:45
Pace                    0:09:58
TotalSeconds              14805
HalfSeconds                7462
Name: 29408, dtype: object
Port Charlotte Age                          66
M/F                           M
City             Port Charlotte
State                        FL
Country                     USA
Half            0 days 01:59:45
40K             0 days 04:09:07
Pace                    0:10:07
TotalSeconds              14947
HalfSeconds                7185
Name: 24543, dtype: object
Port Coquitlam Age                          55
M/F                           M
City             Port Coquitlam
State                        BC
Country                     CAN
Half            0 days 02:03:24
40K             0 days 04:07:09
Pace                    0:10:01
TotalSeconds              14829
HalfSeconds                7404
Name: 16717, dtype: object
Port Dover Age                          52
M/F                           M
City                 Port Dover
State                        ON
Country                     CAN
Half            0 days 01:36:20
40K             0 days 03:01:44
Pace                    0:07:19
TotalSeconds              10904
HalfSeconds                5780
Name: 8634, dtype: object
Port Edwards Age                          51
M/F                           F
City               Port Edwards
State                        WI
Country                     USA
Half            0 days 01:40:39
40K             0 days 03:20:55
Pace                    0:08:07
TotalSeconds              12055
HalfSeconds                6039
Name: 11281, dtype: object
Port Elgin Age                          38
M/F                           M
City                 Port Elgin
State                        ON
Country                     CAN
Half            0 days 01:32:53
40K             0 days 03:03:53
Pace                    0:07:25
TotalSeconds              11033
HalfSeconds                5573
Name: 6108, dtype: object
Port Huron Age                          60
M/F                           M
City                 Port Huron
State                        MI
Country                     USA
Half            0 days 01:52:17
40K             0 days 03:41:01
Pace                    0:08:57
TotalSeconds              13261
HalfSeconds                6737
Name: 20663, dtype: object
Port Isabel Age                          39
M/F                           M
City                Port Isabel
State                        TX
Country                     USA
Half            0 days 01:55:50
40K             0 days 03:52:09
Pace                    0:09:25
TotalSeconds              13929
HalfSeconds                6950
Name: 31113, dtype: object
Port Jefferson Station Age                                 48
M/F                                  F
City            Port Jefferson Station
State                               NY
Country                            USA
Half                   0 days 01:56:43
40K                    0 days 03:56:52
Pace                           0:09:35
TotalSeconds                     14212
HalfSeconds                       7003
Name: 22563, dtype: object
Port Jervis Age                          33
M/F                           F
City                Port Jervis
State                        NY
Country                     USA
Half            0 days 01:49:41
40K             0 days 03:31:32
Pace                    0:08:31
TotalSeconds              12692
HalfSeconds                6581
Name: 17166, dtype: object
Port Matilda Age                          47
M/F                           M
City               Port Matilda
State                        PA
Country                     USA
Half            0 days 01:34:06
40K             0 days 03:10:43
Pace                    0:07:44
TotalSeconds              11443
HalfSeconds                5646
Name: 6690, dtype: object
Port Moody Age                          46
M/F                           F
City                 Port Moody
State                        BC
Country                     CAN
Half            0 days 01:51:19
40K             0 days 03:38:02
Pace                    0:08:46
TotalSeconds              13082
HalfSeconds                6679
Name: 19568, dtype: object
Port Of Spain Age                          49
M/F                           F
City              Port Of Spain
State                       NaN
Country                     TRI
Half            0 days 01:48:25
40K             0 days 03:34:17
Pace                    0:08:39
TotalSeconds              12857
HalfSeconds                6505
Name: 22866, dtype: object
Port Orange Age                          29
M/F                           M
City                Port Orange
State                        FL
Country                     USA
Half            0 days 01:56:01
40K             0 days 04:11:39
Pace                    0:10:08
TotalSeconds              15099
HalfSeconds                6961
Name: 26193, dtype: object
Port Perry Age                          37
M/F                           M
City                 Port Perry
State                        ON
Country                     CAN
Half            0 days 01:32:07
40K             0 days 03:05:31
Pace                    0:07:30
TotalSeconds              11131
HalfSeconds                5527
Name: 3942, dtype: object
Port Republic Age                          57
M/F                           M
City              Port Republic
State                        NJ
Country                     USA
Half            0 days 01:43:24
40K             0 days 03:25:44
Pace                    0:08:23
TotalSeconds              12344
HalfSeconds                6204
Name: 18429, dtype: object
Port Saint Lucie Age                           35
M/F                            M
City            Port Saint Lucie
State                         FL
Country                      USA
Half             0 days 01:25:58
40K              0 days 02:57:39
Pace                     0:07:10
TotalSeconds               10659
HalfSeconds                 5158
Name: 2989, dtype: object
Port St Lucie Age                          38
M/F                           F
City              Port St Lucie
State                        FL
Country                     USA
Half            0 days 01:49:57
40K             0 days 04:11:07
Pace                    0:10:05
TotalSeconds              15067
HalfSeconds                6597
Name: 20379, dtype: object
Port Tobacco Age                          47
M/F                           M
City               Port Tobacco
State                        MD
Country                     USA
Half            0 days 01:33:39
40K             0 days 03:15:33
Pace                    0:07:56
TotalSeconds              11733
HalfSeconds                5619
Name: 4167, dtype: object
Port Washington Age                          38
M/F                           F
City            Port Washington
State                        NY
Country                     USA
Half            0 days 01:43:51
40K             0 days 03:24:47
Pace                    0:08:16
TotalSeconds              12287
HalfSeconds                6231
Name: 16289, dtype: object
Portage Age                          30
M/F                           M
City                    Portage
State                        MI
Country                     USA
Half            0 days 01:14:17
40K             0 days 02:36:54
Pace                    0:06:23
TotalSeconds               9414
HalfSeconds                4457
Name: 193, dtype: object
Portage La Prairie Age                             42
M/F                              F
City            Portage La Prairie
State                           MB
Country                        CAN
Half               0 days 01:47:30
40K                0 days 03:33:52
Pace                       0:08:39
TotalSeconds                 12832
HalfSeconds                   6450
Name: 18864, dtype: object
Porter Ranch Age                          56
M/F                           M
City               Porter Ranch
State                        CA
Country                     USA
Half            0 days 01:40:49
40K             0 days 03:12:50
Pace                    0:07:45
TotalSeconds              11570
HalfSeconds                6049
Name: 13780, dtype: object
Portland Age                          34
M/F                           M
City                   Portland
State                        OR
Country                     USA
Half            0 days 01:13:54
40K             0 days 02:21:20
Pace                    0:05:43
TotalSeconds               8480
HalfSeconds                4434
Name: 249, dtype: object
Porto Alegre Age                          53
M/F                           M
City               Porto Alegre
State                       NaN
Country                     BRA
Half            0 days 01:40:02
40K             0 days 03:19:34
Pace                    0:08:06
TotalSeconds              11974
HalfSeconds                6002
Name: 13047, dtype: object
Porto Alegre - R S Age                             44
M/F                              M
City            Porto Alegre - R S
State                          NaN
Country                        BRA
Half               0 days 01:31:24
40K                0 days 03:00:00
Pace                       0:07:18
TotalSeconds                 10800
HalfSeconds                   5484
Name: 8854, dtype: object
Porto Cesareo - Lecce Age                                44
M/F                                 M
City            Porto Cesareo - Lecce
State                             NaN
Country                           ITA
Half                  0 days 01:38:42
40K                   0 days 03:32:04
Pace                          0:08:37
TotalSeconds                    12724
HalfSeconds                      5922
Name: 31428, dtype: object
Portola Valley Age                          52
M/F                           F
City             Portola Valley
State                        CA
Country                     USA
Half            0 days 01:50:11
40K             0 days 03:39:25
Pace                    0:08:53
TotalSeconds              13165
HalfSeconds                6611
Name: 21835, dtype: object
Portsmouth Age                          27
M/F                           F
City                 Portsmouth
State                        RI
Country                     USA
Half            0 days 01:28:45
40K             0 days 02:54:45
Pace                    0:07:04
TotalSeconds              10485
HalfSeconds                5325
Name: 11568, dtype: object
Portstmouth Age                          46
M/F                           F
City                Portstmouth
State                        NH
Country                     USA
Half            0 days 01:43:36
40K             0 days 03:23:21
Pace                    0:08:13
TotalSeconds              12201
HalfSeconds                6216
Name: 18801, dtype: object
Post Falls Age                          55
M/F                           M
City                 Post Falls
State                        ID
Country                     USA
Half            0 days 01:57:54
40K             0 days 04:03:23
Pace                    0:09:53
TotalSeconds              14603
HalfSeconds                7074
Name: 19831, dtype: object
Potomac Age                          24
M/F                           M
City                    Potomac
State                        MD
Country                     USA
Half            0 days 01:24:23
40K             0 days 02:40:02
Pace                    0:06:29
TotalSeconds               9602
HalfSeconds                5063
Name: 2383, dtype: object
Potomac Falls Age                          39
M/F                           M
City              Potomac Falls
State                        VA
Country                     USA
Half            0 days 01:37:57
40K             0 days 03:07:55
Pace                    0:07:34
TotalSeconds              11275
HalfSeconds                5877
Name: 5422, dtype: object
Potsdam Age                          49
M/F                           F
City                    Potsdam
State                        NY
Country                     USA
Half            0 days 02:05:25
40K             0 days 04:13:09
Pace                    0:10:10
TotalSeconds              15189
HalfSeconds                7525
Name: 24183, dtype: object

Raeford Age                          50
M/F                           M
City                    Raeford
State                        NC
Country                     USA
Half            0 days 01:53:16
40K             0 days 03:43:49
Pace                    0:09:02
TotalSeconds              13429
HalfSeconds                6796
Name: 26150, dtype: object
Rahway Age                          24
M/F                           M
City                     Rahway
State                        NJ
Country                     USA
Half            0 days 01:34:24
40K             0 days 03:42:12
Pace                    0:08:58
TotalSeconds              13332
HalfSeconds                5664
Name: 617, dtype: object
Raleigh Age                          28
M/F                           M
City                    Raleigh
State                        NC
Country                     USA
Half            0 days 01:21:57
40K             0 days 02:44:14
Pace                    0:06:39
TotalSeconds               9854
HalfSeconds                4917
Name: 1019, dtype: object
Ralston Age                          48
M/F                           M
City                    Ralston
State                        NE
Country                     USA
Half            0 days 01:40:06
40K             0 days 03:17:04
Pace                    0:07:58
TotalSeconds              11824
HalfSeconds                6006
Name: 7564, dtype: object
Ramsey Age                          41
M/F                           M
City                     Ramsey
State                        NJ
Country                     USA
Half            0 days 02:02:21
40K             0 days 04:07:57
Pace                    0:10:05
TotalSeconds              14877
HalfSeconds                7341
Name: 30011, dtype: object
Rancho Cordova Age                          60
M/F                           F
City             Rancho Cordova
State                        CA
Country                     USA
Half            0 days 01:40:37
40K             0 days 03:21:31
Pace                    0:08:09
TotalSeconds              12091
HalfSeconds                6037
Name: 11639, dtype: object
Rancho Cucamonga Age                           47
M/F                            M
City            Rancho Cucamonga
State                         CA
Country                      USA
Half             0 days 01:31:14
40K              0 days 03:01:09
Pace                     0:07:19
TotalSeconds               10869
HalfSeconds                 5474
Name: 4322, dtype: object
Rancho Palos Verdes Age                              26
M/F                               M
City            Rancho Palos Verdes
State                            CA
Country                         USA
Half                0 days 01:25:36
40K                 0 days 03:01:10
Pace                        0:07:19
TotalSeconds                  10870
HalfSeconds                    5136
Name: 1368, dtype: object
Rancho Santa Fe Age                          22
M/F                           M
City            Rancho Santa Fe
State                        CA
Country                     USA
Half            0 days 01:18:22
40K             0 days 02:41:45
Pace                    0:06:31
TotalSeconds               9705
HalfSeconds                4702
Name: 214, dtype: object
Rancho Santa Margarita Age                                 53
M/F                                  M
City            Rancho Santa Margarita
State                               CA
Country                            USA
Half                   0 days 01:33:56
40K                    0 days 03:03:58
Pace                           0:07:27
TotalSeconds                     11038
HalfSeconds                       5636
Name: 8124, dtype: object
Randleman Age                          47
M/F                           M
City                  Randleman
State                        NC
Country                     USA
Half            0 days 01:36:26
40K             0 days 03:26:46
Pace                    0:08:23
TotalSeconds              12406
HalfSeconds                5786
Name: 8968, dtype: object
Randolph Age                          44
M/F                           M
City                   Randolph
State                        NJ
Country                     USA
Half            0 days 01:21:28
40K             0 days 02:38:31
Pace                    0:06:24
TotalSeconds               9511
HalfSeconds                4888
Name: 1656, dtype: object
Randolph Center Age                          43
M/F                           F
City            Randolph Center
State                        VT
Country                     USA
Half            0 days 01:38:07
40K             0 days 03:07:44
Pace                    0:07:33
TotalSeconds              11264
HalfSeconds                5887
Name: 6055, dtype: object
Randwick Age                          38
M/F                           F
City                   Randwick
State                       NaN
Country                     AUS
Half            0 days 01:33:11
40K             0 days 03:05:32
Pace                    0:07:31
TotalSeconds              11132
HalfSeconds                5591
Name: 8392, dtype: object
Ransomville Age                          36
M/F                           F
City                Ransomville
State                        NY
Country                     USA
Half            0 days 01:51:02
40K             0 days 03:50:32
Pace                    0:09:18
TotalSeconds              13832
HalfSeconds                6662
Name: 18580, dtype: object
Rapid City Age                          27
M/F                           F
City                 Rapid City
State                        SD
Country                     USA
Half            0 days 01:41:24
40K             0 days 03:15:33
Pace                    0:07:51
TotalSeconds              11733
HalfSeconds                6084
Name: 16293, dtype: object
Ratoath Age                          50
M/F                           M
City                    Ratoath
State                       NaN
Country                     IRL
Half            0 days 01:22:22
40K             0 days 03:16:50
Pace                    0:07:59
TotalSeconds              11810
HalfSeconds                4942
Name: 1119, dtype: object
Ravenna Age                          52
M/F                           M
City                    Ravenna
State                       NaN
Country                     ITA
Half            0 days 01:42:20
40K             0 days 03:44:20
Pace                    0:09:10
TotalSeconds              13460
HalfSeconds                6140
Name: 13496, dtype: object
Rayham Age                          38
M/F                           M
City                     Rayham
State                        MA
Country                     USA
Half            0 days 02:29:06
40K             0 days 04:59:06
Pace                    0:12:05
TotalSeconds              17946
HalfSeconds                8946
Name: 29370, dtype: object
Raymond Age                          31
M/F                           M
City                    Raymond
State                        NH
Country                     USA
Half            0 days 01:23:51
40K             0 days 02:52:56
Pace                    0:07:00
TotalSeconds              10376
HalfSeconds                5031
Name: 523, dtype: object
Raymore Age                          47
M/F                           M
City                    Raymore
State                        MO
Country                     USA
Half            0 days 01:34:53
40K             0 days 03:21:39
Pace                    0:08:08
TotalSeconds              12099
HalfSeconds                5693
Name: 9154, dtype: object
Raynham Age                          39
M/F                           M
City                    Raynham
State                        MA
Country                     USA
Half            0 days 01:58:56
40K             0 days 03:46:08
Pace                    0:09:05
TotalSeconds              13568
HalfSeconds                7136
Name: 27132, dtype: object
Raytown Age                          61
M/F                           M
City                    Raytown
State                        MO
Country                     USA
Half            0 days 01:57:00
40K             0 days 04:24:05
Pace                    0:10:48
TotalSeconds              15845
HalfSeconds                7020
Name: 22237, dtype: object
Reading Age                          42
M/F                           M
City                    Reading
State                        MA
Country                     USA
Half            0 days 01:22:58
40K             0 days 02:42:22
Pace                    0:06:35
TotalSeconds               9742
HalfSeconds                4978
Name: 3967, dtype: object
Readsboro Age                          55
M/F                           M
City                  Readsboro
State                        VT
Country                     USA
Half            0 days 01:58:28
40K             0 days 04:10:30
Pace                    0:10:09
TotalSeconds              15030
HalfSeconds                7108
Name: 15573, dtype: object
Readville Age                          37
M/F                           M
City                  Readville
State                        MA
Country                     USA
Half            0 days 01:58:26
40K             0 days 04:15:03
Pace                    0:10:27
TotalSeconds              15303
HalfSeconds                7106
Name: 32077, dtype: object
Recife Age                          53
M/F                           M
City                     Recife
State                       NaN
Country                     BRA
Half            0 days 01:45:08
40K             0 days 03:23:41
Pace                    0:08:13
TotalSeconds              12221
HalfSeconds                6308
Name: 30268, dtype: object
Red Bank Age                          27
M/F                           M
City                   Red Bank
State                        NJ
Country                     USA
Half            0 days 01:26:56
40K             0 days 02:53:05
Pace                    0:07:02
TotalSeconds              10385
HalfSeconds                5216
Name: 3453, dtype: object
Red Bluff Age                          57
M/F                           F
City                  Red Bluff
State                        CA
Country                     USA
Half            0 days 01:53:17
40K             0 days 03:52:46
Pace                    0:09:24
TotalSeconds              13966
HalfSeconds                6797
Name: 21776, dtype: object
Red Deer Age                          33
M/F                           M
City                   Red Deer
State                        AB
Country                     CAN
Half            0 days 01:26:18
40K             0 days 03:17:17
Pace                    0:08:07
TotalSeconds              11837
HalfSeconds                5178
Name: 3466, dtype: object
Red Hook Age                          49
M/F                           M
City                   Red Hook
State                        NY
Country                     USA
Half            0 days 01:43:53
40K             0 days 03:41:47
Pace                    0:08:58
TotalSeconds              13307
HalfSeconds                6233
Name: 11402, dtype: object
Red Rock Age                          51
M/F                           M
City                   Red Rock
State                        TX
Country                     USA
Half            0 days 01:37:31
40K             0 days 03:26:53
Pace                    0:08:27
TotalSeconds              12413
HalfSeconds                5851
Name: 7246, dtype: object
Redding Age                          50
M/F                           M
City                    Redding
State                        CA
Country                     USA
Half            0 days 01:39:32
40K             0 days 03:12:55
Pace                    0:07:49
TotalSeconds              11575
HalfSeconds                5972
Name: 10595, dtype: object
Redfern, Sydney Age                          57
M/F                           M
City            Redfern, Sydney
State                       NaN
Country                     AUS
Half            0 days 02:07:32
40K             0 days 05:04:00
Pace                    0:12:13
TotalSeconds              18240
HalfSeconds                7652
Name: 9262, dtype: object
Redlands Age                          38
M/F                           M
City                   Redlands
State                        CA
Country                     USA
Half            0 days 01:19:46
40K             0 days 02:41:12
Pace                    0:06:31
TotalSeconds               9672
HalfSeconds                4786
Name: 590, dtype: object
Redmond Age                          32
M/F                           M
City                    Redmond
State                        WA
Country                     USA
Half            0 days 01:27:03
40K             0 days 02:52:13
Pace                    0:06:58
TotalSeconds              10333
HalfSeconds                5223
Name: 4862, dtype: object
Redondo Age                          49
M/F                           M
City                    Redondo
State                        CA
Country                     USA
Half            0 days 01:49:57
40K             0 days 03:42:23
Pace                    0:09:05
TotalSeconds              13343
HalfSeconds                6597
Name: 7670, dtype: object
Redondo Beach Age                          28
M/F                           M
City              Redondo Beach
State                        CA
Country                     USA
Half            0 days 01:26:50
40K             0 days 02:48:26
Pace                    0:06:47
TotalSeconds              10106
HalfSeconds                5210
Name: 3565, dtype: object
Redwood City Age                          22
M/F                           M
City               Redwood City
State                        CA
Country                     USA
Half            0 days 01:20:49
40K             0 days 02:35:18
Pace                    0:06:15
TotalSeconds               9318
HalfSeconds                4849
Name: 1153, dtype: object
Reedsburg Age                          39
M/F                           M
City                  Reedsburg
State                        WI
Country                     USA
Half            0 days 03:37:49
40K             0 days 07:54:21
Pace                    0:19:13
TotalSeconds              28461
HalfSeconds               13069
Name: 29403, dtype: object
Reggio Emilia Age                          56
M/F                           M
City              Reggio Emilia
State                       NaN
Country                     ITA
Half            0 days 02:17:05
40K             0 days 04:42:36
Pace                    0:11:23
TotalSeconds              16956
HalfSeconds                8225
Name: 31511, dtype: object
Regina Age                          55
M/F                           M
City                     Regina
State                        SK
Country                     CAN
Half            0 days 01:37:53
40K             0 days 03:11:37
Pace                    0:07:44
TotalSeconds              11497
HalfSeconds                5873
Name: 12525, dtype: object
Rego Park Age                          38
M/F                           M
City                  Rego Park
State                        NY
Country                     USA
Half            0 days 01:34:37
40K             0 days 03:37:43
Pace                    0:08:53
TotalSeconds              13063
HalfSeconds                5677
Name: 4450, dtype: object
Rehoboth Age                          34
M/F                           F
City                   Rehoboth
State                        MA
Country                     USA
Half            0 days 01:39:35
40K             0 days 03:15:19
Pace                    0:07:52
TotalSeconds              11719
HalfSeconds                5975
Name: 10291, dtype: object
Rehoboth Beach Age                          65
M/F                           F
City             Rehoboth Beach
State                        DE
Country                     USA
Half            0 days 02:43:00
40K             0 days 05:40:17
Pace                    0:13:45
TotalSeconds              20417
HalfSeconds                9780
Name: 26052, dtype: object
Reidsville Age                          47
M/F                           M
City                 Reidsville
State                        NC
Country                     USA
Half            0 days 01:41:18
40K             0 days 03:11:20
Pace                    0:07:40
TotalSeconds              11480
HalfSeconds                6078
Name: 11873, dtype: object
Reinach Age                          54
M/F                           M
City                    Reinach
State                       NaN
Country                     SUI
Half            0 days 02:28:19
40K             0 days 05:07:20
Pace                    0:12:26
TotalSeconds              18440
HalfSeconds                8899
Name: 31531, dtype: object
Reisterstown Age                          58
M/F                           M
City               Reisterstown
State                        MD
Country                     USA
Half            0 days 01:44:21
40K             0 days 03:31:42
Pace                    0:08:33
TotalSeconds              12702
HalfSeconds                6261
Name: 16832, dtype: object
Remseck Am Neckar Age                            37
M/F                             M
City            Remseck Am Neckar
State                         NaN
Country                       GER
Half              0 days 01:26:15
40K               0 days 02:51:26
Pace                      0:06:55
TotalSeconds                10286
HalfSeconds                  5175
Name: 1542, dtype: object
Rengsdorf Age                          27
M/F                           M
City                  Rengsdorf
State                       NaN
Country                     GER
Half            0 days 02:08:29
40K             0 days 04:13:42
Pace                    0:10:12
TotalSeconds              15222
HalfSeconds                7709
Name: 31869, dtype: object
Reno Age                          34
M/F                           M
City                       Reno
State                        NV
Country                     USA
Half            0 days 01:19:09
40K             0 days 02:42:14
Pace                    0:06:34
TotalSeconds               9734
HalfSeconds                4749
Name: 704, dtype: object
Rensselaer Age                          57
M/F                           M
City                 Rensselaer
State                        NY
Country                     USA
Half            0 days 01:37:08
40K             0 days 03:10:41
Pace                    0:07:43
TotalSeconds              11441
HalfSeconds                5828
Name: 9772, dtype: object
Renton Age                          33
M/F                           M
City                     Renton
State                        WA
Country                     USA
Half            0 days 01:34:20
40K             0 days 03:03:54
Pace                    0:07:25
TotalSeconds              11034
HalfSeconds                5660
Name: 5026, dtype: object
Repentigny Age                          27
M/F                           F
City                 Repentigny
State                        QC
Country                     CAN
Half            0 days 01:27:36
40K             0 days 02:48:59
Pace                    0:06:49
TotalSeconds              10139
HalfSeconds                5256
Name: 3846, dtype: object
Reppenstedt Age                          49
M/F                           F
City                Reppenstedt
State                       NaN
Country                     GER
Half            0 days 01:55:43
40K             0 days 03:52:18
Pace                    0:09:25
TotalSeconds              13938
HalfSeconds                6943
Name: 24642, dtype: object
Reseda Age                          59
M/F                           M
City                     Reseda
State                        CA
Country                     USA
Half            0 days 01:45:25
40K             0 days 03:24:08

Rockland Age                          63
M/F                           M
City                   Rockland
State                        MA
Country                     USA
Half            0 days 01:50:07
40K             0 days 03:27:47
Pace                    0:08:23
TotalSeconds              12467
HalfSeconds                6607
Name: 24171, dtype: object
Rockledge Age                          46
M/F                           M
City                  Rockledge
State                        FL
Country                     USA
Half            0 days 01:57:27
40K             0 days 03:59:59
Pace                    0:09:41
TotalSeconds              14399
HalfSeconds                7047
Name: 12400, dtype: object
Rocklin Age                          29
M/F                           F
City                    Rocklin
State                        CA
Country                     USA
Half            0 days 01:33:41
40K             0 days 03:09:50
Pace                    0:07:39
TotalSeconds              11390
HalfSeconds                5621
Name: 7158, dtype: object
Rockport Age                          40
M/F                           M
City                   Rockport
State                        ME
Country                     USA
Half            0 days 01:29:02
40K             0 days 02:59:59
Pace                    0:07:16
TotalSeconds              10799
HalfSeconds                5342
Name: 2134, dtype: object
Rockville Age                          40
M/F                           M
City                  Rockville
State                        MD
Country                     USA
Half            0 days 01:18:23
40K             0 days 02:31:21
Pace                    0:06:06
TotalSeconds               9081
HalfSeconds                4703
Name: 434, dtype: object
Rockville Centre Age                           42
M/F                            M
City            Rockville Centre
State                         NY
Country                      USA
Half             0 days 01:32:13
40K              0 days 03:05:18
Pace                     0:07:31
TotalSeconds               11118
HalfSeconds                 5533
Name: 6399, dtype: object
Rockwall Age                          46
M/F                           M
City                   Rockwall
State                        TX
Country                     USA
Half            0 days 01:21:23
40K             0 days 02:44:44
Pace                    0:06:40
TotalSeconds               9884
HalfSeconds                4883
Name: 1126, dtype: object
Rockwell Age                          33
M/F                           M
City                   Rockwell
State                        NC
Country                     USA
Half            0 days 01:31:55
40K             0 days 03:23:51
Pace                    0:08:23
TotalSeconds              12231
HalfSeconds                5515
Name: 4153, dtype: object
Rocky Hill Age                          52
M/F                           M
City                 Rocky Hill
State                        CT
Country                     USA
Half            0 days 01:39:33
40K             0 days 03:14:36
Pace                    0:07:51
TotalSeconds              11676
HalfSeconds                5973
Name: 10976, dtype: object
Rocky Mount Age                          53
M/F                           F
City                Rocky Mount
State                        VA
Country                     USA
Half            0 days 02:10:24
40K             0 days 04:23:17
Pace                    0:10:36
TotalSeconds              15797
HalfSeconds                7824
Name: 21258, dtype: object
Rocky Point Age                          56
M/F                           M
City                Rocky Point
State                        NC
Country                     USA
Half            0 days 01:43:13
40K             0 days 03:21:23
Pace                    0:08:10
TotalSeconds              12083
HalfSeconds                6193
Name: 16061, dtype: object
Rocky River Age                          31
M/F                           F
City                Rocky River
State                        OH
Country                     USA
Half            0 days 01:38:57
40K             0 days 03:13:06
Pace                    0:07:56
TotalSeconds              11586
HalfSeconds                5937
Name: 4435, dtype: object
Rodgau Age                          59
M/F                           M
City                     Rodgau
State                       NaN
Country                     GER
Half            0 days 01:56:49
40K             0 days 03:47:30
Pace                    0:09:11
TotalSeconds              13650
HalfSeconds                7009
Name: 31877, dtype: object
Roedermark Age                          60
M/F                           M
City                 Roedermark
State                       NaN
Country                     GER
Half            0 days 02:04:12
40K             0 days 04:10:19
Pace                    0:10:03
TotalSeconds              15019
HalfSeconds                7452
Name: 31744, dtype: object
Roeland Park Age                          40
M/F                           M
City               Roeland Park
State                        KS
Country                     USA
Half            0 days 01:46:05
40K             0 days 04:05:28
Pace                    0:09:59
TotalSeconds              14728
HalfSeconds                6365
Name: 7447, dtype: object
Rogers Age                          34
M/F                           M
City                     Rogers
State                        AR
Country                     USA
Half            0 days 01:27:39
40K             0 days 02:51:54
Pace                    0:06:57
TotalSeconds              10314
HalfSeconds                5259
Name: 2334, dtype: object
Rogersville Age                          41
M/F                           F
City                Rogersville
State                        MO
Country                     USA
Half            0 days 01:55:54
40K             0 days 03:51:30
Pace                    0:09:21
TotalSeconds              13890
HalfSeconds                6954
Name: 21697, dtype: object
Rohnert Park Age                          64
M/F                           M
City               Rohnert Park
State                        CA
Country                     USA
Half            0 days 02:09:00
40K             0 days 04:59:34
Pace                    0:12:19
TotalSeconds              17974
HalfSeconds                7740
Name: 19031, dtype: object
Rolesville Age                          34
M/F                           F
City                 Rolesville
State                        NC
Country                     USA
Half            0 days 01:57:16
40K             0 days 04:14:01
Pace                    0:10:17
TotalSeconds              15241
HalfSeconds                7036
Name: 16476, dtype: object
Rolla Age                          31
M/F                           F
City                      Rolla
State                        MO
Country                     USA
Half            0 days 01:28:51
40K             0 days 02:51:04
Pace                    0:06:53
TotalSeconds              10264
HalfSeconds                5331
Name: 8561, dtype: object
Rolling Meadows Age                          32
M/F                           F
City            Rolling Meadows
State                        IL
Country                     USA
Half            0 days 01:40:14
40K             0 days 03:20:38
Pace                    0:08:06
TotalSeconds              12038
HalfSeconds                6014
Name: 16881, dtype: object
Rollinsford Age                          34
M/F                           M
City                Rollinsford
State                        NH
Country                     USA
Half            0 days 01:58:19
40K             0 days 04:14:56
Pace                    0:10:22
TotalSeconds              15296
HalfSeconds                7099
Name: 27142, dtype: object
Roma Age                          51
M/F                           M
City                       Roma
State                       NaN
Country                     ITA
Half            0 days 01:29:07
40K             0 days 02:55:51
Pace                    0:07:05
TotalSeconds              10551
HalfSeconds                5347
Name: 2420, dtype: object
Rome Age                          40
M/F                           M
City                       Rome
State                        NY
Country                     USA
Half            0 days 01:31:25
40K             0 days 02:57:16
Pace                    0:07:10
TotalSeconds              10636
HalfSeconds                5485
Name: 6105, dtype: object
Romeoville Age                          55
M/F                           M
City                 Romeoville
State                        IL
Country                     USA
Half            0 days 01:45:03
40K             0 days 03:26:51
Pace                    0:08:17
TotalSeconds              12411
HalfSeconds                6303
Name: 8957, dtype: object
Romulus Age                          60
M/F                           F
City                    Romulus
State                        NY
Country                     USA
Half            0 days 02:06:20
40K             0 days 04:38:02
Pace                    0:11:15
TotalSeconds              16682
HalfSeconds                7580
Name: 25788, dtype: object
Roncadelle Brescia Age                             48
M/F                              F
City            Roncadelle Brescia
State                          NaN
Country                        ITA
Half               0 days 01:49:21
40K                0 days 03:50:32
Pace                       0:09:19
TotalSeconds                 13832
HalfSeconds                   6561
Name: 13605, dtype: object
Ronda-Malaga Age                          56
M/F                           M
City               Ronda-Malaga
State                       NaN
Country                     ESP
Half            0 days 02:14:50
40K             0 days 04:56:15
Pace                    0:12:02
TotalSeconds              17775
HalfSeconds                8090
Name: 30973, dtype: object
Ronkonkoma Age                          44
M/F                           M
City                 Ronkonkoma
State                        NY
Country                     USA
Half            0 days 01:26:26
40K             0 days 02:52:21
Pace                    0:07:02
TotalSeconds              10341
HalfSeconds                5186
Name: 1108, dtype: object
Ronks Age                          25
M/F                           F
City                      Ronks
State                        PA
Country                     USA
Half            0 days 01:47:11
40K             0 days 03:41:02
Pace                    0:08:56
TotalSeconds              13262
HalfSeconds                6431
Name: 18041, dtype: object
Ronnang Age                          25
M/F                           M
City                    Ronnang
State                       NaN
Country                     SWE
Half            0 days 01:28:16
40K             0 days 03:00:37
Pace                    0:07:17
TotalSeconds              10837
HalfSeconds                5296
Name: 2230, dtype: object
Roodepoort, Johannesburg Age                                   42
M/F                                    F
City            Roodepoort, Johannesburg
State                                NaN
Country                              RSA
Half                     0 days 02:28:34
40K                      0 days 05:00:17
Pace                             0:12:07
TotalSeconds                       18017
HalfSeconds                         8914
Name: 31633, dtype: object
Roosevelt Age                          42
M/F                           M
City                  Roosevelt
State                        NY
Country                     USA
Half            0 days 01:27:48
40K             0 days 02:53:18
Pace                    0:07:00
TotalSeconds              10398
HalfSeconds                5268
Name: 2717, dtype: object
Roscoe Age                          53
M/F                           M
City                     Roscoe
State                        IL
Country                     USA
Half            0 days 01:41:55
40K             0 days 03:39:25
Pace                    0:08:54
TotalSeconds              13165
HalfSeconds                6115
Name: 13759, dtype: object
Rose Bay Age                          41
M/F                           M
City                   Rose Bay
State                       NaN
Country                     AUS
Half            0 days 01:33:59
40K             0 days 03:06:38
Pace                    0:07:32
TotalSeconds              11198
HalfSeconds                5639
Name: 6324, dtype: object
Rose Valley Age                          42
M/F                           F
City                Rose Valley
State                        PA
Country                     USA
Half            0 days 02:15:48
40K             0 days 04:46:28
Pace                    0:11:34
TotalSeconds              17188
HalfSeconds                8148
Name: 20784, dtype: object
Rosemere Age                          55
M/F                           M
City                   Rosemere
State                        QC
Country                     CAN
Half            0 days 01:44:50
40K             0 days 03:22:11
Pace                    0:08:10
TotalSeconds              12131
HalfSeconds                6290
Name: 14370, dtype: object
Rosemount Age                          51
M/F                           M
City                  Rosemount
State                        MN
Country                     USA
Half            0 days 01:45:05
40K             0 days 03:24:45
Pace                    0:08:16
TotalSeconds              12285
HalfSeconds                6305
Name: 11501, dtype: object
Roseville Age                          41
M/F                           M
City                  Roseville
State                        MN
Country                     USA
Half            0 days 01:29:11
40K             0 days 02:52:33
Pace                    0:06:59
TotalSeconds              10353
HalfSeconds                5351
Name: 3095, dtype: object
Rosheim Age                          51
M/F                           M
City                    Rosheim
State                       NaN
Country                     FRA
Half            0 days 01:28:39
40K             0 days 03:09:31
Pace                    0:07:40
TotalSeconds              11371
HalfSeconds                5319
Name: 1422, dtype: object
Roskilde Age                          46
M/F                           M
City                   Roskilde
State                       NaN
Country                     DEN
Half            0 days 01:38:50
40K             0 days 03:17:15
Pace                    0:07:59
TotalSeconds              11835
HalfSeconds                5930
Name: 9780, dtype: object
Roslin Age                          71
M/F                           F
City                     Roslin
State                        ON
Country                     CAN
Half            0 days 02:21:17
40K             0 days 04:51:49
Pace                    0:11:48
TotalSeconds              17509
HalfSeconds                8477
Name: 26086, dtype: object
Roslindale Age                          29
M/F                           M
City                 Roslindale
State                        MA
Country                     USA
Half            0 days 01:15:01
40K             0 days 02:29:18
Pace                    0:06:03
TotalSeconds               8958
HalfSeconds                4501
Name: 1286, dtype: object
Roslyn Age                          60
M/F                           M
City                     Roslyn
State                        NY
Country                     USA
Half            0 days 01:43:30
40K             0 days 03:29:07
Pace                    0:08:27
TotalSeconds              12547
HalfSeconds                6210
Name: 17538, dtype: object
Rosslyn Age                          49
M/F                           F
City                    Rosslyn
State                        ON
Country                     CAN
Half            0 days 01:48:35
40K             0 days 03:34:16
Pace                    0:08:41
TotalSeconds              12856
HalfSeconds                6515
Name: 19904, dtype: object
Rosslyn Farms Age                          47
M/F                           M
City              Rosslyn Farms
State                        PA
Country                     USA
Half            0 days 01:31:56
40K             0 days 02:54:44
Pace                    0:07:02
TotalSeconds              10484
HalfSeconds                5516
Name: 7126, dtype: object
Rossmoor Age                          46
M/F                           F
City                   Rossmoor
State                        CA
Country                     USA
Half            0 days 03:40:16
40K             0 days 00:00:00
Pace                    0:17:51
TotalSeconds                  0
HalfSeconds               13216
Name: 31985, dtype: object
Rossville Age                          47
M/F                           M
City                  Rossville
State                        IN
Country                     USA
Half            0 days 01:39:33
40K             0 days 03:09:38
Pace                    0:07:38
TotalSeconds              11378
HalfSeconds                5973
Name: 12171, dtype: object
Rostock Age                          50
M/F                           M
City                    Rostock
State                       NaN
Country                     GER
Half            0 days 01:47:14
40K             0 days 03:30:35
Pace                    0:08:31
TotalSeconds              12635
HalfSeconds                6434
Name: 14859, dtype: object
Rosville Age                          24
M/F                           F
City                   Rosville
State                        GA
Country                     USA
Half            0 days 01:50:30
40K             0 days 03:39:09
Pace                    0:08:53
TotalSeconds              13149
HalfSeconds                6630
Name: 14441, dtype: object
Roswell Age                          44
M/F                           M
City                    Roswell
State                        GA
Country                     USA
Half            0 days 01:30:44
40K             0 days 02:54:00
Pace                    0:07:01
TotalSeconds              10440
HalfSeconds                5444
Name: 3827, dtype: object
Rotherham Age                          37
M/F                           F
City                  Rotherham
State                       NaN
Country                     GBR
Half            0 days 01:54:59
40K             0 days 03:48:53
Pace                    0:09:13
TotalSeconds              13733
HalfSeconds                6899
Name: 18561, dtype: object
Rothesay Age                          41
M/F                           F
City                   Rothesay
State                        NB
Country                     CAN
Half            0 days 01:55:54
40K             0 days 04:00:35
Pace                    0:09:43
TotalSeconds              14435
HalfSeconds                6954
Name: 20625, dtype: object
Rotterdam Age                          46
M/F                           M
City                  Rotterdam
State                       NaN
Country                     NED
Half            0 days 01:43:00
40K             0 days 03:19:01
Pace                    0:08:01
TotalSeconds              11941
HalfSeconds                6180
Name: 10513, dtype: object
Rouen Age                          43
M/F                           F
City                      Rouen
State                       NaN
Country                     FRA
Half            0 days 01:35:02
40K             0 days 03:11:06
Pace                    0:07:44
TotalSeconds              11466
HalfSeconds                5702
Name: 9281, dtype: object
Round Hill Age                          41
M/F                           F
City                 Round Hill
State                        VA
Country                     USA
Half            0 days 01:49:14
40K             0 days 03:38:48

Saint-Tite Age                          40
M/F                           M
City                 Saint-Tite
State                        QC
Country                     CAN
Half            0 days 01:25:20
40K             0 days 02:47:20
Pace                    0:06:46
TotalSeconds              10040
HalfSeconds                5120
Name: 3883, dtype: object
Saint-Vallier Age                          69
M/F                           M
City              Saint-Vallier
State                        QC
Country                     CAN
Half            0 days 01:53:41
40K             0 days 03:40:38
Pace                    0:08:56
TotalSeconds              13238
HalfSeconds                6821
Name: 20890, dtype: object
Saint-Zacharie Age                          61
M/F                           M
City             Saint-Zacharie
State                        QC
Country                     CAN
Half            0 days 01:39:01
40K             0 days 03:12:45
Pace                    0:07:46
TotalSeconds              11565
HalfSeconds                5941
Name: 10418, dtype: object
Sainte Genevieve Age                           41
M/F                            F
City            Sainte Genevieve
State                         MO
Country                      USA
Half             0 days 01:45:56
40K              0 days 03:25:35
Pace                     0:08:19
TotalSeconds               12335
HalfSeconds                 6356
Name: 19233, dtype: object
Sainte-Agathe-Des-Monts Age                                  61
M/F                                   M
City            Sainte-Agathe-Des-Monts
State                                QC
Country                             CAN
Half                    0 days 01:51:48
40K                     0 days 03:35:02
Pace                            0:08:40
TotalSeconds                      12902
HalfSeconds                        6708
Name: 21754, dtype: object
Sainte-Anne-Des-Lacs Age                               64
M/F                                M
City            Sainte-Anne-Des-Lacs
State                             QC
Country                          CAN
Half                 0 days 01:57:17
40K                  0 days 04:28:11
Pace                         0:10:57
TotalSeconds                   16091
HalfSeconds                     7037
Name: 22096, dtype: object
Sainte-Catherine-De-Hatley Age                                     48
M/F                                      M
City            Sainte-Catherine-De-Hatley
State                                   QC
Country                                CAN
Half                       0 days 01:21:39
40K                        0 days 02:40:28
Pace                               0:06:30
TotalSeconds                          9628
HalfSeconds                           4899
Name: 1107, dtype: object
Sainte-Catherine-De-La-Jacques-Cartier Age                                                 38
M/F                                                  M
City            Sainte-Catherine-De-La-Jacques-Cartier
State                                               QC
Country                                            CAN
Half                                   0 days 01:33:03
40K                                    0 days 03:08:41
Pace                                           0:07:40
TotalSeconds                                     11321
HalfSeconds                                       5583
Name: 6587, dtype: object
Sainte-Croix-De-Quintillargues Age                                         32
M/F                                          F
City            Sainte-Croix-De-Quintillargues
State                                      NaN
Country                                    FRA
Half                           0 days 01:35:43
40K                            0 days 03:06:59
Pace                                   0:07:34
TotalSeconds                             11219
HalfSeconds                               5743
Name: 13248, dtype: object
Sainte-Julie Age                          41
M/F                           F
City               Sainte-Julie
State                        QC
Country                     CAN
Half            0 days 01:49:38
40K             0 days 03:29:55
Pace                    0:08:25
TotalSeconds              12595
HalfSeconds                6578
Name: 21129, dtype: object
Sainte-Marthe-Sur-Le-Lac Age                                   28
M/F                                    F
City            Sainte-Marthe-Sur-Le-Lac
State                                 QC
Country                              CAN
Half                     0 days 01:49:52
40K                      0 days 03:39:04
Pace                             0:08:50
TotalSeconds                       13144
HalfSeconds                         6592
Name: 14312, dtype: object
Saitama Age                          42
M/F                           M
City                    Saitama
State                       NaN
Country                     JPN
Half            0 days 01:22:35
40K             0 days 02:50:22
Pace                    0:07:00
TotalSeconds              10222
HalfSeconds                4955
Name: 262, dtype: object
Saitama-Shi Age                          51
M/F                           F
City                Saitama-Shi
State                       NaN
Country                     JPN
Half            0 days 01:54:25
40K             0 days 03:46:31
Pace                    0:09:06
TotalSeconds              13591
HalfSeconds                6865
Name: 22014, dtype: object
Sakai Age                          45
M/F                           F
City                      Sakai
State                       NaN
Country                     JPN
Half            0 days 02:11:11
40K             0 days 04:34:12
Pace                    0:10:59
TotalSeconds              16452
HalfSeconds                7871
Name: 24018, dtype: object
Sakura Age                          64
M/F                           M
City                     Sakura
State                       NaN
Country                     JPN
Half            0 days 01:53:02
40K             0 days 04:22:34
Pace                    0:10:34
TotalSeconds              15754
HalfSeconds                6782
Name: 15234, dtype: object
Salem Age                          24
M/F                           M
City                      Salem
State                        OR
Country                     USA
Half            0 days 01:22:31
40K             0 days 02:40:27
Pace                    0:06:29
TotalSeconds               9627
HalfSeconds                4951
Name: 1214, dtype: object
Salinas Age                          51
M/F                           F
City                    Salinas
State                        CA
Country                     USA
Half            0 days 01:47:12
40K             0 days 03:23:25
Pace                    0:08:12
TotalSeconds              12205
HalfSeconds                6432
Name: 20149, dtype: object
Saline Age                          44
M/F                           M
City                     Saline
State                        MI
Country                     USA
Half            0 days 01:31:09
40K             0 days 02:54:24
Pace                    0:07:01
TotalSeconds              10464
HalfSeconds                5469
Name: 5301, dtype: object
Salisbury Age                          33
M/F                           M
City                  Salisbury
State                        NC
Country                     USA
Half            0 days 01:24:42
40K             0 days 02:54:25
Pace                    0:07:04
TotalSeconds              10465
HalfSeconds                5082
Name: 1482, dtype: object
Salmon Arm Age                          37
M/F                           M
City                 Salmon Arm
State                        BC
Country                     CAN
Half            0 days 01:19:30
40K             0 days 02:37:24
Pace                    0:06:22
TotalSeconds               9444
HalfSeconds                4770
Name: 613, dtype: object
Salt Lake City Age                          25
M/F                           M
City             Salt Lake City
State                        UT
Country                     USA
Half            0 days 01:19:54
40K             0 days 02:39:20
Pace                    0:06:27
TotalSeconds               9560
HalfSeconds                4794
Name: 381, dtype: object
Salt Lake Cty Age                          55
M/F                           M
City              Salt Lake Cty
State                        UT
Country                     USA
Half            0 days 01:42:39
40K             0 days 03:27:40
Pace                    0:08:23
TotalSeconds              12460
HalfSeconds                6159
Name: 16202, dtype: object
Salta Age                          43
M/F                           F
City                      Salta
State                       NaN
Country                     ARG
Half            0 days 01:34:49
40K             0 days 03:09:42
Pace                    0:07:38
TotalSeconds              11382
HalfSeconds                5689
Name: 6786, dtype: object
Saltillo Age                          33
M/F                           F
City                   Saltillo
State                       NaN
Country                     MEX
Half            0 days 01:40:03
40K             0 days 03:29:34
Pace                    0:08:31
TotalSeconds              12574
HalfSeconds                6003
Name: 13575, dtype: object
Salvador Age                          48
M/F                           M
City                   Salvador
State                       NaN
Country                     BRA
Half            0 days 01:40:26
40K             0 days 03:16:32
Pace                    0:07:56
TotalSeconds              11792
HalfSeconds                6026
Name: 11933, dtype: object
Salyersville Age                          62
M/F                           M
City               Salyersville
State                        KY
Country                     USA
Half            0 days 02:30:20
40K             0 days 05:29:05
Pace                    0:13:25
TotalSeconds              19745
HalfSeconds                9020
Name: 22122, dtype: object
Samedan Age                          36
M/F                           F
City                    Samedan
State                       NaN
Country                     SUI
Half            0 days 01:45:58
40K             0 days 03:35:43
Pace                    0:08:44
TotalSeconds              12943
HalfSeconds                6358
Name: 19078, dtype: object
Sammamish Age                          45
M/F                           M
City                  Sammamish
State                        WA
Country                     USA
Half            0 days 01:33:42
40K             0 days 03:16:11
Pace                    0:07:58
TotalSeconds              11771
HalfSeconds                5622
Name: 11204, dtype: object
San Angelo Age                          25
M/F                           M
City                 San Angelo
State                        TX
Country                     USA
Half            0 days 01:31:18
40K             0 days 03:37:25
Pace                    0:08:47
TotalSeconds              13045
HalfSeconds                5478
Name: 1408, dtype: object
San Anselmo Age                          44
M/F                           M
City                San Anselmo
State                        CA
Country                     USA
Half            0 days 01:37:54
40K             0 days 03:34:01
Pace                    0:08:49
TotalSeconds              12841
HalfSeconds                5874
Name: 8016, dtype: object
San Antonio Age                          29
M/F                           M
City                San Antonio
State                        TX
Country                     USA
Half            0 days 01:19:47
40K             0 days 02:42:59
Pace                    0:06:36
TotalSeconds               9779
HalfSeconds                4787
Name: 3222, dtype: object
San Antono Age                          32
M/F                           M
City                 San Antono
State                        TX
Country                     USA
Half            0 days 02:30:26
40K             0 days 05:33:49
Pace                    0:13:27
TotalSeconds              20029
HalfSeconds                9026
Name: 29010, dtype: object
San Bernardino Age                          64
M/F                           M
City             San Bernardino
State                        CA
Country                     USA
Half            0 days 01:58:00
40K             0 days 04:08:19
Pace                    0:10:04
TotalSeconds              14899
HalfSeconds                7080
Name: 22978, dtype: object
San Bernardo Age                          44
M/F                           M
City               San Bernardo
State                       NaN
Country                     CHI
Half            0 days 01:22:07
40K             0 days 02:43:58
Pace                    0:06:38
TotalSeconds               9838
HalfSeconds                4927
Name: 1052, dtype: object
San Bruno Age                          37
M/F                           M
City                  San Bruno
State                        CA
Country                     USA
Half            0 days 01:36:16
40K             0 days 03:06:16
Pace                    0:07:28
TotalSeconds              11176
HalfSeconds                5776
Name: 5937, dtype: object
San Carlos Age                          45
M/F                           M
City                 San Carlos
State                        CA
Country                     USA
Half            0 days 01:41:04
40K             0 days 03:21:04
Pace                    0:08:06
TotalSeconds              12064
HalfSeconds                6064
Name: 12150, dtype: object
San Clemente Age                          41
M/F                           M
City               San Clemente
State                        CA
Country                     USA
Half            0 days 01:29:51
40K             0 days 02:55:11
Pace                    0:07:04
TotalSeconds              10511
HalfSeconds                5391
Name: 4116, dtype: object
San Diego Age                          29
M/F                           M
City                  San Diego
State                        CA
Country                     USA
Half            0 days 01:15:05
40K             0 days 02:26:46
Pace                    0:05:56
TotalSeconds               8806
HalfSeconds                4505
Name: 150, dtype: object
San Dimas Age                          23
M/F                           F
City                  San Dimas
State                        CA
Country                     USA
Half            0 days 01:31:00
40K             0 days 02:57:48
Pace                    0:07:11
TotalSeconds              10668
HalfSeconds                5460
Name: 7027, dtype: object
San Donato Milanese - Milano Age                                       45
M/F                                        M
City            San Donato Milanese - Milano
State                                    NaN
Country                                  ITA
Half                         0 days 01:46:32
40K                          0 days 03:42:36
Pace                                 0:09:13
TotalSeconds                           13356
HalfSeconds                             6392
Name: 31455, dtype: object
San Fernando, Buenos Aires Age                                     49
M/F                                      M
City            San Fernando, Buenos Aires
State                                  NaN
Country                                ARG
Half                       0 days 01:38:14
40K                        0 days 03:19:34
Pace                               0:08:12
TotalSeconds                         11974
HalfSeconds                           5894
Name: 11007, dtype: object
San Francisco Age                          28
M/F                           M
City              San Francisco
State                        CA
Country                     USA
Half            0 days 01:18:12
40K             0 days 02:29:21
Pace                    0:06:02
TotalSeconds               8961
HalfSeconds                4692
Name: 796, dtype: object
San Gabriel Age                          65
M/F                           M
City                San Gabriel
State                        CA
Country                     USA
Half            0 days 01:59:01
40K             0 days 04:22:36
Pace                    0:10:37
TotalSeconds              15756
HalfSeconds                7141
Name: 22878, dtype: object
San Gregorio Matese Age                              47
M/F                               M
City            San Gregorio Matese
State                           NaN
Country                         ITA
Half                0 days 01:44:08
40K                 0 days 03:25:07
Pace                        0:08:18
TotalSeconds                  12307
HalfSeconds                    6248
Name: 9774, dtype: object
San Jose Age                          33
M/F                           M
City                   San Jose
State                        CA
Country                     USA
Half            0 days 01:22:22
40K             0 days 02:39:34
Pace                    0:06:25
TotalSeconds               9574
HalfSeconds                4942
Name: 1952, dtype: object
San Jose Costa Rica Age                              58
M/F                               F
City            San Jose Costa Rica
State                           NaN
Country                         CRC
Half                0 days 01:53:04
40K                 0 days 03:48:48
Pace                        0:09:15
TotalSeconds                  13728
HalfSeconds                    6784
Name: 24796, dtype: object
San Jos Age                          26
M/F                           M
City                   San Jos
State                       NaN
Country                     CRC
Half            0 days 01:25:03
40K             0 days 02:45:21
Pace                    0:06:42
TotalSeconds               9921
HalfSeconds                5103
Name: 1468, dtype: object
San Juan Age                          37
M/F                           M
City                   San Juan
State                        PR
Country                     USA
Half            0 days 01:26:33
40K             0 days 02:51:03
Pace                    0:06:54
TotalSeconds              10263
HalfSeconds                5193
Name: 2741, dtype: object
San Juan Capistrano Age                              47
M/F                               F
City            San Juan Capistrano
State                            CA
Country                         USA
Half                0 days 01:41:50
40K                 0 days 03:19:46
Pace                        0:08:05
TotalSeconds                  11986
HalfSeconds                    6110
Name: 10681, dtype: object
San Juan Del Rio Age                           33
M/F                            F
City            San Juan Del Rio
State                        NaN
Country                      MEX
Half             0 days 01:55:26
40K              0 days 03:46:03
Pace                     0:09:08
TotalSeconds               13563
HalfSeconds                 6926
Name: 14354, dtype: object
San Leandro Age                          53
M/F                           F
City                San Leandro
State                        CA
Country                     USA
Half            0 days 02:08:11
40K             0 days 04:20:36
Pace                    0:10:30
TotalSeconds              15636
HalfSeconds                7691
Name: 24747, dtype: object
San Luis Obispo Age                          44
M/F                           M
City            San Luis Obispo
State                        CA
Country                     USA
Half            0 days 01:28:34
40K             0 days 02:59:24
Pace                    0:07:19
TotalSeconds              10764
HalfSeconds                5314
Name: 3701, dtype: object
San Luis Potosi Age                          39
M/F                           M
City            San Luis Potosi
State                       NaN

Savona Age                          59
M/F                           M
City                     Savona
State                       NaN
Country                     ITA
Half            0 days 02:19:37
40K             0 days 04:49:10
Pace                    0:11:38
TotalSeconds              17350
HalfSeconds                8377
Name: 31616, dtype: object
Savoy Age                          48
M/F                           M
City                      Savoy
State                        IL
Country                     USA
Half            0 days 01:38:43
40K             0 days 03:09:50
Pace                    0:07:39
TotalSeconds              11390
HalfSeconds                5923
Name: 11338, dtype: object
Saxapahaw Age                          29
M/F                           F
City                  Saxapahaw
State                        NC
Country                     USA
Half            0 days 01:43:37
40K             0 days 03:20:49
Pace                    0:08:05
TotalSeconds              12049
HalfSeconds                6217
Name: 18018, dtype: object
Sayre Age                          42
M/F                           M
City                      Sayre
State                        PA
Country                     USA
Half            0 days 01:35:08
40K             0 days 03:00:16
Pace                    0:07:14
TotalSeconds              10816
HalfSeconds                5708
Name: 6610, dtype: object
Sayreville Age                          52
M/F                           F
City                 Sayreville
State                        NJ
Country                     USA
Half            0 days 01:56:41
40K             0 days 03:47:45
Pace                    0:09:11
TotalSeconds              13665
HalfSeconds                7001
Name: 23138, dtype: object
Sayville Age                          32
M/F                           M
City                   Sayville
State                        NY
Country                     USA
Half            0 days 01:24:55
40K             0 days 02:43:26
Pace                    0:06:40
TotalSeconds               9806
HalfSeconds                5095
Name: 3245, dtype: object
Scafa-Pe Age                          45
M/F                           M
City                   Scafa-Pe
State                       NaN
Country                     ITA
Half            0 days 01:51:47
40K             0 days 03:52:58
Pace                    0:09:30
TotalSeconds              13978
HalfSeconds                6707
Name: 31609, dtype: object
Scappoose Age                          50
M/F                           M
City                  Scappoose
State                        OR
Country                     USA
Half            0 days 01:32:42
40K             0 days 03:05:54
Pace                    0:07:32
TotalSeconds              11154
HalfSeconds                5562
Name: 2202, dtype: object
Scarborough Age                          40
M/F                           M
City                Scarborough
State                        ON
Country                     CAN
Half            0 days 01:33:54
40K             0 days 03:04:38
Pace                    0:07:26
TotalSeconds              11078
HalfSeconds                5634
Name: 8078, dtype: object
Scarperia (fi) Age                          37
M/F                           M
City             Scarperia (fi)
State                       NaN
Country                     ITA
Half            0 days 01:26:42
40K             0 days 02:49:13
Pace                    0:06:49
TotalSeconds              10153
HalfSeconds                5202
Name: 6086, dtype: object
Scarsdale Age                          39
M/F                           M
City                  Scarsdale
State                        NY
Country                     USA
Half            0 days 01:25:05
40K             0 days 02:47:39
Pace                    0:06:46
TotalSeconds              10059
HalfSeconds                5105
Name: 2295, dtype: object
Schaumburg Age                          29
M/F                           M
City                 Schaumburg
State                        IL
Country                     USA
Half            0 days 01:30:32
40K             0 days 03:00:03
Pace                    0:07:18
TotalSeconds              10803
HalfSeconds                5432
Name: 4010, dtype: object
Schenectady Age                          49
M/F                           M
City                Schenectady
State                        NY
Country                     USA
Half            0 days 01:30:02
40K             0 days 03:07:19
Pace                    0:07:38
TotalSeconds              11239
HalfSeconds                5402
Name: 5643, dtype: object
Schnecksville Age                          47
M/F                           F
City              Schnecksville
State                        PA
Country                     USA
Half            0 days 01:54:31
40K             0 days 03:53:37
Pace                    0:09:30
TotalSeconds              14017
HalfSeconds                6871
Name: 23475, dtype: object
Schoelcher Age                          35
M/F                           M
City                 Schoelcher
State                       NaN
Country                     FRA
Half            0 days 01:33:11
40K             0 days 04:42:26
Pace                    0:11:26
TotalSeconds              16946
HalfSeconds                5591
Name: 4421, dtype: object
Schoolcraft Age                          46
M/F                           M
City                Schoolcraft
State                        MI
Country                     USA
Half            0 days 01:41:54
40K             0 days 03:19:53
Pace                    0:08:04
TotalSeconds              11993
HalfSeconds                6114
Name: 9923, dtype: object
Schuttrange Age                          40
M/F                           M
City                Schuttrange
State                       NaN
Country                     LUX
Half            0 days 01:35:34
40K             0 days 03:18:13
Pace                    0:08:05
TotalSeconds              11893
HalfSeconds                5734
Name: 7259, dtype: object
Schuylkill Haven Age                           61
M/F                            M
City            Schuylkill Haven
State                         PA
Country                      USA
Half             0 days 02:02:24
40K              0 days 03:56:39
Pace                     0:09:33
TotalSeconds               14199
HalfSeconds                 7344
Name: 25531, dtype: object
Schwenksville Age                          37
M/F                           M
City              Schwenksville
State                        PA
Country                     USA
Half            0 days 01:26:21
40K             0 days 02:46:24
Pace                    0:06:42
TotalSeconds               9984
HalfSeconds                5181
Name: 5294, dtype: object
Scituate Age                          37
M/F                           M
City                   Scituate
State                        MA
Country                     USA
Half            0 days 01:25:33
40K             0 days 02:43:28
Pace                    0:06:36
TotalSeconds               9808
HalfSeconds                5133
Name: 1241, dtype: object
Scorze Age                          60
M/F                           M
City                     Scorze
State                       NaN
Country                     ITA
Half            0 days 02:01:33
40K             0 days 04:43:32
Pace                    0:11:29
TotalSeconds              17012
HalfSeconds                7293
Name: 18972, dtype: object
Scotch Plains Age                          34
M/F                           M
City              Scotch Plains
State                        NJ
Country                     USA
Half            0 days 01:28:03
40K             0 days 02:56:34
Pace                    0:07:06
TotalSeconds              10594
HalfSeconds                5283
Name: 1427, dtype: object
Scotia Age                          50
M/F                           M
City                     Scotia
State                        NY
Country                     USA
Half            0 days 01:35:30
40K             0 days 03:21:45
Pace                    0:08:08
TotalSeconds              12105
HalfSeconds                5730
Name: 4346, dtype: object
Scott Depot Age                          54
M/F                           F
City                Scott Depot
State                        WV
Country                     USA
Half            0 days 01:55:21
40K             0 days 03:43:39
Pace                    0:09:00
TotalSeconds              13419
HalfSeconds                6921
Name: 23140, dtype: object
Scott Township Age                          37
M/F                           F
City             Scott Township
State                        PA
Country                     USA
Half            0 days 01:44:53
40K             0 days 03:23:37
Pace                    0:08:12
TotalSeconds              12217
HalfSeconds                6293
Name: 13465, dtype: object
Scott Twp Age                          64
M/F                           M
City                  Scott Twp
State                        PA
Country                     USA
Half            0 days 01:52:05
40K             0 days 03:33:49
Pace                    0:08:37
TotalSeconds              12829
HalfSeconds                6725
Name: 22511, dtype: object
Scottdale Age                          36
M/F                           F
City                  Scottdale
State                        PA
Country                     USA
Half            0 days 02:00:40
40K             0 days 04:05:14
Pace                    0:09:57
TotalSeconds              14714
HalfSeconds                7240
Name: 19341, dtype: object
Scottosdale Age                          40
M/F                           F
City                Scottosdale
State                        AZ
Country                     USA
Half            0 days 01:49:05
40K             0 days 03:37:39
Pace                    0:08:45
TotalSeconds              13059
HalfSeconds                6545
Name: 19316, dtype: object
Scottsdale Age                          52
M/F                           M
City                 Scottsdale
State                        AZ
Country                     USA
Half            0 days 01:20:59
40K             0 days 02:38:54
Pace                    0:06:25
TotalSeconds               9534
HalfSeconds                4859
Name: 403, dtype: object
Scottsville Age                          39
M/F                           F
City                Scottsville
State                        KY
Country                     USA
Half            0 days 01:42:43
40K             0 days 03:18:52
Pace                    0:08:01
TotalSeconds              11932
HalfSeconds                6163
Name: 14021, dtype: object
Scranton Age                          43
M/F                           M
City                   Scranton
State                        PA
Country                     USA
Half            0 days 01:25:21
40K             0 days 02:43:53
Pace                    0:06:36
TotalSeconds               9833
HalfSeconds                5121
Name: 1674, dtype: object
Sea Cliff Age                          57
M/F                           M
City                  Sea Cliff
State                        NY
Country                     USA
Half            0 days 01:54:30
40K             0 days 03:44:14
Pace                    0:09:06
TotalSeconds              13454
HalfSeconds                6870
Name: 15170, dtype: object
Seabrook Age                          35
M/F                           F
City                   Seabrook
State                        TX
Country                     USA
Half            0 days 01:55:55
40K             0 days 03:47:49
Pace                    0:09:10
TotalSeconds              13669
HalfSeconds                6955
Name: 19185, dtype: object
Seal Beach Age                          50
M/F                           M
City                 Seal Beach
State                        CA
Country                     USA
Half            0 days 01:32:25
40K             0 days 03:10:57
Pace                    0:07:45
TotalSeconds              11457
HalfSeconds                5545
Name: 5953, dtype: object
Seattle Age                          44
M/F                           M
City                    Seattle
State                        WA
Country                     USA
Half            0 days 01:14:19
40K             0 days 02:29:09
Pace                    0:06:01
TotalSeconds               8949
HalfSeconds                4459
Name: 82, dtype: object
Sebastian Age                          54
M/F                           F
City                  Sebastian
State                        FL
Country                     USA
Half            0 days 02:40:20
40K             0 days 05:15:21
Pace                    0:12:42
TotalSeconds              18921
HalfSeconds                9620
Name: 26668, dtype: object
Sebastopol Age                          47
M/F                           M
City                 Sebastopol
State                        CA
Country                     USA
Half            0 days 01:51:29
40K             0 days 03:35:59
Pace                    0:08:53
TotalSeconds              12959
HalfSeconds                6689
Name: 9526, dtype: object
Sebring Age                          36
M/F                           M
City                    Sebring
State                        FL
Country                     USA
Half            0 days 01:32:50
40K             0 days 03:11:36
Pace                    0:07:44
TotalSeconds              11496
HalfSeconds                5570
Name: 6353, dtype: object
Sechelt Age                          58
M/F                           M
City                    Sechelt
State                        BC
Country                     CAN
Half            0 days 01:58:02
40K             0 days 04:02:59
Pace                    0:09:48
TotalSeconds              14579
HalfSeconds                7082
Name: 19483, dtype: object
Sedalia Age                          63
M/F                           M
City                    Sedalia
State                        MO
Country                     USA
Half            0 days 01:47:14
40K             0 days 03:38:17
Pace                    0:08:52
TotalSeconds              13097
HalfSeconds                6434
Name: 22147, dtype: object
Sedona Age                          58
M/F                           M
City                     Sedona
State                        AZ
Country                     USA
Half            0 days 01:39:38
40K             0 days 03:37:55
Pace                    0:09:03
TotalSeconds              13075
HalfSeconds                5978
Name: 16522, dtype: object
Sedro Woolley Age                          28
M/F                           M
City              Sedro Woolley
State                        WA
Country                     USA
Half            0 days 01:32:28
40K             0 days 03:04:43
Pace                    0:07:28
TotalSeconds              11083
HalfSeconds                5548
Name: 1438, dtype: object
Selah Age                          25
M/F                           F
City                      Selah
State                        WA
Country                     USA
Half            0 days 02:27:54
40K             0 days 04:57:34
Pace                    0:11:57
TotalSeconds              17854
HalfSeconds                8874
Name: 30024, dtype: object
Selfridge Age                          35
M/F                           M
City                  Selfridge
State                        ND
Country                     USA
Half            0 days 01:52:04
40K             0 days 03:48:09
Pace                    0:09:13
TotalSeconds              13689
HalfSeconds                6724
Name: 4870, dtype: object
Selinsgrove Age                          24
M/F                           M
City                Selinsgrove
State                        PA
Country                     USA
Half            0 days 01:31:34
40K             0 days 03:15:22
Pace                    0:07:58
TotalSeconds              11722
HalfSeconds                5494
Name: 3631, dtype: object
Selkirk Age                          50
M/F                           F
City                    Selkirk
State                        NY
Country                     USA
Half            0 days 01:49:21
40K             0 days 03:31:04
Pace                    0:08:31
TotalSeconds              12664
HalfSeconds                6561
Name: 13353, dtype: object
Sellersburg Age                          53
M/F                           F
City                Sellersburg
State                        IN
Country                     USA
Half            0 days 01:43:55
40K             0 days 03:17:19
Pace                    0:07:56
TotalSeconds              11839
HalfSeconds                6235
Name: 16576, dtype: object
Sellersville Age                          31
M/F                           M
City               Sellersville
State                        PA
Country                     USA
Half            0 days 00:00:00
40K             0 days 00:00:00
Pace                    0:08:23
TotalSeconds                  0
HalfSeconds                   0
Name: 31326, dtype: object
Sendai Age                          69
M/F                           M
City                     Sendai
State                       NaN
Country                     JPN
Half            0 days 02:05:54
40K             0 days 04:08:00
Pace                    0:10:01
TotalSeconds              14880
HalfSeconds                7554
Name: 25184, dtype: object
Seneca Falls Age                          51
M/F                           M
City               Seneca Falls
State                        NY
Country                     USA
Half            0 days 01:38:46
40K             0 days 03:25:39
Pace                    0:08:19
TotalSeconds              12339
HalfSeconds                5926
Name: 11334, dtype: object
Seoul Age                          53
M/F                           M
City                      Seoul
State                       NaN
Country                     KOR
Half            0 days 01:22:37
40K             0 days 02:46:01
Pace                    0:06:43
TotalSeconds               9961
HalfSeconds                4957
Name: 379, dtype: object
Sept-Iles Age                          51
M/F                           M
City                  Sept-Iles
State                        QC
Country                     CAN
Half            0 days 01:31:29
40K             0 days 02:59:42
Pace                    0:07:15
TotalSeconds              10782
HalfSeconds                5489
Name: 8513, dtype: object
Setagaya-Ku, Tokyo Age                             51
M/F                              M
City            Setagaya-Ku, Tokyo
State                          NaN
Country                        JPN
Half               0 days 01:34:26
40K                0 days 03:08:21
Pace                       0:07:37
TotalSeconds                 11301
HalfSeconds                   5666
Name: 5639, dtype: object
Setauket Age                          54
M/F                           M
City                   Setauket
State                        NY
Country                     USA
Half            0 days 01:33:58
40K             0 days 03:01:22
Pace                    0:07:18
TotalSeconds              10882
HalfSeconds                5638
Name: 6502, dtype: object
Seven Fields Age                          43
M/F                           M
City               Seven Fields
State                        PA
Country                     USA
Half            0 days 01:37:21
40K             0 days 03:07:21
Pace                    0:07:33
TotalSeconds              11241
HalfSeconds                5841
Name: 8273, dtype: object
Seven Hills Age                          26
M/F                           M
City                Seven Hills
State                        OH
Country                     USA
Half            0 days 01:17:33
40K             0 days 02:42:48
Pace                    0:06:39
TotalSeconds               9768

Sneads Ferry Age                          26
M/F                           F
City               Sneads Ferry
State                        NC
Country                     USA
Half            0 days 01:38:27
40K             0 days 03:19:22
Pace                    0:08:05
TotalSeconds              11962
HalfSeconds                5907
Name: 6077, dtype: object
Snellville Age                          50
M/F                           F
City                 Snellville
State                        GA
Country                     USA
Half            0 days 01:43:29
40K             0 days 03:24:31
Pace                    0:08:14
TotalSeconds              12271
HalfSeconds                6209
Name: 18835, dtype: object
Snohomish Age                          35
M/F                           M
City                  Snohomish
State                        WA
Country                     USA
Half            0 days 01:30:16
40K             0 days 02:58:47
Pace                    0:07:16
TotalSeconds              10727
HalfSeconds                5416
Name: 6615, dtype: object
Snoqualmie Age                          43
M/F                           M
City                 Snoqualmie
State                        WA
Country                     USA
Half            0 days 01:36:18
40K             0 days 03:24:41
Pace                    0:08:27
TotalSeconds              12281
HalfSeconds                5778
Name: 7261, dtype: object
Snowflake Age                          33
M/F                           F
City                  Snowflake
State                        AZ
Country                     USA
Half            0 days 02:03:38
40K             0 days 04:11:40
Pace                    0:10:10
TotalSeconds              15100
HalfSeconds                7418
Name: 22314, dtype: object
So. Weymouth Age                          46
M/F                           M
City               So. Weymouth
State                        MA
Country                     USA
Half            0 days 01:36:09
40K             0 days 03:10:09
Pace                    0:07:42
TotalSeconds              11409
HalfSeconds                5769
Name: 6779, dtype: object
Sobieski Age                          39
M/F                           F
City                   Sobieski
State                        WI
Country                     USA
Half            0 days 01:40:31
40K             0 days 03:27:21
Pace                    0:08:22
TotalSeconds              12441
HalfSeconds                6031
Name: 14368, dtype: object
Socorro Age                          25
M/F                           M
City                    Socorro
State                        NM
Country                     USA
Half            0 days 01:22:52
40K             0 days 02:38:24
Pace                    0:06:23
TotalSeconds               9504
HalfSeconds                4972
Name: 2275, dtype: object
Soka Age                          48
M/F                           F
City                       Soka
State                       NaN
Country                     JPN
Half            0 days 01:36:06
40K             0 days 03:04:43
Pace                    0:07:27
TotalSeconds              11083
HalfSeconds                5766
Name: 9225, dtype: object
Solana Beach Age                          32
M/F                           F
City               Solana Beach
State                        CA
Country                     USA
Half            0 days 01:41:58
40K             0 days 03:22:26
Pace                    0:08:11
TotalSeconds              12146
HalfSeconds                6118
Name: 14736, dtype: object
Soldotna Age                          47
M/F                           F
City                   Soldotna
State                        AK
Country                     USA
Half            0 days 02:03:15
40K             0 days 04:09:38
Pace                    0:10:03
TotalSeconds              14978
HalfSeconds                7395
Name: 22214, dtype: object
Solna Age                          44
M/F                           F
City                      Solna
State                       NaN
Country                     SWE
Half            0 days 01:58:38
40K             0 days 03:56:33
Pace                    0:09:36
TotalSeconds              14193
HalfSeconds                7118
Name: 17213, dtype: object
Solon Age                          44
M/F                           M
City                      Solon
State                        OH
Country                     USA
Half            0 days 01:30:04
40K             0 days 02:57:02
Pace                    0:07:09
TotalSeconds              10622
HalfSeconds                5404
Name: 4762, dtype: object
Somerdale Age                          48
M/F                           M
City                  Somerdale
State                        NJ
Country                     USA
Half            0 days 02:07:59
40K             0 days 04:44:32
Pace                    0:11:40
TotalSeconds              17072
HalfSeconds                7679
Name: 10392, dtype: object
Somers Age                          53
M/F                           F
City                     Somers
State                        CT
Country                     USA
Half            0 days 01:36:30
40K             0 days 03:14:09
Pace                    0:07:53
TotalSeconds              11649
HalfSeconds                5790
Name: 23093, dtype: object
Somers Point Age                          50
M/F                           M
City               Somers Point
State                        NJ
Country                     USA
Half            0 days 01:42:10
40K             0 days 03:39:42
Pace                    0:08:54
TotalSeconds              13182
HalfSeconds                6130
Name: 10204, dtype: object
Somerset Age                          46
M/F                           M
City                   Somerset
State                        KY
Country                     USA
Half            0 days 01:40:24
40K             0 days 03:13:13
Pace                    0:07:48
TotalSeconds              11593
HalfSeconds                6024
Name: 11927, dtype: object
Somersworth Age                          29
M/F                           F
City                Somersworth
State                        NH
Country                     USA
Half            0 days 01:49:33
40K             0 days 03:26:01
Pace                    0:08:17
TotalSeconds              12361
HalfSeconds                6573
Name: 14672, dtype: object
Somerville Age                          39
M/F                           M
City                 Somerville
State                        MA
Country                     USA
Half            0 days 01:12:48
40K             0 days 02:26:36
Pace                    0:05:55
TotalSeconds               8796
HalfSeconds                4368
Name: 986, dtype: object
Sondrio Age                          59
M/F                           M
City                    Sondrio
State                       NaN
Country                     ITA
Half            0 days 02:12:26
40K             0 days 04:25:16
Pace                    0:10:46
TotalSeconds              15916
HalfSeconds                7946
Name: 31443, dtype: object
Sonoma Age                          44
M/F                           M
City                     Sonoma
State                        CA
Country                     USA
Half            0 days 01:34:50
40K             0 days 03:06:53
Pace                    0:07:32
TotalSeconds              11213
HalfSeconds                5690
Name: 6452, dtype: object
Sonora Age                          55
M/F                           F
City                     Sonora
State                        CA
Country                     USA
Half            0 days 01:51:13
40K             0 days 03:46:35
Pace                    0:09:09
TotalSeconds              13595
HalfSeconds                6673
Name: 24986, dtype: object
Sooke Age                          64
M/F                           F
City                      Sooke
State                        BC
Country                     CAN
Half            0 days 02:14:10
40K             0 days 04:37:35
Pace                    0:11:15
TotalSeconds              16655
HalfSeconds                8050
Name: 25695, dtype: object
Sopo Age                          50
M/F                           M
City                       Sopo
State                       NaN
Country                     COL
Half            0 days 01:32:27
40K             0 days 02:57:43
Pace                    0:07:09
TotalSeconds              10663
HalfSeconds                5547
Name: 9163, dtype: object
Soquel Age                          54
M/F                           M
City                     Soquel
State                        CA
Country                     USA
Half            0 days 01:37:15
40K             0 days 03:17:53
Pace                    0:08:01
TotalSeconds              11873
HalfSeconds                5835
Name: 11660, dtype: object
Sorel-Tracy Age                          48
M/F                           M
City                Sorel-Tracy
State                        QC
Country                     CAN
Half            0 days 01:25:11
40K             0 days 02:42:50
Pace                    0:06:35
TotalSeconds               9770
HalfSeconds                5111
Name: 1706, dtype: object
Soro Age                          36
M/F                           M
City                       Soro
State                       NaN
Country                     DEN
Half            0 days 01:41:38
40K             0 days 03:41:49
Pace                    0:08:59
TotalSeconds              13309
HalfSeconds                6098
Name: 3299, dtype: object
Sorocaba Age                          41
M/F                           M
City                   Sorocaba
State                       NaN
Country                     BRA
Half            0 days 01:33:03
40K             0 days 03:26:17
Pace                    0:08:19
TotalSeconds              12377
HalfSeconds                5583
Name: 3808, dtype: object
Souderton Age                          40
M/F                           M
City                  Souderton
State                        PA
Country                     USA
Half            0 days 01:32:34
40K             0 days 03:02:57
Pace                    0:07:32
TotalSeconds              10977
HalfSeconds                5554
Name: 4033, dtype: object
Souderton Ave Age                          41
M/F                           M
City              Souderton Ave
State                        PA
Country                     USA
Half            0 days 01:23:42
40K             0 days 02:41:05
Pace                    0:06:29
TotalSeconds               9665
HalfSeconds                5022
Name: 1763, dtype: object
Sour Lake Age                          48
M/F                           F
City                  Sour Lake
State                        TX
Country                     USA
Half            0 days 02:25:00
40K             0 days 05:01:12
Pace                    0:12:12
TotalSeconds              18072
HalfSeconds                8700
Name: 27704, dtype: object
South Amboy Age                          42
M/F                           F
City                South Amboy
State                        NJ
Country                     USA
Half            0 days 02:21:30
40K             0 days 04:39:34
Pace                    0:11:16
TotalSeconds              16774
HalfSeconds                8490
Name: 31910, dtype: object
South Barrington Age                           48
M/F                            M
City            South Barrington
State                         IL
Country                      USA
Half             0 days 01:44:53
40K              0 days 03:18:19
Pace                     0:07:59
TotalSeconds               11899
HalfSeconds                 6293
Name: 12790, dtype: object
South Beloit Age                          44
M/F                           F
City               South Beloit
State                        IL
Country                     USA
Half            0 days 02:02:42
40K             0 days 03:58:42
Pace                    0:09:37
TotalSeconds              14322
HalfSeconds                7362
Name: 20905, dtype: object
South Bend Age                          30
M/F                           M
City                 South Bend
State                        IN
Country                     USA
Half            0 days 01:17:21
40K             0 days 02:26:29
Pace                    0:05:54
TotalSeconds               8789
HalfSeconds                4641
Name: 306, dtype: object
South Berwick Age                          52
M/F                           F
City              South Berwick
State                        ME
Country                     USA
Half            0 days 01:59:05
40K             0 days 03:46:51
Pace                    0:09:07
TotalSeconds              13611
HalfSeconds                7145
Name: 22723, dtype: object
South Boston Age                          28
M/F                           M
City               South Boston
State                        MA
Country                     USA
Half            0 days 01:25:55
40K             0 days 02:45:35
Pace                    0:06:40
TotalSeconds               9935
HalfSeconds                5155
Name: 2505, dtype: object
South Burlington Age                           42
M/F                            M
City            South Burlington
State                         VT
Country                      USA
Half             0 days 01:33:15
40K              0 days 03:01:32
Pace                     0:07:20
TotalSeconds               10892
HalfSeconds                 5595
Name: 8275, dtype: object
South Charleston Age                           32
M/F                            M
City            South Charleston
State                         WV
Country                      USA
Half             0 days 01:28:21
40K              0 days 02:55:13
Pace                     0:07:04
TotalSeconds               10513
HalfSeconds                 5301
Name: 1711, dtype: object
South Chittenden Age                           53
M/F                            F
City            South Chittenden
State                         VT
Country                      USA
Half             0 days 01:49:08
40K              0 days 03:34:41
Pace                     0:08:40
TotalSeconds               12881
HalfSeconds                 6548
Name: 24814, dtype: object
South Dartmouth Age                          34
M/F                           F
City            South Dartmouth
State                        MA
Country                     USA
Half            0 days 01:43:24
40K             0 days 03:33:36
Pace                    0:08:39
TotalSeconds              12816
HalfSeconds                6204
Name: 15370, dtype: object
South Deerfield Age                          36
M/F                           F
City            South Deerfield
State                        MA
Country                     USA
Half            0 days 01:36:49
40K             0 days 03:10:06
Pace                    0:07:41
TotalSeconds              11406
HalfSeconds                5809
Name: 17207, dtype: object
South Dennis Age                          39
M/F                           M
City               South Dennis
State                        MA
Country                     USA
Half            0 days 01:36:14
40K             0 days 03:08:51
Pace                    0:07:37
TotalSeconds              11331
HalfSeconds                5774
Name: 6596, dtype: object
South Easton Age                          39
M/F                           M
City               South Easton
State                        MA
Country                     USA
Half            0 days 01:54:20
40K             0 days 03:57:22
Pace                    0:09:39
TotalSeconds              14242
HalfSeconds                6860
Name: 28772, dtype: object
South Elgin Age                          36
M/F                           M
City                South Elgin
State                        IL
Country                     USA
Half            0 days 01:27:54
40K             0 days 03:03:14
Pace                    0:07:29
TotalSeconds              10994
HalfSeconds                5274
Name: 4575, dtype: object
South Esk Age                          47
M/F                           M
City                  South Esk
State                        NB
Country                     CAN
Half            0 days 01:33:51
40K             0 days 03:05:00
Pace                    0:07:29
TotalSeconds              11100
HalfSeconds                5631
Name: 7179, dtype: object
South Gate Age                          51
M/F                           M
City                 South Gate
State                        CA
Country                     USA
Half            0 days 02:08:39
40K             0 days 04:42:10
Pace                    0:11:19
TotalSeconds              16930
HalfSeconds                7719
Name: 3910, dtype: object
South Glastonbury Age                            55
M/F                             F
City            South Glastonbury
State                          CT
Country                       USA
Half              0 days 01:53:24
40K               0 days 03:48:48
Pace                      0:09:15
TotalSeconds                13728
HalfSeconds                  6804
Name: 21735, dtype: object
South Hadley Age                          36
M/F                           M
City               South Hadley
State                        MA
Country                     USA
Half            0 days 01:31:00
40K             0 days 03:02:57
Pace                    0:07:32
TotalSeconds              10977
HalfSeconds                5460
Name: 7317, dtype: object
South Hamilton Age                          22
M/F                           M
City             South Hamilton
State                        MA
Country                     USA
Half            0 days 01:27:54
40K             0 days 03:01:09
Pace                    0:07:23
TotalSeconds              10869
HalfSeconds                5274
Name: 2928, dtype: object
South Haven Age                          51
M/F                           F
City                South Haven
State                        MI
Country                     USA
Half            0 days 01:56:09
40K             0 days 03:49:06
Pace                    0:09:16
TotalSeconds              13746
HalfSeconds                6969
Name: 24957, dtype: object
South Hero Age                          32
M/F                           M
City                 South Hero
State                        VT
Country                     USA
Half            0 days 01:20:09
40K             0 days 02:37:52
Pace                    0:06:23
TotalSeconds               9472
HalfSeconds                4809
Name: 1115, dtype: object
South Jordan Age                          32
M/F                           M
City               South Jordan
State                        UT
Country                     USA
Half            0 days 01:25:56
40K             0 days 02:59:33
Pace                    0:07:16
TotalSeconds              10773
HalfSeconds                5156
Name: 2817, dtype: object
South Kingstown Age                          46
M/F                           M
City            South Kingstown
State                        RI
Country                     USA
Half            0 days 01:50:52
40K             0 days 03:30:30
Pace                    0:08:27
TotalSeconds              12630
HalfSeconds                6652
Name: 16911, dtype: object
South Lake Tahoe Age                           56
M/F                            M
City            South Lake Tahoe
State                         CA
Country                      USA
Half             0 days 01:50:58
40K              0 days 03:53:00
Pace                     0:09:24
TotalSeconds               13980
HalfSeconds                 6658
Name: 13365, dtype: object
South Lyon Age                          31
M/F                           M
City                 South Lyon
State                        MI
Country                     USA
Half            0 days 01:29:21
40K             0 days 02:50:25

St Andrews Age                          41
M/F                           M
City                 St Andrews
State                       NaN
Country                     GBR
Half            0 days 01:40:17
40K             0 days 03:38:34
Pace                    0:08:53
TotalSeconds              13114
HalfSeconds                6017
Name: 7053, dtype: object
St Augustine Age                          45
M/F                           M
City               St Augustine
State                        FL
Country                     USA
Half            0 days 01:34:12
40K             0 days 03:19:49
Pace                    0:08:07
TotalSeconds              11989
HalfSeconds                5652
Name: 8007, dtype: object
St Basile Le Grand Age                             39
M/F                              F
City            St Basile Le Grand
State                           QC
Country                        CAN
Half               0 days 01:39:42
40K                0 days 03:12:21
Pace                       0:07:44
TotalSeconds                 11541
HalfSeconds                   5982
Name: 14338, dtype: object
St Bruno Age                          52
M/F                           M
City                   St Bruno
State                        QC
Country                     CAN
Half            0 days 01:43:15
40K             0 days 03:29:27
Pace                    0:08:33
TotalSeconds              12567
HalfSeconds                6195
Name: 14181, dtype: object
St Caprais De Bordeaux Age                                 52
M/F                                  M
City            St Caprais De Bordeaux
State                              NaN
Country                            FRA
Half                   0 days 01:52:49
40K                    0 days 03:37:58
Pace                           0:08:49
TotalSeconds                     13078
HalfSeconds                       6769
Name: 31570, dtype: object
St Catharines Age                          55
M/F                           M
City              St Catharines
State                        ON
Country                     CAN
Half            0 days 01:52:12
40K             0 days 03:51:16
Pace                    0:09:21
TotalSeconds              13876
HalfSeconds                6732
Name: 19828, dtype: object
St Charles Age                          44
M/F                           M
City                 St Charles
State                        IL
Country                     USA
Half            0 days 01:30:35
40K             0 days 03:18:21
Pace                    0:08:04
TotalSeconds              11901
HalfSeconds                5435
Name: 5535, dtype: object
St Clair Shores Age                          35
M/F                           M
City            St Clair Shores
State                        MI
Country                     USA
Half            0 days 01:34:56
40K             0 days 03:15:25
Pace                    0:07:53
TotalSeconds              11725
HalfSeconds                5696
Name: 6391, dtype: object
St Gallen Age                          43
M/F                           F
City                  St Gallen
State                       NaN
Country                     SUI
Half            0 days 01:33:15
40K             0 days 03:06:51
Pace                    0:07:32
TotalSeconds              11211
HalfSeconds                5595
Name: 5733, dtype: object
St George Age                          27
M/F                           F
City                  St George
State                        UT
Country                     USA
Half            0 days 00:00:00
40K             0 days 00:00:00
Pace                    0:07:56
TotalSeconds                  0
HalfSeconds                   0
Name: 8351, dtype: object
St Gilles Reunion Age                            52
M/F                             M
City            St Gilles Reunion
State                         NaN
Country                       FRA
Half              0 days 02:01:54
40K               0 days 04:05:02
Pace                      0:09:57
TotalSeconds                14702
HalfSeconds                  7314
Name: 30038, dtype: object
St Ives Age                          58
M/F                           M
City                    St Ives
State                       NaN
Country                     AUS
Half            0 days 01:42:23
40K             0 days 03:18:30
Pace                    0:08:01
TotalSeconds              11910
HalfSeconds                6143
Name: 16472, dtype: object
St Ives, N.s.w. Age                          49
M/F                           F
City            St Ives, N.s.w.
State                       NaN
Country                     AUS
Half            0 days 01:54:18
40K             0 days 03:51:37
Pace                    0:09:24
TotalSeconds              13897
HalfSeconds                6858
Name: 24383, dtype: object
St James Age                          61
M/F                           M
City                   St James
State                        MN
Country                     USA
Half            0 days 01:45:19
40K             0 days 03:31:32
Pace                    0:08:35
TotalSeconds              12692
HalfSeconds                6319
Name: 13244, dtype: object
St John's Age                          41
M/F                           M
City                  St John's
State                        NL
Country                     CAN
Half            0 days 01:27:03
40K             0 days 03:14:20
Pace                    0:07:50
TotalSeconds              11660
HalfSeconds                5223
Name: 2853, dtype: object
St Joseph Age                          65
M/F                           M
City                  St Joseph
State                        MN
Country                     USA
Half            0 days 01:41:45
40K             0 days 03:17:59
Pace                    0:08:00
TotalSeconds              11879
HalfSeconds                6105
Name: 17277, dtype: object
St Joseph Du Lac Age                           53
M/F                            M
City            St Joseph Du Lac
State                         QC
Country                      CAN
Half             0 days 01:34:44
40K              0 days 03:14:38
Pace                     0:07:55
TotalSeconds               11678
HalfSeconds                 5684
Name: 4122, dtype: object
St Louis Age                          47
M/F                           M
City                   St Louis
State                        MO
Country                     USA
Half            0 days 01:37:14
40K             0 days 03:15:49
Pace                    0:07:56
TotalSeconds              11749
HalfSeconds                5834
Name: 11357, dtype: object
St Louis Park Age                          29
M/F                           F
City              St Louis Park
State                        MN
Country                     USA
Half            0 days 01:39:19
40K             0 days 03:07:10
Pace                    0:07:31
TotalSeconds              11230
HalfSeconds                5959
Name: 10985, dtype: object
St Michaels Age                          50
M/F                           M
City                St Michaels
State                        AZ
Country                     USA
Half            0 days 01:49:03
40K             0 days 03:47:37
Pace                    0:09:10
TotalSeconds              13657
HalfSeconds                6543
Name: 14105, dtype: object
St Paul Age                          37
M/F                           M
City                    St Paul
State                        MN
Country                     USA
Half            0 days 01:18:50
40K             0 days 02:37:41
Pace                    0:06:24
TotalSeconds               9461
HalfSeconds                4730
Name: 501, dtype: object
St Peters Age                          44
M/F                           F
City                  St Peters
State                        MO
Country                     USA
Half            0 days 01:49:26
40K             0 days 03:31:56
Pace                    0:08:34
TotalSeconds              12716
HalfSeconds                6566
Name: 19526, dtype: object
St Petersburg Age                          42
M/F                           M
City              St Petersburg
State                        FL
Country                     USA
Half            0 days 01:25:47
40K             0 days 02:49:11
Pace                    0:06:52
TotalSeconds              10151
HalfSeconds                5147
Name: 3458, dtype: object
St Stephen Age                          40
M/F                           M
City                 St Stephen
State                        MN
Country                     USA
Half            0 days 01:37:39
40K             0 days 03:22:44
Pace                    0:08:18
TotalSeconds              12164
HalfSeconds                5859
Name: 6638, dtype: object
St Thomas Age                          41
M/F                           F
City                  St Thomas
State                        ON
Country                     CAN
Half            0 days 02:01:13
40K             0 days 04:00:06
Pace                    0:09:40
TotalSeconds              14406
HalfSeconds                7273
Name: 21446, dtype: object
St-Ambroise Age                          54
M/F                           M
City                St-Ambroise
State                        QC
Country                     CAN
Half            0 days 01:28:33
40K             0 days 02:49:58
Pace                    0:06:51
TotalSeconds              10198
HalfSeconds                5313
Name: 3025, dtype: object
St-Andre Du Lac-St-Jean Age                                  71
M/F                                   M
City            St-Andre Du Lac-St-Jean
State                                QC
Country                             CAN
Half                    0 days 02:04:40
40K                     0 days 04:20:20
Pace                            0:10:39
TotalSeconds                      15620
HalfSeconds                        7480
Name: 25412, dtype: object
St-Armand Age                          61
M/F                           F
City                  St-Armand
State                        QC
Country                     CAN
Half            0 days 01:37:05
40K             0 days 03:06:42
Pace                    0:07:32
TotalSeconds              11202
HalfSeconds                5825
Name: 10146, dtype: object
St-Augustin De Desmaures Age                                   38
M/F                                    M
City            St-Augustin De Desmaures
State                                 QC
Country                              CAN
Half                     0 days 01:24:33
40K                      0 days 02:44:53
Pace                             0:06:40
TotalSeconds                        9893
HalfSeconds                         5073
Name: 1340, dtype: object
St-Augustin-De-Desmaures Age                                   35
M/F                                    F
City            St-Augustin-De-Desmaures
State                                 QC
Country                              CAN
Half                     0 days 01:42:49
40K                      0 days 03:19:49
Pace                             0:08:04
TotalSeconds                       11989
HalfSeconds                         6169
Name: 13160, dtype: object
St-Barnabe Age                          53
M/F                           M
City                 St-Barnabe
State                        QC
Country                     CAN
Half            0 days 01:39:03
40K             0 days 03:12:58
Pace                    0:07:47
TotalSeconds              11578
HalfSeconds                5943
Name: 12906, dtype: object
St-Basile-Le-Grand Age                             57
M/F                              M
City            St-Basile-Le-Grand
State                           QC
Country                        CAN
Half               0 days 01:26:04
40K                0 days 02:49:38
Pace                       0:06:51
TotalSeconds                 10178
HalfSeconds                   5164
Name: 2346, dtype: object
St-Bruno Age                          46
M/F                           M
City                   St-Bruno
State                        QC
Country                     CAN
Half            0 days 01:25:32
40K             0 days 02:48:09
Pace                    0:06:48
TotalSeconds              10089
HalfSeconds                5132
Name: 2203, dtype: object
St-Bruno De Montarville Age                                  54
M/F                                   F
City            St-Bruno De Montarville
State                                QC
Country                             CAN
Half                    0 days 01:55:22
40K                     0 days 03:43:35
Pace                            0:09:01
TotalSeconds                      13415
HalfSeconds                        6922
Name: 22864, dtype: object
St-Bruno-De-Montarville Age                                  45
M/F                                   F
City            St-Bruno-De-Montarville
State                                QC
Country                             CAN
Half                    0 days 01:30:42
40K                     0 days 03:01:45
Pace                            0:07:21
TotalSeconds                      10905
HalfSeconds                        5442
Name: 8665, dtype: object
St-Constant Age                          46
M/F                           M
City                St-Constant
State                        QC
Country                     CAN
Half            0 days 01:35:04
40K             0 days 03:20:04
Pace                    0:08:03
TotalSeconds              12004
HalfSeconds                5704
Name: 7218, dtype: object
St-Elie-De-Caxton Age                            53
M/F                             M
City            St-Elie-De-Caxton
State                          QC
Country                       CAN
Half              0 days 01:49:33
40K               0 days 03:53:17
Pace                      0:09:29
TotalSeconds                13997
HalfSeconds                  6573
Name: 14486, dtype: object
St-Gabriel-De-Valcartier Age                                   39
M/F                                    F
City            St-Gabriel-De-Valcartier
State                                 QC
Country                              CAN
Half                     0 days 01:49:36
40K                      0 days 03:35:37
Pace                             0:08:40
TotalSeconds                       12937
HalfSeconds                         6576
Name: 19365, dtype: object
St-Gedeon Age                          56
M/F                           M
City                  St-Gedeon
State                        QC
Country                     CAN
Half            0 days 01:41:29
40K             0 days 03:21:37
Pace                    0:08:09
TotalSeconds              12097
HalfSeconds                6089
Name: 12227, dtype: object
St-Hilaire Age                          37
M/F                           F
City                 St-Hilaire
State                        QC
Country                     CAN
Half            0 days 01:44:11
40K             0 days 03:33:46
Pace                    0:08:39
TotalSeconds              12826
HalfSeconds                6251
Name: 18309, dtype: object
St-Hippolyte Age                          53
M/F                           M
City               St-Hippolyte
State                        QC
Country                     CAN
Half            0 days 01:41:56
40K             0 days 03:22:03
Pace                    0:08:10
TotalSeconds              12123
HalfSeconds                6116
Name: 9730, dtype: object
St-Hubert Age                          59
M/F                           F
City                  St-Hubert
State                        QC
Country                     CAN
Half            0 days 01:53:26
40K             0 days 03:53:19
Pace                    0:09:24
TotalSeconds              13999
HalfSeconds                6806
Name: 24571, dtype: object
St-Jean-Sur-Richelieu Age                                43
M/F                                 M
City            St-Jean-Sur-Richelieu
State                              QC
Country                           CAN
Half                  0 days 01:29:08
40K                   0 days 03:10:42
Pace                          0:07:40
TotalSeconds                    11442
HalfSeconds                      5348
Name: 3861, dtype: object
St-Jerome Age                          50
M/F                           F
City                  St-Jerome
State                        QC
Country                     CAN
Half            0 days 01:52:26
40K             0 days 03:34:59
Pace                    0:08:38
TotalSeconds              12899
HalfSeconds                6746
Name: 23348, dtype: object
St-Joseph De Coleraine Age                                 57
M/F                                  M
City            St-Joseph De Coleraine
State                               QC
Country                            CAN
Half                   0 days 01:47:53
40K                    0 days 03:38:10
Pace                           0:08:50
TotalSeconds                     13090
HalfSeconds                       6473
Name: 19978, dtype: object
St-Lambert Age                          44
M/F                           F
City                 St-Lambert
State                        QC
Country                     CAN
Half            0 days 01:40:45
40K             0 days 03:22:09
Pace                    0:08:11
TotalSeconds              12129
HalfSeconds                6045
Name: 11230, dtype: object
St-Laurent Age                          45
M/F                           M
City                 St-Laurent
State                        QC
Country                     CAN
Half            0 days 01:31:21
40K             0 days 02:59:18
Pace                    0:07:14
TotalSeconds              10758
HalfSeconds                5481
Name: 2481, dtype: object
St-Laurent - I.o. Age                            61
M/F                             M
City            St-Laurent - I.o.
State                          QC
Country                       CAN
Half              0 days 01:39:31
40K               0 days 03:21:09
Pace                      0:08:10
TotalSeconds                12069
HalfSeconds                  5971
Name: 9839, dtype: object
St-Laurent-Ile-Orleans Age                                 29
M/F                                  F
City            St-Laurent-Ile-Orleans
State                               QC
Country                            CAN
Half                   0 days 01:37:35
40K                    0 days 03:12:35
Pace                           0:07:46
TotalSeconds                     11555
HalfSeconds                       5855
Name: 16525, dtype: object
St-Lazare Age                          42
M/F                           M
City                  St-Lazare
State                        QC
Country                     CAN
Half            0 days 01:34:48
40K             0 days 03:26:59
Pace                    0:08:25
TotalSeconds              12419
HalfSeconds                5688
Name: 8528, dtype: object
St-Leonard-D'Aston Age                             37
M/F                              M
City            St-Leonard-D'Aston
State                           QC
Country                        CAN
Half               0 days 01:18:29
40K                0 days 02:40:11
Pace                       0:06:31
TotalSeconds                  9611
HalfSeconds                   4709
Name: 355, dtype: object
St-Paul Age                          29
M/F                           M
City                    St-Paul
State                        QC
Country                     CAN
Half            0 days 01:26:34
40K             0 days 02:55:39
Pace                    0:07:08
TotalSeconds              10539
HalfSeconds                5194
Name: 1870, dtype: object
St-Paul-De-Montminy Age                              72
M/F                               M
City            St-Paul-De-Montminy
State                            QC
Country                         CAN
Half                0 days 02:12:29
40K                 0 days 04:30:11

Streamwood Age                          43
M/F                           M
City                 Streamwood
State                        IL
Country                     USA
Half            0 days 01:30:59
40K             0 days 03:06:04
Pace                    0:07:36
TotalSeconds              11164
HalfSeconds                5459
Name: 5746, dtype: object
Streetsboro Age                          35
M/F                           F
City                Streetsboro
State                        OH
Country                     USA
Half            0 days 01:50:44
40K             0 days 03:43:08
Pace                    0:09:01
TotalSeconds              13388
HalfSeconds                6644
Name: 17431, dtype: object
Strongsville Age                          45
M/F                           M
City               Strongsville
State                        OH
Country                     USA
Half            0 days 01:25:32
40K             0 days 02:44:08
Pace                    0:06:37
TotalSeconds               9848
HalfSeconds                5132
Name: 956, dtype: object
Stroudsburg Age                          55
M/F                           F
City                Stroudsburg
State                        PA
Country                     USA
Half            0 days 02:05:04
40K             0 days 04:06:21
Pace                    0:09:56
TotalSeconds              14781
HalfSeconds                7504
Name: 25526, dtype: object
Stthomas Age                          55
M/F                           F
City                   Stthomas
State                        ON
Country                     CAN
Half            0 days 02:07:09
40K             0 days 04:10:37
Pace                    0:10:04
TotalSeconds              15037
HalfSeconds                7629
Name: 25282, dtype: object
Stuart Age                          50
M/F                           F
City                     Stuart
State                        FL
Country                     USA
Half            0 days 01:47:59
40K             0 days 03:34:26
Pace                    0:08:40
TotalSeconds              12866
HalfSeconds                6479
Name: 22800, dtype: object
Stupava Age                          41
M/F                           M
City                    Stupava
State                       NaN
Country                     SVK
Half            0 days 01:31:04
40K             0 days 03:21:45
Pace                    0:08:13
TotalSeconds              12105
HalfSeconds                5464
Name: 6511, dtype: object
Sturbridge Age                          38
M/F                           F
City                 Sturbridge
State                        MA
Country                     USA
Half            0 days 02:02:44
40K             0 days 03:48:06
Pace                    0:09:08
TotalSeconds              13686
HalfSeconds                7364
Name: 31138, dtype: object
Sturgeon Bay Age                          54
M/F                           F
City               Sturgeon Bay
State                        WI
Country                     USA
Half            0 days 02:04:34
40K             0 days 04:06:42
Pace                    0:09:59
TotalSeconds              14802
HalfSeconds                7474
Name: 24918, dtype: object
Sturgeon County Age                          52
M/F                           F
City            Sturgeon County
State                        AB
Country                     CAN
Half            0 days 02:07:25
40K             0 days 04:28:34
Pace                    0:10:53
TotalSeconds              16114
HalfSeconds                7645
Name: 24674, dtype: object
Sturgis Age                          64
M/F                           F
City                    Sturgis
State                        MI
Country                     USA
Half            0 days 02:39:13
40K             0 days 05:24:14
Pace                    0:13:03
TotalSeconds              19454
HalfSeconds                9553
Name: 25987, dtype: object
Stuttgart Age                          41
M/F                           M
City                  Stuttgart
State                       NaN
Country                     GER
Half            0 days 01:22:59
40K             0 days 02:44:07
Pace                    0:06:39
TotalSeconds               9847
HalfSeconds                4979
Name: 1703, dtype: object
Subang Jaya Age                          36
M/F                           M
City                Subang Jaya
State                       NaN
Country                     MAS
Half            0 days 02:35:37
40K             0 days 05:25:08
Pace                    0:13:12
TotalSeconds              19508
HalfSeconds                9337
Name: 28636, dtype: object
Subiaco Age                          28
M/F                           M
City                    Subiaco
State                       NaN
Country                     AUS
Half            0 days 01:29:15
40K             0 days 03:05:16
Pace                    0:07:37
TotalSeconds              11116
HalfSeconds                5355
Name: 3495, dtype: object
Succasunna Age                          37
M/F                           M
City                 Succasunna
State                        NJ
Country                     USA
Half            0 days 01:25:16
40K             0 days 02:45:10
Pace                    0:06:39
TotalSeconds               9910
HalfSeconds                5116
Name: 1003, dtype: object
Sudbury Age                          32
M/F                           M
City                    Sudbury
State                        MA
Country                     USA
Half            0 days 01:31:35
40K             0 days 02:52:41
Pace                    0:06:57
TotalSeconds              10361
HalfSeconds                5495
Name: 4426, dtype: object
Suffield Age                          35
M/F                           M
City                   Suffield
State                        CT
Country                     USA
Half            0 days 01:26:35
40K             0 days 02:51:04
Pace                    0:06:53
TotalSeconds              10264
HalfSeconds                5195
Name: 2057, dtype: object
Suffolk Age                          49
M/F                           M
City                    Suffolk
State                       NaN
Country                     GBR
Half            0 days 01:19:21
40K             0 days 02:36:16
Pace                    0:06:19
TotalSeconds               9376
HalfSeconds                4761
Name: 674, dtype: object
Sugar Grove Age                          51
M/F                           F
City                Sugar Grove
State                        IL
Country                     USA
Half            0 days 02:00:55
40K             0 days 04:09:02
Pace                    0:10:06
TotalSeconds              14942
HalfSeconds                7255
Name: 24969, dtype: object
Sugar Land Age                          36
M/F                           M
City                 Sugar Land
State                        TX
Country                     USA
Half            0 days 01:30:15
40K             0 days 02:56:43
Pace                    0:07:07
TotalSeconds              10603
HalfSeconds                5415
Name: 2018, dtype: object
Sugar Run Age                          50
M/F                           M
City                  Sugar Run
State                        PA
Country                     USA
Half            0 days 01:43:07
40K             0 days 03:17:59
Pace                    0:07:59
TotalSeconds              11879
HalfSeconds                6187
Name: 14154, dtype: object
Sugarcreek Age                          40
M/F                           M
City                 Sugarcreek
State                        OH
Country                     USA
Half            0 days 01:28:18
40K             0 days 02:51:34
Pace                    0:06:59
TotalSeconds              10294
HalfSeconds                5298
Name: 4073, dtype: object
Sugarland Age                          54
M/F                           F
City                  Sugarland
State                        TX
Country                     USA
Half            0 days 02:05:26
40K             0 days 04:31:49
Pace                    0:10:58
TotalSeconds              16309
HalfSeconds                7526
Name: 26581, dtype: object
Sullivan'S Island Age                            33
M/F                             F
City            Sullivan'S Island
State                          SC
Country                       USA
Half              0 days 01:44:18
40K               0 days 03:19:46
Pace                      0:08:02
TotalSeconds                11986
HalfSeconds                  6258
Name: 18001, dtype: object
Sullivans Island Age                           61
M/F                            M
City            Sullivans Island
State                         SC
Country                      USA
Half             0 days 01:55:04
40K              0 days 04:03:48
Pace                     0:09:54
TotalSeconds               14628
HalfSeconds                 6904
Name: 22787, dtype: object
Sulzbach Age                          44
M/F                           M
City                   Sulzbach
State                       NaN
Country                     GER
Half            0 days 02:00:15
40K             0 days 03:56:00
Pace                    0:09:31
TotalSeconds              14160
HalfSeconds                7215
Name: 31864, dtype: object
Summerside Age                          53
M/F                           M
City                 Summerside
State                        PE
Country                     CAN
Half            0 days 01:39:27
40K             0 days 03:29:02
Pace                    0:08:26
TotalSeconds              12542
HalfSeconds                5967
Name: 11642, dtype: object
Summerville Age                          35
M/F                           F
City                Summerville
State                        SC
Country                     USA
Half            0 days 01:52:26
40K             0 days 03:57:52
Pace                    0:09:35
TotalSeconds              14272
HalfSeconds                6746
Name: 18394, dtype: object
Summit Age                          30
M/F                           M
City                     Summit
State                        NJ
Country                     USA
Half            0 days 01:22:21
40K             0 days 02:41:25
Pace                    0:06:31
TotalSeconds               9685
HalfSeconds                4941
Name: 1964, dtype: object
Sumter Age                          49
M/F                           M
City                     Sumter
State                        SC
Country                     USA
Half            0 days 01:59:36
40K             0 days 03:49:33
Pace                    0:09:13
TotalSeconds              13773
HalfSeconds                7176
Name: 10670, dtype: object
Sun Prairie Age                          47
M/F                           M
City                Sun Prairie
State                        WI
Country                     USA
Half            0 days 01:41:15
40K             0 days 03:22:57
Pace                    0:08:15
TotalSeconds              12177
HalfSeconds                6075
Name: 11392, dtype: object
Sun Valley Age                          45
M/F                           M
City                 Sun Valley
State                        CA
Country                     USA
Half            0 days 01:38:45
40K             0 days 03:20:31
Pace                    0:08:09
TotalSeconds              12031
HalfSeconds                5925
Name: 6971, dtype: object
Sunbury Age                          30
M/F                           F
City                    Sunbury
State                        PA
Country                     USA
Half            0 days 01:40:14
40K             0 days 03:08:08
Pace                    0:07:33
TotalSeconds              11288
HalfSeconds                6014
Name: 11867, dtype: object
Sundbyberg Age                          35
M/F                           M
City                 Sundbyberg
State                       NaN
Country                     SWE
Half            0 days 02:05:39
40K             0 days 04:09:25
Pace                    0:10:02
TotalSeconds              14965
HalfSeconds                7539
Name: 31502, dtype: object
Sunderland Age                          53
M/F                           M
City                 Sunderland
State                       NaN
Country                     GBR
Half            0 days 01:35:09
40K             0 days 03:20:13
Pace                    0:08:11
TotalSeconds              12013
HalfSeconds                5709
Name: 15015, dtype: object
Sundsvall Age                          46
M/F                           M
City                  Sundsvall
State                       NaN
Country                     SWE
Half            0 days 01:48:32
40K             0 days 03:40:07
Pace                    0:08:52
TotalSeconds              13207
HalfSeconds                6512
Name: 12615, dtype: object
Sunland Age                          25
M/F                           F
City                    Sunland
State                        CA
Country                     USA
Half            0 days 02:02:05
40K             0 days 03:48:03
Pace                    0:09:07
TotalSeconds              13683
HalfSeconds                7325
Name: 15068, dtype: object
Sunny Isles Brach Age                            39
M/F                             F
City            Sunny Isles Brach
State                          FL
Country                       USA
Half              0 days 02:05:05
40K               0 days 04:34:43
Pace                      0:10:59
TotalSeconds                16483
HalfSeconds                  7505
Name: 19627, dtype: object
Sunnyside Age                          47
M/F                           F
City                  Sunnyside
State                        NY
Country                     USA
Half            0 days 01:45:26
40K             0 days 03:26:15
Pace                    0:08:17
TotalSeconds              12375
HalfSeconds                6326
Name: 11967, dtype: object
Sunnyvale Age                          26
M/F                           M
City                  Sunnyvale
State                        CA
Country                     USA
Half            0 days 01:21:53
40K             0 days 02:40:56
Pace                    0:06:29
TotalSeconds               9656
HalfSeconds                4913
Name: 1244, dtype: object
Sunrise Age                          42
M/F                           F
City                    Sunrise
State                        FL
Country                     USA
Half            0 days 01:45:24
40K             0 days 03:22:38
Pace                    0:08:09
TotalSeconds              12158
HalfSeconds                6324
Name: 20610, dtype: object
Superior Age                          26
M/F                           F
City                   Superior
State                        CO
Country                     USA
Half            0 days 01:17:01
40K             0 days 02:27:15
Pace                    0:05:55
TotalSeconds               8835
HalfSeconds                4621
Name: F18, dtype: object
Superior Township Age                            50
M/F                             M
City            Superior Township
State                          MI
Country                       USA
Half              0 days 01:39:05
40K               0 days 03:26:43
Pace                      0:08:25
TotalSeconds                12403
HalfSeconds                  5945
Name: 12306, dtype: object
Suquamish Age                          40
M/F                           F
City                  Suquamish
State                        WA
Country                     USA
Half            0 days 02:08:53
40K             0 days 04:44:25
Pace                    0:11:31
TotalSeconds              17065
HalfSeconds                7733
Name: 29397, dtype: object
Surf City Age                          45
M/F                           F
City                  Surf City
State                        NC
Country                     USA
Half            0 days 02:40:46
40K             0 days 05:27:10
Pace                    0:13:09
TotalSeconds              19630
HalfSeconds                9646
Name: 26989, dtype: object
Surfside Age                          45
M/F                           M
City                   Surfside
State                        SC
Country                     USA
Half            0 days 01:37:58
40K             0 days 03:23:07
Pace                    0:08:15
TotalSeconds              12187
HalfSeconds                5878
Name: 9614, dtype: object
Surprise Age                          40
M/F                           M
City                   Surprise
State                        AZ
Country                     USA
Half            0 days 01:33:24
40K             0 days 03:07:17
Pace                    0:07:36
TotalSeconds              11237
HalfSeconds                5604
Name: 7058, dtype: object
Surrey Age                          58
M/F                           M
City                     Surrey
State                       NaN
Country                     GBR
Half            0 days 01:27:20
40K             0 days 02:58:43
Pace                    0:07:23
TotalSeconds              10723
HalfSeconds                5240
Name: 2515, dtype: object
Sussex Age                          46
M/F                           M
City                     Sussex
State                        NJ
Country                     USA
Half            0 days 01:39:01
40K             0 days 03:20:09
Pace                    0:08:16
TotalSeconds              12009
HalfSeconds                5941
Name: 10005, dtype: object
Sutton Age                          36
M/F                           F
City                     Sutton
State                        MA
Country                     USA
Half            0 days 01:48:03
40K             0 days 03:32:04
Pace                    0:08:34
TotalSeconds              12724
HalfSeconds                6483
Name: 19631, dtype: object
Sutton Courtenay Age                           39
M/F                            M
City            Sutton Courtenay
State                        NaN
Country                      GBR
Half             0 days 01:26:34
40K              0 days 02:49:39
Pace                     0:06:51
TotalSeconds               10179
HalfSeconds                 5194
Name: 2344, dtype: object
Suttons Bay Age                          53
M/F                           M
City                Suttons Bay
State                        MI
Country                     USA
Half            0 days 01:43:09
40K             0 days 03:39:49
Pace                    0:08:55
TotalSeconds              13189
HalfSeconds                6189
Name: 9927, dtype: object
Suwanee Age                          47
M/F                           M
City                    Suwanee
State                        GA
Country                     USA
Half            0 days 01:39:55
40K             0 days 03:09:56
Pace                    0:07:38
TotalSeconds              11396
HalfSeconds                5995
Name: 8374, dtype: object
Suzhou Age                          43
M/F                           M
City                     Suzhou
State                       NaN
Country                     CHN
Half            0 days 01:34:42
40K             0 days 03:23:07
Pace                    0:08:13
TotalSeconds              12187
HalfSeconds                5682
Name: 5374, dtype: object
Suzhou, Jiangsu Age                          38
M/F                           M
City            Suzhou, Jiangsu
State                       NaN
Country                     CHN
Half            0 days 02:13:43
40K             0 days 04:27:52
Pace                    0:10:51
TotalSeconds              16072
HalfSeconds                8023
Name: 28305, dtype: object
Swampscott Age                          22
M/F                           M
City                 Swampscott
State                        MA
Country                     USA
Half            0 days 01:27:40
40K             0 days 03:14:59
Pace                    0:07:54

Name: 2341, dtype: object
Tazewell Age                          55
M/F                           F
City                   Tazewell
State                        VA
Country                     USA
Half            0 days 01:55:28
40K             0 days 03:47:31
Pace                    0:09:11
TotalSeconds              13651
HalfSeconds                6928
Name: 25060, dtype: object
Teaneck Age                          50
M/F                           M
City                    Teaneck
State                        NJ
Country                     USA
Half            0 days 01:28:27
40K             0 days 02:53:38
Pace                    0:07:01
TotalSeconds              10418
HalfSeconds                5307
Name: 9599, dtype: object
Teaticket Age                          29
M/F                           M
City                  Teaticket
State                        MA
Country                     USA
Half            0 days 01:25:50
40K             0 days 03:00:51
Pace                    0:07:21
TotalSeconds              10851
HalfSeconds                5150
Name: 1807, dtype: object
Tecumseh Age                          48
M/F                           M
City                   Tecumseh
State                        ON
Country                     CAN
Half            0 days 01:31:14
40K             0 days 03:21:12
Pace                    0:08:12
TotalSeconds              12072
HalfSeconds                5474
Name: 4631, dtype: object
Teddington Age                          44
M/F                           M
City                 Teddington
State                       NaN
Country                     GBR
Half            0 days 01:30:51
40K             0 days 02:58:45
Pace                    0:07:13
TotalSeconds              10725
HalfSeconds                5451
Name: 6151, dtype: object
Tega Cay Age                          46
M/F                           M
City                   Tega Cay
State                        SC
Country                     USA
Half            0 days 01:32:33
40K             0 days 03:24:29
Pace                    0:08:30
TotalSeconds              12269
HalfSeconds                5553
Name: 8626, dtype: object
Tegucigalpa Age                          43
M/F                           M
City                Tegucigalpa
State                       NaN
Country                     HON
Half            0 days 01:28:19
40K             0 days 02:50:11
Pace                    0:06:51
TotalSeconds              10211
HalfSeconds                5299
Name: 4819, dtype: object
Tehuacan Age                          29
M/F                           F
City                   Tehuacan
State                       NaN
Country                     MEX
Half            0 days 01:51:01
40K             0 days 03:40:27
Pace                    0:08:52
TotalSeconds              13227
HalfSeconds                6661
Name: 17294, dtype: object
Tel - Aviv Age                          51
M/F                           M
City                 Tel - Aviv
State                       NaN
Country                     ISR
Half            0 days 01:41:20
40K             0 days 03:27:51
Pace                    0:08:29
TotalSeconds              12471
HalfSeconds                6080
Name: 14411, dtype: object
Tel Aviv Age                          37
M/F                           F
City                   Tel Aviv
State                       NaN
Country                     ISR
Half            0 days 01:39:51
40K             0 days 03:12:59
Pace                    0:07:47
TotalSeconds              11579
HalfSeconds                5991
Name: 13478, dtype: object
Telford Age                          48
M/F                           M
City                    Telford
State                        PA
Country                     USA
Half            0 days 01:46:38
40K             0 days 03:45:46
Pace                    0:09:06
TotalSeconds              13546
HalfSeconds                6398
Name: 10982, dtype: object
Telluride Age                          28
M/F                           F
City                  Telluride
State                        CO
Country                     USA
Half            0 days 02:01:03
40K             0 days 04:04:58
Pace                    0:09:48
TotalSeconds              14698
HalfSeconds                7263
Name: 13429, dtype: object
Temecula Age                          44
M/F                           M
City                   Temecula
State                        CA
Country                     USA
Half            0 days 01:31:21
40K             0 days 02:58:10
Pace                    0:07:12
TotalSeconds              10690
HalfSeconds                5481
Name: 6705, dtype: object
Tempe Age                          28
M/F                           M
City                      Tempe
State                        AZ
Country                     USA
Half            0 days 01:26:25
40K             0 days 02:54:42
Pace                    0:07:03
TotalSeconds              10482
HalfSeconds                5185
Name: 4272, dtype: object
Temple Age                          25
M/F                           F
City                     Temple
State                        TX
Country                     USA
Half            0 days 01:36:54
40K             0 days 02:58:39
Pace                    0:07:11
TotalSeconds              10719
HalfSeconds                5814
Name: 14492, dtype: object
Temple City Age                          38
M/F                           M
City                Temple City
State                        CA
Country                     USA
Half            0 days 01:27:43
40K             0 days 02:55:54
Pace                    0:07:06
TotalSeconds              10554
HalfSeconds                5263
Name: 2550, dtype: object
Templeton Age                          43
M/F                           M
City                  Templeton
State                        MA
Country                     USA
Half            0 days 01:25:11
40K             0 days 02:45:31
Pace                    0:06:41
TotalSeconds               9931
HalfSeconds                5111
Name: 1283, dtype: object
Tenafly Age                          47
M/F                           M
City                    Tenafly
State                        NJ
Country                     USA
Half            0 days 01:40:09
40K             0 days 03:22:50
Pace                    0:08:13
TotalSeconds              12170
HalfSeconds                6009
Name: 11662, dtype: object
Teneriffe, Qld Age                          35
M/F                           F
City             Teneriffe, Qld
State                       NaN
Country                     AUS
Half            0 days 01:56:32
40K             0 days 04:06:06
Pace                    0:09:55
TotalSeconds              14766
HalfSeconds                6992
Name: 20101, dtype: object
Terra Cotta Age                          54
M/F                           M
City                Terra Cotta
State                        ON
Country                     CAN
Half            0 days 01:39:38
40K             0 days 03:25:05
Pace                    0:08:22
TotalSeconds              12305
HalfSeconds                5978
Name: 8486, dtype: object
Terrace Park Age                          20
M/F                           M
City               Terrace Park
State                        OH
Country                     USA
Half            0 days 01:20:48
40K             0 days 02:48:14
Pace                    0:06:48
TotalSeconds              10094
HalfSeconds                4848
Name: 1063, dtype: object
Terre Haute Age                          30
M/F                           M
City                Terre Haute
State                        IN
Country                     USA
Half            0 days 01:23:12
40K             0 days 02:42:03
Pace                    0:06:34
TotalSeconds               9723
HalfSeconds                4992
Name: 967, dtype: object
Terrebonne Age                          53
M/F                           M
City                 Terrebonne
State                        QC
Country                     CAN
Half            0 days 01:31:46
40K             0 days 03:05:35
Pace                    0:07:34
TotalSeconds              11135
HalfSeconds                5506
Name: 6150, dtype: object
Tewksbury Age                          45
M/F                           F
City                  Tewksbury
State                        MA
Country                     USA
Half            0 days 01:47:23
40K             0 days 03:32:20
Pace                    0:08:35
TotalSeconds              12740
HalfSeconds                6443
Name: 20868, dtype: object
Texarkana Age                          27
M/F                           F
City                  Texarkana
State                        AR
Country                     USA
Half            0 days 01:44:19
40K             0 days 03:32:26
Pace                    0:08:38
TotalSeconds              12746
HalfSeconds                6259
Name: 17735, dtype: object
Thalwil Age                          47
M/F                           M
City                    Thalwil
State                       NaN
Country                     SUI
Half            0 days 01:40:49
40K             0 days 03:14:47
Pace                    0:07:51
TotalSeconds              11687
HalfSeconds                6049
Name: 12143, dtype: object
The Colony Age                          47
M/F                           F
City                 The Colony
State                        TX
Country                     USA
Half            0 days 01:54:50
40K             0 days 03:51:25
Pace                    0:09:21
TotalSeconds              13885
HalfSeconds                6890
Name: 22284, dtype: object
The Hague Age                          61
M/F                           M
City                  The Hague
State                       NaN
Country                     NED
Half            0 days 01:43:47
40K             0 days 03:44:50
Pace                    0:09:08
TotalSeconds              13490
HalfSeconds                6227
Name: 16350, dtype: object
The Lizard, Cornwall Age                               57
M/F                                M
City            The Lizard, Cornwall
State                            NaN
Country                          GBR
Half                 0 days 02:08:15
40K                  0 days 04:55:09
Pace                         0:11:58
TotalSeconds                   17709
HalfSeconds                     7695
Name: 16559, dtype: object
The Village Age                          60
M/F                           F
City                The Village
State                        OK
Country                     USA
Half            0 days 02:03:38
40K             0 days 04:11:41
Pace                    0:10:08
TotalSeconds              15101
HalfSeconds                7418
Name: 25590, dtype: object
The Villages Age                          68
M/F                           M
City               The Villages
State                        FL
Country                     USA
Half            0 days 02:00:44
40K             0 days 03:57:52
Pace                    0:09:35
TotalSeconds              14272
HalfSeconds                7244
Name: 25224, dtype: object
The Woodlands Age                          45
M/F                           M
City              The Woodlands
State                        TX
Country                     USA
Half            0 days 01:28:11
40K             0 days 03:06:40
Pace                    0:07:40
TotalSeconds              11200
HalfSeconds                5291
Name: 2197, dtype: object
Thebarton Age                          46
M/F                           M
City                  Thebarton
State                       NaN
Country                     AUS
Half            0 days 01:41:36
40K             0 days 03:37:27
Pace                    0:08:50
TotalSeconds              13047
HalfSeconds                6096
Name: 9529, dtype: object
Theresa Age                          57
M/F                           F
City                    Theresa
State                        NY
Country                     USA
Half            0 days 01:57:36
40K             0 days 04:03:02
Pace                    0:09:52
TotalSeconds              14582
HalfSeconds                7056
Name: 24514, dtype: object
Therwil Age                          59
M/F                           M
City                    Therwil
State                       NaN
Country                     SUI
Half            0 days 01:58:55
40K             0 days 04:00:43
Pace                    0:09:42
TotalSeconds              14443
HalfSeconds                7135
Name: 31539, dtype: object
Thetford Age                          30
M/F                           M
City                   Thetford
State                        VT
Country                     USA
Half            0 days 01:21:05
40K             0 days 02:38:34
Pace                    0:06:24
TotalSeconds               9514
HalfSeconds                4865
Name: 535, dtype: object
Thetford Mines Age                          43
M/F                           M
City             Thetford Mines
State                        QC
Country                     CAN
Half            0 days 01:27:40
40K             0 days 02:58:42
Pace                    0:07:14
TotalSeconds              10722
HalfSeconds                5260
Name: 4689, dtype: object
Thiene Age                          49
M/F                           M
City                     Thiene
State                       NaN
Country                     ITA
Half            0 days 01:29:07
40K             0 days 02:56:08
Pace                    0:07:08
TotalSeconds              10568
HalfSeconds                5347
Name: 3433, dtype: object
Thiensville Age                          25
M/F                           F
City                Thiensville
State                        WI
Country                     USA
Half            0 days 01:41:49
40K             0 days 03:23:08
Pace                    0:08:13
TotalSeconds              12188
HalfSeconds                6109
Name: 9897, dtype: object
Thirroul, New South Wales Age                                    28
M/F                                     F
City            Thirroul, New South Wales
State                                 NaN
Country                               AUS
Half                      0 days 01:44:34
40K                       0 days 03:18:28
Pace                              0:07:57
TotalSeconds                        11908
HalfSeconds                          6274
Name: 16048, dtype: object
Thisted Age                          40
M/F                           M
City                    Thisted
State                       NaN
Country                     DEN
Half            0 days 01:35:39
40K             0 days 03:16:48
Pace                    0:07:57
TotalSeconds              11808
HalfSeconds                5739
Name: 5475, dtype: object
Thomaston Age                          54
M/F                           M
City                  Thomaston
State                        CT
Country                     USA
Half            0 days 01:38:05
40K             0 days 03:18:37
Pace                    0:08:03
TotalSeconds              11917
HalfSeconds                5885
Name: 10452, dtype: object
Thompson Age                          25
M/F                           F
City                   Thompson
State                        CT
Country                     USA
Half            0 days 01:31:25
40K             0 days 03:01:03
Pace                    0:07:17
TotalSeconds              10863
HalfSeconds                5485
Name: 8763, dtype: object
Thoreau Age                          33
M/F                           M
City                    Thoreau
State                        NM
Country                     USA
Half            0 days 01:18:20
40K             0 days 02:40:03
Pace                    0:06:32
TotalSeconds               9603
HalfSeconds                4700
Name: 108, dtype: object
Thornhill Age                          47
M/F                           M
City                  Thornhill
State                        ON
Country                     CAN
Half            0 days 01:41:12
40K             0 days 03:30:37
Pace                    0:08:32
TotalSeconds              12637
HalfSeconds                6072
Name: 11542, dtype: object
Thornton Age                          39
M/F                           M
City                   Thornton
State                        CO
Country                     USA
Half            0 days 01:29:31
40K             0 days 03:01:33
Pace                    0:07:19
TotalSeconds              10893
HalfSeconds                5371
Name: 5595, dtype: object
Thousand Oaks Age                          41
M/F                           M
City              Thousand Oaks
State                        CA
Country                     USA
Half            0 days 01:33:00
40K             0 days 03:08:52
Pace                    0:07:46
TotalSeconds              11332
HalfSeconds                5580
Name: 7279, dtype: object
Three Rivers Age                          55
M/F                           M
City               Three Rivers
State                        MA
Country                     USA
Half            0 days 01:42:46
40K             0 days 03:20:19
Pace                    0:08:05
TotalSeconds              12019
HalfSeconds                6166
Name: 16804, dtype: object
Thunder Bay Age                          42
M/F                           M
City                Thunder Bay
State                        ON
Country                     CAN
Half            0 days 01:34:10
40K             0 days 03:06:48
Pace                    0:07:34
TotalSeconds              11208
HalfSeconds                5650
Name: 3673, dtype: object
Tiburon Age                          54
M/F                           M
City                    Tiburon
State                        CA
Country                     USA
Half            0 days 01:36:07
40K             0 days 03:10:02
Pace                    0:07:42
TotalSeconds              11402
HalfSeconds                5767
Name: 7094, dtype: object
Tichborne Age                          50
M/F                           M
City                  Tichborne
State                       NaN
Country                     GBR
Half            0 days 01:31:16
40K             0 days 03:02:43
Pace                    0:07:24
TotalSeconds              10963
HalfSeconds                5476
Name: 10550, dtype: object
Tierra Verde Age                          48
M/F                           M
City               Tierra Verde
State                        FL
Country                     USA
Half            0 days 01:38:30
40K             0 days 03:25:39
Pace                    0:08:20
TotalSeconds              12339
HalfSeconds                5910
Name: 9484, dtype: object
Tierrs Verde Age                          55
M/F                           M
City               Tierrs Verde
State                        FL
Country                     USA
Half            0 days 01:52:45
40K             0 days 04:14:58
Pace                    0:10:21
TotalSeconds              15298
HalfSeconds                6765
Name: 13366, dtype: object
Tieton Age                          31
M/F                           F
City                     Tieton
State                        WA
Country                     USA
Half            0 days 01:36:35
40K             0 days 03:05:59
Pace                    0:07:29
TotalSeconds              11159
HalfSeconds                5795
Name: 10870, dtype: object
Tiffin Age                          63
M/F                           F
City                     Tiffin
State                        OH
Country                     USA
Half            0 days 02:14:29
40K             0 days 04:28:07
Pace                    0:10:51
TotalSeconds              16087
HalfSeconds                8069
Name: 30620, dtype: object
Tifton Age                          59
M/F                           M
City                     Tifton
State                        GA
Country                     USA

Tonsberg Age                          45
M/F                           M
City                   Tonsberg
State                       NaN
Country                     NOR
Half            0 days 01:33:17
40K             0 days 03:04:07
Pace                    0:07:27
TotalSeconds              11047
HalfSeconds                5597
Name: 9290, dtype: object
Tooele Age                          60
M/F                           M
City                     Tooele
State                        UT
Country                     USA
Half            0 days 01:55:52
40K             0 days 03:46:57
Pace                    0:09:09
TotalSeconds              13617
HalfSeconds                6952
Name: 22759, dtype: object
Toomebridge Age                          53
M/F                           F
City                Toomebridge
State                       NaN
Country                     GBR
Half            0 days 01:47:03
40K             0 days 03:26:49
Pace                    0:08:20
TotalSeconds              12409
HalfSeconds                6423
Name: 21608, dtype: object
Topanga Age                          59
M/F                           M
City                    Topanga
State                        CA
Country                     USA
Half            0 days 01:56:26
40K             0 days 04:10:53
Pace                    0:10:11
TotalSeconds              15053
HalfSeconds                6986
Name: 5362, dtype: object
Topeka Age                          34
M/F                           M
City                     Topeka
State                        IN
Country                     USA
Half            0 days 01:20:51
40K             0 days 02:38:50
Pace                    0:06:24
TotalSeconds               9530
HalfSeconds                4851
Name: 710, dtype: object
Topsfield Age                          25
M/F                           F
City                  Topsfield
State                        MA
Country                     USA
Half            0 days 01:42:48
40K             0 days 03:23:00
Pace                    0:08:11
TotalSeconds              12180
HalfSeconds                6168
Name: 13793, dtype: object
Topsham Age                          32
M/F                           F
City                    Topsham
State                        ME
Country                     USA
Half            0 days 01:49:58
40K             0 days 03:32:16
Pace                    0:08:32
TotalSeconds              12736
HalfSeconds                6598
Name: 16962, dtype: object
Topton Age                          45
M/F                           M
City                     Topton
State                        PA
Country                     USA
Half            0 days 01:44:53
40K             0 days 03:28:34
Pace                    0:08:24
TotalSeconds              12514
HalfSeconds                6293
Name: 11719, dtype: object
Torbay Age                          40
M/F                           M
City                     Torbay
State                        NL
Country                     CAN
Half            0 days 01:22:06
40K             0 days 02:46:29
Pace                    0:06:45
TotalSeconds               9989
HalfSeconds                4926
Name: 773, dtype: object
Torino Age                          39
M/F                           M
City                     Torino
State                       NaN
Country                     ITA
Half            0 days 01:29:41
40K             0 days 03:04:17
Pace                    0:07:27
TotalSeconds              11057
HalfSeconds                5381
Name: 3637, dtype: object
Toronto Age                          30
M/F                           M
City                    Toronto
State                        ON
Country                     CAN
Half            0 days 01:16:32
40K             0 days 02:31:35
Pace                    0:06:10
TotalSeconds               9095
HalfSeconds                4592
Name: 239, dtype: object
Torrance Age                          30
M/F                           M
City                   Torrance
State                        CA
Country                     USA
Half            0 days 01:25:21
40K             0 days 02:52:34
Pace                    0:06:59
TotalSeconds              10354
HalfSeconds                5121
Name: 3223, dtype: object
Torreon Age                          35
M/F                           F
City                    Torreon
State                       NaN
Country                     MEX
Half            0 days 01:43:08
40K             0 days 03:23:54
Pace                    0:08:14
TotalSeconds              12234
HalfSeconds                6188
Name: 18589, dtype: object
Torreon, Coahuila Mexico Age                                   58
M/F                                    M
City            Torreon, Coahuila Mexico
State                                NaN
Country                              MEX
Half                     0 days 01:50:03
40K                      0 days 03:40:48
Pace                             0:08:57
TotalSeconds                       13248
HalfSeconds                         6603
Name: 19738, dtype: object
Torrington Age                          24
M/F                           M
City                 Torrington
State                        CT
Country                     USA
Half            0 days 01:23:05
40K             0 days 02:44:07
Pace                    0:06:38
TotalSeconds               9847
HalfSeconds                4985
Name: 1132, dtype: object
Toulouse Age                          42
M/F                           M
City                   Toulouse
State                       NaN
Country                     FRA
Half            0 days 01:32:01
40K             0 days 03:07:53
Pace                    0:07:36
TotalSeconds              11273
HalfSeconds                5521
Name: 4330, dtype: object
Toumi City Nagano Pre Age                                34
M/F                                 F
City            Toumi City Nagano Pre
State                             NaN
Country                           JPN
Half                  0 days 01:45:08
40K                   0 days 03:37:33
Pace                          0:08:45
TotalSeconds                    13053
HalfSeconds                      6308
Name: 14519, dtype: object
Towaco Age                          55
M/F                           F
City                     Towaco
State                        NJ
Country                     USA
Half            0 days 01:53:14
40K             0 days 03:42:14
Pace                    0:08:57
TotalSeconds              13334
HalfSeconds                6794
Name: 25204, dtype: object
Towanda Age                          49
M/F                           F
City                    Towanda
State                        PA
Country                     USA
Half            0 days 02:04:52
40K             0 days 04:20:50
Pace                    0:10:30
TotalSeconds              15650
HalfSeconds                7492
Name: 24415, dtype: object
Townsend Age                          51
M/F                           M
City                   Townsend
State                        MA
Country                     USA
Half            0 days 01:47:40
40K             0 days 03:46:57
Pace                    0:09:11
TotalSeconds              13617
HalfSeconds                6460
Name: 16107, dtype: object
Towson Age                          31
M/F                           M
City                     Towson
State                        MD
Country                     USA
Half            0 days 01:31:34
40K             0 days 02:51:11
Pace                    0:06:52
TotalSeconds              10271
HalfSeconds                5494
Name: 5742, dtype: object
Toyonaka Age                          74
M/F                           M
City                   Toyonaka
State                       NaN
Country                     JPN
Half            0 days 02:11:44
40K             0 days 04:45:51
Pace                    0:11:45
TotalSeconds              17151
HalfSeconds                7904
Name: 25580, dtype: object
Toyonaka Osaka Age                          46
M/F                           F
City             Toyonaka Osaka
State                       NaN
Country                     JPN
Half            0 days 01:50:30
40K             0 days 03:38:50
Pace                    0:08:50
TotalSeconds              13130
HalfSeconds                6630
Name: 15195, dtype: object
Toyota City, Aichi Age                             67
M/F                              M
City            Toyota City, Aichi
State                          NaN
Country                        JPN
Half               0 days 02:12:06
40K                0 days 04:12:51
Pace                       0:10:10
TotalSeconds                 15171
HalfSeconds                   7926
Name: 31704, dtype: object
Trabuco Canyon Age                          53
M/F                           M
City             Trabuco Canyon
State                        CA
Country                     USA
Half            0 days 01:25:56
40K             0 days 03:07:58
Pace                    0:07:57
TotalSeconds              11278
HalfSeconds                5156
Name: 938, dtype: object
Tracadie-Sheila, Age                           61
M/F                            F
City            Tracadie-Sheila,
State                         NB
Country                      CAN
Half             0 days 01:58:31
40K              0 days 03:57:38
Pace                     0:09:39
TotalSeconds               14258
HalfSeconds                 7111
Name: 25964, dtype: object
Tracy Age                          49
M/F                           M
City                      Tracy
State                        CA
Country                     USA
Half            0 days 01:34:33
40K             0 days 03:13:43
Pace                    0:07:51
TotalSeconds              11623
HalfSeconds                5673
Name: 6154, dtype: object
Trail Age                          62
M/F                           M
City                      Trail
State                        BC
Country                     CAN
Half            0 days 01:55:29
40K             0 days 03:48:11
Pace                    0:09:15
TotalSeconds              13691
HalfSeconds                6929
Name: 21978, dtype: object
Trappe Age                          35
M/F                           M
City                     Trappe
State                        MD
Country                     USA
Half            0 days 01:28:37
40K             0 days 02:56:47
Pace                    0:07:10
TotalSeconds              10607
HalfSeconds                5317
Name: 5553, dtype: object
Travelers Rest Age                          61
M/F                           F
City             Travelers Rest
State                        SC
Country                     USA
Half            0 days 02:07:04
40K             0 days 04:22:27
Pace                    0:10:38
TotalSeconds              15747
HalfSeconds                7624
Name: 25806, dtype: object
Traverse City Age                          44
M/F                           M
City              Traverse City
State                        MI
Country                     USA
Half            0 days 01:33:41
40K             0 days 03:01:32
Pace                    0:07:20
TotalSeconds              10892
HalfSeconds                5621
Name: 7639, dtype: object
Travis Afb Age                          35
M/F                           M
City                 Travis Afb
State                        CA
Country                     USA
Half            0 days 01:26:28
40K             0 days 02:53:27
Pace                    0:07:03
TotalSeconds              10407
HalfSeconds                5188
Name: 3782, dtype: object
Trelex Age                          40
M/F                           M
City                     Trelex
State                       NaN
Country                     SUI
Half            0 days 02:12:01
40K             0 days 04:43:43
Pace                    0:11:24
TotalSeconds              17023
HalfSeconds                7921
Name: 31588, dtype: object
Trenton Age                          31
M/F                           M
City                    Trenton
State                        MI
Country                     USA
Half            0 days 01:25:19
40K             0 days 03:08:03
Pace                    0:07:39
TotalSeconds              11283
HalfSeconds                5119
Name: 1520, dtype: object
Treuenbrietzen Age                          53
M/F                           M
City             Treuenbrietzen
State                       NaN
Country                     GER
Half            0 days 02:01:05
40K             0 days 04:54:36
Pace                    0:12:04
TotalSeconds              17676
HalfSeconds                7265
Name: 13180, dtype: object
Treviso Age                          61
M/F                           M
City                    Treviso
State                       NaN
Country                     ITA
Half            0 days 01:47:02
40K             0 days 03:36:36
Pace                    0:08:44
TotalSeconds              12996
HalfSeconds                6422
Name: 16811, dtype: object
Triadelphia Age                          41
M/F                           F
City                Triadelphia
State                        WV
Country                     USA
Half            0 days 01:51:24
40K             0 days 03:40:31
Pace                    0:08:54
TotalSeconds              13231
HalfSeconds                6684
Name: 18699, dtype: object
Trieste Age                          43
M/F                           M
City                    Trieste
State                       NaN
Country                     ITA
Half            0 days 01:21:13
40K             0 days 02:47:02
Pace                    0:06:47
TotalSeconds              10022
HalfSeconds                4873
Name: 783, dtype: object
Trinity Age                          32
M/F                           F
City                    Trinity
State                        FL
Country                     USA
Half            0 days 01:36:51
40K             0 days 03:07:25
Pace                    0:07:35
TotalSeconds              11245
HalfSeconds                5811
Name: 14041, dtype: object
Trois Rivieres Age                          46
M/F                           M
City             Trois Rivieres
State                        QC
Country                     CAN
Half            0 days 01:37:11
40K             0 days 03:14:45
Pace                    0:07:54
TotalSeconds              11685
HalfSeconds                5831
Name: 9196, dtype: object
Trois-Rivieres Age                          43
M/F                           M
City             Trois-Rivieres
State                        QC
Country                     CAN
Half            0 days 01:25:52
40K             0 days 02:45:47
Pace                    0:06:42
TotalSeconds               9947
HalfSeconds                5152
Name: 2198, dtype: object
Trois-Rivietes Age                          49
M/F                           M
City             Trois-Rivietes
State                        QC
Country                     CAN
Half            0 days 01:44:46
40K             0 days 03:32:04
Pace                    0:08:35
TotalSeconds              12724
HalfSeconds                6286
Name: 11850, dtype: object
Trophy Club Age                          25
M/F                           F
City                Trophy Club
State                        TX
Country                     USA
Half            0 days 01:40:27
40K             0 days 03:15:14
Pace                    0:07:53
TotalSeconds              11714
HalfSeconds                6027
Name: 12268, dtype: object
Troy Age                          36
M/F                           M
City                       Troy
State                        NY
Country                     USA
Half            0 days 01:24:16
40K             0 days 02:40:37
Pace                    0:06:28
TotalSeconds               9637
HalfSeconds                5056
Name: 3141, dtype: object
Truckee Age                          45
M/F                           F
City                    Truckee
State                        CA
Country                     USA
Half            0 days 01:51:23
40K             0 days 03:40:12
Pace                    0:08:52
TotalSeconds              13212
HalfSeconds                6683
Name: 20880, dtype: object
Trujillo Alto Age                          49
M/F                           M
City              Trujillo Alto
State                        PR
Country                     USA
Half            0 days 01:39:59
40K             0 days 03:14:31
Pace                    0:07:51
TotalSeconds              11671
HalfSeconds                5999
Name: 10547, dtype: object
Truro Age                          53
M/F                           M
City                      Truro
State                       NaN
Country                     GBR
Half            0 days 01:45:46
40K             0 days 03:53:41
Pace                    0:09:29
TotalSeconds              14021
HalfSeconds                6346
Name: 14758, dtype: object
Truro Heights Age                          46
M/F                           F
City              Truro Heights
State                        NS
Country                     CAN
Half            0 days 01:54:02
40K             0 days 03:40:25
Pace                    0:08:53
TotalSeconds              13225
HalfSeconds                6842
Name: 21557, dtype: object
Trussville Age                          34
M/F                           F
City                 Trussville
State                        AL
Country                     USA
Half            0 days 01:59:03
40K             0 days 03:58:41
Pace                    0:09:38
TotalSeconds              14321
HalfSeconds                7143
Name: 17569, dtype: object
Tseung Kwan O Age                          55
M/F                           F
City              Tseung Kwan O
State                       NaN
Country                     HKG
Half            0 days 01:53:55
40K             0 days 03:38:17
Pace                    0:08:46
TotalSeconds              13097
HalfSeconds                6835
Name: 22574, dtype: object
Tseung Kwan O, Hong Kong Age                                   50
M/F                                    M
City            Tseung Kwan O, Hong Kong
State                                NaN
Country                              HKG
Half                     0 days 01:42:36
40K                      0 days 03:38:31
Pace                             0:08:47
TotalSeconds                       13111
HalfSeconds                         6156
Name: 13182, dtype: object
Tsing Lung Tau, Tsuen Wan, N.t., Age                                           52
M/F                                            M
City            Tsing Lung Tau, Tsuen Wan, N.t.,
State                                        NaN
Country                                      HKG
Half                             0 days 01:45:30
40K                              0 days 04:05:19
Pace                                     0:09:55
TotalSeconds                               14719
HalfSeconds                                 6330
Name: 8111, dtype: object
Tsing Yi Age                          41
M/F                           M
City                   Tsing Yi
State                       NaN
Country                     HKG
Half            0 days 01:31:17
40K             0 days 03:25:00
Pace                    0:08:19
TotalSeconds              12300
HalfSeconds                5477
Name: 8798, dtype: object
Tsuen Wan Age                          46
M/F                           F
City                  Tsuen Wan
State                       NaN
Country                     HKG
Half            0 days 01:46:18
40K             0 days 03:54:22
Pace                    0:09:32
TotalSeconds              14062
HalfSeconds                6378
Name: 18893, dtype: object
Tualatin Age                          49
M/F                           M
City                   Tualatin
State                        OR
Country                     USA
Half            0 days 01:39:26

Urbana Age                          29
M/F                           M
City                     Urbana
State                        IL
Country                     USA
Half            0 days 01:29:36
40K             0 days 02:59:06
Pace                    0:07:15
TotalSeconds              10746
HalfSeconds                5376
Name: 3062, dtype: object
Urbandale Age                          50
M/F                           M
City                  Urbandale
State                        IA
Country                     USA
Half            0 days 01:27:59
40K             0 days 03:05:59
Pace                    0:07:37
TotalSeconds              11159
HalfSeconds                5279
Name: 2529, dtype: object
Urique Age                          33
M/F                           M
City                     Urique
State                       NaN
Country                     MEX
Half            0 days 01:38:40
40K             0 days 03:24:40
Pace                    0:08:20
TotalSeconds              12280
HalfSeconds                5920
Name: 11543, dtype: object
Uruapan Mich Age                          35
M/F                           M
City               Uruapan Mich
State                       NaN
Country                     MEX
Half            0 days 01:26:13
40K             0 days 02:45:45
Pace                    0:06:41
TotalSeconds               9945
HalfSeconds                5173
Name: 4688, dtype: object
Usaf Academy Age                          21
M/F                           M
City               Usaf Academy
State                        CO
Country                     USA
Half            0 days 01:24:29
40K             0 days 02:54:20
Pace                    0:07:05
TotalSeconds              10460
HalfSeconds                5069
Name: 1360, dtype: object
Usafa Age                          22
M/F                           M
City                      Usafa
State                        CO
Country                     USA
Half            0 days 01:16:17
40K             0 days 02:34:18
Pace                    0:06:14
TotalSeconds               9258
HalfSeconds                4577
Name: 459, dtype: object
Ushiku Age                          71
M/F                           M
City                     Ushiku
State                       NaN
Country                     JPN
Half            0 days 02:04:51
40K             0 days 04:56:01
Pace                    0:11:59
TotalSeconds              17761
HalfSeconds                7491
Name: 22266, dtype: object
Ustron Age                          49
M/F                           M
City                     Ustron
State                       NaN
Country                     POL
Half            0 days 01:57:36
40K             0 days 04:12:28
Pace                    0:10:17
TotalSeconds              15148
HalfSeconds                7056
Name: 5887, dtype: object
Utica Age                          26
M/F                           M
City                      Utica
State                        NY
Country                     USA
Half            0 days 01:25:31
40K             0 days 02:43:31
Pace                    0:06:35
TotalSeconds               9811
HalfSeconds                5131
Name: 3436, dtype: object
Uxbridge Age                          31
M/F                           F
City                   Uxbridge
State                        MA
Country                     USA
Half            0 days 01:42:03
40K             0 days 03:21:39
Pace                    0:08:08
TotalSeconds              12099
HalfSeconds                6123
Name: 16443, dtype: object
Vaasa Age                          38
M/F                           F
City                      Vaasa
State                       NaN
Country                     FIN
Half            0 days 01:58:35
40K             0 days 03:55:43
Pace                    0:09:31
TotalSeconds              14143
HalfSeconds                7115
Name: 18592, dtype: object
Vacaville Age                          20
M/F                           M
City                  Vacaville
State                        CA
Country                     USA
Half            0 days 01:18:59
40K             0 days 02:37:13
Pace                    0:06:22
TotalSeconds               9433
HalfSeconds                4739
Name: 920, dtype: object
Vadnais Heights Age                          21
M/F                           M
City            Vadnais Heights
State                        MN
Country                     USA
Half            0 days 01:25:55
40K             0 days 03:14:36
Pace                    0:07:58
TotalSeconds              11676
HalfSeconds                5155
Name: 1940, dtype: object
Vaerloese Age                          45
M/F                           M
City                  Vaerloese
State                       NaN
Country                     DEN
Half            0 days 01:55:13
40K             0 days 03:51:42
Pace                    0:09:22
TotalSeconds              13902
HalfSeconds                6913
Name: 30427, dtype: object
Vail Age                          48
M/F                           F
City                       Vail
State                        AZ
Country                     USA
Half            0 days 01:46:58
40K             0 days 03:37:49
Pace                    0:08:48
TotalSeconds              13069
HalfSeconds                6418
Name: 16773, dtype: object
Val-D'Or Age                          48
M/F                           M
City                   Val-D'Or
State                        QC
Country                     CAN
Half            0 days 01:37:16
40K             0 days 03:07:53
Pace                    0:07:34
TotalSeconds              11273
HalfSeconds                5836
Name: 8535, dtype: object
Val-David Age                          39
M/F                           F
City                  Val-David
State                        QC
Country                     CAN
Half            0 days 01:52:25
40K             0 days 03:34:59
Pace                    0:08:38
TotalSeconds              12899
HalfSeconds                6745
Name: 20184, dtype: object
Valatie Age                          45
M/F                           F
City                    Valatie
State                        NY
Country                     USA
Half            0 days 01:32:13
40K             0 days 02:59:49
Pace                    0:07:16
TotalSeconds              10789
HalfSeconds                5533
Name: 6540, dtype: object
Valby Age                          26
M/F                           F
City                      Valby
State                       NaN
Country                     DEN
Half            0 days 01:58:33
40K             0 days 03:50:38
Pace                    0:09:17
TotalSeconds              13838
HalfSeconds                7113
Name: 18522, dtype: object
Valdosta Age                          55
M/F                           M
City                   Valdosta
State                        GA
Country                     USA
Half            0 days 01:46:17
40K             0 days 03:27:18
Pace                    0:08:20
TotalSeconds              12438
HalfSeconds                6377
Name: 18670, dtype: object
Valencia Age                          35
M/F                           M
City                   Valencia
State                        CA
Country                     USA
Half            0 days 01:29:30
40K             0 days 03:11:22
Pace                    0:07:48
TotalSeconds              11482
HalfSeconds                5370
Name: 5925, dtype: object
Valhalla Age                          24
M/F                           M
City                   Valhalla
State                        NY
Country                     USA
Half            0 days 01:28:33
40K             0 days 03:00:46
Pace                    0:07:17
TotalSeconds              10846
HalfSeconds                5313
Name: 3283, dtype: object
Valle Mosso - Bi Age                           47
M/F                            M
City            Valle Mosso - Bi
State                        NaN
Country                      ITA
Half             0 days 01:29:49
40K              0 days 03:00:05
Pace                     0:07:18
TotalSeconds               10805
HalfSeconds                 5389
Name: 4744, dtype: object
Vallensbaek Strand Age                             48
M/F                              F
City            Vallensbaek Strand
State                          NaN
Country                        DEN
Half               0 days 01:57:14
40K                0 days 04:02:01
Pace                       0:09:47
TotalSeconds                 14521
HalfSeconds                   7034
Name: 24028, dtype: object
Vallentuna Age                          41
M/F                           F
City                 Vallentuna
State                       NaN
Country                     SWE
Half            0 days 01:45:37
40K             0 days 03:36:20
Pace                    0:08:42
TotalSeconds              12980
HalfSeconds                6337
Name: 18704, dtype: object
Valley Center Age                          27
M/F                           M
City              Valley Center
State                        KS
Country                     USA
Half            0 days 01:24:22
40K             0 days 02:44:23
Pace                    0:06:40
TotalSeconds               9863
HalfSeconds                5062
Name: 691, dtype: object
Valley Cottage Age                          52
M/F                           F
City             Valley Cottage
State                        NY
Country                     USA
Half            0 days 02:00:50
40K             0 days 04:17:27
Pace                    0:10:26
TotalSeconds              15447
HalfSeconds                7250
Name: 23356, dtype: object
Valley Falls Age                          62
M/F                           M
City               Valley Falls
State                        NY
Country                     USA
Half            0 days 01:47:18
40K             0 days 03:27:57
Pace                    0:08:24
TotalSeconds              12477
HalfSeconds                6438
Name: 20064, dtype: object
Valley Glen Age                          35
M/F                           M
City                Valley Glen
State                        CA
Country                     USA
Half            0 days 01:34:38
40K             0 days 03:24:59
Pace                    0:08:18
TotalSeconds              12299
HalfSeconds                5678
Name: 1264, dtype: object
Valley Grove Age                          29
M/F                           M
City               Valley Grove
State                        WV
Country                     USA
Half            0 days 01:26:03
40K             0 days 02:48:07
Pace                    0:06:49
TotalSeconds              10087
HalfSeconds                5163
Name: 1808, dtype: object
Valley Stream Age                          24
M/F                           M
City              Valley Stream
State                        NY
Country                     USA
Half            0 days 01:14:19
40K             0 days 02:49:45
Pace                    0:06:51
TotalSeconds              10185
HalfSeconds                4459
Name: 184, dtype: object
Valmontone Age                          61
M/F                           M
City                 Valmontone
State                       NaN
Country                     ITA
Half            0 days 02:08:07
40K             0 days 04:29:37
Pace                    0:10:52
TotalSeconds              16177
HalfSeconds                7687
Name: 14345, dtype: object
Valparaiso Age                          23
M/F                           M
City                 Valparaiso
State                        IN
Country                     USA
Half            0 days 01:28:06
40K             0 days 02:52:06
Pace                    0:06:57
TotalSeconds              10326
HalfSeconds                5286
Name: 198, dtype: object
Valparsiso Age                          66
M/F                           M
City                 Valparsiso
State                        IN
Country                     USA
Half            0 days 01:50:47
40K             0 days 03:45:51
Pace                    0:09:14
TotalSeconds              13551
HalfSeconds                6647
Name: 21758, dtype: object
Valrico Age                          24
M/F                           M
City                    Valrico
State                        FL
Country                     USA
Half            0 days 01:23:08
40K             0 days 02:57:47
Pace                    0:07:16
TotalSeconds              10667
HalfSeconds                4988
Name: 1148, dtype: object
Vancouver Age                          31
M/F                           M
City                  Vancouver
State                        BC
Country                     CAN
Half            0 days 01:17:13
40K             0 days 02:29:29
Pace                    0:06:03
TotalSeconds               8969
HalfSeconds                4633
Name: 1155, dtype: object
Vandalia Age                          50
M/F                           M
City                   Vandalia
State                        OH
Country                     USA
Half            0 days 01:37:09
40K             0 days 03:12:23
Pace                    0:07:47
TotalSeconds              11543
HalfSeconds                5829
Name: 13198, dtype: object
Vanderhoof Age                          54
M/F                           M
City                 Vanderhoof
State                        BC
Country                     CAN
Half            0 days 01:30:20
40K             0 days 03:06:36
Pace                    0:07:40
TotalSeconds              11196
HalfSeconds                5420
Name: 6028, dtype: object
Vandoeuvre Les Nancy Age                               56
M/F                                M
City            Vandoeuvre Les Nancy
State                            NaN
Country                          FRA
Half                 0 days 02:11:37
40K                  0 days 04:22:43
Pace                         0:10:36
TotalSeconds                   15763
HalfSeconds                     7897
Name: 31579, dtype: object
Vandyne Age                          34
M/F                           F
City                    Vandyne
State                        WI
Country                     USA
Half            0 days 01:44:30
40K             0 days 03:23:49
Pace                    0:08:13
TotalSeconds              12229
HalfSeconds                6270
Name: 12826, dtype: object
Vanlose Age                          31
M/F                           M
City                    Vanlose
State                       NaN
Country                     DEN
Half            0 days 01:28:58
40K             0 days 02:51:53
Pace                    0:06:58
TotalSeconds              10313
HalfSeconds                5338
Name: 3389, dtype: object
Vantaa Age                          49
M/F                           M
City                     Vantaa
State                       NaN
Country                     FIN
Half            0 days 01:42:02
40K             0 days 03:23:47
Pace                    0:08:14
TotalSeconds              12227
HalfSeconds                6122
Name: 10407, dtype: object
Varberg Age                          43
M/F                           M
City                    Varberg
State                       NaN
Country                     SWE
Half            0 days 01:31:56
40K             0 days 03:09:16
Pace                    0:07:39
TotalSeconds              11356
HalfSeconds                5516
Name: 5492, dtype: object
Varennes Age                          35
M/F                           M
City                   Varennes
State                        QC
Country                     CAN
Half            0 days 01:32:17
40K             0 days 03:04:32
Pace                    0:07:28
TotalSeconds              11072
HalfSeconds                5537
Name: 6653, dtype: object
Varna Age                          56
M/F                           F
City                      Varna
State                        IL
Country                     USA
Half            0 days 01:57:40
40K             0 days 03:59:30
Pace                    0:09:41
TotalSeconds              14370
HalfSeconds                7060
Name: 25471, dtype: object
Vashon Age                          65
M/F                           M
City                     Vashon
State                        WA
Country                     USA
Half            0 days 01:50:01
40K             0 days 03:51:16
Pace                    0:09:22
TotalSeconds              13876
HalfSeconds                6601
Name: 18500, dtype: object
Vashon Island Age                          57
M/F                           M
City              Vashon Island
State                        WA
Country                     USA
Half            0 days 01:45:24
40K             0 days 03:17:23
Pace                    0:07:56
TotalSeconds              11843
HalfSeconds                6324
Name: 18134, dtype: object
Vass Age                          62
M/F                           M
City                       Vass
State                        NC
Country                     USA
Half            0 days 01:47:40
40K             0 days 03:26:42
Pace                    0:08:19
TotalSeconds              12402
HalfSeconds                6460
Name: 20150, dtype: object
Vasteras Age                          34
M/F                           M
City                   Vasteras
State                       NaN
Country                     SWE
Half            0 days 01:30:34
40K             0 days 03:04:11
Pace                    0:07:24
TotalSeconds              11051
HalfSeconds                5434
Name: 735, dtype: object
Vaudreuil Sur Le Lac Age                               41
M/F                                M
City            Vaudreuil Sur Le Lac
State                             QC
Country                          CAN
Half                 0 days 01:33:17
40K                  0 days 03:10:55
Pace                         0:07:46
TotalSeconds                   11455
HalfSeconds                     5597
Name: 3598, dtype: object
Vaudreuil-Dorion Age                           45
M/F                            F
City            Vaudreuil-Dorion
State                         QC
Country                      CAN
Half             0 days 02:03:38
40K              0 days 03:58:09
Pace                     0:09:33
TotalSeconds               14289
HalfSeconds                 7418
Name: 23261, dtype: object
Vaughan Age                          54
M/F                           F
City                    Vaughan
State                        ON
Country                     CAN
Half            0 days 01:56:45
40K             0 days 03:53:43
Pace                    0:09:26
TotalSeconds              14023
HalfSeconds                7005
Name: 23310, dtype: object
Veggiano - Pd Age                          52
M/F                           F
City              Veggiano - Pd
State                       NaN
Country                     ITA
Half            0 days 02:00:19
40K             0 days 04:05:44
Pace                    0:09:56
TotalSeconds              14744
HalfSeconds                7219
Name: 23003, dtype: object
Vejle Age                          47
M/F                           M
City                      Vejle
State                       NaN
Country                     DEN
Half            0 days 01:36:24
40K             0 days 03:19:31
Pace                    0:08:04
TotalSeconds              11971
HalfSeconds                5784
Name: 7187, dtype: object
Velletri Age                          46
M/F                           M
City                   Velletri
State                       NaN
Country                     ITA
Half            0 days 01:41:07
40K             0 days 03:22:36
Pace                    0:08:15
TotalSeconds              12156
HalfSeconds                6067
Name: 11753, dtype: object
Velletri (roma) Age                          57
M/F                           M
City            Velletri (roma)
State                       NaN
Country                     ITA
Half            0 days 01:33:25

Warrensburg Age                          30
M/F                           M
City                Warrensburg
State                        MO
Country                     USA
Half            0 days 01:29:19
40K             0 days 03:00:57
Pace                    0:07:22
TotalSeconds              10857
HalfSeconds                5359
Name: 4452, dtype: object
Warrenville Age                          40
M/F                           F
City                Warrenville
State                        IL
Country                     USA
Half            0 days 01:57:30
40K             0 days 03:49:08
Pace                    0:09:15
TotalSeconds              13748
HalfSeconds                7050
Name: 21369, dtype: object
Warrington Age                          57
M/F                           M
City                 Warrington
State                       NaN
Country                     GBR
Half            0 days 01:35:24
40K             0 days 03:09:10
Pace                    0:07:42
TotalSeconds              11350
HalfSeconds                5724
Name: 9236, dtype: object
Warrior Age                          41
M/F                           F
City                    Warrior
State                        AL
Country                     USA
Half            0 days 01:49:30
40K             0 days 03:34:14
Pace                    0:08:40
TotalSeconds              12854
HalfSeconds                6570
Name: 20963, dtype: object
Warrnambool Age                          29
M/F                           M
City                Warrnambool
State                       NaN
Country                     AUS
Half            0 days 01:29:24
40K             0 days 03:11:00
Pace                    0:07:48
TotalSeconds              11460
HalfSeconds                5364
Name: 4020, dtype: object
Warsaw Age                          39
M/F                           M
City                     Warsaw
State                       NaN
Country                     POL
Half            0 days 01:23:53
40K             0 days 02:39:57
Pace                    0:06:27
TotalSeconds               9597
HalfSeconds                5033
Name: 5149, dtype: object
Warszawa Age                          47
M/F                           M
City                   Warszawa
State                       NaN
Country                     POL
Half            0 days 01:20:43
40K             0 days 02:39:22
Pace                    0:06:26
TotalSeconds               9562
HalfSeconds                4843
Name: 560, dtype: object
Warwick Age                          33
M/F                           M
City                    Warwick
State                        RI
Country                     USA
Half            0 days 01:23:35
40K             0 days 02:52:43
Pace                    0:06:59
TotalSeconds              10363
HalfSeconds                5015
Name: 299, dtype: object
Wasaga Beach Age                          45
M/F                           M
City               Wasaga Beach
State                        ON
Country                     CAN
Half            0 days 01:33:45
40K             0 days 03:21:02
Pace                    0:08:19
TotalSeconds              12062
HalfSeconds                5625
Name: 8873, dtype: object
Washington Age                          29
M/F                           M
City                 Washington
State                        DC
Country                     USA
Half            0 days 01:14:00
40K             0 days 02:23:21
Pace                    0:05:47
TotalSeconds               8601
HalfSeconds                4440
Name: 122, dtype: object
Washington Dc Age                          49
M/F                           M
City              Washington Dc
State                        DC
Country                     USA
Half            0 days 02:15:55
40K             0 days 04:54:05
Pace                    0:11:51
TotalSeconds              17645
HalfSeconds                8155
Name: 27429, dtype: object
Washington Grove Age                           57
M/F                            M
City            Washington Grove
State                         MD
Country                      USA
Half             0 days 01:43:32
40K              0 days 03:39:51
Pace                     0:09:00
TotalSeconds               13191
HalfSeconds                 6212
Name: 11549, dtype: object
Washington Twp Age                          46
M/F                           M
City             Washington Twp
State                        MI
Country                     USA
Half            0 days 01:51:07
40K             0 days 03:36:22
Pace                    0:08:42
TotalSeconds              12982
HalfSeconds                6667
Name: 11167, dtype: object
Washington, Dc Age                          35
M/F                           F
City             Washington, Dc
State                        DC
Country                     USA
Half            0 days 01:50:16
40K             0 days 03:38:59
Pace                    0:08:52
TotalSeconds              13139
HalfSeconds                6616
Name: 19401, dtype: object
Washougal Age                          40
M/F                           F
City                  Washougal
State                        WA
Country                     USA
Half            0 days 01:41:27
40K             0 days 03:21:46
Pace                    0:08:12
TotalSeconds              12106
HalfSeconds                6087
Name: 13963, dtype: object
Wasilla Age                          39
M/F                           M
City                    Wasilla
State                        AK
Country                     USA
Half            0 days 01:28:23
40K             0 days 03:17:38
Pace                    0:08:03
TotalSeconds              11858
HalfSeconds                5303
Name: 2023, dtype: object
Wassenaar Age                          46
M/F                           M
City                  Wassenaar
State                       NaN
Country                     NED
Half            0 days 01:40:27
40K             0 days 03:27:41
Pace                    0:08:27
TotalSeconds              12461
HalfSeconds                6027
Name: 11810, dtype: object
Watauga Age                          40
M/F                           F
City                    Watauga
State                        TX
Country                     USA
Half            0 days 02:03:09
40K             0 days 03:55:17
Pace                    0:09:28
TotalSeconds              14117
HalfSeconds                7389
Name: 19918, dtype: object
Waterbury Age                          29
M/F                           F
City                  Waterbury
State                        VT
Country                     USA
Half            0 days 01:41:21
40K             0 days 03:18:36
Pace                    0:08:00
TotalSeconds              11916
HalfSeconds                6081
Name: 10895, dtype: object
Waterbury Center Age                           40
M/F                            F
City            Waterbury Center
State                         VT
Country                      USA
Half             0 days 01:50:22
40K              0 days 03:52:20
Pace                     0:09:26
TotalSeconds               13940
HalfSeconds                 6622
Name: 21188, dtype: object
Waterdown Age                          43
M/F                           M
City                  Waterdown
State                        ON
Country                     CAN
Half            0 days 01:28:12
40K             0 days 02:52:54
Pace                    0:06:59
TotalSeconds              10374
HalfSeconds                5292
Name: 5653, dtype: object
Waterford Age                          24
M/F                           M
City                  Waterford
State                        MI
Country                     USA
Half            0 days 01:26:24
40K             0 days 02:52:41
Pace                    0:06:59
TotalSeconds              10361
HalfSeconds                5184
Name: 4190, dtype: object
Waterloo Age                          27
M/F                           M
City                   Waterloo
State                        SC
Country                     USA
Half            0 days 01:25:51
40K             0 days 02:44:54
Pace                    0:06:39
TotalSeconds               9894
HalfSeconds                5151
Name: 2129, dtype: object
Watertown Age                          41
M/F                           M
City                  Watertown
State                        MA
Country                     USA
Half            0 days 01:22:16
40K             0 days 02:42:01
Pace                    0:06:35
TotalSeconds               9721
HalfSeconds                4936
Name: 1292, dtype: object
Waterville Age                          40
M/F                           M
City                 Waterville
State                        ME
Country                     USA
Half            0 days 01:29:42
40K             0 days 02:54:25
Pace                    0:07:03
TotalSeconds              10465
HalfSeconds                5382
Name: 2450, dtype: object
Watham Age                          25
M/F                           M
City                     Watham
State                        MA
Country                     USA
Half            0 days 02:32:40
40K             0 days 05:12:44
Pace                    0:12:30
TotalSeconds              18764
HalfSeconds                9160
Name: 30589, dtype: object
Watkins Glen Age                          40
M/F                           F
City               Watkins Glen
State                        NY
Country                     USA
Half            0 days 01:52:06
40K             0 days 03:37:24
Pace                    0:08:46
TotalSeconds              13044
HalfSeconds                6726
Name: 20744, dtype: object
Watsonville Age                          45
M/F                           M
City                Watsonville
State                        CA
Country                     USA
Half            0 days 01:34:22
40K             0 days 03:08:39
Pace                    0:07:39
TotalSeconds              11319
HalfSeconds                5662
Name: 6374, dtype: object
Wattsburg Age                          51
M/F                           F
City                  Wattsburg
State                        PA
Country                     USA
Half            0 days 01:57:35
40K             0 days 03:41:53
Pace                    0:08:55
TotalSeconds              13313
HalfSeconds                7055
Name: 21887, dtype: object
Waukee Age                          47
M/F                           M
City                     Waukee
State                        IA
Country                     USA
Half            0 days 01:42:54
40K             0 days 03:27:05
Pace                    0:08:23
TotalSeconds              12425
HalfSeconds                6174
Name: 12642, dtype: object
Waukegan Age                          46
M/F                           M
City                   Waukegan
State                        IL
Country                     USA
Half            0 days 01:41:43
40K             0 days 03:18:13
Pace                    0:08:01
TotalSeconds              11893
HalfSeconds                6103
Name: 9944, dtype: object
Waukesha Age                          40
M/F                           M
City                   Waukesha
State                        WI
Country                     USA
Half            0 days 01:21:35
40K             0 days 02:52:00
Pace                    0:06:57
TotalSeconds              10320
HalfSeconds                4895
Name: 618, dtype: object
Waunakee Age                          61
M/F                           M
City                   Waunakee
State                        WI
Country                     USA
Half            0 days 01:53:46
40K             0 days 04:03:45
Pace                    0:09:51
TotalSeconds              14625
HalfSeconds                6826
Name: 22347, dtype: object
Waupaca Age                          60
M/F                           M
City                    Waupaca
State                        WI
Country                     USA
Half            0 days 01:59:31
40K             0 days 04:00:54
Pace                    0:09:46
TotalSeconds              14454
HalfSeconds                7171
Name: 23118, dtype: object
Wauregan Age                          52
M/F                           M
City                   Wauregan
State                        CT
Country                     USA
Half            0 days 01:43:13
40K             0 days 03:17:59
Pace                    0:07:58
TotalSeconds              11879
HalfSeconds                6193
Name: 12877, dtype: object
Wausau Age                          38
M/F                           F
City                     Wausau
State                        WI
Country                     USA
Half            0 days 01:36:19
40K             0 days 03:07:21
Pace                    0:07:33
TotalSeconds              11241
HalfSeconds                5779
Name: 10303, dtype: object
Wauseon Age                          50
M/F                           F
City                    Wauseon
State                        OH
Country                     USA
Half            0 days 01:54:02
40K             0 days 04:10:06
Pace                    0:10:16
TotalSeconds              15006
HalfSeconds                6842
Name: 24550, dtype: object
Wauwatosa Age                          35
M/F                           M
City                  Wauwatosa
State                        WI
Country                     USA
Half            0 days 01:19:16
40K             0 days 02:39:09
Pace                    0:06:27
TotalSeconds               9549
HalfSeconds                4756
Name: 509, dtype: object
Waverly Age                          44
M/F                           M
City                    Waverly
State                        IA
Country                     USA
Half            0 days 01:29:15
40K             0 days 02:53:44
Pace                    0:06:59
TotalSeconds              10424
HalfSeconds                5355
Name: 6282, dtype: object
Waxahachie Age                          34
M/F                           M
City                 Waxahachie
State                        TX
Country                     USA
Half            0 days 01:29:37
40K             0 days 02:56:30
Pace                    0:07:08
TotalSeconds              10590
HalfSeconds                5377
Name: 4947, dtype: object
Waxhaw Age                          50
M/F                           M
City                     Waxhaw
State                        NC
Country                     USA
Half            0 days 01:39:04
40K             0 days 03:11:32
Pace                    0:07:42
TotalSeconds              11492
HalfSeconds                5944
Name: 11942, dtype: object
Wayland Age                          47
M/F                           M
City                    Wayland
State                        MA
Country                     USA
Half            0 days 01:37:22
40K             0 days 03:07:38
Pace                    0:07:35
TotalSeconds              11258
HalfSeconds                5842
Name: 11321, dtype: object
Wayne Age                          38
M/F                           M
City                      Wayne
State                        PA
Country                     USA
Half            0 days 01:24:28
40K             0 days 02:54:25
Pace                    0:07:07
TotalSeconds              10465
HalfSeconds                5068
Name: 2910, dtype: object
Waynesboro Age                          63
M/F                           M
City                 Waynesboro
State                        VA
Country                     USA
Half            0 days 02:07:01
40K             0 days 04:11:25
Pace                    0:10:11
TotalSeconds              15085
HalfSeconds                7621
Name: 22498, dtype: object
Wayzata Age                          25
M/F                           M
City                    Wayzata
State                        MN
Country                     USA
Half            0 days 01:29:37
40K             0 days 02:50:51
Pace                    0:06:54
TotalSeconds              10251
HalfSeconds                5377
Name: 3829, dtype: object
Weare Age                          41
M/F                           F
City                      Weare
State                        NH
Country                     USA
Half            0 days 01:54:09
40K             0 days 03:40:12
Pace                    0:08:53
TotalSeconds              13212
HalfSeconds                6849
Name: 20794, dtype: object
Weatherford Age                          45
M/F                           M
City                Weatherford
State                        TX
Country                     USA
Half            0 days 01:42:00
40K             0 days 03:36:14
Pace                    0:08:48
TotalSeconds              12974
HalfSeconds                6120
Name: 10831, dtype: object
Weatogue Age                          31
M/F                           F
City                   Weatogue
State                        CT
Country                     USA
Half            0 days 02:09:11
40K             0 days 04:27:26
Pace                    0:10:49
TotalSeconds              16046
HalfSeconds                7751
Name: 16696, dtype: object
Weaverville Age                          46
M/F                           M
City                Weaverville
State                        NC
Country                     USA
Half            0 days 01:30:25
40K             0 days 03:01:09
Pace                    0:07:26
TotalSeconds              10869
HalfSeconds                5425
Name: 3646, dtype: object
Webster Age                          33
M/F                           M
City                    Webster
State                        NY
Country                     USA
Half            0 days 01:25:34
40K             0 days 02:55:12
Pace                    0:07:11
TotalSeconds              10512
HalfSeconds                5134
Name: 3295, dtype: object
Weddington Age                          39
M/F                           M
City                 Weddington
State                        NC
Country                     USA
Half            0 days 01:40:58
40K             0 days 03:09:02
Pace                    0:07:34
TotalSeconds              11342
HalfSeconds                6058
Name: 6097, dtype: object
Weehawken Age                          61
M/F                           M
City                  Weehawken
State                        NJ
Country                     USA
Half            0 days 01:49:13
40K             0 days 03:31:10
Pace                    0:08:29
TotalSeconds              12670
HalfSeconds                6553
Name: 18014, dtype: object
Weiningen Age                          36
M/F                           M
City                  Weiningen
State                       NaN
Country                     SUI
Half            0 days 01:47:15
40K             0 days 03:32:58
Pace                    0:08:37
TotalSeconds              12778
HalfSeconds                6435
Name: 31785, dtype: object
Weirton Age                          59
M/F                           F
City                    Weirton
State                        WV
Country                     USA
Half            0 days 02:03:41
40K             0 days 03:57:22
Pace                    0:09:33
TotalSeconds              14242
HalfSeconds                7421
Name: 25001, dtype: object
Weldon Spring Age                          51
M/F                           F
City              Weldon Spring
State                        MO
Country                     USA
Half            0 days 02:07:04
40K             0 days 04:32:08
Pace                    0:11:04
TotalSeconds              16328
HalfSeconds                7624
Name: 22598, dtype: object
Welland Age                          51
M/F                           M
City                    Welland
State                        ON
Country                     CAN
Half            0 days 01:50:58
40K             0 days 03:42:23
Pace                    0:08:59
TotalSeconds              13343
HalfSeconds                6658
Name: 13671, dtype: object

West Warwick Age                          53
M/F                           M
City               West Warwick
State                        RI
Country                     USA
Half            0 days 01:34:16
40K             0 days 03:04:00
Pace                    0:07:26
TotalSeconds              11040
HalfSeconds                5656
Name: 12292, dtype: object
West Yarmouth Age                          63
M/F                           M
City              West Yarmouth
State                        MA
Country                     USA
Half            0 days 01:51:25
40K             0 days 03:33:59
Pace                    0:08:37
TotalSeconds              12839
HalfSeconds                6685
Name: 20532, dtype: object
Westborough Age                          45
M/F                           M
City                Westborough
State                        MA
Country                     USA
Half            0 days 01:25:26
40K             0 days 02:45:13
Pace                    0:06:40
TotalSeconds               9913
HalfSeconds                5126
Name: 1992, dtype: object
Westbrook Age                          48
M/F                           M
City                  Westbrook
State                        ME
Country                     USA
Half            0 days 01:26:57
40K             0 days 02:47:01
Pace                    0:06:44
TotalSeconds              10021
HalfSeconds                5217
Name: 3515, dtype: object
Westchester Age                          35
M/F                           F
City                Westchester
State                        IL
Country                     USA
Half            0 days 01:56:02
40K             0 days 03:43:33
Pace                    0:09:00
TotalSeconds              13413
HalfSeconds                6962
Name: 20106, dtype: object
Westerly Age                          26
M/F                           F
City                   Westerly
State                        RI
Country                     USA
Half            0 days 01:29:54
40K             0 days 03:14:15
Pace                    0:07:55
TotalSeconds              11655
HalfSeconds                5394
Name: 10064, dtype: object
Western Springs Age                          27
M/F                           F
City            Western Springs
State                        IL
Country                     USA
Half            0 days 01:39:29
40K             0 days 03:20:35
Pace                    0:08:06
TotalSeconds              12035
HalfSeconds                5969
Name: 11983, dtype: object
Westerville Age                          50
M/F                           M
City                Westerville
State                        OH
Country                     USA
Half            0 days 01:32:49
40K             0 days 03:03:47
Pace                    0:07:25
TotalSeconds              11027
HalfSeconds                5569
Name: 6354, dtype: object
Westfield Age                          46
M/F                           M
City                  Westfield
State                        NJ
Country                     USA
Half            0 days 01:25:30
40K             0 days 02:57:51
Pace                    0:07:14
TotalSeconds              10671
HalfSeconds                5130
Name: 1961, dtype: object
Westfield Center Age                           48
M/F                            M
City            Westfield Center
State                         OH
Country                      USA
Half             0 days 01:45:21
40K              0 days 03:21:00
Pace                     0:08:04
TotalSeconds               12060
HalfSeconds                 6321
Name: 10551, dtype: object
Westford Age                          23
M/F                           M
City                   Westford
State                        MA
Country                     USA
Half            0 days 01:23:01
40K             0 days 02:43:21
Pace                    0:06:35
TotalSeconds               9801
HalfSeconds                4981
Name: 1269, dtype: object
Westhampton Beach Age                            45
M/F                             M
City            Westhampton Beach
State                          NY
Country                       USA
Half              0 days 02:30:10
40K               0 days 05:03:00
Pace                      0:12:11
TotalSeconds                18180
HalfSeconds                  9010
Name: 31035, dtype: object
Westlake Age                          49
M/F                           M
City                   Westlake
State                        OH
Country                     USA
Half            0 days 01:38:11
40K             0 days 03:06:54
Pace                    0:07:31
TotalSeconds              11214
HalfSeconds                5891
Name: 9204, dtype: object
Westlake Hills Age                          63
M/F                           M
City             Westlake Hills
State                        TX
Country                     USA
Half            0 days 02:20:37
40K             0 days 04:56:51
Pace                    0:12:02
TotalSeconds              17811
HalfSeconds                8437
Name: 27807, dtype: object
Westlake Vilalge Age                           69
M/F                            M
City            Westlake Vilalge
State                         CA
Country                      USA
Half             0 days 02:02:28
40K              0 days 04:07:27
Pace                     0:09:57
TotalSeconds               14847
HalfSeconds                 7348
Name: 25302, dtype: object
Westlake Village Age                           23
M/F                            M
City            Westlake Village
State                         CA
Country                      USA
Half             0 days 01:31:08
40K              0 days 03:03:52
Pace                     0:07:25
TotalSeconds               11032
HalfSeconds                 5468
Name: 2595, dtype: object
Westland Age                          25
M/F                           M
City                   Westland
State                        MI
Country                     USA
Half            0 days 01:28:31
40K             0 days 03:03:23
Pace                    0:07:26
TotalSeconds              11003
HalfSeconds                5311
Name: 4168, dtype: object
Westmeath Age                          46
M/F                           M
City                  Westmeath
State                       NaN
Country                     IRL
Half            0 days 01:39:59
40K             0 days 03:25:47
Pace                    0:08:21
TotalSeconds              12347
HalfSeconds                5999
Name: 7627, dtype: object
Westminster Age                          40
M/F                           M
City                Westminster
State                        CO
Country                     USA
Half            0 days 01:21:09
40K             0 days 02:35:40
Pace                    0:06:16
TotalSeconds               9340
HalfSeconds                4869
Name: 8575, dtype: object
Westmont Age                          28
M/F                           M
City                   Westmont
State                        IL
Country                     USA
Half            0 days 01:34:28
40K             0 days 03:03:55
Pace                    0:07:25
TotalSeconds              11035
HalfSeconds                5668
Name: 3694, dtype: object
Westmoreland Age                          27
M/F                           F
City               Westmoreland
State                        NH
Country                     USA
Half            0 days 01:41:47
40K             0 days 03:12:45
Pace                    0:07:43
TotalSeconds              11565
HalfSeconds                6107
Name: 16072, dtype: object
Westmount Age                          39
M/F                           M
City                  Westmount
State                        QC
Country                     CAN
Half            0 days 01:30:58
40K             0 days 02:55:44
Pace                    0:07:05
TotalSeconds              10544
HalfSeconds                5458
Name: 6137, dtype: object
Weston Age                          24
M/F                           M
City                     Weston
State                        MA
Country                     USA
Half            0 days 01:20:53
40K             0 days 02:36:57
Pace                    0:06:22
TotalSeconds               9417
HalfSeconds                4853
Name: 2483, dtype: object
Weston-Super-Mare Age                            55
M/F                             M
City            Weston-Super-Mare
State                         NaN
Country                       GBR
Half              0 days 02:05:36
40K               0 days 04:08:39
Pace                      0:10:01
TotalSeconds                14919
HalfSeconds                  7536
Name: 14243, dtype: object
Westport Age                          30
M/F                           M
City                   Westport
State                        CT
Country                     USA
Half            0 days 01:18:46
40K             0 days 02:35:08
Pace                    0:06:16
TotalSeconds               9308
HalfSeconds                4726
Name: 1093, dtype: object
Westville Age                          54
M/F                           M
City                  Westville
State                        IN
Country                     USA
Half            0 days 01:56:22
40K             0 days 03:42:35
Pace                    0:08:58
TotalSeconds              13355
HalfSeconds                6982
Name: 14700, dtype: object
Westwood Age                          37
M/F                           M
City                   Westwood
State                        MA
Country                     USA
Half            0 days 01:20:19
40K             0 days 02:38:23
Pace                    0:06:26
TotalSeconds               9503
HalfSeconds                4819
Name: 503, dtype: object
Wethersfield Age                          31
M/F                           M
City               Wethersfield
State                        CT
Country                     USA
Half            0 days 01:32:06
40K             0 days 03:08:34
Pace                    0:07:38
TotalSeconds              11314
HalfSeconds                5526
Name: 4721, dtype: object
Wexford Age                          45
M/F                           M
City                    Wexford
State                        PA
Country                     USA
Half            0 days 01:27:45
40K             0 days 02:50:36
Pace                    0:06:53
TotalSeconds              10236
HalfSeconds                5265
Name: 3446, dtype: object
Weybridge Age                          62
M/F                           M
City                  Weybridge
State                       NaN
Country                     GBR
Half            0 days 01:55:00
40K             0 days 03:42:02
Pace                    0:08:57
TotalSeconds              13322
HalfSeconds                6900
Name: 21345, dtype: object
Weyburn Age                          47
M/F                           M
City                    Weyburn
State                        SK
Country                     CAN
Half            0 days 01:35:18
40K             0 days 03:19:23
Pace                    0:08:06
TotalSeconds              11963
HalfSeconds                5718
Name: 11177, dtype: object
Weymouth Age                          21
M/F                           M
City                   Weymouth
State                        MA
Country                     USA
Half            0 days 01:28:17
40K             0 days 02:47:29
Pace                    0:06:44
TotalSeconds              10049
HalfSeconds                5297
Name: 5330, dtype: object
Weymouth Ma Age                          41
M/F                           M
City                Weymouth Ma
State                        MA
Country                     USA
Half            0 days 01:28:21
40K             0 days 02:48:28
Pace                    0:06:47
TotalSeconds              10108
HalfSeconds                5301
Name: 5079, dtype: object
Wharton Age                          46
M/F                           M
City                    Wharton
State                        NJ
Country                     USA
Half            0 days 01:31:30
40K             0 days 02:57:19
Pace                    0:07:10
TotalSeconds              10639
HalfSeconds                5490
Name: 8937, dtype: object
Wheat Ridge Age                          46
M/F                           M
City                Wheat Ridge
State                        CO
Country                     USA
Half            0 days 02:01:21
40K             0 days 03:56:14
Pace                    0:09:27
TotalSeconds              14174
HalfSeconds                7281
Name: 27774, dtype: object
Wheaton Age                          24
M/F                           M
City                    Wheaton
State                        IL
Country                     USA
Half            0 days 01:17:51
40K             0 days 02:34:15
Pace                    0:06:14
TotalSeconds               9255
HalfSeconds                4671
Name: 335, dtype: object
Wheeling Age                          30
M/F                           M
City                   Wheeling
State                        WV
Country                     USA
Half            0 days 01:28:12
40K             0 days 02:51:34
Pace                    0:06:56
TotalSeconds              10294
HalfSeconds                5292
Name: 3345, dtype: object
Whispering Pines Age                           36
M/F                            F
City            Whispering Pines
State                         NC
Country                      USA
Half             0 days 01:32:42
40K              0 days 03:01:31
Pace                     0:07:23
TotalSeconds               10891
HalfSeconds                 5562
Name: 5830, dtype: object
Whistler Age                          47
M/F                           F
City                   Whistler
State                        BC
Country                     CAN
Half            0 days 02:10:01
40K             0 days 04:06:59
Pace                    0:09:56
TotalSeconds              14819
HalfSeconds                7801
Name: 29437, dtype: object
Whitby Age                          41
M/F                           M
City                     Whitby
State                        ON
Country                     CAN
Half            0 days 01:24:52
40K             0 days 02:41:19
Pace                    0:06:31
TotalSeconds               9679
HalfSeconds                5092
Name: 2108, dtype: object
White Bear Lake Age                          41
M/F                           M
City            White Bear Lake
State                        MN
Country                     USA
Half            0 days 01:48:32
40K             0 days 03:50:18
Pace                    0:09:21
TotalSeconds              13818
HalfSeconds                6512
Name: 8851, dtype: object
White Cloud Age                          28
M/F                           F
City                White Cloud
State                        MI
Country                     USA
Half            0 days 01:43:36
40K             0 days 03:17:47
Pace                    0:07:59
TotalSeconds              11867
HalfSeconds                6216
Name: 14408, dtype: object
White Hills Age                          54
M/F                           M
City                White Hills
State                       NaN
Country                     AUS
Half            0 days 01:31:18
40K             0 days 03:02:37
Pace                    0:07:25
TotalSeconds              10957
HalfSeconds                5478
Name: 6713, dtype: object
White House Age                          35
M/F                           F
City                White House
State                        TN
Country                     USA
Half            0 days 01:58:15
40K             0 days 04:23:33
Pace                    0:10:45
TotalSeconds              15813
HalfSeconds                7095
Name: 20169, dtype: object
White Lake Age                          45
M/F                           M
City                 White Lake
State                        MI
Country                     USA
Half            0 days 01:33:00
40K             0 days 03:02:14
Pace                    0:07:22
TotalSeconds              10934
HalfSeconds                5580
Name: 5677, dtype: object
White Plains Age                          38
M/F                           F
City               White Plains
State                        NY
Country                     USA
Half            0 days 01:40:46
40K             0 days 03:16:23
Pace                    0:07:54
TotalSeconds              11783
HalfSeconds                6046
Name: 14286, dtype: object
White Sands Age                          33
M/F                           M
City                White Sands
State                        NM
Country                     USA
Half            0 days 01:21:25
40K             0 days 02:44:52
Pace                    0:06:40
TotalSeconds               9892
HalfSeconds                4885
Name: 757, dtype: object
White Shield Age                          27
M/F                           F
City               White Shield
State                        ND
Country                     USA
Half            0 days 01:57:27
40K             0 days 03:57:58
Pace                    0:09:36
TotalSeconds              14278
HalfSeconds                7047
Name: 20452, dtype: object
Whitecourt Age                          47
M/F                           F
City                 Whitecourt
State                        AB
Country                     CAN
Half            0 days 02:09:49
40K             0 days 04:24:08
Pace                    0:10:42
TotalSeconds              15848
HalfSeconds                7789
Name: 21890, dtype: object
Whitefish Bay Age                          49
M/F                           M
City              Whitefish Bay
State                        WI
Country                     USA
Half            0 days 01:43:12
40K             0 days 03:14:34
Pace                    0:07:50
TotalSeconds              11674
HalfSeconds                6192
Name: 9332, dtype: object
Whitehall Age                          41
M/F                           F
City                  Whitehall
State                        PA
Country                     USA
Half            0 days 01:43:02
40K             0 days 03:18:03
Pace                    0:07:58
TotalSeconds              11883
HalfSeconds                6182
Name: 14078, dtype: object
Whitehorse Age                          54
M/F                           M
City                 Whitehorse
State                        YT
Country                     CAN
Half            0 days 01:45:58
40K             0 days 03:26:41
Pace                    0:08:19
TotalSeconds              12401
HalfSeconds                6358
Name: 8151, dtype: object
Whitehouse Age                          26
M/F                           F
City                 Whitehouse
State                        OH
Country                     USA
Half            0 days 01:41:55
40K             0 days 03:16:36
Pace                    0:07:58
TotalSeconds              11796
HalfSeconds                6115
Name: 14202, dtype: object
Whitehouse Station Age                             50
M/F                              M
City            Whitehouse Station
State                           NJ
Country                        USA
Half               0 days 01:40:27
40K                0 days 03:09:48
Pace                       0:07:38
TotalSeconds                 11388
HalfSeconds                   6027
Name: 12222, dtype: object
Whiteriver Age                          31
M/F                           M
City                 Whiteriver
State                        AZ
Country                     USA
Half            0 days 01:27:23
40K             0 days 03:03:49
Pace                    0:07:31
TotalSeconds              11029
HalfSeconds                5243
Name: 2133, dtype: object
Whitesboro Age                          28
M/F                           F
City                 Whitesboro
State                        NY
Country                     USA

Wuhu City, Anhui Age                           67
M/F                            M
City            Wuhu City, Anhui
State                        NaN
Country                      CHN
Half             0 days 01:50:09
40K              0 days 03:53:08
Pace                     0:09:29
TotalSeconds               13988
HalfSeconds                 6609
Name: 20745, dtype: object
Wuxi, Jiangsu Age                          37
M/F                           F
City              Wuxi, Jiangsu
State                       NaN
Country                     CHN
Half            0 days 01:56:36
40K             0 days 03:54:11
Pace                    0:09:29
TotalSeconds              14051
HalfSeconds                6996
Name: 16878, dtype: object
Wyandotte Age                          24
M/F                           F
City                  Wyandotte
State                        MI
Country                     USA
Half            0 days 01:38:13
40K             0 days 03:12:32
Pace                    0:07:47
TotalSeconds              11552
HalfSeconds                5893
Name: 9763, dtype: object
Wyckoff Age                          39
M/F                           M
City                    Wyckoff
State                        NJ
Country                     USA
Half            0 days 02:28:33
40K             0 days 05:05:25
Pace                    0:12:21
TotalSeconds              18325
HalfSeconds                8913
Name: 29379, dtype: object
Wykoff Age                          37
M/F                           F
City                     Wykoff
State                        MN
Country                     USA
Half            0 days 01:55:41
40K             0 days 03:36:28
Pace                    0:08:41
TotalSeconds              12988
HalfSeconds                6941
Name: 19686, dtype: object
Wylie Age                          49
M/F                           M
City                      Wylie
State                        TX
Country                     USA
Half            0 days 01:21:22
40K             0 days 02:43:12
Pace                    0:06:39
TotalSeconds               9792
HalfSeconds                4882
Name: 922, dtype: object
Wyncote Age                          45
M/F                           M
City                    Wyncote
State                        PA
Country                     USA
Half            0 days 01:29:04
40K             0 days 02:54:07
Pace                    0:07:03
TotalSeconds              10447
HalfSeconds                5344
Name: 3784, dtype: object
Wynnewood Age                          34
M/F                           M
City                  Wynnewood
State                        PA
Country                     USA
Half            0 days 01:25:01
40K             0 days 03:00:50
Pace                    0:07:19
TotalSeconds              10850
HalfSeconds                5101
Name: 3692, dtype: object
Wyoming Age                          25
M/F                           M
City                    Wyoming
State                        RI
Country                     USA
Half            0 days 01:19:42
40K             0 days 02:30:13
Pace                    0:06:05
TotalSeconds               9013
HalfSeconds                4782
Name: 2864, dtype: object
Wyomissing Age                          37
M/F                           F
City                 Wyomissing
State                        PA
Country                     USA
Half            0 days 01:37:53
40K             0 days 03:24:29
Pace                    0:08:37
TotalSeconds              12269
HalfSeconds                5873
Name: 16083, dtype: object
Wytheville Age                          35
M/F                           M
City                 Wytheville
State                        VA
Country                     USA
Half            0 days 01:28:46
40K             0 days 03:05:57
Pace                    0:07:37
TotalSeconds              11157
HalfSeconds                5326
Name: 5210, dtype: object
Xalapa Age                          44
M/F                           M
City                     Xalapa
State                       NaN
Country                     MEX
Half            0 days 01:19:03
40K             0 days 02:32:21
Pace                    0:06:09
TotalSeconds               9141
HalfSeconds                4743
Name: 6065, dtype: object
Xenia Age                          51
M/F                           M
City                      Xenia
State                        OH
Country                     USA
Half            0 days 01:48:12
40K             0 days 03:45:09
Pace                    0:09:07
TotalSeconds              13509
HalfSeconds                6492
Name: 15101, dtype: object
Xi'An Age                          45
M/F                           M
City                      Xi'An
State                       NaN
Country                     CHN
Half            0 days 01:47:18
40K             0 days 03:44:30
Pace                    0:09:02
TotalSeconds              13470
HalfSeconds                6438
Name: 3826, dtype: object
Yangpu, Shanghai Age                           28
M/F                            M
City            Yangpu, Shanghai
State                        NaN
Country                      CHN
Half             0 days 01:12:38
40K              0 days 02:33:57
Pace                     0:06:19
TotalSeconds                9237
HalfSeconds                 4358
Name: 118, dtype: object
Yaphank Age                          45
M/F                           M
City                    Yaphank
State                        NY
Country                     USA
Half            0 days 01:38:04
40K             0 days 03:07:35
Pace                    0:07:35
TotalSeconds              11255
HalfSeconds                5884
Name: 11319, dtype: object
Yardley Age                          42
M/F                           M
City                    Yardley
State                        PA
Country                     USA
Half            0 days 01:32:36
40K             0 days 03:27:59
Pace                    0:08:29
TotalSeconds              12479
HalfSeconds                5556
Name: 8672, dtype: object
Yarmouth Age                          42
M/F                           M
City                   Yarmouth
State                        NS
Country                     CAN
Half            0 days 01:28:28
40K             0 days 02:54:15
Pace                    0:07:04
TotalSeconds              10455
HalfSeconds                5308
Name: 3193, dtype: object
Yarmouth Port Age                          62
M/F                           F
City              Yarmouth Port
State                        MA
Country                     USA
Half            0 days 02:18:39
40K             0 days 04:51:39
Pace                    0:11:54
TotalSeconds              17499
HalfSeconds                8319
Name: 25761, dtype: object
Yarmouthport Age                          26
M/F                           M
City               Yarmouthport
State                        MA
Country                     USA
Half            0 days 01:20:17
40K             0 days 02:34:35
Pace                    0:06:14
TotalSeconds               9275
HalfSeconds                4817
Name: 1839, dtype: object
Yatton Age                          31
M/F                           M
City                     Yatton
State                       NaN
Country                     GBR
Half            0 days 01:28:54
40K             0 days 02:59:17
Pace                    0:07:16
TotalSeconds              10757
HalfSeconds                5334
Name: 2499, dtype: object
Yigo Age                          27
M/F                           F
City                       Yigo
State                        GU
Country                     USA
Half            0 days 01:52:25
40K             0 days 03:51:28
Pace                    0:09:22
TotalSeconds              13888
HalfSeconds                6745
Name: 15470, dtype: object
Yilan County Age                          70
M/F                           M
City               Yilan County
State                       NaN
Country                     TWN
Half            0 days 01:46:10
40K             0 days 03:34:24
Pace                    0:08:44
TotalSeconds              12864
HalfSeconds                6370
Name: 20086, dtype: object
Yokohama Age                          42
M/F                           M
City                   Yokohama
State                       NaN
Country                     JPN
Half            0 days 01:18:57
40K             0 days 02:55:28
Pace                    0:07:08
TotalSeconds              10528
HalfSeconds                4737
Name: 316, dtype: object
Yokohama City Age                          57
M/F                           M
City              Yokohama City
State                       NaN
Country                     JPN
Half            0 days 01:47:55
40K             0 days 03:50:49
Pace                    0:09:25
TotalSeconds              13849
HalfSeconds                6475
Name: 19009, dtype: object
Yokohama- City. Kanagawa Age                                   28
M/F                                    M
City            Yokohama- City. Kanagawa
State                                NaN
Country                              JPN
Half                     0 days 02:38:43
40K                      0 days 05:18:34
Pace                             0:12:53
TotalSeconds                       19114
HalfSeconds                         9523
Name: 31709, dtype: object
Yonkers Age                          32
M/F                           F
City                    Yonkers
State                        NY
Country                     USA
Half            0 days 01:29:42
40K             0 days 03:00:56
Pace                    0:07:20
TotalSeconds              10856
HalfSeconds                5382
Name: 14093, dtype: object
Yorba Linda Age                          48
M/F                           F
City                Yorba Linda
State                        CA
Country                     USA
Half            0 days 01:46:29
40K             0 days 03:36:51
Pace                    0:08:46
TotalSeconds              13011
HalfSeconds                6389
Name: 20755, dtype: object
Yorba Lnda Age                          55
M/F                           M
City                 Yorba Lnda
State                        CA
Country                     USA
Half            0 days 01:39:31
40K             0 days 03:16:36
Pace                    0:07:56
TotalSeconds              11796
HalfSeconds                5971
Name: 10198, dtype: object
York Age                          37
M/F                           M
City                       York
State                        PA
Country                     USA
Half            0 days 01:27:47
40K             0 days 02:51:29
Pace                    0:06:57
TotalSeconds              10289
HalfSeconds                5267
Name: 3356, dtype: object
York Beach Age                          45
M/F                           F
City                 York Beach
State                        ME
Country                     USA
Half            0 days 01:49:59
40K             0 days 03:35:46
Pace                    0:08:44
TotalSeconds              12946
HalfSeconds                6599
Name: 22457, dtype: object
York Haven Age                          48
M/F                           M
City                 York Haven
State                        PA
Country                     USA
Half            0 days 01:39:57
40K             0 days 03:16:40
Pace                    0:07:56
TotalSeconds              11800
HalfSeconds                5997
Name: 10184, dtype: object
Yorkton Age                          26
M/F                           F
City                    Yorkton
State                        SK
Country                     CAN
Half            0 days 01:43:15
40K             0 days 03:45:13
Pace                    0:09:07
TotalSeconds              13513
HalfSeconds                6195
Name: 11537, dtype: object
Yorktown Age                          40
M/F                           M
City                   Yorktown
State                        IN
Country                     USA
Half            0 days 01:25:35
40K             0 days 03:07:37
Pace                    0:07:37
TotalSeconds              11257
HalfSeconds                5135
Name: 2942, dtype: object
Yorkville Age                          39
M/F                           F
City                  Yorkville
State                        IL
Country                     USA
Half            0 days 01:53:47
40K             0 days 03:49:48
Pace                    0:09:19
TotalSeconds              13788
HalfSeconds                6827
Name: 20059, dtype: object
Youngstown Age                          46
M/F                           F
City                 Youngstown
State                        OH
Country                     USA
Half            0 days 01:52:34
40K             0 days 03:39:40
Pace                    0:08:52
TotalSeconds              13180
HalfSeconds                6754
Name: 23495, dtype: object
Ypsilanti Age                          37
M/F                           F
City                  Ypsilanti
State                        MI
Country                     USA
Half            0 days 01:45:09
40K             0 days 03:33:35
Pace                    0:08:38
TotalSeconds              12815
HalfSeconds                6309
Name: 19303, dtype: object
Yreka Age                          30
M/F                           M
City                      Yreka
State                        CA
Country                     USA
Half            0 days 01:25:06
40K             0 days 02:42:25
Pace                    0:06:32
TotalSeconds               9745
HalfSeconds                5106
Name: 2208, dtype: object
Yuba City Age                          32
M/F                           M
City                  Yuba City
State                        CA
Country                     USA
Half            0 days 01:30:53
40K             0 days 03:56:06
Pace                    0:09:46
TotalSeconds              14166
HalfSeconds                5453
Name: 4059, dtype: object
Yucaipa Age                          26
M/F                           M
City                    Yucaipa
State                        CA
Country                     USA
Half            0 days 01:10:37
40K             0 days 02:23:48
Pace                    0:05:54
TotalSeconds               8628
HalfSeconds                4237
Name: 117, dtype: object
Yuen Long, Hong Kong Age                               55
M/F                                F
City            Yuen Long, Hong Kong
State                            NaN
Country                          HKG
Half                 0 days 02:04:56
40K                  0 days 04:12:47
Pace                         0:10:13
TotalSeconds                   15167
HalfSeconds                     7496
Name: 25346, dtype: object
Yuma Age                          22
M/F                           M
City                       Yuma
State                        AZ
Country                     USA
Half            0 days 01:22:42
40K             0 days 02:42:53
Pace                    0:06:34
TotalSeconds               9773
HalfSeconds                4962
Name: 2409, dtype: object
Zaamslag Age                          44
M/F                           M
City                   Zaamslag
State                       NaN
Country                     NED
Half            0 days 01:55:11
40K             0 days 03:45:36
Pace                    0:09:05
TotalSeconds              13536
HalfSeconds                6911
Name: 30245, dtype: object
Zaandam Age                          32
M/F                           F
City                    Zaandam
State                       NaN
Country                     NED
Half            0 days 01:37:23
40K             0 days 03:21:48
Pace                    0:08:10
TotalSeconds              12108
HalfSeconds                5843
Name: 9799, dtype: object
Zabrze Age                          45
M/F                           M
City                     Zabrze
State                       NaN
Country                     POL
Half            0 days 01:31:50
40K             0 days 02:59:27
Pace                    0:07:16
TotalSeconds              10767
HalfSeconds                5510
Name: 7482, dtype: object
Zacatecas Zacatecas Age                              46
M/F                               M
City            Zacatecas Zacatecas
State                           NaN
Country                         MEX
Half                0 days 01:38:59
40K                 0 days 03:15:06
Pace                        0:07:58
TotalSeconds                  11706
HalfSeconds                    5939
Name: 9950, dtype: object
Zagreb Age                          39
M/F                           M
City                     Zagreb
State                       NaN
Country                     CRO
Half            0 days 01:28:22
40K             0 days 02:48:00
Pace                    0:06:45
TotalSeconds              10080
HalfSeconds                5302
Name: 4377, dtype: object
Zamora, Michoacan Age                            30
M/F                             F
City            Zamora, Michoacan
State                         NaN
Country                       MEX
Half              0 days 01:35:22
40K               0 days 03:07:16
Pace                      0:07:35
TotalSeconds                11236
HalfSeconds                  5722
Name: 13576, dtype: object
Zane Age                          41
M/F                           M
City                       Zane
State                       NaN
Country                     ITA
Half            0 days 01:34:45
40K             0 days 03:17:52
Pace                    0:08:03
TotalSeconds              11872
HalfSeconds                5685
Name: 5875, dtype: object
Zapopan Age                          45
M/F                           M
City                    Zapopan
State                       NaN
Country                     MEX
Half            0 days 01:26:18
40K             0 days 02:47:51
Pace                    0:06:47
TotalSeconds              10071
HalfSeconds                5178
Name: 1356, dtype: object
Zapopan Jalisco Age                          57
M/F                           M
City            Zapopan Jalisco
State                       NaN
Country                     MEX
Half            0 days 02:04:14
40K             0 days 04:33:50
Pace                    0:11:04
TotalSeconds              16430
HalfSeconds                7454
Name: 31836, dtype: object
Zapopan, Jal. Age                          63
M/F                           M
City              Zapopan, Jal.
State                       NaN
Country                     MEX
Half            0 days 01:35:06
40K             0 days 03:37:00
Pace                    0:08:59
TotalSeconds              13020
HalfSeconds                5706
Name: 12801, dtype: object
Zarautz  Gipuzkoa Age                             46
M/F                              M
City            Zarautz  Gipuzkoa
State                          NaN
Country                        ESP
Half               0 days 02:00:51
40K                0 days 04:20:48
Pace                       0:10:31
TotalSeconds                 15648
HalfSeconds                   7251
Name: 31679, dtype: object
Zebulon Age                          60
M/F                           M
City                    Zebulon
State                        NC
Country                     USA
Half            0 days 01:55:49
40K             0 days 03:56:03
Pace                    0:09:38
TotalSeconds              14163
HalfSeconds                6949
Name: 22919, dtype: object
Zeeland Age                          46
M/F                           M
City                    Zeeland
State                        MI
Country                     USA
Half            0 days 01:28:34
40K             0 days 02:49:06
Pace                    0:06:48
TotalSeconds              10146
HalfSeconds                5314
Name: 4492, dtype: object
Zephyrhills Age                          42
M/F                           M
City                Zephyrhills

In [16]:
best_per_city = pd.DataFrame()

In [23]:
for city, data in group_city:
    best_per_city = best_per_city.append(data.loc[data['TotalSeconds'].idxmin()])

In [24]:
best_per_city

,40K,Age,City,Country,Half,HalfSeconds,M/F,Pace,State,TotalSeconds
6229,03:15:24,39.0,0851 Oslo,NOR,01:35:31,5731.0,F,0:07:55,NaN,11724.0
4186,03:14:00,35.0,20832,USA,01:35:57,5757.0,M,0:07:51,MD,11640.0
31786,03:55:09,44.0,34-120 Andrychow,POL,01:58:39,7119.0,F,0:09:28,NaN,14109.0
15350,03:44:58,58.0,5700 Svendborg,DEN,01:49:12,6552.0,M,0:09:05,NaN,13498.0
20668,03:37:23,46.0,95630,USA,01:50:25,6625.0,F,0:08:44,CA,13043.0
...,...,...,...,...,...,...,...,...,...,...
2978,03:03:15,42.0,Zurich,SUI,01:32:09,5529.0,M,0:07:26,NaN,10995.0
31756,04:56:52,58.0,Zweibruecken,GER,02:22:22,8542.0,F,0:11:57,NaN,17812.0
31280,04:42:02,61.0,Zwevegem,BEL,02:15:30,8130.0,M,0:11:18,NaN,16922.0
4052,03:04:11,46.0,Zwolle,NED,01:33:21,5601.0,M,0:07:27,NaN,11051.0
1507,02:45:08,32.0,hingham,USA,01:24:38,5078.0,M,0:06:39,MA,9908.0