## S07-L005 - merge outer

In [1]:
import numpy as np
import pandas as pd

In [2]:
suppliers = pd.read_csv('course-files/northwind-mongo-master/suppliers _del_1.csv', \
                        usecols=['SupplierID','CompanyName', 'City'])

In [3]:
products = pd.read_csv('course-files/northwind-mongo-master/products_del_1.csv',\
                      usecols=['ProductID','ProductName', 'SupplierID'])

In [4]:
prod_and_sup = suppliers.merge(products, how='inner')

In [5]:
len(suppliers)

27

In [7]:
len(products)

75

In [8]:
len(prod_and_sup)

70

In [9]:
prod_and_sup_outer = suppliers.merge(products, how='outer', indicator=True)

In [15]:
missed_left = prod_and_sup_outer['_merge'] == 'left_only'

In [16]:
prod_and_sup_outer[missed_left]

    SupplierID         CompanyName      City  ProductID ProductName     _merge
67          27  Escargots Nouveaux  Montceau        NaN         NaN  left_only

In [17]:
prod_and_sup_outer['_merge'].value_counts()

both          70
right_only     5
left_only      1
Name: _merge, dtype: int64

In [18]:
missed_right = prod_and_sup_outer['_merge'] == 'right_only'

In [19]:
prod_and_sup_outer[missed_right]

    SupplierID CompanyName City  ProductID          ProductName      _merge
71           9         NaN  NaN       22.0  Gustaf's Knäckebröd  right_only
72           9         NaN  NaN       23.0             Tunnbröd  right_only
73          17         NaN  NaN       36.0          Inlagd Sill  right_only
74          17         NaN  NaN       37.0           Gravad lax  right_only
75          17         NaN  NaN       73.0           Röd Kaviar  right_only