## S07-L001 - łączenie data frame - wprowadzenie

In [3]:
import numpy as np
import pandas as pd

In [7]:
products = pd.read_csv('course-files/northwind-mongo-master/products.csv')
products.head()

,ProductID,ProductName,SupplierID,CategoryID,QuantityPerUnit,UnitPrice,UnitsInStock,UnitsOnOrder,ReorderLevel,Discontinued
0,1,Chai,1,1,10 boxes x 20 bags,18.00,39,0,10,0
1,2,Chang,1,1,24 - 12 oz bottles,19.00,17,40,25,0
2,3,Aniseed Syrup,1,2,12 - 550 ml bottles,10.00,13,70,25,0
3,4,Chef Anton's Cajun Seasoning,2,2,48 - 6 oz jars,22.00,53,0,0,0
4,5,Chef Anton's Gumbo Mix,2,2,36 boxes,21.35,0,0,0,1

In [20]:
categoryID = products.where(products['ProductName'] == "Ravioli Angelo").dropna()['CategoryID']

In [12]:
categories = pd.read_csv('course-files/northwind-mongo-master/categories1.csv')

In [22]:
categories.loc[categories['CategoryID'] == int(categoryID)]

   CategoryID    CategoryName Description
4           5  Grains/Cereals      Breads

In [24]:
categories.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 3 columns):
CategoryID      8 non-null int64
CategoryName    8 non-null object
Description     8 non-null object
dtypes: int64(1), object(2)
memory usage: 320.0+ bytes

In [31]:
suppliers = pd.read_csv('course-files/northwind-mongo-master/suppliers.csv')
suppliers.head()

,SupplierID,CompanyName,ContactName,ContactTitle,Address,City,Region,PostalCode,Country,Phone,Fax,HomePage
0,1,Exotic Liquids,Charlotte Cooper,Purchasing Manager,49 Gilbert St.,London,NaN,EC1 4SD,UK,(171) 555-2222,NaN,NaN
1,2,New Orleans Cajun Delights,Shelley Burke,Order Administrator,P.O. Box 78934,New Orleans,LA,70117,USA,(100) 555-4822,NaN,#CAJUN.HTM#
2,3,Grandma Kelly's Homestead,Regina Murphy,Sales Representative,707 Oxford Rd.,Ann Arbor,MI,48104,USA,(313) 555-5735,(313) 555-3349,NaN
3,4,Tokyo Traders,Yoshi Nagase,Marketing Manager,9-8 Sekimai Musashino-shi,Tokyo,NaN,100,Japan,(03) 3555-5011,NaN,NaN
4,5,Cooperativa de Quesos 'Las Cabras',Antonio del Valle Saavedra,Export Administrator,Calle del Rosal 4,Oviedo,Asturias,33007,Spain,(98) 598 76 54,NaN,NaN

In [37]:
ravioli = products[products['ProductName'] == "Ravioli Angelo"]

In [43]:
ravioliSuplier = ravioli['SupplierID']
ravioliCategory = int(ravioli['CategoryID'])

In [44]:
suppliers.loc[suppliers['SupplierID'] == int(supplierID)]

,SupplierID,CompanyName,ContactName,ContactTitle,Address,City,Region,PostalCode,Country,Phone,Fax,HomePage
25,26,Pasta Buttini s.r.l.,Giovanni Giudici,Order Administrator,Via dei Gelsomini 153,Salerno,NaN,84100,Italy,(089) 6547665,(089) 6547667,NaN

In [50]:
categories.loc[categories['CategoryID'] == ravioliCategory]

   CategoryID    CategoryName Description
4           5  Grains/Cereals      Breads