## S07-L008 - merge wielu obiektów data frame

In [7]:
import numpy as np
import pandas as pd

In [8]:
suppliers = pd.read_csv('course-files/northwind-mongo-master/suppliers.csv', \
                        usecols=['SupplierID','CompanyName', 'City'])

In [9]:
products = pd.read_csv('course-files/northwind-mongo-master/products.csv',\
                      usecols=['ProductID','ProductName', 'SupplierID','CategoryID'])

In [10]:
categories = pd.read_csv('course-files/northwind-mongo-master/categories1.csv',\
                      usecols=['CategoryID', 'CategoryName'], index_col='CategoryID')

In [11]:
prod_cat = products.merge(categories, left_on='CategoryID', right_index=True)

In [12]:
prod_cat.head()

    ProductID         ProductName  SupplierID  CategoryID CategoryName
0           1                Chai           1           1    Beverages
1           2               Chang           1           1    Beverages
23         24  Guaraná Fantástica          10           1    Beverages
33         34       Sasquatch Ale          16           1    Beverages
34         35      Steeleye Stout          16           1    Beverages

In [13]:
prod_cat_sup = prod_cat.merge(suppliers, on='SupplierID')

In [14]:
prod_cat_sup.head()

,ProductID,ProductName,SupplierID,CategoryID,CategoryName,CompanyName,City
0,1,Chai,1,1,Beverages,Exotic Liquids,London
1,2,Chang,1,1,Beverages,Exotic Liquids,London
2,3,Aniseed Syrup,1,2,Condiments,Exotic Liquids,London
3,24,Guaraná Fantástica,10,1,Beverages,Refrescos Americanas LTDA,Sao Paulo
4,34,Sasquatch Ale,16,1,Beverages,Bigfoot Breweries,Bend

In [15]:
products.merge(categories, left_on='CategoryID', right_index=True).merge(suppliers, on='SupplierID').head()

,ProductID,ProductName,SupplierID,CategoryID,CategoryName,CompanyName,City
0,1,Chai,1,1,Beverages,Exotic Liquids,London
1,2,Chang,1,1,Beverages,Exotic Liquids,London
2,3,Aniseed Syrup,1,2,Condiments,Exotic Liquids,London
3,24,Guaraná Fantástica,10,1,Beverages,Refrescos Americanas LTDA,Sao Paulo
4,34,Sasquatch Ale,16,1,Beverages,Bigfoot Breweries,Bend