## S07-L007 - opcje polecenia merge

In [1]:
import numpy as np
import pandas as pd

In [2]:
suppliers = pd.read_csv('course-files/northwind-mongo-master/suppliers.csv', \
                        usecols=['SupplierID','CompanyName', 'City'])

In [3]:
products = pd.read_csv('course-files/northwind-mongo-master/products.csv',\
                      usecols=['ProductID','ProductName', 'SupplierID'])

In [4]:
suppliers.set_index('SupplierID', inplace=True)

In [6]:
suppliers.merge(products, left_index=True, right_on='SupplierID').head()

,CompanyName,City,ProductID,ProductName,SupplierID
0,Exotic Liquids,London,1,Chai,1
1,Exotic Liquids,London,2,Chang,1
2,Exotic Liquids,London,3,Aniseed Syrup,1
3,New Orleans Cajun Delights,New Orleans,4,Chef Anton's Cajun Seasoning,2
4,New Orleans Cajun Delights,New Orleans,5,Chef Anton's Gumbo Mix,2

In [7]:
products.set_index('SupplierID', inplace=True)

In [8]:
suppliers.merge(products, left_index=True, right_index=True).head()

,CompanyName,City,ProductID,ProductName
SupplierID,,,,
1,Exotic Liquids,London,1,Chai
1,Exotic Liquids,London,2,Chang
1,Exotic Liquids,London,3,Aniseed Syrup
2,New Orleans Cajun Delights,New Orleans,4,Chef Anton's Cajun Seasoning
2,New Orleans Cajun Delights,New Orleans,5,Chef Anton's Gumbo Mix

In [10]:
suppliers.reset_index(inplace=True)

In [14]:
suppliers.rename({'SupplierID': 'supplierId'},axis=1, inplace=True)

In [15]:
suppliers.head()

   supplierId                         CompanyName         City
0           1                      Exotic Liquids       London
1           2          New Orleans Cajun Delights  New Orleans
2           3           Grandma Kelly's Homestead    Ann Arbor
3           4                       Tokyo Traders        Tokyo
4           5  Cooperativa de Quesos 'Las Cabras'       Oviedo

In [16]:
suppliers.merge(products, left_on='supplierId', right_index=True).head()

,supplierId,CompanyName,City,ProductID,ProductName
0,1,Exotic Liquids,London,1,Chai
0,1,Exotic Liquids,London,2,Chang
0,1,Exotic Liquids,London,3,Aniseed Syrup
1,2,New Orleans Cajun Delights,New Orleans,4,Chef Anton's Cajun Seasoning
1,2,New Orleans Cajun Delights,New Orleans,5,Chef Anton's Gumbo Mix