## S07-L006 - left & right merge

In [1]:
import numpy as np
import pandas as pd

In [24]:
suppliers = pd.read_csv('course-files/northwind-mongo-master/suppliers.csv', \
                        usecols=['SupplierID','CompanyName', 'City'])

In [25]:
products = pd.read_csv('course-files/northwind-mongo-master/products_del_2.csv',\
                      usecols=['ProductID','ProductName', 'SupplierID'])

In [26]:
sup_prod = suppliers.merge(products, on='SupplierID', how='inner', indicator=True)

In [27]:
len(sup_prod)

68

In [28]:
len(products)

68

In [29]:
len(suppliers)

29

In [41]:
sup_prod_left = products.merge(suppliers, on='SupplierID', how='right', indicator=True)

In [42]:
len(sup_prod_left)

70

In [43]:
left_only = sup_prod_left['_merge'] == 'right_only'

In [44]:
sup_prod_left[left_only]

,ProductID,ProductName,SupplierID,CompanyName,City,_merge
68,NaN,NaN,2,New Orleans Cajun Delights,New Orleans,right_only
69,NaN,NaN,27,Escargots Nouveaux,Montceau,right_only