## S09-L001 - Import

In [1]:
import pandas as pd
import numpy as np

In [2]:
url = 'http://ec.europa.eu/eurostat/estat-navtree-portlet-prod/BulkDownloadListing?file=data/\
isoc_cimobi_frq.tsv.gz&unzip=true'

In [3]:
df = pd.read_csv(url, delimiter='\t')

In [4]:
df.head()

,"indic_is,ind_type,unit,time\geo",EU28,EU27,EU15,EA,BE,BG,CZ,DK,DE,...,SI,SK,FI,SE,UK,IS,NO,ME,MK,TR
0,"I_IHDDAY,CB_EU_FOR,PC_IND,2012",15,15,16,12,15,: u,: u,22,7,...,: u,14 u,35 u,35 u,39,16,31 u,:,:,:
1,"I_IHDDAY,CB_EU_FOR,PC_IND_IU3,2012",21,21,21,17,19,: u,: u,22,11,...,: u,17 u,36 u,40 u,46 u,17,32 u,:,:,:
2,"I_IHDDAY,CB_EU_FOR,PC_IND_IUHD,2012",57,57,57,55,48,: u,: u,49 u,60,...,: u,: u,: u,: u,60 u,40 u,50 u,:,:,:
3,"I_IHDDAY,CB_EXT_EU,PC_IND,2012",21,21,22,13,11,25 u,:,35,12,...,3,: u,22,39,39,16 u,32 u,:,:,:
4,"I_IHDDAY,CB_EXT_EU,PC_IND_IU3,2012",28,28,29,19,15,28 u,:,39,14,...,5,: u,24 u,42,43,17 u,32 u,:,:,:

In [5]:
df_descr = df[df.columns[0]].str.split(',', expand=True)

In [8]:
df_descr.columns = ['indic_is','ind_type','unit','time_geo']

In [9]:
df_descr.head()

   indic_is   ind_type         unit time_geo
0  I_IHDDAY  CB_EU_FOR       PC_IND     2012
1  I_IHDDAY  CB_EU_FOR   PC_IND_IU3     2012
2  I_IHDDAY  CB_EU_FOR  PC_IND_IUHD     2012
3  I_IHDDAY  CB_EXT_EU       PC_IND     2012
4  I_IHDDAY  CB_EXT_EU   PC_IND_IU3     2012

In [11]:
df = df_descr.join(df)

In [16]:
df.drop(df.columns[4], axis=1, inplace=True)

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 447 entries, 0 to 446
Data columns (total 41 columns):
indic_is    447 non-null object
ind_type    447 non-null object
unit        447 non-null object
time_geo    447 non-null object
EU28        447 non-null object
EU27        447 non-null object
EU15        447 non-null object
EA          447 non-null object
BE          447 non-null object
BG          447 non-null object
CZ          447 non-null object
DK          447 non-null object
DE          447 non-null object
EE          447 non-null object
IE          447 non-null object
EL          447 non-null object
ES          447 non-null object
FR          447 non-null object
HR          447 non-null object
IT          447 non-null object
CY          447 non-null object
LV          447 non-null object
LT          447 non-null object
LU          447 non-null object
HU          447 non-null object
MT          447 non-null object
NL          447 non-null object
AT          447 non-null object
PL          447 non-null object
PT          447 non-null object
RO          447 non-null object
SI          446 non-null object
SK          446 non-null object
FI          446 non-null object
SE          446 non-null object
UK          446 non-null object
IS          446 non-null object
NO          446 non-null object
ME          446 non-null object
MK          446 non-null object
TR          446 non-null object
dtypes: object(41)
memory usage: 143.3+ KB

In [21]:
url = 'https://examples.opendatasoft.com/explore/dataset/world-heritage-unesco-list/download/?format=json&\
timezone=Europe/Berlin'

In [22]:
df = pd.read_json(url)

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1052 entries, 0 to 1051
Data columns (total 5 columns):
datasetid           1052 non-null object
recordid            1052 non-null object
fields              1052 non-null object
geometry            1052 non-null object
record_timestamp    1052 non-null object
dtypes: object(5)
memory usage: 41.2+ KB

In [25]:
df.head()

,datasetid,recordid,fields,geometry,record_timestamp
0,world-heritage-unesco-list,ff1f5b718ce2ee87f18dfaf20610f257979f2f4a,"{'category': 'Cultural', 'short_description_en...","{'type': 'Point', 'coordinates': [26.69139, 53...",2017-10-17T17:34:52+02:00
1,world-heritage-unesco-list,0fd1ad38878a73b01bf59ed430446e098709cea1,"{'category': 'Natural', 'short_description_en'...","{'type': 'Point', 'coordinates': [14.996666666...",2017-10-17T17:34:52+02:00
2,world-heritage-unesco-list,fa66a8d51c28871277f1cdd9c0f2d092a423ff5f,"{'category': 'Cultural', 'short_description_en...","{'type': 'Point', 'coordinates': [-112.91611, ...",2017-10-17T17:34:52+02:00
3,world-heritage-unesco-list,b16a410e99f603ef138909f6de916de08f0cfdc2,"{'category': 'Cultural', 'short_description_en...","{'type': 'Point', 'coordinates': [10.33333, 24...",2017-10-17T17:34:52+02:00
4,world-heritage-unesco-list,bb09d483a4ca7411a334314fb13f13301fa51bc0,"{'category': 'Natural', 'short_description_en'...","{'type': 'Point', 'coordinates': [114.91667, 4...",2017-10-17T17:34:52+02:00

In [28]:
df.iloc[0]['fields']

{'area_hectares': 0.0,
 'category': 'Cultural',
 'continent_en': 'Europe and North America',
 'continent_fr': 'Europe et Amérique du nord',
 'country_en': 'Belarus',
 'country_fr': 'Bélarus',
 'date_inscribed': '2005-01-01',
 'geographical_coordinates': [53.22278, 26.69139],
 'justification_en': 'Criterion (ii): The architectural, residential and cultural complex of the Radziwill family at Nesvizh was the cradle for inoculation of new concepts based on the synthesis of the Western traditions, leading to the establishment of a new architectural school in Central Europe. \n\n Criterion (iv): The Radziwill complex represents an important stage in the development of building typology in the history of architecture of the Central Europe in the 16th and 17th centuries. This concerned particularly the Corpus Christi Church with its typology related to cross-cupola basilica. \n\n Criterion (vi): The Radziwill family was particularly significant for being associated with the interpretation of the influences from Southern and Western Europe and the transmission of the ideas in the Central and Eastern Europe.',
 'justification_fr': 'Critère (ii) : L’ensemble architectural, résidentiel et culturel de la famille Radziwill à Nesvizh fut le berceau de l’introduction de nouveaux concepts basés sur la synthèse des traditions occidentales, qui conduisit à l’apparition d’une nouvelle école architecturale en Europe centrale. \n\n \xa0 \n\n Critère (iv) : L’ensemble des Radziwill représente une étape importante dans l’évolution de la typologie des bâtiments dans l’histoire de l’architecture de l’Europe centrale aux XVIe et XVIIe siècles. Cela concerne notamment l’église du Corpus Christi avec sa typologie de basilique à coupole. \n\n Critère (vi) : La famille Radziwill fut particulièrement importante pour son association à l’interprétation des influences de l’Europe de l’Ouest et du Sud et à la transmission des idées en Europe centrale et de l’Est.',
 'latitude': 53.22278,
 'longitude': 26.69139,
 'name_en': 'Architectural, Residential and Cultural Complex of the Radziwill Family at Nesvizh',
 'name_fr': 'Ensemble architectural, résidentiel et culturel de la famille Radziwill à Nesvizh',
 'short_description_en': 'The Architectural, Residential and Cultural Complex of the Radziwill Family at Nesvizh is located in central Belarus. The Radziwill dynasty, who built and kept the ensemble from the 16th century until 1939, gave birth to some of the most important personalities in European history and culture. Due to their efforts, the town of Nesvizh came to exercise great influence in the sciences, arts, crafts and architecture. The complex consists of the residential castle and the mausoleum Church of Corpus Christi with their setting. The castle has ten interconnected buildings, which developed as an architectural whole around a six-sided courtyard. The palaces and church became important prototypes marking the development of architecture throughout Central Europe and Russia.',
 'short_description_fr': 'L’ensemble architectural, résidentiel et culturel de la famille Radziwill à Nesvizh se trouve en Bélarus central. De la dynastie Radziwill, qui construisit et conserva cet ensemble du XVIe siècle à 1939, sont issues certaines des plus importantes personnalités de l’histoire et de la culture de l’Europe. Grâce à leurs efforts, Nesvizh devint un lieu crucial d’influence dans les différents domaines de la culture, des sciences, des arts, de l’artisanat et de l’architecture. Cet ensemble se compose d’un palais et de l’église mausolée du Corpus Christi. Le château est constitué de dix bâtiments mitoyens, qui ont évolué comme un seul et même ensemble architectural autour d’une cour hexagonale. Les palais, ainsi que l’église du Corpus Christi, sont devenus d’importants modèles qui ont marqué le développement de l’architecture dans toute l’Europe centrale et la Russie.'}