## S09-L003 - excel

In [1]:
import pandas as pd
import numpy as np

In [2]:
mcdonalds = pd.read_csv('course-files/Mcdonalds.csv', usecols=['Category', 'Item', 'Calories', 'TotalFat'])

In [6]:
ew = pd.ExcelWriter('mcdonalds-excel.xls')

In [7]:
mcdonalds.to_excel(ew,index=False, sheet_name='Menu')

In [8]:
ew.save()

In [9]:
imported1 = pd.read_excel('mcdonalds-excel.xls', sheet_name='Menu')

In [10]:
imported1.head()

    Category                              Item  Calories  TotalFat
0  Breakfast                      Egg McMuffin       300      13.0
1  Breakfast                 Egg White Delight       250       8.0
2  Breakfast                  Sausage McMuffin       370      23.0
3  Breakfast         Sausage McMuffin with Egg       450      28.0
4  Breakfast  Sausage McMuffin with Egg Whites       400      23.0

In [11]:
imported1['Calories'] = imported1['Calories']/2

In [12]:
imported = imported1

In [13]:
imported

    Category                              Item  Calories  TotalFat
0  Breakfast                      Egg McMuffin     150.0      13.0
1  Breakfast                 Egg White Delight     125.0       8.0
2  Breakfast                  Sausage McMuffin     185.0      23.0
3  Breakfast         Sausage McMuffin with Egg     225.0      28.0
4  Breakfast  Sausage McMuffin with Egg Whites     200.0      23.0

In [15]:
imported.to_excel(ew, sheet_name='Menu_light', index=False)

In [16]:
imported['Calories'] /= 2

In [17]:
imported.to_excel(ew, sheet_name='Menu_extra_light', index=False)

In [18]:
ew.save()

In [19]:
final = pd.read_excel('mcdonalds-excel.xls', sheet_name=['Menu','Menu_light','Menu_extra_light'])

In [20]:
final['Menu']

,Category,Item,Calories,TotalFat
0,Breakfast,Egg McMuffin,300,13.0
1,Breakfast,Egg White Delight,250,8.0
2,Breakfast,Sausage McMuffin,370,23.0
3,Breakfast,Sausage McMuffin with Egg,450,28.0
4,Breakfast,Sausage McMuffin with Egg Whites,400,23.0
...,...,...,...,...
255,Smoothies & Shakes,McFlurry with Oreo Cookies (Small),510,17.0
256,Smoothies & Shakes,McFlurry with Oreo Cookies (Medium),690,23.0
257,Smoothies & Shakes,McFlurry with Oreo Cookies (Snack),340,11.0
258,Smoothies & Shakes,McFlurry with Reese's Peanut Butter Cups (Medium),810,32.0
259,Smoothies & Shakes,McFlurry with Reese's Peanut Butter Cups (Snack),410,16.0

In [21]:
final['Menu_light']

,Category,Item,Calories,TotalFat
0,Breakfast,Egg McMuffin,150.0,13.0
1,Breakfast,Egg White Delight,125.0,8.0
2,Breakfast,Sausage McMuffin,185.0,23.0
3,Breakfast,Sausage McMuffin with Egg,225.0,28.0
4,Breakfast,Sausage McMuffin with Egg Whites,200.0,23.0
...,...,...,...,...
255,Smoothies & Shakes,McFlurry with Oreo Cookies (Small),255.0,17.0
256,Smoothies & Shakes,McFlurry with Oreo Cookies (Medium),345.0,23.0
257,Smoothies & Shakes,McFlurry with Oreo Cookies (Snack),170.0,11.0
258,Smoothies & Shakes,McFlurry with Reese's Peanut Butter Cups (Medium),405.0,32.0
259,Smoothies & Shakes,McFlurry with Reese's Peanut Butter Cups (Snack),205.0,16.0

In [22]:
final['Menu_extra_light']

,Category,Item,Calories,TotalFat
0,Breakfast,Egg McMuffin,75.0,13.0
1,Breakfast,Egg White Delight,62.5,8.0
2,Breakfast,Sausage McMuffin,92.5,23.0
3,Breakfast,Sausage McMuffin with Egg,112.5,28.0
4,Breakfast,Sausage McMuffin with Egg Whites,100.0,23.0
...,...,...,...,...
255,Smoothies & Shakes,McFlurry with Oreo Cookies (Small),127.5,17.0
256,Smoothies & Shakes,McFlurry with Oreo Cookies (Medium),172.5,23.0
257,Smoothies & Shakes,McFlurry with Oreo Cookies (Snack),85.0,11.0
258,Smoothies & Shakes,McFlurry with Reese's Peanut Butter Cups (Medium),202.5,32.0
259,Smoothies & Shakes,McFlurry with Reese's Peanut Butter Cups (Snack),102.5,16.0

In [23]:
len(final)

3